Options -Indexes

#AddHandler php5-cgi .php
#Action php5-cgi /php5cgi/php

ErrorDocument 400 /error_page.html
ErrorDocument 401 /error_page.html
ErrorDocument 403 /error_page.html
ErrorDocument 404 /error_page.html
ErrorDocument 500 /error_page.html

#na serveru: %{DOCUMENT_ROOT}/
#jen pro tuto subdomunu bez prlinkovani na PHP5!!

RewriteEngine On
RewriteBase /

#stranky
RewriteRule ^cenik          kupredu_net/index.php?action=cenik [L,QSA]
RewriteRule ^kontakt        kupredu_net/index.php?action=kontakt [L,QSA]
RewriteRule ^sit            kupredu_net/index.php?action=sit [L,QSA]
RewriteRule ^autodoprava    kupredu_net/index.php?action=form_doprava [L,QSA]
RewriteRule ^satelitni-tv   kupredu_net/index.php?action=form_satelity [L,QSA]
