/* reset */
body, p, form, input, label, legend, fieldset, select, option {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

cite {
  font-style: normal;
}/* konec reset */

/* vychozi nastaveni v empty styles */
/* centralni nastaveni layoutu */
body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  background: #7c0602 url(../obr/katalog_pozadi_top.png) repeat-x left top;
  color: white;
}

#zahlavi, #obsah, #zapati {
  width: 750px;
  margin: 0 auto;
  background-color: #7c0602;
  position: relative;
  overflow: hidden;
}

#zahlavi {
  height: 191px;
  background: url(../obr/katalog_zahlavi.png) no-repeat;
}

#obsah {
  min-height: 706px;
  background: url(../obr/katalog_obsah_spojeny.png) repeat-y;
}

#zapati {
  height: 53px;
  background: url(../obr/katalog_zapati.png) no-repeat;
}/* konec centralni nastaveni layoutu */

/*----------------------------------------------------------------------------*/

/* obsah */
#obsah h1, h2, h3, h4 {
  text-align: center;
}

#obsah h1 {
  padding: 10px 0 0;
  font-size: 26px;
}

#obsah h2 {
  margin: 10px 0 0;
  font-size: 17px;
}

#obsah h3 {
  font-size: 14px;
  padding: 0 0 0 256px;
}

#obsah h4 {
  margin: 30px 0 10px;
  font-size: 12px;
}
/* konec obsah */

/*----------------------------------------------------------------------------*/

/* logovaci formular v uvodnim indexu */
#obsah #obal_formy {
  width: 221px;
  height: 121px;
  margin: 0 auto;
  padding: 19px 0 0 24px;
  background: url(../obr/fieldset_bacground.png) no-repeat 0 0;
}

#obsah #obal_formy #prihlasovaci_form {
  width: 170px;
}

#obsah #obal_formy #prihlasovaci_form fieldset {
  text-align: center;
}

#obsah #obal_formy #prihlasovaci_form fieldset legend {
  text-align: left;
  color: white;
}

#obsah #obal_formy #prihlasovaci_form fieldset label {
  width: 60px;
  height: 14px;
  display: block;
  float: left;
  text-align: right;
}

#obsah #obal_formy #prihlasovaci_form fieldset #login_label {
  margin-top: 5px;
}

#obsah #obal_formy #prihlasovaci_form fieldset #login,
#obsah #obal_formy #prihlasovaci_form fieldset #heslo {
  width: 100px;
  height: 14px;
  margin: 2px 0 0 2px;
  font-family: "Myriad Web", Verdana, Arial, sans-serif;
  font-size: 12px;
  display: block;
  float: left;
  border: 1px solid #7c0602;
  background: url(../obr/input_text_background.png) repeat-x;
  color: white;
}

#obsah #obal_formy #prihlasovaci_form fieldset #login {
  margin-top: 7px;
}

#obsah #obal_formy #prihlasovaci_form fieldset #heslo {
  font-family: Verdana, Arial, sans-serif;
}

#obsah #obal_formy #prihlasovaci_form fieldset #login:hover,
#obsah #obal_formy #prihlasovaci_form fieldset #heslo:hover {
  border-color: white;
}

#obsah #obal_formy #prihlasovaci_form fieldset #prihlasit {
  width: 100px;
  height: 18px;
  margin: 3px 0 0;
  font-size: 13px;
  border: none;
  background: url(../obr/input_button_prihlasit.png) no-repeat 0 0;
  color: white;
  cursor: pointer;
  clear: left;
}

#obsah #obal_formy #prihlasovaci_form fieldset #prihlasit:hover {
  background-position: -100px 0;
}

#obsah #prihlaseni_accept,
#obsah #prihlaseni_accept div,
#obsah #prihlaseni_accept #prihlaseni_sipka_levy,
#obsah #prihlaseni_accept #prihlaseni_accept_center,
#obsah #prihlaseni_accept #prihlaseni_sipka_pravy {
  cursor: pointer;
}

#obsah #prihlaseni_accept {
  width: 200px;
  margin: 0 auto;
  padding: 2px 26px 2px 2px;
  text-align: center;
  overflow: hidden;
}

#obsah #prihlaseni_accept div {
  width: 144px;
  height: 48px;
  margin: 0 auto;
}

#obsah #prihlaseni_accept div span {
  width: 48px;
  height: 48px;
  float: left;
}

#obsah #prihlaseni_accept div a {
  display: block;
  width: 144px;
  height: 48px;
}

#obsah #prihlaseni_accept p {
  white-space: nowrap;
}

#obsah #prihlaseni_accept p a {
  text-decoration: none;
  font-size: 10px;
  color: white;
}

#obsah #prihlaseni_accept:hover p a {
  text-decoration: underline;
}

#obsah #prihlaseni_accept #prihlaseni_sipka_levy {
  background: url(../obr/prihlaseni_sipka_levy.png) no-repeat 0 0;
}

#obsah #prihlaseni_accept #prihlaseni_accept_center {
  background: url(../obr/prihlaseni_accept_center.png) no-repeat 0 0;
}

#obsah #prihlaseni_accept #prihlaseni_logoff_center {
  background: url(../obr/odhlasit.png) no-repeat 0 0;
}

#obsah #prihlaseni_accept #prihlaseni_logoff_2_center {
  background: url(../obr/odhlasit_2.png) no-repeat 0 0;
}

#obsah #prihlaseni_accept #prihlaseni_sipka_pravy {
  background: url(../obr/prihlaseni_sipka_pravy.png) no-repeat 0 0;
}

#obsah #prihlaseni_rejected,
#obsah #prihlaseni_rejected div,
#obsah #prihlaseni_rejected #prihlaseni_sipka_levy,
#obsah #prihlaseni_rejected #prihlaseni_rejected_center,
#obsah #prihlaseni_rejected #prihlaseni_sipka_pravy {
  cursor: pointer;
}

#obsah #prihlaseni_rejected {
  width: 200px;
  margin: 0 auto;
  padding: 2px 26px 2px 2px;
  text-align: center;
  overflow: hidden;
}

#obsah #prihlaseni_rejected div {
  width: 144px;
  height: 48px;
  margin: 0 auto;
}

#obsah #prihlaseni_rejected div span {
  width: 48px;
  height: 48px;
  float: left;
}

#obsah #prihlaseni_rejected div a {
  display: block;
  width: 144px;
  height: 48px;
}

#obsah #prihlaseni_rejected p {
  white-space: nowrap;
}

#obsah #prihlaseni_rejected p a {
  text-decoration: none;
  font-size: 10px;
  color: white;
}

#obsah #prihlaseni_rejected:hover p a {
  text-decoration: underline;
}

#obsah #prihlaseni_rejected #prihlaseni_sipka_levy {
  background: url(../obr/prihlaseni_sipka_levy.png) no-repeat 0 0;
}

#obsah #prihlaseni_rejected #prihlaseni_rejected_center {
  background: url(../obr/prihlaseni_rejected_center.png) no-repeat 0 0;
}

#obsah #prihlaseni_rejected #prihlaseni_sipka_pravy {
  background: url(../obr/prihlaseni_sipka_pravy.png) no-repeat 0 0;
}

#obsah #ikony_uvod_obsah {
  height: 59px;
  margin: 0 100px;
  position: absolute;
  bottom: 10px;
}

#obsah #ikony_uvod_obsah span {
  height: 59px;
  margin-left: 10px;
  display: block;
  float: left;
}

#obsah #ikony_uvod_obsah .php {
  width: 107px;
  background: url(../obr/php.png) no-repeat;
}

#obsah #ikony_uvod_obsah .mysql {
  width: 115px;
  background: url(../obr/mysql.png) no-repeat;
}

#obsah #ikony_uvod_obsah .sqlite {
  width: 200px;
  background: url(../obr/sqlite.png) no-repeat;
}

#obsah #ikony_uvod_obsah .apache {
  width: 88px;
  background: url(../obr/apache.png) no-repeat;
}/* konec logovaci formular v uvodnim indexu */

/*----------------------------------------------------------------------------*/

/* nastrojovy panel */
#obsah #stav_databaze {
  padding-right: 6px;
  text-align: right;
}

#obsah #stav_databaze p {
  height: 16px;
  padding: 2px 20px 0 0;
  font-size: 11px;
}

#obsah #stav_databaze #offline {
  background: url(../obr/stav_databaze_off.png) no-repeat right center;
}

#obsah #stav_databaze #online {
  background: url(../obr/stav_databaze_on.png) no-repeat right center;
}

#obsah #obal_prikazy {
  margin: 0 0 30px;
  padding: 1px 0 0 9px;
  overflow: hidden;
}

#obsah #obal_prikazy p {
  margin: 0 4px;
  float: left;
}

#obsah #obal_prikazy p a {
  width: 48px;
  padding-top: 48px;
  display: block;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
}

#obsah #obal_prikazy p a:hover {
  text-decoration: underline;
}/* konec nastrojovy panel */

/*----------------------------------------------------------------------------*/

/* obrazky ikon */
#obsah #obal_prikazy p #vypis_katalogu {
  background: url(../obr/vypis_katalogu.png) no-repeat center top;
}

#obsah #obal_prikazy p #hledat {
  background: url(../obr/hledat.png) no-repeat center top;
}

#obsah #obal_prikazy p #pridat_pk {
  background: url(../obr/pridat_pk.png) no-repeat center top;
}

#obsah #obal_prikazy p #upravit_pk {
  background: url(../obr/upravit_pk.png) no-repeat center top;
}

#obsah #obal_prikazy p #smazat_pk {
  background: url(../obr/smazat_pk.png) no-repeat center top;
}

#obsah #obal_prikazy p #pridat_zanr {
  background: url(../obr/pridat_zanr.png) no-repeat center top;
}

#obsah #obal_prikazy p #upravit_zanr {
  background: url(../obr/upravit_zanr.png) no-repeat center top;
}

#obsah #obal_prikazy p #smazat_zanr {
  background: url(../obr/smazat_zanr.png) no-repeat center top;
}

#obsah #obal_prikazy p #pridat_medium {
  background: url(../obr/pridat_medium.png) no-repeat center top;
}

#obsah #obal_prikazy p #upravit_medium {
  background: url(../obr/upravit_medium.png) no-repeat center top;
}

#obsah #obal_prikazy p #smazat_medium {
  background: url(../obr/smazat_medium.png) no-repeat center top;
}

#obsah #obal_prikazy p #zobrazit_ct {
  background: url(../obr/zobrazit_ct.png) no-repeat center top;
}

#obsah #obal_prikazy p #odhlasit {
  background: url(../obr/odhlasit.png) no-repeat center top;
}/* konec obrazky ikon */

/*----------------------------------------------------------------------------*/

/* hledani */
#obsah #search_form {
  width: 296px;
  margin: 0 auto;
}

#obsah #search_form fieldset {
  text-align: center;
}

#obsah #search_form fieldset legend {
  margin-bottom: 6px;
  text-align: left;
  color: white;
  font-size: 10px;
  border-bottom: 1px dotted;
}

#obsah #search_form fieldset #search_label {
  height: 14px;
  margin: 2px 0 0 20px;
  display: block;
  float: left;
  text-align: right;
  font-size: 12px;
}

#obsah #search_form fieldset .search_input {
  width: 100px;
  height: 14px;
  margin: 2px 0 0 2px;
  font-family: "Myriad Web", Verdana, Arial, sans-serif;
  font-size: 12px;
  display: block;
  float: left;
  border: 1px solid #7c0602;
  background: url(../obr/input_text_background.png) repeat-x;
  color: white;
}

#obsah #search_form fieldset .search_input:hover {
  border-color: white;
}

#obsah #search_form fieldset #vyber_typ_hledani {
  width: 70px;
  height: 14px;
  margin: 2px 0 0;
  font-size: 12px;
  border: none;
  background: url(../obr/input_text_background.png) no-repeat center bottom;
  color: white;
}

#obsah #search_form fieldset #vyber_typ_hledani option {
  background-color: white;
  color: black;
}

#obsah #search_form fieldset #search_tlacitko {
  width: 100px;
  height: 18px;
  margin: 3px 0 0 37px;
  font-size: 12px;
  border: none;
  background: url(../obr/input_button_prihlasit.png) no-repeat 0 0;
  color: white;
  cursor: pointer;
  clear: left;
}

#obsah #search_form fieldset #search_tlacitko:hover {
  background-position: -100px 0;
}/* konec hledani */

/*----------------------------------------------------------------------------*/

/* vychozi nastaveni formy */
#obsah .vychozi_form {
  width: 360px;
  margin: 6px 0 6px 10px;
}

#obsah .vychozi_form fieldset {
  text-align: left;
}

#obsah .vychozi_form fieldset legend {
  text-align: left;
  color: white;
  font-size: 10px;
  border-bottom: 1px dotted;
}

#obsah .vychozi_form fieldset .vychozi_label {
  margin: 2px 0 0 10px;
  float: left;
  text-align: right;
  font-size: 11px;
}

#obsah .vychozi_form fieldset .vychozi_label span {
  padding: 2px 2px 0 0;
  display: block;
  float: left;
}/* vycentrovani textu vertikalne */

#obsah .vychozi_form fieldset .vychozi_label .vychozi_text_input {
  width: 80px;
  height: 14px;
  margin: 2px 0 0;
  font-family: "Myriad Web", Verdana, Arial, sans-serif;
  font-size: 12px;
  border: 1px solid #7c0602;
  background: url(../obr/input_text_background.png) repeat-x;
  color: white;
  float: left; /* duvod - opera */
}

#obsah .vychozi_form fieldset .vychozi_label .vychozi_text_input:hover {
  border-color: white;
}

#obsah .vychozi_form fieldset .vychozi_tlacitko {
  width: 100px;
  height: 18px;
  margin: 3px 0 0;
  font-size: 12px;
  border: none;
  background: url(../obr/input_button_prihlasit.png) no-repeat 0 0;
  color: white;
  cursor: pointer;
}

#obsah .vychozi_form fieldset .vychozi_tlacitko:hover {
  background-position: -100px 0;
}/* konec vychozi nastaveni formy */

/*----------------------------------------------------------------------------*/

/* pridat polozku katalogu */
#obsah #pridat_polozku_form {
  width: 230px;
  margin: 0 auto;
}

#obsah #pridat_polozku_form fieldset {
  text-align: center;
}

#obsah #pridat_polozku_form fieldset legend {
  margin-bottom: 6px;
  text-align: left;
  color: white;
  font-size: 10px;
  border-bottom: 1px dotted;
}

#obsah #pridat_polozku_form fieldset .nadpis_smazani_polozky {
  border: none;
  margin-bottom: 3px;
}

#obsah #pridat_polozku_form fieldset #pridat_nazev_label,
#obsah #pridat_polozku_form fieldset #pridat_komentar_label,
#obsah #pridat_polozku_form fieldset #pridat_pocet_disku_label,
#obsah #pridat_polozku_form fieldset #zanr_label,
#obsah #pridat_polozku_form fieldset #medium_label {
  width: 80px;
  height: 14px;
  margin: 2px 0 0 20px;
  display: block;
  float: left;
  text-align: right;
  font-size: 12px;
}

#obsah #pridat_polozku_form fieldset .pridat_nazev_label_trida {
  width: 80px;
  height: 14px;
  margin: 2px 6px 0 20px;
  display: block;
  float: left;
  text-align: right;
  font-size: 12px;
  white-space: nowrap;
}

#obsah #pridat_polozku_form fieldset .nazev_smazani_polozky {
  display: block;
  margin-bottom: 3px;
  padding: 2px 0 3px;
  font-size: 12px;
  color: gold;
  border-top: 1px dotted white;
  border-bottom: 1px dotted white;
}

#obsah #pridat_polozku_form fieldset .otazka {
  display: block;
  margin-bottom: 3px;
  font-size: 11px;
}

#obsah #pridat_polozku_form fieldset .vystraha {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px 0;
  color: white;
  background: url(../obr/pozadi_center_polozka_katal.png) no-repeat center;
  border: 1px dotted red;
}

#obsah #pridat_polozku_form fieldset .jemne_odsadit {
  padding-top: 3px;
}

#obsah #pridat_polozku_form fieldset .pridat_nazev_input,
#obsah #pridat_polozku_form fieldset .pridat_komentar_input,
#obsah #pridat_polozku_form fieldset .pridat_pocet_disku_input {
  width: 100px;
  height: 14px;
  margin: 2px 0 0 2px;
  font-family: "Myriad Web", Verdana, Arial, sans-serif;
  font-size: 12px;
  display: block;
  float: left;
  border: 1px solid #7c0602;
  background: url(../obr/input_text_background.png) repeat-x;
  color: white;
}

#obsah #pridat_polozku_form fieldset .pridat_nazev_input:hover,
#obsah #pridat_polozku_form fieldset .pridat_komentar_input:hover,
#obsah #pridat_polozku_form fieldset .pridat_pocet_disku_input:hover {
  border-color: white;
}

#obsah #pridat_polozku_form fieldset #vyber_zanr_pridat_polozku,
#obsah #pridat_polozku_form fieldset #vyber_medium_pridat_polozku {
  width: 70px;
  height: 14px;
  margin: 3px 54px 0 0;
  font-size: 12px;
  border: none;
  background: url(../obr/input_text_background.png) repeat center bottom;
  color: white;
}

#obsah #pridat_polozku_form fieldset #vyber_zanr_pridat_polozku option,
#obsah #pridat_polozku_form fieldset #vyber_medium_pridat_polozku option {
  background-color: white;
  color: black;
}

#obsah #pridat_polozku_form fieldset #pridat_polozku_tlacitko,
#obsah #pridat_polozku_form fieldset .pridat_polozku_tlacitko_trida {
  width: 100px;
  height: 18px;
  margin: 3px 0 0 10px;
  font-size: 12px;
  border: none;
  background: url(../obr/input_button_prihlasit.png) no-repeat 0 0;
  color: white;
  cursor: pointer;
  clear: left;
}

#obsah #pridat_polozku_form fieldset #pridat_polozku_tlacitko:hover,
#obsah #pridat_polozku_form fieldset .pridat_polozku_tlacitko_trida:hover {
  background-position: -100px 0;
}/* konec pridat polozku katalogu */

/*----------------------------------------------------------------------------*/

/* vypis katalogu */
.pozice_nastaveni_polozek {
  position: absolute;
  left: 25px;
  top: 115px;
  z-index: 10;
}

.pozadi_obal_razeni_katal {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  background: url(../obr/pozadi_center_polozka_katal.png) repeat-y center;
  position: relative;
}

.pozadi_obal_razeni_katal p {
  margin: 1px 0;
  font-size: 12px;
}

.chyba_odsazeni {
  margin-top: 30px;
}

.pozice_nastaveni_polozek .uprava_pro_chybu {
  padding: 10px 0;
  overflow: hidden;
  position: relative;
}

.pozice_nastaveni_polozek .uprava_pro_chybu p {
  margin-bottom: 10px;
}

.pozice_nastaveni_polozek .uprava_pro_chybu .chyba {
  width: 90%;
  margin: 0 auto;
  padding: 6px 0;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}

.pozice_nastaveni_polozek .uprava_pro_chybu .chyba cite {
  display: block;
  width: 86%;
  margin: 0 auto;
  color: gold;
}

.pozice_nastaveni_polozek .uprava_pro_chybu .chyba_obrazek_vlevo,
.pozice_nastaveni_polozek .uprava_pro_chybu .chyba_obrazek_vpravo {
  width: 64px;
  height: 64px;
  background: url(../obr/chyba.png) no-repeat;
  position: absolute;
  top: 10px;
}

.pozice_nastaveni_polozek .uprava_pro_chybu .chyba_obrazek_vlevo {
  left: 10px;
}

.pozice_nastaveni_polozek .uprava_pro_chybu .chyba_obrazek_vpravo {
  right: 10px;
}

.pozadi_obal_razeni_katal .odsazeni_mezi_dvema_odstavci {
  margin-top: 2px;
}

.pozadi_obal_razeni_katal .vetsi_odsazeni_mezi_dvema_odstavci {
  margin-top: 4px;
}

.pozadi_obal_razeni_katal .vetsi_odsazeni_mezi_dvema_odstavci a {
  border-bottom: 1px solid;
}

.pozadi_obal_razeni_katal p strong {
  font-weight: normal;
  border-bottom: 1px dotted;
  position: relative;
}

.pozadi_obal_razeni_katal .nazev_smazani_polozky {
  display: block;
  width: 300px;
  margin: 6px auto;
  padding: 2px 0 3px;
  font-size: 12px;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}

.pozadi_center_polozka_katal span {
  display: block;
  clear: both;
  height: 3px;
}

.pozadi_center_polozka_katal .novy_radek_upravit_smazat {
  display: block;
  clear: both;
  padding: 4px 0 1px;
  font-size: 12px;
  border-top: 1px dotted;
}

.pozadi_center_polozka_katal .novy_radek_upravit_smazat a {
  color: gold;
  text-decoration: none;
  border-bottom: 1px solid;
}

.pozadi_center_polozka_katal .novy_radek_upravit_smazat a:hover {
  color: white;
  border-bottom: 1px dotted;
}

.pozadi_obal_razeni_katal #razeni_smer {
  width: 179px;
  height: 18px;
  margin: -14px 0 0 470px;
  padding: 0 0 0 29px;
  font-size: 12px;
  overflow: hidden;
  background: url(../obr/sipky_vzestupne_sestupne.png) no-repeat;
  border-bottom: 1px dotted;
}

.pozadi_obal_razeni_katal #razeni_smer p {
  float: left;
  margin: 0 3px;
  padding-bottom: 1px;
  color: gold;
}

.pozadi_obal_razeni_katal #razeni_smer p a {
  color: gold;
  text-decoration: none;
  border-bottom: 1px solid;
}

.pozadi_obal_razeni_katal #razeni_smer p a:hover {
  color: white;
  border-bottom: 1px dotted;
}

.razeni_vyska_p p {
  height: 20px;
  margin-top: 7px;
}

.pozadi_obal_razeni_katal p a {
  color: gold;
  text-decoration: none;
}

.pozadi_obal_razeni_katal p a:hover {
  margin-top: -1px;
  color: white;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}

.pozice_nastaveni_polozek .pozadi_obal_razeni_katal p a:hover {
  border-top: none;
}

.pozadi_obal_razeni_katal p em {
  font-style: normal;
  /* margin-right: 590px; - nadpis Razeni katalogu vlevo */
}

.pozadi_obal_razeni_katal p em a {
  text-decoration: none;
  border-bottom: 1px solid;
}

.pozadi_obal_razeni_katal p em a:hover {
  border-top: none;
  border-bottom: 1px dotted;
}

.pozadi_obal_razeni_katal .id_zanr_medium,
.pozadi_obal_razeni_katal .id_zanr_medium_hodnota {
  position: absolute;
  left: 20px;
}

.pozadi_obal_razeni_katal .vsechny_nazev {
  width: 87px;
  padding: 1px 3px 1px;
  float: left;
  font-size: 15px;
  border-right: 1px dotted;
}

.pozadi_obal_razeni_katal .vsechny_nazev a {
  display: block;
}

.pozadi_obal_razeni_katal .vsechny_nazev a em {
  border-bottom: 1px solid;
}

.pozadi_obal_razeni_katal .vsechny_nazev a:hover em {
  border: none;
}

.pozadi_top_razeni_katal,
.pozadi_bottom_razeni_katal {
  width: 700px;
  height: 10px;
  margin: 0 auto;
}

.pozadi_top_razeni_katal {
  margin-top: 10px;
  background: url(../obr/pozadi_top_polozka_katal.png) no-repeat;
}

.display_block {
  display: block;
}

.odsazeni_zhora {
  margin-top: 30px;
}

.odsazeni_zespodu {
  margin-bottom: 30px;
}

.mirne_odsazeni_zespodu {
  margin-bottom: 20px;
}

.pozadi_bottom_razeni_katal {
  background: url(../obr/pozadi_bottom_polozka_katal.png) no-repeat;
}

#obsah .pozadi_obal_polozka_katal,
#obsah .pozadi_top_polozka_katal,
#obsah .pozadi_center_polozka_katal,
#obsah .pozadi_bottom_polozka_katal {
  width: 700px;
  clear: left;
}

#obsah .pozadi_top_polozka_katal,
#obsah .pozadi_bottom_polozka_katal {
  height: 10px;
}

#obsah .pozadi_obal_polozka_katal {
  margin: 10px auto;
}

#obsah .pozadi_top_polozka_katal {
  background: url(../obr/pozadi_top_polozka_katal.png) no-repeat;
}

#obsah .pozadi_bottom_polozka_katal {
  background: url(../obr/pozadi_bottom_polozka_katal.png) no-repeat;
}

#obsah .pozadi_center_polozka_katal {
  min-height: 45px;
  overflow: hidden;
  background: url(../obr/pozadi_center_polozka_katal.png) repeat-y center top;
}

#obsah .pozadi_center_polozka_katal p {
  text-align: center;
  overflow: hidden;
}

/* hromadne polozky */
.pozadi_center_polozka_katal .vsechny_nazev {
  width: 87px;
  margin-top: 4px;
  padding: 0 3px;
  float: left;
  text-decoration: underline;
  font-size: 15px;
  border-right: 1px dotted;
  color: silver;
}

.pozadi_center_polozka_katal .vsechny_hodnota {
  width: 87px;
  margin-top: 3px;
  padding: 0 3px;
  float: left;
  font-size: 12px;
  border-right: 1px dotted;
}

/* jednotlive polozky */
.pozadi_obal_razeni_katal .id_nazev,
.pozadi_center_polozka_katal .id_nazev,
.pozadi_center_polozka_katal .id_hodnota {
  width: 22px;
  margin-right: 2px;
  margin-left: 4px;
  clear: left;
  border-left: 1px dotted;
  border-right: none;
}

.pozadi_obal_razeni_katal .nazev_nazev,
.pozadi_center_polozka_katal .nazev_nazev,
.pozadi_center_polozka_katal .nazev_hodnota {
  width: 130px;
  border-left: 1px dotted;
  border-right: 1px dotted;
}

.pozadi_obal_razeni_katal .kategorie_nazev,
.pozadi_center_polozka_katal .kategorie_nazev,
.pozadi_center_polozka_katal .kategorie_hodnota {
  width: 100px;
  border-left: none;
}

.pozadi_obal_razeni_katal .typ_nazev,
.pozadi_center_polozka_katal .typ_nazev,
.pozadi_center_polozka_katal .typ_hodnota {
  width: 60px;
  border-right: none;
}

.pozadi_obal_razeni_katal .komentar_nazev,
.pozadi_center_polozka_katal .komentar_nazev,
.pozadi_center_polozka_katal .komentar_hodnota {
  width: 130px;
  border-left: 1px dotted;
}

.pozadi_obal_razeni_katal .pocet_nazev,
.pozadi_center_polozka_katal .pocet_nazev,
.pozadi_center_polozka_katal .pocet_hodnota {
  width: 48px;
}

.pozadi_obal_razeni_katal .cas_nazev,
.pozadi_center_polozka_katal .cas_nazev,
.pozadi_center_polozka_katal .cas_hodnota {
  width: 67px;
}

.pozadi_obal_razeni_katal .datum_nazev,
.pozadi_center_polozka_katal .datum_nazev,
.pozadi_center_polozka_katal .datum_hodnota {
  width: 76px;
}

/* strankovani */
#strankovani {
  padding: 0 10px;
  overflow: hidden;
  position: relative;
}

#strankovani p {
  float: left;
  font-size: 12px;
}

#strankovani p span {
  font-size: 14px;
}

#strankovani #vpravo {
  float: right;
}

#strankovani p a {
  color: gold;
  text-decoration: none;
  border-bottom: 1px solid;
}

#strankovani p a:hover {
  color: white;
  border-bottom: 1px dotted;
}

#vypis_celkem_polozek {
  height: 16px;
  float: right;
  margin-top: 3px;
  margin-right: 10px;
  overflow: hidden;
}

#vypis_celkem_polozek p {
  font-size: 12px;
}

#obsah #vypis_celkem_polozek p strong {
  font-weight: normal;
  border-bottom: 1px dotted;
}/* konec strankovani */

/* vypis tabulek */
#obsah table {
  width: 90%;
  margin: 0 auto 20px;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid;
}

#obsah table caption {
  width: 116px;
  margin: 0 auto 6px;
  font-size: 11px;
  border-bottom: 1px dotted;
}

#obsah table thead tr th,
#obsah table tbody tr td {
  height: 14px;
  padding: 1px 3px;
  font-size: 10px;
  border: 1px dotted;
  background: url(../obr/input_text_background.png) repeat;
}

#obsah table thead tr th {
  font-weight: normal;
}

#obsah table tbody tr td {
  vertical-align: top;
}/* konec vypis tabulek */
/* konec vypis katalogu */

/*----------------------------------------------------------------------------*/

/* zapati */
#zapati #gen_cas_uvodni_index {
  position: absolute;
  font-size: 10px;
  top: 10px;
  left: 10px;
}

#zapati #autori {
  margin-top: 40px;
  font-size: 10px;
  text-align: center;
}

#zapati #ovladani_stylu {
  overflow: hidden;
  max-height: 52px;
}

#zapati #ovladani_stylu #vyber_styl_form {
  min-width: 200px;
  float: right;
  margin: 3px 6px 1px 0;
}

#zapati #ovladani_stylu #vyber_styl_form fieldset {
  text-align: center;
}

#zapati #ovladani_stylu #vyber_styl_form fieldset legend {
  text-align: left;
  color: white;
  font-size: 9px;
  border-bottom: 1px dotted;
}

#zapati #ovladani_stylu #vyber_styl_form fieldset #vyber_styl_select {
  height: 14px;
  float: left;
  margin-top: 4px;
  margin-left: 6px;
  font-size: 12px;
  border: none;
  background: url(../obr/input_text_background.png) repeat center bottom;
  color: white;
}

#zapati #ovladani_stylu #vyber_styl_form fieldset #vyber_styl_select option {
  background-color: white;
  color: black;
}

#zapati #ovladani_stylu #vyber_styl_form fieldset #tlacitko_nastavit {
  width: 100px;
  height: 18px;
  margin-top: 3px;
  margin-left: 5px;
  float: left;
  font-size: 12px;
  border: none;
  background: url(../obr/input_button_prihlasit.png) no-repeat 0 0;
  color: white;
  cursor: pointer;
}

#zapati #ovladani_stylu #vyber_styl_form fieldset #tlacitko_nastavit:hover {
  background-position: -100px 0;
}

#zapati #ovladani_stylu p {
  float: right;
  margin-right: 10px;
  padding-bottom: 1px;
  font-size: 10px;
  clear: both;
}

#zapati #ovladani_stylu p a {
  color: gold;
  text-decoration: none;
  border-bottom: 1px solid;
}

#zapati #ovladani_stylu p a:hover {
  color: white;
  border-bottom: 1px dotted;
}/* konec zapati */

/* konec vychozi nastaveni v empty styles */

/* Fugess (Martin) */

