/* centralni nastaveni layoutu */
#admin_body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  background: #7c0602 url(../obr/katalog_pozadi_top.png) repeat-x left top;
  color: white;
}

#admin_zahlavi, #admin_obsah, #admin_obsah_uvod, #admin_zapati {
  width: 750px;
  margin: 0 auto;
  background-color: #7c0602;
  position: relative;
  overflow: hidden;
}

#admin_zahlavi {
  height: 191px;
  background: url(../obr/katalog_zahlavi.png) no-repeat;
}

#admin_obsah,
#admin_obsah_uvod {
  min-height: 706px;
  padding-bottom: 30px;
  background: url(../obr/katalog_obsah_spojeny.png) repeat-y;
}

#admin_zapati {
  height: 53px;
  background: url(../obr/katalog_zapati.png) no-repeat;
}/* konec centralni nastaveni layoutu */

/*----------------------------------------------------------------------------*/

/* obsah admin */
#admin_obsah_uvod h1, h2, h3 {
  text-align: center;
}

#admin_obsah_uvod h1 {
  padding: 20px 0 10px;
  font-size: 26px;
}

#admin_obsah_uvod h2 {
  margin: 10px 0 0;
  font-size: 17px;
}

#admin_obsah_uvod h3 {
  margin: 20px 0 10px;
  font-size: 12px;
}
/* konec obsah admin */

/*----------------------------------------------------------------------------*/

/* logovaci formular v uvodnim indexu adminu */
#admin_obsah_uvod #admin_obal_formy {
  width: 221px;
  height: 121px;
  margin: 0 auto;
  padding: 19px 0 0 24px;
  background: url(../obr/fieldset_bacground.png) no-repeat 0 0;
}

#admin_obsah_uvod #admin_obal_formy #admin_prihlasovaci_form {
  width: 170px;
}

#admin_obsah_uvod #admin_obal_formy #admin_prihlasovaci_form fieldset {
  text-align: center;
}

#admin_obsah_uvod #admin_obal_formy #admin_prihlasovaci_form fieldset legend {
  text-align: left;
  color: white;
}

#admin_obsah_uvod #admin_obal_formy #admin_prihlasovaci_form fieldset label {
  width: 60px;
  height: 14px;
  display: block;
  float: left;
  text-align: right;
}

#admin_obsah_uvod #admin_obal_formy #admin_prihlasovaci_form fieldset #login_label {
  margin-top: 5px;
}

#admin_obsah_uvod #admin_obal_formy #admin_prihlasovaci_form fieldset #login,
#admin_obsah_uvod #admin_obal_formy #admin_prihlasovaci_form fieldset #heslo {
  width: 100px;
  height: 14px;
  margin: 2px 0 0 2px;
  font-family: "Myriad Web", Verdana, Arial, sans-serif;
  font-size: 12px;
  display: block;
  float: left;
  border: 1px solid #7c0602;
  background: url(../obr/input_text_background.png) repeat-x;
  color: white;
}

#admin_obsah_uvod #admin_obal_formy #admin_prihlasovaci_form fieldset #login {
  margin-top: 7px;
}

#admin_obsah_uvod #admin_obal_formy #admin_prihlasovaci_form fieldset #heslo {
  font-family: Verdana, Arial, sans-serif;
}

#admin_obsah_uvod #admin_obal_formy #admin_prihlasovaci_form fieldset #login:hover,
#admin_obsah_uvod #admin_obal_formy #admin_prihlasovaci_form fieldset #heslo:hover {
  border-color: white;
}

#admin_obsah_uvod #admin_obal_formy #admin_prihlasovaci_form fieldset #prihlasit {
  width: 100px;
  height: 18px;
  margin: 3px 0 0;
  font-size: 13px;
  border: none;
  background: url(../obr/input_button_prihlasit.png) no-repeat 0 0;
  color: white;
  cursor: pointer;
  clear: left;
}

#admin_obsah_uvod #admin_obal_formy #admin_prihlasovaci_form fieldset #prihlasit:hover {
  background-position: -100px 0;
}

#admin_obsah_uvod #prihlaseni_accept,
#admin_obsah #prihlaseni_accept,
#admin_obsah_uvod #prihlaseni_accept div,
#admin_obsah #prihlaseni_accept div,
#admin_obsah_uvod #prihlaseni_accept #prihlaseni_sipka_levy,
#admin_obsah #prihlaseni_accept #prihlaseni_sipka_levy,
#admin_obsah_uvod #prihlaseni_accept #prihlaseni_accept_center,
#admin_obsah #prihlaseni_accept #prihlaseni_accept_center,
#admin_obsah_uvod #prihlaseni_accept #prihlaseni_sipka_pravy,
#admin_obsah #prihlaseni_accept #prihlaseni_sipka_pravy {
  cursor: pointer;
}

#admin_obsah_uvod #prihlaseni_accept,
#admin_obsah #prihlaseni_accept {
  width: 200px;
  margin: 0 auto;
  padding: 2px 26px 2px 2px;
  text-align: center;
  overflow: hidden;
}

#admin_obsah_uvod #prihlaseni_accept div,
#admin_obsah #prihlaseni_accept div {
  width: 144px;
  height: 48px;
  margin: 0 auto;
}

#admin_obsah_uvod #prihlaseni_accept div span,
#admin_obsah #prihlaseni_accept div span {
  width: 48px;
  height: 48px;
  float: left;
}

#admin_obsah_uvod #prihlaseni_accept div a,
#admin_obsah #prihlaseni_accept div a {
  display: block;
  width: 144px;
  height: 48px;
}

#admin_obsah_uvod #prihlaseni_accept p,
#admin_obsah #prihlaseni_accept p {
  white-space: nowrap;
}

#admin_obsah_uvod #prihlaseni_accept p a,
#admin_obsah #prihlaseni_accept p a {
  text-decoration: none;
  font-size: 10px;
  color: white;
}

#admin_obsah_uvod #prihlaseni_accept:hover p a,
#admin_obsah #prihlaseni_accept:hover p a {
  text-decoration: underline;
}

#admin_obsah_uvod #prihlaseni_accept #prihlaseni_sipka_levy,
#admin_obsah #prihlaseni_accept #prihlaseni_sipka_levy {
  background: url(../obr/prihlaseni_sipka_levy.png) no-repeat 0 0;
}

#admin_obsah_uvod #prihlaseni_accept #prihlaseni_accept_center,
#admin_obsah #prihlaseni_accept #prihlaseni_accept_center {
  background: url(../obr/prihlaseni_accept_center.png) no-repeat 0 0;
}

#admin_obsah_uvod #prihlaseni_accept #prihlaseni_logoff_center,
#admin_obsah #prihlaseni_accept #prihlaseni_logoff_center {
  background: url(../obr/odhlasit.png) no-repeat 0 0;
}

#admin_obsah_uvod #prihlaseni_accept #prihlaseni_logoff_2_center,
#admin_obsah #prihlaseni_accept #prihlaseni_logoff_2_center {
  background: url(../obr/odhlasit_2.png) no-repeat 0 0;
}

#admin_obsah_uvod #prihlaseni_accept #prihlaseni_sipka_pravy,
#admin_obsah #prihlaseni_accept #prihlaseni_sipka_pravy {
  background: url(../obr/prihlaseni_sipka_pravy.png) no-repeat 0 0;
}

#admin_obsah_uvod #prihlaseni_rejected,
#admin_obsah_uvod #prihlaseni_rejected div,
#admin_obsah_uvod #prihlaseni_rejected #prihlaseni_sipka_levy,
#admin_obsah_uvod #prihlaseni_rejected #prihlaseni_rejected_center,
#admin_obsah_uvod #prihlaseni_rejected #prihlaseni_sipka_pravy {
  cursor: pointer;
}

#admin_obsah_uvod #prihlaseni_rejected {
  width: 200px;
  margin: 0 auto;
  padding: 2px 26px 2px 2px;
  text-align: center;
  overflow: hidden;
}

#admin_obsah_uvod #prihlaseni_rejected div {
  width: 144px;
  height: 48px;
  margin: 0 auto;
}

#admin_obsah_uvod #prihlaseni_rejected div span {
  width: 48px;
  height: 48px;
  float: left;
}

#admin_obsah_uvod #prihlaseni_rejected div a {
  display: block;
  width: 144px;
  height: 48px;
}

#admin_obsah_uvod #prihlaseni_rejected p {
  white-space: nowrap;
}

#admin_obsah_uvod #prihlaseni_rejected p a {
  text-decoration: none;
  font-size: 10px;
  color: white;
}

#admin_obsah_uvod #prihlaseni_rejected:hover p a {
  text-decoration: underline;
}

#admin_obsah_uvod #prihlaseni_rejected #prihlaseni_sipka_levy {
  background: url(../obr/prihlaseni_sipka_levy.png) no-repeat 0 0;
}

#admin_obsah_uvod #prihlaseni_rejected #prihlaseni_rejected_center {
  background: url(../obr/prihlaseni_rejected_center.png) no-repeat 0 0;
}

#admin_obsah_uvod #prihlaseni_rejected #prihlaseni_sipka_pravy {
  background: url(../obr/prihlaseni_sipka_pravy.png) no-repeat 0 0;
}/* konec logovaci formular v uvodnim indexu adminu */

/* ostatni casti uvodu */
#admin_obsah_uvod .obal_polozky_center {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  background: url(../obr/pozadi_center_polozka_katal.png) repeat-y center;
  position: relative;
}

#admin_obsah_uvod .obal_polozky_top,
#admin_obsah_uvod .obal_polozky_bottom {
  width: 700px;
  height: 10px;
  margin: 0 auto;
}

#admin_obsah_uvod .obal_polozky_top {
  margin-top: 30px;
  background: url(../obr/pozadi_top_polozka_katal.png) no-repeat;
}

#admin_obsah_uvod .obal_polozky_bottom {
  background: url(../obr/pozadi_bottom_polozka_katal.png) no-repeat;
}

#admin_obsah_uvod .obal_polozky_center p {
  margin: 1px 0;
  font-size: 12px;
}

#admin_obsah_uvod .obal_polozky_center p a {
  color: #ffd700;
  text-decoration: none;
  border-bottom: 1px solid;
}

#admin_obsah_uvod .obal_polozky_center p a:hover {
  color: white;
  border-bottom: 1px dotted;
}/* konec ostatni casti uvodu */

/*----------------------------------------------------------------------------*/

/* nastrojovy panel pro admin */
#admin_obsah #obal_prikazy {
  margin: 16px 0 30px;
  padding: 1px 0 0 30px;
  overflow: hidden;
}

#admin_obsah #obal_prikazy p {
  margin: 0 4px;
  float: left;
}

#admin_obsah #obal_prikazy p a {
  width: 48px;
  padding-top: 48px;
  display: block;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
}

#admin_obsah #obal_prikazy p a:hover {
  text-decoration: underline;
}/* konec nastrojovy panel pro admin */

/*----------------------------------------------------------------------------*/

/* obrazky ikon */
#admin_obsah #obal_prikazy p #vypis_katalogu {
  background: url(../obr/zobrazit_aktualni_css.png) no-repeat center top;
}

#admin_obsah #obal_prikazy p #upravit_medium {
  background: url(../obr/zobrazit_aktualni_styl.png) no-repeat center top;
}

#admin_obsah #obal_prikazy p #hledat {
  background: url(../obr/upload_css_souboru.png) no-repeat center top;
}

#admin_obsah #obal_prikazy p #pridat_pk {
  background: url(../obr/vypis_css_slozky.png) no-repeat center top;
}

#admin_obsah #obal_prikazy p #upravit_pk {
  background: url(../obr/pridat_styl.png) no-repeat center top;
}

#admin_obsah #obal_prikazy p #smazat_pk {
  background: url(../obr/upravit_styl.png) no-repeat center top;
}

#admin_obsah #obal_prikazy p #pridat_zanr {
  background: url(../obr/smazat_styl.png) no-repeat center top;
}

#admin_obsah #obal_prikazy p #upravit_zanr {
  background: url(../obr/pridat_import.png) no-repeat center top;
}

#admin_obsah #obal_prikazy p #smazat_zanr {
  background: url(../obr/upravit_import.png) no-repeat center top;
}

#admin_obsah #obal_prikazy p #pridat_medium {
  background: url(../obr/smazat_import.png) no-repeat center top;
}

#admin_obsah #obal_prikazy p #smazat_medium {
  background: url(../obr/vratit_se_na_stranky.png) no-repeat center top;
}

#admin_obsah #obal_prikazy p #odhlasit {
  background: url(../obr/odhlasit_administrace.png) no-repeat center top;
}/* konec obrazky ikon */

/*----------------------------------------------------------------------------*/

/* obsah adminu */
#admin_obsah .obal_polozky_center {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  background: url(../obr/pozadi_center_polozka_katal.png) repeat-y center;
  position: relative;
}

#admin_obsah .obal_polozky_top,
#admin_obsah .obal_polozky_top_vypis,
#admin_obsah .obal_polozky_bottom {
  width: 700px;
  height: 10px;
  margin: 0 auto;
}

#admin_obsah .obal_polozky_top {
  margin-top: 20px;
  background: url(../obr/pozadi_top_polozka_katal.png) no-repeat;
}

#admin_obsah .obal_polozky_top_vypis {
  margin-top: 10px;
  background: url(../obr/pozadi_top_polozka_katal.png) no-repeat;
}

#admin_obsah .obal_polozky_bottom {
  background: url(../obr/pozadi_bottom_polozka_katal.png) no-repeat;
}

#admin_obsah .obal_polozky_center p {
  margin: 1px 0;
  font-size: 12px;
}

#admin_obsah .obal_polozky_center .vypis_stylu {
  position: absolute;
  left: 20px;
}

#admin_obsah .obal_polozky_center .nazev_stylu {
  position: relative;
  left: -100px;
}

#admin_obsah .obal_polozky_center .nazev_importu {
  width: 300px;
  position: absolute;
  left: 360px;
  top: 0;
}

#admin_obsah .obal_polozky_center .upravit_smazat_import {
  margin-top: 4px;
  padding-top: 2px;
  border-top: 1px dotted;
}

#admin_obsah .obal_polozky_center .vetsi_odsazeni_nadpis {
  margin-top: 10px;
  margin-bottom: 3px;
  padding-top: 3px;
}

/* vypsani chyby a centralni ovladani obrazku */
#admin_obsah .pozice_nastaveni_polozek {
  position: absolute;
  left: 25px;
  top: 115px;
  z-index: 10;
}

#admin_obsah .pozice_nastaveni_polozek .uprava_pro_chybu {
  padding: 10px 0;
  overflow: hidden;
  position: relative;
}

#admin_obsah .pozice_nastaveni_polozek .obal_polozky_center .chyba {
  margin: 6px auto 0;
  width: 93%;
  padding: 6px 0;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}

#admin_obsah .pozice_nastaveni_polozek .uprava_pro_chybu .chyba cite {
  margin: 0 auto;
  display: block;
  width: 89%;
  color: #ffd700;
}

#admin_obsah .obal_polozky_center .stazeni_css_maly_levy,
#admin_obsah .obal_polozky_center .smazani_css_maly_levy,
#admin_obsah .obal_polozky_center .stazeni_css_maly_pravy,
#admin_obsah .obal_polozky_center .smazani_css_maly_pravy,
#admin_obsah .pozice_nastaveni_polozek .uprava_pro_chybu .chyba_obrazek_vlevo,
#admin_obsah .pozice_nastaveni_polozek .uprava_pro_chybu .chyba_obrazek_vpravo,
#admin_obsah .obal_polozky_center .chyba_obrazek_vlevo,
#admin_obsah .obal_polozky_center .chyba_obrazek_vpravo,
#admin_obsah .obal_polozky_center .chyba_obrazek_vlevo_pripona,
#admin_obsah .obal_polozky_center .chyba_obrazek_vpravo_pripona,
#admin_obsah .obal_polozky_center .stornovani_smazani_maly_levy,
#admin_obsah .obal_polozky_center .stornovani_smazani_maly_pravy,
#admin_obsah .obal_polozky_center .pridani_stylu_maly_levy,
#admin_obsah .obal_polozky_center .pridani_stylu_maly_pravy,
#admin_obsah .obal_polozky_center .upraveni_stylu_maly_levy,
#admin_obsah .obal_polozky_center .upraveni_stylu_maly_pravy,
#admin_obsah .obal_polozky_center .prazdne_styly_maly_levy,
#admin_obsah .obal_polozky_center .prazdne_styly_maly_pravy {
  width: 32px;
  height: 32px;
  position: absolute;
}

#admin_obsah .obal_polozky_center #stazeni_css_levy,
#admin_obsah .obal_polozky_center #stazeni_css_pravy,
#admin_obsah .obal_polozky_center .pridani_importu_maly_levy,
#admin_obsah .obal_polozky_center .pridani_importu_maly_pravy,
#admin_obsah .obal_polozky_center .upraveni_importu_maly_levy,
#admin_obsah .obal_polozky_center .upraveni_importu_maly_pravy,
#admin_obsah .obal_polozky_center .stornovani_smazani_importu_maly_levy,
#admin_obsah .obal_polozky_center .stornovani_smazani_importu_maly_pravy,
#admin_obsah .obal_polozky_center .smazani_importu_maly_levy,
#admin_obsah .obal_polozky_center .smazani_importu_maly_pravy {
  width: 64px;
  height: 64px;
  position: absolute;
}

#admin_obsah .obal_polozky_center #stazeni_css_levy,
#admin_obsah .obal_polozky_center #stazeni_css_pravy {
  background: url(../obr/stazeni_css.png) no-repeat;
}

#admin_obsah .pozice_nastaveni_polozek .uprava_pro_chybu .chyba_obrazek_vlevo,
#admin_obsah .pozice_nastaveni_polozek .uprava_pro_chybu .chyba_obrazek_vpravo,
#admin_obsah .obal_polozky_center .chyba_obrazek_vlevo,
#admin_obsah .obal_polozky_center .chyba_obrazek_vpravo,
#admin_obsah .obal_polozky_center .chyba_obrazek_vlevo_pripona,
#admin_obsah .obal_polozky_center .chyba_obrazek_vpravo_pripona {
  background: url(../obr/chyba_maly.png) no-repeat;
}

#admin_obsah .obal_polozky_center .stornovani_smazani_maly_levy,
#admin_obsah .obal_polozky_center .stornovani_smazani_maly_pravy {
  background: url(../obr/stornovani_smazani.png) no-repeat;
}

#admin_obsah .obal_polozky_center .stazeni_css_maly_levy,
#admin_obsah .obal_polozky_center .stazeni_css_maly_pravy {
  background: url(../obr/stazeni_css_maly.png) no-repeat;
}

#admin_obsah .obal_polozky_center .smazani_css_maly_levy,
#admin_obsah .obal_polozky_center .smazani_css_maly_pravy {
  background: url(../obr/smazani_css_maly.png) no-repeat;
}

#admin_obsah .obal_polozky_center .pridani_importu_maly_levy,
#admin_obsah .obal_polozky_center .pridani_importu_maly_pravy {
  background: url(../obr/pridat_import_maly.png) no-repeat;
}

#admin_obsah .obal_polozky_center .upraveni_importu_maly_levy,
#admin_obsah .obal_polozky_center .upraveni_importu_maly_pravy {
  background: url(../obr/upravit_import_maly.png) no-repeat;
}

#admin_obsah .obal_polozky_center .stornovani_smazani_importu_maly_levy,
#admin_obsah .obal_polozky_center .stornovani_smazani_importu_maly_pravy {
  background: url(../obr/zruseni_smazat_import_maly.png) no-repeat;
}

#admin_obsah .obal_polozky_center .smazani_importu_maly_levy,
#admin_obsah .obal_polozky_center .smazani_importu_maly_pravy {
  background: url(../obr/smazat_import_maly.png) no-repeat;
}

#admin_obsah .obal_polozky_center .pridani_stylu_maly_levy,
#admin_obsah .obal_polozky_center .pridani_stylu_maly_pravy {
  background: url(../obr/pridat_styl_maly.png) no-repeat;
}

#admin_obsah .obal_polozky_center .upraveni_stylu_maly_levy,
#admin_obsah .obal_polozky_center .upraveni_stylu_maly_pravy {
  background: url(../obr/upravit_styl_maly.png) no-repeat;
}

#admin_obsah .obal_polozky_center .prazdne_styly_maly_levy,
#admin_obsah .obal_polozky_center .prazdne_styly_maly_pravy {
  background: url(../obr/prazdne_styly_maly.png) no-repeat;
}

#admin_obsah .obal_polozky_center .stazeni_css_maly_levy,
#admin_obsah .obal_polozky_center .smazani_css_maly_levy,
#admin_obsah .obal_polozky_center .stazeni_css_maly_pravy,
#admin_obsah .obal_polozky_center .smazani_css_maly_pravy,
#admin_obsah .obal_polozky_center .chyba_obrazek_vlevo_pripona,
#admin_obsah .obal_polozky_center .chyba_obrazek_vpravo_pripona,
#admin_obsah .obal_polozky_center .pridani_stylu_maly_levy,
#admin_obsah .obal_polozky_center .pridani_stylu_maly_pravy,
#admin_obsah .obal_polozky_center .upraveni_stylu_maly_levy,
#admin_obsah .obal_polozky_center .upraveni_stylu_maly_pravy,
#admin_obsah .obal_polozky_center .prazdne_styly_maly_levy,
#admin_obsah .obal_polozky_center .prazdne_styly_maly_pravy {
  top: 0px;
}

#admin_obsah .obal_polozky_center #stazeni_css_levy,
#admin_obsah .obal_polozky_center #stazeni_css_pravy,
#admin_obsah .obal_polozky_center .chyba_obrazek_vlevo,
#admin_obsah .obal_polozky_center .chyba_obrazek_vpravo {
  top: 10px;
}

#admin_obsah .obal_polozky_center .smazani_css_maly_levy_vetsi_top,
#admin_obsah .obal_polozky_center .smazani_css_maly_pravy_vetsi_top,
#admin_obsah .obal_polozky_center .stornovani_smazani_maly_levy,
#admin_obsah .obal_polozky_center .stornovani_smazani_maly_pravy {
  top: 15px;
}

#admin_obsah .obal_polozky_center .pridani_importu_maly_levy,
#admin_obsah .obal_polozky_center .pridani_importu_maly_pravy,
#admin_obsah .obal_polozky_center .upraveni_importu_maly_levy,
#admin_obsah .obal_polozky_center .upraveni_importu_maly_pravy,
#admin_obsah .obal_polozky_center .stornovani_smazani_importu_maly_levy,
#admin_obsah .obal_polozky_center .stornovani_smazani_importu_maly_pravy,
#admin_obsah .obal_polozky_center .smazani_importu_maly_levy,
#admin_obsah .obal_polozky_center .smazani_importu_maly_pravy {
  top: 25px;
}

#admin_obsah .pozice_nastaveni_polozek .uprava_pro_chybu .chyba_obrazek_vlevo,
#admin_obsah .pozice_nastaveni_polozek .uprava_pro_chybu .chyba_obrazek_vpravo {
  top: 30px;
}

#admin_obsah .obal_polozky_center #stazeni_css_levy,
#admin_obsah .obal_polozky_center .stazeni_css_maly_levy,
#admin_obsah .obal_polozky_center .smazani_css_maly_levy,
#admin_obsah .pozice_nastaveni_polozek .uprava_pro_chybu .chyba_obrazek_vlevo,
#admin_obsah .obal_polozky_center .chyba_obrazek_vlevo,
#admin_obsah .obal_polozky_center .chyba_obrazek_vlevo_pripona,
#admin_obsah .obal_polozky_center .stornovani_smazani_maly_levy,
#admin_obsah .obal_polozky_center .pridani_importu_maly_levy,
#admin_obsah .obal_polozky_center .pridani_stylu_maly_levy,
#admin_obsah .obal_polozky_center .upraveni_stylu_maly_levy,
#admin_obsah .obal_polozky_center .upraveni_importu_maly_levy,
#admin_obsah .obal_polozky_center .stornovani_smazani_importu_maly_levy,
#admin_obsah .obal_polozky_center .smazani_importu_maly_levy,
#admin_obsah .obal_polozky_center .prazdne_styly_maly_levy {
  left: 10px;
}

#admin_obsah .obal_polozky_center #stazeni_css_pravy,
#admin_obsah .obal_polozky_center .stazeni_css_maly_pravy,
#admin_obsah .obal_polozky_center .smazani_css_maly_pravy,
#admin_obsah .pozice_nastaveni_polozek .uprava_pro_chybu .chyba_obrazek_vpravo,
#admin_obsah .obal_polozky_center .chyba_obrazek_vpravo,
#admin_obsah .obal_polozky_center .chyba_obrazek_vpravo_pripona,
#admin_obsah .obal_polozky_center .stornovani_smazani_maly_pravy,
#admin_obsah .obal_polozky_center .pridani_importu_maly_pravy,
#admin_obsah .obal_polozky_center .pridani_stylu_maly_pravy,
#admin_obsah .obal_polozky_center .upraveni_stylu_maly_pravy,
#admin_obsah .obal_polozky_center .upraveni_importu_maly_pravy,
#admin_obsah .obal_polozky_center .stornovani_smazani_importu_maly_pravy,
#admin_obsah .obal_polozky_center .smazani_importu_maly_pravy,
#admin_obsah .obal_polozky_center .prazdne_styly_maly_pravy {
  right: 10px;
}/* konec vypsani chyby a centralni ovladani obrazku */

#admin_obsah .obal_polozky_center .mirne_odsazeni {
  margin-top: 3px;
}

#admin_obsah .obal_polozky_center p a {
  color: #ffd700;
  text-decoration: none;
  border-bottom: 1px solid;
}

#admin_obsah .obal_polozky_center p a:hover {
  color: white;
  border-bottom: 1px dotted;
}

#admin_obsah .obal_polozky_center p strong {
  font-weight: normal;
  border-bottom: 1px dotted;
  position: relative;
}

#admin_obsah .obal_polozky_center .vsechny_nazev {
  width: 100px;
  padding: 1px 3px 1px;
  float: left;
  border-right: 1px dotted;
  border-left: 1px dotted;
}

#admin_obsah .obal_polozky_center .vsechny_nazev em {
  font-style: normal;
  border-bottom: 1px dotted;
}

#admin_obsah .obal_polozky_center .vsechny_nazev a {
  color: #ffd700;
  border-bottom: 1px solid;
  text-decoration: none;
  font-size: 10px;
  position: relative;
  bottom: 2px;
}

#admin_obsah .obal_polozky_center .vsechny_nazev a:hover {
  color: white;
  border-bottom: 1px dotted;
}

#admin_obsah .obal_polozky_center .poradove_cislo {
  width: 30px;
  margin-left: 4px;
  border-right: none;
}

#admin_obsah .obal_polozky_center .nazev_css {
  width: 286px;
}

#admin_obsah .obal_polozky_center .download_css {
  border-left: none;
}

#admin_obsah .obal_polozky_center .size_css {
  width: 140px;
  border-left: none;
}

#admin_obsah .obal_polozky_center .delete_css {
  border-left: none;
}

#admin_obsah .pridat_polozku_form {
  width: 230px;
  margin: 0 auto;
}

#admin_obsah .pridat_polozku_form fieldset {
  text-align: center;
}

#admin_obsah .pridat_polozku_form fieldset legend {
  margin-bottom: 6px;
  text-align: left;
  color: white;
  font-size: 10px;
  border-bottom: 1px dotted;
}

#admin_obsah .pridat_polozku_form fieldset .nadpis_smazani_polozky {
  border: none;
  margin-bottom: 3px;
}

#admin_obsah .pridat_polozku_form fieldset .pridat_nazev_label_trida {
  width: 80px;
  height: 14px;
  margin: 2px 6px 0 20px;
  display: block;
  float: left;
  text-align: right;
  font-size: 12px;
  white-space: nowrap;
}

#admin_obsah .pridat_polozku_form fieldset .druha_otazka_label {
  height: 14px;
  margin: 0 auto 3px;
  display: block;
  font-size: 11px;
  white-space: nowrap;
}

#admin_obsah .pridat_polozku_form fieldset .nazev_smazani_polozky {
  display: block;
  margin-bottom: 3px;
  padding: 2px 0 3px;
  font-size: 12px;
  color: #ffd700;
  border-top: 1px dotted white;
  border-bottom: 1px dotted white;
}

#admin_obsah .pridat_polozku_form fieldset .otazka {
  display: block;
  margin-bottom: 3px;
  font-size: 11px;
}

#admin_obsah .pridat_polozku_form fieldset .pridat_nazev_input {
  width: 100px;
  height: 14px;
  margin: 2px 0 0 2px;
  font-family: "Myriad Web", Verdana, Arial, sans-serif;
  font-size: 12px;
  display: block;
  float: left;
  border: 1px solid #7c0602;
  background: url(../obr/input_text_background.png) repeat-x;
  color: white;
}

#admin_obsah .pridat_polozku_form fieldset .pridat_nazev_input:hover {
  border-color: white;
}

#admin_obsah .pridat_polozku_form fieldset #pridat_polozku_tlacitko,
#admin_obsah .pridat_polozku_form fieldset .pridat_polozku_tlacitko_trida {
  width: 100px;
  height: 18px;
  margin: 3px 0 0 10px;
  font-size: 12px;
  border: none;
  background: url(../obr/input_button_prihlasit.png) no-repeat 0 0;
  color: white;
  cursor: pointer;
  clear: left;
}

#admin_obsah .pridat_polozku_form fieldset #pridat_polozku_tlacitko:hover,
#admin_obsah .pridat_polozku_form fieldset .pridat_polozku_tlacitko_trida:hover {
  background-position: -100px 0;
}

#admin_obsah .obal_polozky_center .nazev_smazani_polozky {
  width: 300px;
  margin: 6px auto;
  padding: 2px 0 3px;
  font-size: 12px;
  color: #ffd700;
  border-top: 1px dotted white;
  border-bottom: 1px dotted white;
}

/* pridat a upravit import forma */
#admin_obsah .pridat_polozku_form_pridat_upravit_import {
  width: 360px;
  position: relative;
  left: 60px;
}

#admin_obsah .pridat_polozku_form_pridat_upravit_import p {
  position: relative;
  left: -30px;
  height: 16px;
  font-size: 12px;
}

#admin_obsah .pridat_polozku_form_pridat_upravit_import label {
  width: 150px;
  height: 14px;
  margin: 2px 6px 0 0;
  display: block;
  float: left;
  text-align: right;
  font-size: 12px;
  white-space: nowrap;
}

#admin_obsah .pridat_polozku_form fieldset select,
#admin_obsah .pridat_polozku_form fieldset select {
  min-width: 60px;
  height: 14px;
  margin: 3px auto 0 3px;
  font-size: 12px;
  border: none;
  background: url(../obr/input_text_background.png) repeat center bottom;
  color: white;
  float: left;
}

#admin_obsah .pridat_polozku_form fieldset select option,
#admin_obsah .pridat_polozku_form fieldset select option {
  background-color: white;
  color: black;
}

#admin_obsah .pridat_polozku_form_pridat_upravit_import #pridat_polozku_tlacitko {
  float: left;
  position: relative;
  left: 95px;
}/* konec pridat a upravit import forma */

#admin_obsah .odsazeni_top {
  margin-top: 30px;
}

#admin_obsah .odsazeni_top_mensi {
  margin-top: 20px;
}

#admin_obsah .odsazeni_top_male {
  margin-top: 10px;
}

#admin_obsah .odsazeni_bottom {
  margin-bottom: 30px;
}

#admin_obsah .odsazeni_bottom_male {
  margin-bottom: 20px;
}

#admin_obsah .vetsi_padding {
  padding: 10px 0;
}

#admin_obsah .upload_form {
  width: 320px;
  margin: 0 auto;
}

#admin_obsah .upload_form fieldset {
  text-align: center;
}

#admin_obsah .upload_form fieldset legend {
  text-align: left;
  color: white;
  font-size: 9px;
  border-bottom: 1px dotted;
}

#admin_obsah .upload_form fieldset #upload_label_styl {
  margin: 7px 0 0 20px;
  display: block;
  float: left;
  text-align: right;
  font-size: 12px;
}

#admin_obsah .upload_form fieldset .upload_input_styl {
  margin: 6px 0 0;
  font-size: 12px;
  font-family: "Myriad Web", Verdana, Arial, sans-serif;
  background: url(../obr/input_text_background.png) repeat center;
  color: white;
  border: 1px solid #7c0602;
}

#admin_obsah .upload_form fieldset .upload_input_styl:hover {
  border-color: white;
}

#admin_obsah .upload_form fieldset .upload_tlacitko {
  width: 100px;
  height: 18px;
  margin: 10px auto;
  font-size: 12px;
  border: none;
  background: url(../obr/input_button_prihlasit.png) no-repeat 0 0;
  color: white;
  cursor: pointer;
}

#admin_obsah .upload_form fieldset .upload_tlacitko:hover {
  background-position: -100px 0;
}/* konec obsah adminu */

/*----------------------------------------------------------------------------*/

/* zapati */
#admin_zapati #autori {
  margin-top: 40px;
  font-size: 10px;
  text-align: center;
}/* konec zapati */

/* Fugess (Martin) */

