#admin_body {
  background-color: #700401;
}

#admin_obsah .upload_form fieldset .upload_input_styl {
  width: 200px;
}

#admin_obsah .pridat_polozku_form fieldset select,
#admin_obsah .pridat_polozku_form fieldset select {
  height: 16px;
  font-size: 10px;
}

/* Fugess (Martin) */

