body {
  background-color: #700401;
}

#obsah #obal_formy_search #search_form fieldset legend {
  margin-left: -7px;
}

#obsah #search_form fieldset #vyber_typ_hledani,
#obsah #pridat_polozku_form fieldset #vyber_zanr_pridat_polozku,
#obsah #pridat_polozku_form fieldset #vyber_medium_pridat_polozku,
#zapati #ovladani_stylu #vyber_styl_form fieldset #vyber_styl_select {
  height: 16px;
  font-size: 10px;
}

#vypis_celkem_polozek {
  position: relative;
}

#vypis_celkem_polozek p {
  position: relative;
  top: 0;
}

/* Fugess (Martin) */

