/* dynamicky htaccess */
/* vypis htaccessu */
.dynamicky_htaccess_vypis .odkaz_pridat_htaccess,
.dynamicky_htaccess_vypis .vygenerovat_htaccess {
  margin: 0 10px;
  overflow: hidden;
}

.dynamicky_htaccess_vypis .odkaz_pridat_htaccess {
  margin-bottom: 3px;
}

.dynamicky_htaccess_vypis .vygenerovat_htaccess {
  margin-bottom: 30px;
}

.dynamicky_htaccess_vypis .odkaz_pridat_htaccess a,
.dynamicky_htaccess_vypis .vygenerovat_htaccess a {
  display: block;
  float: left;
}

.dynamicky_htaccess_vypis .odkaz_pridat_htaccess .odkaz_vpravo,
.dynamicky_htaccess_vypis .vygenerovat_htaccess .odkaz_vpravo {
  float: right;
}

.dynamicky_htaccess_vypis ul {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid;
  cursor: move;
}

.dynamicky_htaccess_vypis ul li.poradi_id {
  margin: 0 0 3px 10px;
}

.dynamicky_htaccess_vypis ul li.id_polozky {
  margin-left: 0;
  padding: 0 0 3px 10px;
  border-bottom: 1px dotted;
}

.dynamicky_htaccess_vypis ul li.aktivni_polozka,
.dynamicky_htaccess_vypis ul li.popis_hodnota,
.dynamicky_htaccess_vypis ul li.odkazy_upravit_smazat {
  font-size: 11px;
}

.dynamicky_htaccess_vypis ul li.aktivni_polozka,
.dynamicky_htaccess_vypis ul li.popis_hodnota {
  margin: 0 0 3px 10px;
}

.dynamicky_htaccess_vypis ul li.aktivni_polozka {
  overflow: hidden;
}

.dynamicky_htaccess_vypis ul li.aktivni_polozka em,
.dynamicky_htaccess_vypis ul li.aktivni_polozka input {
  display: block;
  float: left;
}

.dynamicky_htaccess_vypis ul li.aktivni_polozka input {
  cursor: pointer;
}

.dynamicky_htaccess_vypis ul li.aktivni_polozka em {
  margin-right: 3px;
  font-style: normal;
}

.dynamicky_htaccess_vypis ul li.popis_hodnota {
  padding: 3px;
  font-family: monospace;
  white-space: pre-wrap;
  background-color: #ececec;
  cursor: default;
}

.dynamicky_htaccess_vypis ul li.popis_hodnota:hover {
  color: #000;
}

.dynamicky_htaccess_vypis ul li.odkazy_upravit_smazat {
  position: absolute;
  top: 6px;
  right: 0;
}

.dynamicky_htaccess_vypis ul li.odkazy_upravit_smazat {
  top: 24px;
}/* /vypis htaccessu */

/* vsechny formulare */
.pridat_upravit_polozku_htaccess pre {
  margin-bottom: 30px;
  white-space: pre-wrap;
}

.pridat_upravit_polozku_htaccess .backlink_htaccess,
.test_regularnich_vyrazu_htaccess .backlink_htaccess {
  margin: 0 0 30px 10px;
}

.pridat_upravit_polozku_htaccess form label,
.test_regularnich_vyrazu_htaccess form label {
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
}

.pridat_upravit_polozku_htaccess form label span,
.pridat_upravit_polozku_htaccess form label input,
.test_regularnich_vyrazu_htaccess form label span,
.test_regularnich_vyrazu_htaccess form label input {
  display: block;
  float: left;
}

.pridat_upravit_polozku_htaccess form label span,
.test_regularnich_vyrazu_htaccess form label span {
  display: block;
  width: 190px;
  margin-right: 10px;
  padding-top: 4px;
  text-align: right;
  cursor: pointer;
}

.pridat_upravit_polozku_htaccess form label span.htaccess_dodatek {
  width: auto;
  margin: 2px 0 3px 200px;
  padding-top: 0;
  float: left;
  clear: both;
  font-size: 11px;
  text-align: left;
  cursor: default;
}

.test_regularnich_vyrazu_htaccess form label.hlavni_nadpis_htaccess {
  margin-bottom: 30px;
  font-weight: bold;
}

.test_regularnich_vyrazu_htaccess form label.nadpis_sekce_htaccess span,
.test_regularnich_vyrazu_htaccess form label.vyslede_htaccess span {
  width: 100%;
  text-align: center;
}

.test_regularnich_vyrazu_htaccess form label.vyslede_htaccess span {
  margin-bottom: 30px;
}

.test_regularnich_vyrazu_htaccess form .pre_htaccess {
  display: block;
  margin-bottom: 10px;
  padding: 3px;
  font-size: 11px;
  white-space: pre-wrap;
  background-color: #ececec;
}

.test_regularnich_vyrazu_htaccess form .pre_htaccess:hover {
  color: #000;
}

.pridat_upravit_polozku_htaccess form label.input_text input,
.pridat_upravit_polozku_htaccess form label.input_textarea textarea,
.test_regularnich_vyrazu_htaccess form label.input_text input,
.test_regularnich_vyrazu_htaccess form label.input_textarea textarea {
  width: 280px;
  float: left;
  border: 1px dotted;
  padding: 3px;
  color: #7a7a7a;
}

.pridat_upravit_polozku_htaccess form label.input_text input:focus,
.pridat_upravit_polozku_htaccess form label.input_textarea textarea:focus,
.test_regularnich_vyrazu_htaccess form label.input_text input:focus,
.test_regularnich_vyrazu_htaccess form label.input_textarea textarea:focus {
  color: #000;
  background-color: #ececec;
}

.pridat_upravit_polozku_htaccess form label.input_textarea textarea,
.test_regularnich_vyrazu_htaccess form label.input_textarea textarea {
  width: 440px;
  height: 200px;
  font: 14px Georgia, "Times New Roman", "Courier New", Times, Courier, serif;
}

.pridat_upravit_polozku_htaccess form label.input_checkbox input {
  margin-top: 7px;
  cursor: pointer;
}

.pridat_upravit_polozku_htaccess form label.submit input,
.test_regularnich_vyrazu_htaccess form label.submit input {
  margin: 20px 0 20px 200px;
  padding: 3px;
  border: 1px dotted;
  cursor: pointer;
  color: #7a7a7a;
}

.pridat_upravit_polozku_htaccess form label.submit input:focus,
.pridat_upravit_polozku_htaccess form label.submit input:hover,
.test_regularnich_vyrazu_htaccess form label.submit input:focus,
.test_regularnich_vyrazu_htaccess form label.submit input:hover {
  text-decoration: underline;
  color: #000;
}/* /vsechny formulare */

#status_drag {
  display: none;
  padding: 10px;
  background-color: #fff;
  border: 1px dotted;
  position: fixed;
  top: 100px;
  left: 50%;
}/* dynamicky htaccess */

/* Fugess (Martin) */
