html, body {
  height: 100%;
}

body, p, em, h1, h2, h3, h4, ul, li, dl, dt, dd, form, fieldset, legend, label, input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/*
em {
  font-style: normal;
}
*/

/* Fugess (Martin) */

