body {
  background: #48b6ef url(../obr/hlavicka_bg_uvod.png) no-repeat center top;
  font: 14px "Courier New", Tahoma, "Trebuchet MS", Verdana;
  color: #fff;
}

#obal_layout {
  background: url(../obr/hlavicka_bg_top.png) no-repeat center 116px;
  width: 806px;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

#zahlavi,
#menu,
#zapati {
  width: 806px;
  margin: 0 auto;
  padding: 0;
}

#zahlavi{
  height: 128px;
  position: relative;
}

#zahlavi a {
  display: block;
  width: 240px;
  height: 80px;
  position: absolute;
  top: 20px;
  left: 20px;
  outline: none;
}




#zahlavi h1{
  z-index: -10;
  visibility: hidden;
}

#obal_obsah {
  min-height: 500px;
  padding-bottom: 264px;
  background: url(../obr/obsah.png) repeat-y left top;
  margin: 125px 0 0 0;
}

#obsah_levy {
  width: 584px;
  margin: 0;
}

/* menu */
#menu,
#menu ul li a,
#menu p a {
  height: 43px;
}

#menu ul li a em,
#menu p a em {
  display: none;
}

#menu ul li {
  margin-left :5px;
  float: right;
}

#menu ul li a,
#menu p a {
  display: block;
  outline: none;
}

#menu ul li.menu_cenik a {
  width: 82px;
  background: url(../obr/cenik.png) no-repeat left top;
}

#menu ul li.menu_kontakt a {
  width: 106px;
  background: url(../obr/kontakt.png) no-repeat left top;
}

#menu ul li.menu_sit a {
  width: 74px;
  background: url(../obr/sit.png) no-repeat left top;
}

#menu ul li.menu_cenik a:hover,
#menu ul li.menu_kontakt a:hover,
#menu ul li.menu_sit a:hover {
  background-position: right top;
}

#menu ul li.aktivni a {
  background-position: right top;
}

#menu p a {
  float: right;
  width: 10px;
  background: url(../obr/menu_right_login.png) no-repeat;
  cursor: default;
}/* /menu */

/* zapati */
#zapati {
  width: 1100px;
  height: 264px;
  position: absolute;
  bottom: -1px;
  left: -148px;
  background: url(../obr/paticka_bg.png) no-repeat center bottom;
}

#zapati p {
  color: #e1e1e1;
  padding: 202px 0 0 365px;
  float: left;
  font: 10px Verdana, Tahoma;
}

#zapati p a {
  color: #e1e1e1;
  text-decoration: underline;
  outline: none;
}

#zapati p a:hover {
  color: #fff;
}/* /zapati */


#zapati_bg{
  width: 100%;
  height: 100%;
  z-index:-1;
  position: absolute;
  bottom: -1px;
  left: -148px;
  border: none;
  margin: 0 auto;
  padding: 0;
}

#zapati_bg h1{
z-index: -10;
visibility: hidden;
}






#obal_obsah span.nadpis_kontakt,
#obal_obsah span.nadpis_cenik,
#obal_obsah span.nadpis_sit {
  display: block;
  width: 259px;
  height: 40px;
}

/*cenik*/


#obal_obsah span.nadpis_cenik {
  background: url(../obr/nadpis_cenik.png) no-repeat left top;
  margin:0 0 0 5px;
}

#obal_obsah p.uvodni_text{
  margin: 20px 0 25px 0;
  text-align: center;
  font: bold 14px Tahoma;
}

#obal_obsah p.poznamka {
  margin: 6px 0 5px 0;
  text-align: center;
  font: 10px Tahoma;
}

#cenik_bez_agregace,
#cenik_s_agregaci {
  margin: 10px auto 0 auto;
  width: 552px;
  cursor: default;
  position: relative;
  overflow: hidden;
}

#cenik_bez_agregace span.hlavicka {
  display: block;
  width: 552px;
  height: 26px;
  background: url(../obr/bez_agregace_hlavicka.png) no-repeat left top;
}

#cenik_bez_agregace ul li,#cenik_s_agregaci ul li {
  float: left;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  border-right: 1px solid #abe1f7;
  border-bottom: 1px solid #abe1f7;
}
#cenik_bez_agregace ul:hover li,#cenik_s_agregaci ul:hover li{
  background-color: #8fd6f3;
}

#cenik_bez_agregace ul li.rychlost {
  width: 182px;
  border-left: 1px solid #abe1f7;
}

#cenik_bez_agregace ul li.cena {
  width: 182px;
}

#cenik_bez_agregace ul li.tarif {
  width: 184px;
}

#cenik_bez_agregace span.paticka,
#cenik_s_agregaci span.paticka {
  display: block;
  width: 552px;
  height: 9px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(../obr/bez_agregace_paticka.png) no-repeat left top;
}





#cenik_s_agregaci span.hlavicka {
  background: url(../obr/s_agregaci_hlavicka.png) no-repeat left top;
  display: block;
  width: 552px;
  height: 26px;
}





#cenik_s_agregaci ul li.rychlost {
  width: 157px;
  border-left: 1px solid #abe1f7;
}

#cenik_s_agregaci ul li.agregace {
  width: 107px;
}

#cenik_s_agregaci ul li.cena {
  width: 157px;
}

#cenik_s_agregaci ul li.tarif {
  width: 126px;
}

/* /cenik*/

/*kontakt*/

#obal_obsah span.nadpis_kontakt {
  background: url(../obr/nadpis_kontakt.png) no-repeat left top;
  margin: 0 0 0 5px;
}

#obal_obsah p.text{
  margin: -4px 0 5px 0;
  text-align: center;
  font: 10px Tahoma;
}

#kontakty {
  margin: 50px auto 0 auto;
  width: 552px;
  cursor: default;
  position: relative;
  overflow: hidden;
}

#kontakty span.hlavicka {
  display: block;
  width: 552px;
  height: 46px;
  background: url(../obr/kontakty_hlavicka.png) no-repeat left top;
}

#kontakty ul li {
  float: left;
  text-align: left;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-right: 1px solid #abe1f7;
  border-bottom: 1px solid #abe1f7;
}

#kontakty ul li.k1 {
  width: 150px;
  border-left: 1px solid #abe1f7;
}

#kontakty ul li.k2 {
  width: 389px;
}

#kontakty span.paticka {
  display: block;
  width: 552px;
  height: 9px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(../obr/bez_agregace_paticka.png) no-repeat left top;
}

/* /kontakt*/

/*pracovní doba*/
#prac_doba {
  margin: 30px auto;
  width: 552px;
  height: 175px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #abe1f7;
}

#prac_doba span{
display: block;
margin: 0 0 5px 206px;
}

#prac_doba p{
position: absolute;
left: 80px;
bottom: 20px;
}

#prac_doba ul {
  width: 300px;
  margin: 0 auto;
}

#prac_doba ul li {
  float: left;
  text-align: left;
  padding: 2px 0 2px 5px;
  margin-left: 10px;
}

/*pracovní doba*/

/*sit*/

#obal_obsah span.nadpis_sit {
  background: url(../obr/nadpis_sit.png) no-repeat left top;
  margin: 0 0 0 5px;
}

#obal_obsah span.pokryti {
  display: block;
  width: 374px;
  height: 374px;
}

#obal_obsah span.pokryti {
  background: url(../obr/pokryti.png) no-repeat left top;
  margin: 20px auto;
}

#obal_obsah p.podminky{
width: 520px;
padding-top: 20px;
margin: 30px auto;
border-top: 1px solid #abe1f7;
}

#obal_obsah p.podminky{
width: 520px;
padding-top: 20px;
margin: 30px auto;
border-top: 1px solid #abe1f7;
}

#obal_obsah p.podminky a {
  color: #fff;
  text-decoration: underline;
  outline: none;
}

/* /sit*/

/*satelity*/

#obal_obsah span.nadpis_satelity {
  background: url(../obr/nadpis_satelity.png) no-repeat left top;
  padding-left: 259px;
  padding-bottom: 20px;
  margin: 0 0 0 5px;
}
/* /satelity*/

/*doprava*/

#obal_obsah span.nadpis_doprava {
  background: url(../obr/nadpis_doprava.png) no-repeat left top;
  padding-left: 259px;
  padding-bottom: 20px;
  margin: 0 0 0 5px;
}
/* /doprava*/

/*novinky */
#novinky {
  position: absolute;
  top: 170px;
  right: 15px;
  width: 202px;
  cursor: default;
  margin: 10px auto 0 auto;
}

#novinky span.hlavicka {
  display: block;
  width: 202px;
  height: 26px;
  background: url(../obr/novinky_hlavicka.png) no-repeat left top;
}

#novinky ul li {
  width: 196px;
  text-align: left;
  padding: 2px;
  border-left: 1px solid #abe1f7;
  border-right: 1px solid #abe1f7;
  border-bottom: 1px solid #abe1f7;
  white-space: normal;
}

#novinky ul li:hover {
  background-color: #8fd6f3;
}

#novinky span.paticka {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 202px;
  height: 9px;
  background: url(../obr/novinky_paticka.png) no-repeat left top;
}

/* form kontakt */
#obal_obsah #obsah_levy #kontakt_form {
  width: 520px;
  margin: 28px auto;
}

#obal_obsah #obsah_levy #kontakt_form fieldset {
  border: none;
}

#obal_obsah #obsah_levy #kontakt_form fieldset legend {
  display: none;
}

#obal_obsah #obsah_levy #kontakt_form fieldset label {
  width: 170px;
  float: left;
  text-align: right;
}

#obal_obsah #obsah_levy #kontakt_form fieldset h2 {
  font-size: 12px;
  margin-bottom: 30px;
}

#obal_obsah #obsah_levy #kontakt_form fieldset p {
  font-size: 12px;
  clear: both;
  margin-top: 20px;
  margin-left: 30px;
}

#obal_obsah #obsah_levy #kontakt_form fieldset textarea,
#obal_obsah #obsah_levy #kontakt_form fieldset input {
  font: 12px Verdana, Tahoma, "Trebuchet MS", sans-serif;
  color: #fff;
  width: 195px;
  border: none;
}

#obal_obsah #obsah_levy #kontakt_form fieldset textarea {
  height: 132px;
  background: url(../obr/textarea_bg.png) no-repeat left top;
  padding: 2px 6px 2px 6px;
  float: left;
  margin: 0 0 8px 30px;
  border-color: #abe1f7;
}

#obal_obsah #obsah_levy #kontakt_form fieldset input {
  background: url(../obr/input_bg.png) no-repeat left top;
  height: 18px;
  margin: 0 0 5px 30px;
  padding: 1px 10px 1px 6px;
}

#obal_obsah #obsah_levy #kontakt_form fieldset #tl_odeslat {
  background: url(../obr/tlac_bg.png) no-repeat left top;
  width: 80px;
  height: 20px;
  margin-left: 260px;
  padding: 0 6px;
  float: left;
  cursor: pointer;
}

#form{
  margin-left: 30px;
}

/* /form kontakt */

/* Fugess (Martin) */

