#obal_obsah #obsah_levy #kontakt_form fieldset textarea,
#obal_obsah #obsah_levy #doprava_form fieldset textarea,
#obal_obsah #obsah_levy #satelity_form fieldset textarea {
  float: none;
  overflow: auto;
}

#obal_obsah #obsah_levy #doprava_form fieldset #tl_odeslat,
#obal_obsah #obsah_levy #satelity_form fieldset #tl_odeslat {
  margin-left: 300px;
}
