body {
  background: #48b6ef url(../obr/hlavicka_bg_uvod.png) no-repeat center top;
  font: 14px "Courier New", "Trebuchet MS", Verdana, sans-serif;
  color: #fff;
}

#obal_layout {
  width: 806px;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

#zahlavi, #menu, #zapati{
  width: 806px;
  margin: 0 auto;
  padding: 0;
}

#zahlavi{
  height: 128px;
}

#zahlavi h1{
  z-index: -10;
  visibility: hidden;
}

#obal_obsah {
  overflow: hidden;
  min-height: 255px;
  padding-bottom: 264px;
  margin: 168px 0 0 0;
}

/* uvod_menu */
#uvod_menu {
  height: 430px;
}

#uvod_menu ul {
  position: relative;
}

#uvod_menu ul li {
  height: 130px;
  width: 330px;
  position: absolute;
}

#uvod_menu ul li a {
  display: block;
  height: 130px;
  width: 330px;
  outline: none;
}

#uvod_menu ul li.uvod_menu_internet {
  top: 0;
  left: 0;
}

#uvod_menu ul li.uvod_menu_internet a {
  background: url(../obr/uvod_pripojeni.png) no-repeat left top;
}

#uvod_menu ul li.uvod_menu_eshop {
  top: 90px;
  right: 0;
}

#uvod_menu ul li.uvod_menu_eshop a {
  background: url(../obr/uvod_eshop.png) no-repeat left top;
}

#uvod_menu ul li.uvod_menu_doprava {
  top: 190px;
  left: 0;
}

#uvod_menu ul li.uvod_menu_doprava a {
  background: url(../obr/uvod_autodoprava.png) no-repeat left top;
}

#uvod_menu ul li.uvod_menu_satelity {
  top: 290px;
  right: 0;
}

#uvod_menu ul li.uvod_menu_satelity a {
  background: url(../obr/uvod_satelity.png) no-repeat left top;
}

#uvod_menu ul li a em {
  display: none;
}
/* /uvod_menu */

/* zapati */
#zapati {
  width: 1100px;
  height: 264px;
  position: absolute;
  bottom: -1px;
  left: -148px;
  background: url(../obr/paticka_bg_uvod.png) no-repeat center bottom;
}

#zapati p {
  color: #e1e1e1;
  padding: 202px 0 0 365px;
  float: left;
  font: 10px Verdana, sans-serif;
}

#zapati p a {
  color: #e1e1e1;
  text-decoration: underline;
  outline: none;
}

#zapati p a:hover {
  color: #fff;
}/* /zapati */


#zapati_bg{
  width: 100%;
  height: 100%;
  z-index:-8;
  position: absolute;
  bottom: -1px;
  left: -148px;
  border:none;
  margin: 0 auto;
  padding: 0;
}

#zapati_bg h1{
z-index: -10;
visibility: hidden;
}
/* Fugess (Martin) */

