#obal_layout {
  _height: 100%;
  width: 809px;
  border: none;
}

#obal_layout #obal_obsah {
  margin-left: 2px;
  _height: 500px;
}

#obal_obsah #obal_novinky {
  _height: 100%;
  margin-right: 6px;
}

#obal_layout #obal_obsah #obsah .polozka_grafika {
  margin-top: 26px;
  padding-top: 0;
  position: static;
  background-color: #26455a;
  border: 1px solid #1f3240;
}

#obal_layout #obal_obsah #obsah .polozka_grafika h3 {
  position: relative;
  top: -10px;
  left: 10px;
}

#obal_layout #obal_obsah #obsah .polozka_grafika a {
  border: 1px solid #1f3240;
}

#obal_layout #obal_obsah #obsah .polozka_grafika a img {
  border: none;
}

#obal_layout #obal_obsah #obsah .polozka_grafika a:hover {
  border-color: #deaa47;
}

#obal_obsah #obsah_levy #kontakt_form,
#obal_obsah #obsah_levy #doprava_form,
#obal_obsah #obsah_levy #satelity_form {
  margin-top: 30px;
}

#obal_obsah #obsah_levy #kontakt_form fieldset textarea,
#obal_obsah #obsah_levy #doprava_form fieldset textarea,
#obal_obsah #obsah_levy #satelity_form fieldset textarea  {
  float: none;
  overflow: auto;
}

#obal_obsah #obsah_levy #doprava_form fieldset #tl_odeslat,
#obal_obsah #obsah_levy #satelity_form fieldset #tl_odeslat {
margin-left: 305px;
}

#uvod_menu ul li.uvod_menu_internet a,
#uvod_menu ul li.uvod_menu_eshop a,
#uvod_menu ul li.uvod_menu_doprava a,
#uvod_menu ul li.uvod_menu_satelity a,
#menu ul li.menu_cenik a,
#menu ul li.menu_kontakt a,
#menu ul li.menu_sit a,
#obal_obsah span.nadpis_kontakt,
#obal_obsah span.nadpis_cenik,
#obal_obsah span.nadpis_sit,
#obal_obsah span.nadpis_doprava,
#obal_obsah span.nadpis_satelity,
#cenik_bez_agregace span.hlavicka,
#cenik_bez_agregace span.paticka,
#cenik_s_agregaci span.paticka,
#cenik_s_agregaci span.hlavicka,
#novinky span.hlavicka,
#novinky span.paticka,
#kontakty span.hlavicka,
#kontakty span.paticka,
#obal_obsah #obsah_levy #kontakt_form fieldset input,
#obal_obsah #obsah_levy #kontakt_form fieldset textarea,
#obal_obsah #obsah_levy #kontakt_form fieldset #tl_odeslat,
#obal_obsah #obsah_levy #doprava_form fieldset input,
#obal_obsah #obsah_levy #doprava_form fieldset textarea,
#obal_obsah #obsah_levy #doprava_form fieldset #tl_odeslat,
#obal_obsah #obsah_levy #satelity_form fieldset input,
#obal_obsah #obsah_levy #satelity_form fieldset textarea,
#obal_obsah #obsah_levy #satelity_form fieldset #tl_odeslat,
#obal_obsah span.pokryti {
  background: none;
  cursor: pointer;
}

#obal_obsah span.nadpis_kontakt,
#obal_obsah span.nadpis_cenik,
#obal_obsah span.nadpis_sit,
#obal_obsah span.nadpis_doprava,
#obal_obsah span.nadpis_satelity,
#cenik_bez_agregace span.hlavicka,
#cenik_bez_agregace span.paticka,
#cenik_s_agregaci span.paticka,
#cenik_s_agregaci span.hlavicka,
#novinky span.hlavicka,
#novinky span.paticka,
#kontakty span.hlavicka,
#kontakty span.paticka,
#obal_obsah span.pokryti {
  cursor: default;
}

#obal_obsah #obsah_levy #kontakt_form fieldset input,
#obal_obsah #obsah_levy #kontakt_form fieldset textarea,
#obal_obsah #obsah_levy #satelity_form fieldset input,
#obal_obsah #obsah_levy #satelity_form fieldset textarea,
#obal_obsah #obsah_levy #doprava_form fieldset input,
#obal_obsah #obsah_levy #doprava_form fieldset textarea {
  cursor: text;
}

#obal_obsah span.pokryti{
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/pokryti.png');
}
#obal_obsah #obsah_levy #kontakt_form fieldset input,
#obal_obsah #obsah_levy #doprava_form fieldset input,
#obal_obsah #obsah_levy #satelity_form fieldset input {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/input_bg.png');
}

#obal_obsah #obsah_levy #kontakt_form fieldset textarea,
#obal_obsah #obsah_levy #doprava_form fieldset textarea,
#obal_obsah #obsah_levy #satelity_form fieldset textarea {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/textarea_bg.png');
}

#obal_obsah #obsah_levy #kontakt_form fieldset #tl_odeslat,
#obal_obsah #obsah_levy #doprava_form fieldset #tl_odeslat,
#obal_obsah #obsah_levy #satelity_form fieldset #tl_odeslat {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/tlac_bg.png');
}

#kontakty span.hlavicka {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/kontakty_hlavicka.png');
}

#novinky span.hlavicka {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/novinky_hlavicka.png');
}

#novinky span.paticka {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/novinky_paticka.png');
}

#cenik_bez_agregace span.paticka,
#cenik_s_agregaci span.paticka,
#kontakty span.paticka {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/bez_agregace_paticka.png');
}

#cenik_s_agregaci span.hlavicka {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/s_agregaci_hlavicka.png');
}

#cenik_bez_agregace span.hlavicka {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/bez_agregace_hlavicka.png');
}

#obal_obsah span.nadpis_satelity {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/nadpis_satelity.png');
}

#obal_obsah span.nadpis_doprava {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/nadpis_doprava.png');
}

#obal_obsah span.nadpis_kontakt {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/nadpis_kontakt.png');
}

#obal_obsah span.nadpis_cenik {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/nadpis_cenik.png');
}

#obal_obsah span.nadpis_sit {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/nadpis_sit.png');
}

#menu ul li.menu_cenik a {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/cenik_ie6.png');
}

#menu ul li.menu_kontakt a {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/kontakt_ie6.png');
}

#menu ul li.menu_sit a {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/sit_ie6.png');
}

#uvod_menu ul li.uvod_menu_internet a {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/uvod_pripojeni.png');
}

#uvod_menu ul li.uvod_menu_eshop a {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/uvod_eshop.png');
}

#uvod_menu ul li.uvod_menu_doprava a {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/uvod_autodoprava.png');
}

#uvod_menu ul li.uvod_menu_satelity a {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/uvod_satelity.png');
}

#zapati {
  width: 1104px;
}



/* Fugess (Martin) */

