body
{
	background:url(Images/150c.gif);
}

#mBody
{
	margin: 0 auto;
	width: 800px;
	border: 1px ;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color:#ffff00;
}

#marquee
{
	margin-top: 100px;
	margin-left: 160px;
	margin-right: 120px;
	margin-bottom: 0px;
	height: 10px;
  background:url(Images/red.gif);
}

#Content
{
	margin-left: 190px;
	margin-right: 1px;
	margin-bottom: 20px;
	border: 2px solid #990000;
	border-top: none;
	height: none;
u
	padding-right: 2em; 
	padding-top: 1em; 
	padding-bottom: 2em;
  background: url(Images/black_01.gif);
}

#ContentHead
{
	height: 25px;
	text-indent: 5px;
	border: 2px solid #990000;
	margin-left: 190px;
	margin-right: 1px;
	border-top: none;
	background: url(Images/red.gif);
}

#SideC
{
		
	border: 2px solid #990000;
	margin-bottom: 20px;
	border-top: none;
  font-size: 8pt;
  background: url(Images/black_01.gif);
}

#CHeader
{
	height: 25px;
  background: url(Images/red.gif);
	text-indent: 5px;
	border: 2px solid #990000;
	border-top: none;
}

#CHeader2
{
	height: 15px;
  background: url(Images/red.gif);
	text-indent: 5px;
	border: 2px solid #990000;
	border-top: none;
}

#cLeft
{
	width: 180px;
	float: left;
	margin-left: 1px;
	
}

#cRight
{
	width: 180px;
	float: right;
	margin-right: 5px;
}

#ContentGallery
{
	margin-left: 193px;
	margin-right: 193px;
	margin-bottom: 20px;
	border: 2px solid #990000;
	border-top: none;
}

#GalleryNail
{
	width: 120px;
	height: 90px;
	border: 2px solid #666666;
}

#BaseFooter
{
	clear: both;
	padding: 15px 5px 0px 5px;
	text-align: center;
	color:#ffffff;
}

a:link, a:visited
{
	color: #66ccff;
	text-decoration: none;
}

a:hover
{
	color: #FF0000;
}

.styl5 {color: #CCCCCC}
.styl6 {
	color: #FFFF00;
	font-weight: bold;
}
.styl7 {
	color: #FF0000;
	font-weight: bold;
}
.styl8 {
	font-size: 12pt;
	font-weight: bold;
	color: #FF0000;
}
.styl10 {color: #FF0000; font-weight: bold; font-size: 8pt; }
.styl11 {color: #FFFF00}
.styl13 {font-size: 12pt; font-weight: bold; color: #FF0000; font-family: Geneva, Arial, Helvetica, sans-serif; }

