/* CSS Document */

input.button
{
  background-color:#ff4000;
}

input.sumenu
{
  background-color:#ff9000;
  width:180px;
  height:25px;
}



body
{
  background-color:#FFFF66;
}

div.sumenu
{
  position:absolute;
  top:100px;
  left:10px;
}

div.head
{
  position:absolute;
  top:10px;
  left:10px;
  height:90px;
  width:700px;
}

div.telo
{
  position:absolute;
  top:200px;
  left:200px;
}

/*td
{
  border:none;
  padding:0px;
  height:5px;
  vertical-align:top;
}

tr
{
  border:none;
  padding:0px;
  height:5px;
  vertical-align:top;
}*/