#obsah {
  height: auto;
}

#obsah form fieldset {
  position: relative;
}

#obsah form fieldset .vase_jmeno_input {
  margin-top: 6px;
}

#obsah form fieldset .vas_email_label {
  margin-top: 8px;
}

#obsah form fieldset .predmet_zpravy_label {
  margin-top: 7px;
}

#obsah form fieldset .zde_vlozte_fotku_input {
  width: 200px;
  position: relative;
  left: 45px;
  top: -28px;
}

#obsah form fieldset .pripony {
  left: 290px;
  top: -26px;
}

#obsah form fieldset .odeslat_input {
  left: 214px;
  position: absolute;
  bottom: 20px;
}

.form_logovani_admin fieldset #heslo_for_id {
  width: 150px;
}

.form_logovani_admin fieldset {
  position: relative;
  height: 120px;
}

.form_logovani_admin fieldset .tlacitko_potvrdit {
  position: absolute;
  left: 10px;
  top: 74px;
}

#obsah #admin_zvlast {
  width: expression(do­cument.body.clientWidth < 800 ? "100%" : "auto" );
}

#obsah #admin_zvlast .polozky_admin p {
  height: expression(this.scrollHeight < 103 ? "103px" : "auto" );
}

#obsah .otazka_smazat input.ano {
  float: left;
  margin: 10px 0 10px 280px;
}

#obsah .otazka_smazat input.ne {
  float: left;
  margin: 10px 0;
}

