#zahlavi h1 {
  font-weight: normal;
}

#obsah form fieldset legend {
  margin-bottom: 10px;
}

#obsah form fieldset label {
  margin: 6px 0;
}

#obsah form fieldset input {
  float: right;
  margin-top: 6px;
  margin-right: 330px;
}

#obsah form fieldset input[type=text] {
  height: 14px;
}

#obsah form fieldset textarea {
  margin-top: 6px;
  margin-left: 3px;
  font-family: Verdana, sans-serif;
}

#obsah form fieldset input[type=file] {
  width: 230px;
  margin-left: 123px;
  position: relative;
  top: -27px;
}

#obsah form fieldset input[type=submit] {
  float: left;
  margin-left: 123px;
  position: relative;
  bottom: 26px;
}

#obsah form fieldset .pripony {
  top: -23px;
}

#obsah form fieldset .tlacitko_potvrdit {
  clear: none;
  margin-top: 30px;
}

#obsah #odhlaseni_admin {
  top: -400px;
}

#obsah .otazka_smazat input {
  margin: 30px 0 -20px;
  padding: 0;
}

#obsah .odpoved {
  padding: 10px 0;
}

