body {
	font-family: arial;
	font-size: 13px;
}
p {
	text-align: justify;
}
img {
	border: 0;
}
img.fl {
	float: left;
	margin: 0 10px 10px 0;
}
img.fr {
	float: right;
	margin: 0 0 10px 10px;
}
.nod, #header, #menu, #col-left, #col-right, #navbar, #vyhledavani, .virtualni-prochazka, #rezervace-online, #footer-menu, #footer, hr  {
	display: none;
}
a, a:visited {
	color: #00f;
}
table {
	border-collapse: collapse;
	font-size: 12px;
}
table td {
	border: 1px solid #000;
	padding: 5px 3px;
}