BODY {
	FONT-SIZE: x-small
}
TR {
	FONT-SIZE: x-small
}
TH {
	FONT-SIZE: x-small
}
TD {
	FONT-SIZE: x-small
}
PRE {
	FONT-SIZE: x-small
}
TT {
	FONT-SIZE: x-small
}
CODE {
	FONT-SIZE: x-small
}
KBD {
	FONT-SIZE: x-small
}
SAMP {
	FONT-SIZE: x-small
}
UNKNOWN {
	FONT-SIZE: small
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: "Arial CE", "Helvetica CE", Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center
}
A:link {
	COLOR: #3366cc; BACKGROUND-COLOR: transparent
}
A:visited {
	COLOR: #3366cc; BACKGROUND-COLOR: transparent
}
A:active {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
A:hover {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
H1 {
	FONT-WEIGHT: bold
}
H2 {
	FONT-WEIGHT: bold
}
H3 {
	FONT-WEIGHT: bold
}
H4 {
	FONT-WEIGHT: bold
}
H5 {
	FONT-WEIGHT: bold
}
H6 {
	FONT-WEIGHT: bold
}
B {
	FONT-WEIGHT: bold
}
STRONG {
	FONT-WEIGHT: bold
}
DIV {
	TEXT-ALIGN: left
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
DIV.page-maker {
	CLEAR: both; BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
DIV.page-maker-white {
	CLEAR: both; BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ffffff 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 1px solid
}
.textversion {
	DISPLAY: none
}
.otheritems {
	PADDING-RIGHT: 1em; TEXT-ALIGN: right
}
.audits {
	LEFT: 0px; POSITION: absolute; TOP: 0px
}
.submit {
	CURSOR: pointer
}
.long-text-replaced {
	BORDER-BOTTOM: #0000ff 1px dotted
}
#page-header {
	BORDER-RIGHT: #eeeeee 5px solid; PADDING-RIGHT: 0px; BORDER-TOP: #eeeeee 5px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px auto; BORDER-LEFT: #eeeeee 5px solid; WIDTH: 750px; PADDING-TOP: 0px; BORDER-BOTTOM: #eeeeee 5px solid
}
#interval-logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 190px; PADDING-TOP: 0px; HEIGHT: 60px
}
#interval-logo H1 {
	DISPLAY: inline
}
#interval-logo A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 190px; COLOR: #3366cc; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 60px; BACKGROUND-COLOR: transparent
}
#interval-logo SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; Z-INDEX: 1; BACKGROUND: url(http://interval.cz/__services/icons/logo.png) no-repeat left top; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 190px; CURSOR: pointer; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 60px
}
#page-topmenu {
	BORDER-RIGHT: #3366cc 5px solid; PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; BORDER-LEFT: #3366cc 5px solid; WIDTH: 750px; COLOR: #000000; MARGIN-RIGHT: auto; PADDING-TOP: 0px; BACKGROUND-COLOR: #eeeeee
}
#page-body {
	BORDER-RIGHT: #3366cc 5px solid; PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; BORDER-LEFT: #3366cc 5px solid; WIDTH: 750px; COLOR: #000000; MARGIN-RIGHT: auto; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
#page-left {
	CLEAR: both; FLOAT: left; WIDTH: 560px
}
#page-right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 0px; WIDTH: 180px; COLOR: #666666; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent
}
#page-foot {
	BORDER-RIGHT: #3366cc 5px solid; PADDING-RIGHT: 0px; BORDER-TOP: #3366cc 5px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; BORDER-LEFT: #3366cc 5px solid; WIDTH: 750px; COLOR: #ffffff; MARGIN-RIGHT: auto; PADDING-TOP: 0px; BORDER-BOTTOM: #3366cc 5px solid; BACKGROUND-COLOR: #3366cc
}
#page-foot-menu {
	PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#page-foot-menu A {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-foot-menu A:link {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-foot-menu A:visited {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-foot-menu A:active {
	TEXT-DECORATION: underline
}
#page-foot-menu A:hover {
	TEXT-DECORATION: underline
}
#issn {
	PADDING-RIGHT: 3px; FLOAT: right; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#page-foot-zoner {
	CLEAR: both; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 2px; BACKGROUND-COLOR: #000000
}
#page-foot-zoner A:link {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
#page-foot-zoner A:active {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
#page-foot-zoner A:visited {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
#page-foot-zoner A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
#advertising-leader-board {
	MARGIN-LEFT: auto; WIDTH: 760px; MARGIN-RIGHT: auto
}
#advertising-page-header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 468px; PADDING-TOP: 0px; HEIGHT: 60px
}
#advertising-page-bottom {
	BORDER-RIGHT: #3366cc 5px solid; PADDING-BOTTOM: 1em; MARGIN: 0px auto; BORDER-LEFT: #3366cc 5px solid; WIDTH: 750px; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
#advertising-page-bottom-left {
	FLOAT: left; WIDTH: 557px; TEXT-ALIGN: center
}
#advertising-page-bottom-left DIV {
	MARGIN: auto; WIDTH: 468px; HEIGHT: 60px
}
#advertising-page-bottom-right {
	FLOAT: right; WIDTH: 180px; TEXT-ALIGN: center
}
#advertising-page-bottom-right DIV {
	MARGIN: auto; WIDTH: 120px; HEIGHT: 60px
}
.advertising-alert {
	MARGIN-LEFT: 1em; MARGIN-RIGHT: 1em
}
DIV.advertising-box {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
DIV.advertising-box DIV {
	TEXT-ALIGN: center
}
DIV.advertising-box DIV.advertising-inner {
	MARGIN: 0px auto; WIDTH: 125px; HEIGHT: 125px; TEXT-ALIGN: center
}
DIV.advertising-bigsquare-outer {
	CLEAR: both; TEXT-ALIGN: center
}
DIV.advertising-bigsquare-inner {
	MARGIN-TOP: 25px; MARGIN-LEFT: auto; OVERFLOW: hidden; WIDTH: 250px; MARGIN-RIGHT: auto
}
DIV.advertising-vertical-banner-outer {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
DIV.advertising-vertical-banner-inner {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 1em; MARGIN-LEFT: auto; BORDER-LEFT: 0px; WIDTH: 120px; MARGIN-RIGHT: auto; BORDER-BOTTOM: 0px
}
#page-mainmenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #eeeeee
}
#page-mainmenu UL LI {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 4px; LINE-HEIGHT: 1.4em; PADDING-TOP: 0px
}
#page-mainmenu UL LI.right {
	BORDER-RIGHT: 0px; FLOAT: right; BORDER-LEFT: #666666 1px solid
}
#page-mainmenu A {
	COLOR: #3366cc; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-mainmenu A:link {
	COLOR: #3366cc; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-mainmenu A:visited {
	COLOR: #3366cc; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-mainmenu A:active {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-mainmenu A:hover {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-mainmenu LI.selected {
	BORDER-RIGHT: #3366cc 1px solid; BORDER-TOP: #3366cc 1px solid; COLOR: #ffffff; BACKGROUND-COLOR: #3366cc
}
#page-mainmenu .selected A {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-mainmenu .selected A:link {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-mainmenu .selected A:visited {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-mainmenu LI.first {
	MARGIN-LEFT: 0px
}
#page-mainmenu-maker {
	MARGIN-TOP: 2px; BORDER-BOTTOM: #3366cc 3px solid
}
DIV#page-mainsubmenu {
	CLEAR: both; FONT-SIZE: 0.9em; COLOR: #ffffff; BACKGROUND-COLOR: #3366cc
}
#page-mainsubmenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #3366cc
}
#page-mainsubmenu UL LI {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 4px; BORDER-LEFT: 0px; LINE-HEIGHT: 1.35em; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#page-mainsubmenu UL LI.right {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FLOAT: right; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#page-mainsubmenu A {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-mainsubmenu A:link {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-mainsubmenu A:visited {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-mainsubmenu A:active {
	COLOR: #ffcc00; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-mainsubmenu A:hover {
	COLOR: #ffcc00; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-mainsubmenu LI.selected {
	COLOR: #3366cc; BACKGROUND-COLOR: #ffffff
}
#page-mainsubmenu .selected A {
	COLOR: #3366cc; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-mainsubmenu .selected A:link {
	COLOR: #3366cc; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-mainsubmenu .selected A:visited {
	COLOR: #3366cc; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-mainsubmenu LI.first {
	MARGIN-LEFT: 0px
}
#page-mainsubmenu-maker {
	
}
DIV.page-right-box {
	BORDER-TOP: #999999 1px solid; MARGIN-TOP: 30px; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; POSITION: relative
}
DIV.page-right-box H3 {
	PADDING-LEFT: 40px; FONT-SIZE: 1.25em; LEFT: 3px; MARGIN: 0px; WIDTH: 130px; COLOR: #3366cc; WHITE-SPACE: nowrap; POSITION: relative; TOP: -20px; HEIGHT: 33px; BACKGROUND-COLOR: #ffffff
}
DIV.page-right-box-in {
	PADDING-RIGHT: 5px; POSITION: relative; TOP: -15px
}
DIV.page-right-box-in UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 20px; PADDING-TOP: 0px
}
DIV.page-right-box-in UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(http://interval.cz/__services/icons/arrow.png); PADDING-BOTTOM: 0px; MARGIN: 1px 0px 0px 2px; PADDING-TOP: 0px
}
DIV.page-right-box DIV.image {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; TEXT-ALIGN: center
}
DIV.page-right-box A {
	COLOR: #666666; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
DIV.page-right-box A:link {
	COLOR: #666666; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
DIV.page-right-box A:visited {
	COLOR: #666666; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
DIV.page-right-box A:active {
	TEXT-DECORATION: underline
}
DIV.page-right-box A:hover {
	TEXT-DECORATION: underline
}
DIV.czechia-box {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
DIV.czechia-box FORM {
	DISPLAY: inline
}
#czechia-content {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 10px; MARGIN-LEFT: 10px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; MARGIN-RIGHT: 10px; PADDING-TOP: 10px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #81b5e2; TEXT-ALIGN: center
}
#czechia-inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
DIV.czechia-box H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 2em; LEFT: auto; PADDING-BOTTOM: 0px; MARGIN: 0px auto; TEXT-TRANSFORM: uppercase; WIDTH: 100px; COLOR: #000000; PADDING-TOP: 0px; POSITION: relative; TOP: auto; HEIGHT: 33px; BACKGROUND-COLOR: transparent
}
DIV.czechia-box A {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
DIV.czechia-box A:link {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
DIV.czechia-box A:visited {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
DIV.czechia-box A:active {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
DIV.czechia-box A:hover {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
.czechia-box INPUT.text {
	MARGIN: 2px; WIDTH: 122px
}
.czechia-box INPUT.image {
	WIDTH: 112px; HEIGHT: 22px
}
DIV.inmail-box {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
DIV.inmail-box FORM {
	DISPLAY: inline
}
#inmail-content {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 10px; MARGIN-LEFT: 10px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; MARGIN-RIGHT: 10px; PADDING-TOP: 10px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #f6f3da; TEXT-ALIGN: center
}
#inmail-inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
DIV.inmail-box H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 2em; LEFT: auto; PADDING-BOTTOM: 0px; MARGIN: 0px auto; TEXT-TRANSFORM: uppercase; WIDTH: 100px; COLOR: #000000; PADDING-TOP: 0px; POSITION: relative; TOP: auto; HEIGHT: 33px; BACKGROUND-COLOR: transparent
}
DIV.inmail-box A {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
DIV.inmail-box A:link {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
DIV.inmail-box A:visited {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
DIV.inmail-box A:active {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
DIV.inmail-box A:hover {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
.inmail-box INPUT.text {
	MARGIN: 2px; WIDTH: 122px
}
.inmail-box INPUT.image {
	WIDTH: 95px; HEIGHT: 20px
}
DIV.outservers H3 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(http://interval.cz/__services/icons/info.png); PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat
}
DIV.outservers H4 {
	FONT-SIZE: 1em; MARGIN: 1em 0px 0px 20px
}
#search {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #999999 1px solid; COLOR: #666666; PADDING-TOP: 3px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
#search FORM {
	DISPLAY: inline
}
#search FORM DIV {
	DISPLAY: inline
}
#search FORM INPUT.text {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 1px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; WIDTH: 150px; COLOR: #666666; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 17px; BACKGROUND-COLOR: #ffffff
}
#search FORM SELECT {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #999999 1px solid; COLOR: #666666; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
#search FORM OPTION {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: #666666; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
#search FORM INPUT.submit {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #999999 1px solid; COLOR: #666666; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #f9f9f9
}
#search DIV {
	TEXT-ALIGN: center
}
DIV.book H3 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(http://interval.cz/__services/icons/book.png); PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat
}
DIV.book DIV.book-top {
	MARGIN: 0px 5px; TEXT-ALIGN: center
}
DIV.book H4 {
	FONT-SIZE: 1em; MARGIN: 0px auto
}
DIV.book IMG {
	WIDTH: 100px
}
DIV.book DIV.book-bottom {
	TEXT-ALIGN: center
}
DIV.book SPAN.book-price-old {
	TEXT-DECORATION: line-through
}
DIV.book SPAN.book-price-new {
	FONT-WEIGHT: bold
}
DIV.inquiry H3 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(http://interval.cz/__services/icons/inquiry.png); WIDTH: 100px; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat
}
DIV.inquiry P {
	PADDING-LEFT: 10px; MARGIN: 0.5em 0px
}
DIV.inquiry H4 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN: 0.5em 0px
}
DIV.inquiry A:link {
	COLOR: #3366cc; BACKGROUND-COLOR: transparent
}
DIV.inquiry .answer {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 1px; BORDER-BOTTOM: 0px
}
DIV.inquiry .answer-image {
	PADDING-LEFT: 15px
}
DIV.reading H3 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(http://interval.cz/__services/icons/reading.png); PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat
}
DIV.cauldron H3 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(http://interval.cz/__services/icons/cauldron.png); PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat
}
DIV.emailserv H3 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(http://interval.cz/__services/icons/emailserv.png); PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat
}
DIV.emailserv FORM {
	DISPLAY: inline
}
DIV.emailserv FORM DIV {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
DIV.emailserv FORM INPUT.text {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 1px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; WIDTH: 150px; COLOR: #3366cc; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 17px; BACKGROUND-COLOR: #ffffff
}
DIV.emailserv FORM INPUT.submit {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #999999 1px solid; COLOR: #666666; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #f9f9f9
}
DIV.opinion H3 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(http://interval.cz/__services/icons/opinion.png); PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat
}
DIV.articles {
	PADDING-BOTTOM: 3em
}
#articles-pseudohead {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 1.5em; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #3366cc; PADDING-TOP: 5px; BACKGROUND-COLOR: transparent
}
A.topbox-slot-link {
	FONT-WEIGHT: bold; COLOR: #666666; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.topbox-slot-link:visited {
	FONT-WEIGHT: bold; COLOR: #666666; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.topbox-slot-link:active {
	COLOR: #666666; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.topbox-slot-link:hover {
	COLOR: #666666; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
#topbox-mags {
	MARGIN: 0px 10px; PADDING-TOP: 10px
}
#topbox-mags IMG {
	FLOAT: left; MARGIN: 0px 5px 0px 0px; WIDTH: 63px; HEIGHT: 80px
}
#topbox-mags-head {
	FLOAT: left; WIDTH: 390px
}
#topbox-mags-head H2 {
	DISPLAY: inline
}
#topbox-mags-cathegory {
	FONT-WEIGHT: bold; FLOAT: right; MARGIN-BOTTOM: 1em
}
#topbox-mags-cathegory A {
	TEXT-DECORATION: none
}
#topbox-mags-cathegory A:active {
	TEXT-DECORATION: underline
}
#topbox-mags-cathegory A:hover {
	TEXT-DECORATION: underline
}
DIV.topbox-mags-page-maker {
	CLEAR: right
}
#topbox-mags P {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 0.3em; TEXT-ALIGN: justify
}
#topbox-critics {
	CLEAR: both; MARGIN: 10px
}
#topbox-critics H2 {
	FONT-SIZE: 1.3em
}
#topbox-critics-outer {
	TEXT-ALIGN: center
}
#topbox-critics-inner {
	MARGIN-LEFT: auto; WIDTH: 510px; MARGIN-RIGHT: auto
}
.topbox-critics-box {
	FLOAT: left; WIDTH: 33%; TEXT-ALIGN: center
}
.topbox-critics-box IMG {
	WIDTH: 83px; HEIGHT: 62px
}
DIV.topbox-critics-box A {
	COLOR: #666666; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
DIV.topbox-critics-box A:link {
	COLOR: #666666; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
DIV.topbox-critics-box A:visited {
	COLOR: #666666; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
DIV.topbox-critics-box A:active {
	TEXT-DECORATION: underline
}
DIV.topbox-critics-box A:hover {
	TEXT-DECORATION: underline
}
.topbox-critics-head {
	MARGIN-BOTTOM: 5px; TEXT-ALIGN: center
}
.topbox-critics-box H3 {
	DISPLAY: inline
}
.topbox-critics-comment-box {
	MARGIN-TOP: 5px; TEXT-ALIGN: center
}
.anotation {
	CLEAR: both; MARGIN: 0px 10px; PADDING-TOP: 10px
}
.anotation-head {
	FLOAT: left; WIDTH: 425px
}
.cathegory {
	FONT-WEIGHT: bold; FLOAT: right
}
.cathegory A {
	TEXT-DECORATION: none
}
.cathegory A:active {
	TEXT-DECORATION: underline
}
.cathegory A:hover {
	TEXT-DECORATION: underline
}
.anotation-note {
	FONT-SIZE: 0.9em; FLOAT: left
}
.anotation-comment {
	FONT-SIZE: 0.9em; FLOAT: right
}
.today {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: lowercase; COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
.yesterday {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: lowercase; COLOR: #ff9900; BACKGROUND-COLOR: transparent
}
.anotation H2 {
	DISPLAY: inline; FONT-SIZE: 1.3em; COLOR: #666666; BACKGROUND-COLOR: transparent
}
.anotation-serial H2 {
	FONT-SIZE: 1.5em; COLOR: #3366cc; BACKGROUND-COLOR: transparent
}
.anotation P {
	CLEAR: both; MARGIN: 0px; TEXT-ALIGN: justify
}
.cathegory A.cathegory14 {
	COLOR: #660066; BACKGROUND-COLOR: transparent
}
.cathegory A.cathegory15 {
	COLOR: #cc9900; BACKGROUND-COLOR: transparent
}
.cathegory A.cathegory16 {
	COLOR: #003399; BACKGROUND-COLOR: transparent
}
.cathegory A.cathegory17 {
	COLOR: #ff9900; BACKGROUND-COLOR: transparent
}
.cathegory A.cathegory18 {
	COLOR: #009900; BACKGROUND-COLOR: transparent
}
.cathegory A.cathegory100 {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
#articles-paging {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
#articles-paging-box {
	BORDER-TOP: #999999 1px solid; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; BORDER-BOTTOM: #999999 1px solid
}
#articles-paging-form {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 45%; PADDING-TOP: 0px
}
#articles-paging-form FORM {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#articles-paging-form DIV {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#articles-paging-form INPUT.submit {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #999999 1px solid; WIDTH: 9em; COLOR: #666666; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #f9f9f9
}
#articles-paging-form INPUT.text {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #999999 1px solid; COLOR: #3366cc; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 1.8em; BACKGROUND-COLOR: #ffffff
}
#articles-paging-anchors {
	FLOAT: right
}
#articles-paging-anchors A.current {
	COLOR: #000000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#press-body {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
#press-box {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 5px; BORDER-BOTTOM: 0px
}
#press-box H2 {
	MARGIN: 0px
}
#press-box LI {
	LIST-STYLE-IMAGE: url(http://interval.cz/__services/icons/arrow.png)
}
#press-box A {
	TEXT-DECORATION: none
}
#press-box A:active {
	TEXT-DECORATION: underline
}
#press-box A:hover {
	TEXT-DECORATION: underline
}
#press-box UL A {
	COLOR: #000000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#press-box UL A:active {
	COLOR: #000000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
#press-box UL A:hover {
	COLOR: #000000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
#article {
	MARGIN: 0px 10px 10px
}
#article ACRONYM {
	BORDER-BOTTOM: #3366cc 1px dashed
}
#article BLOCKQUOTE {
	FONT-STYLE: italic
}
#article Q {
	FONT-STYLE: italic
}
#article BR {
	
}
#article CITE {
	FONT-STYLE: italic
}
#article CITE.author {
	FONT-STYLE: italic
}
#article DIV.image {
	MARGIN-TOP: 1.5em; MARGIN-BOTTOM: 1.5em; TEXT-ALIGN: center
}
#article DIV.definition {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em
}
#article DIV.sample {
	BORDER-RIGHT: #3366cc 1px dashed; PADDING-RIGHT: 0.25em; BORDER-TOP: #3366cc 1px dashed; PADDING-LEFT: 0.25em; PADDING-BOTTOM: 0.25em; MARGIN: 1em; BORDER-LEFT: #3366cc 1px dashed; COLOR: #000000; PADDING-TOP: 0.25em; BORDER-BOTTOM: #3366cc 1px dashed; FONT-FAMILY: monospace; BACKGROUND-COLOR: #ffffcc; TEXT-ALIGN: left
}
#article EM {
	
}
#article H2 {
	COLOR: #3366cc; BACKGROUND-COLOR: transparent
}
#article H3 {
	MARGIN-TOP: 2em; FONT-SIZE: 1.25em; COLOR: #3366cc; BACKGROUND-COLOR: transparent
}
#article H4 {
	MARGIN-TOP: 2em; FONT-SIZE: 1em; COLOR: #3366cc; BACKGROUND-COLOR: transparent
}
#article HR {
	
}
#article IMG {
	
}
#article KBD.mouse {
	BORDER-RIGHT: #3366cc 1px dotted; PADDING-RIGHT: 1px; BORDER-TOP: #3366cc 1px dotted; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #3366cc 1px dotted; PADDING-TOP: 1px; BORDER-BOTTOM: #3366cc 1px dotted
}
#article KBD.board {
	
}
#article KBD.text {
	
}
#article P {
	MARGIN-TOP: 0.75em; MARGIN-BOTTOM: 0.75em; TEXT-INDENT: 1em; TEXT-ALIGN: justify
}
#article P.noindent {
	TEXT-INDENT: 0px
}
#article P.prepend {
	
}
#article P.question {
	FONT-WEIGHT: bold
}
#article P.answer {
	
}
#article SAMP {
	BORDER-RIGHT: #3366cc 0px dashed; PADDING-RIGHT: 1px; BORDER-TOP: #3366cc 0px dashed; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #3366cc 0px dashed; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #3366cc 0px dashed; BACKGROUND-COLOR: #ffffcc
}
#article SPAN.comment {
	FONT-SIZE: 0.9em
}
#article .sample SPAN.comment {
	COLOR: #666666; BACKGROUND-COLOR: transparent
}
#article SPAN.note-author {
	COLOR: #666666; FONT-STYLE: italic; BACKGROUND-COLOR: transparent
}
#article SPAN.annex {
	
}
#article STRONG {
	
}
#article SUB {
	
}
#article SUP {
	
}
#article DIV.list {
	MARGIN-TOP: 1.5em; MARGIN-BOTTOM: 1.5em
}
#article UL {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0em
}
#article OL {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0em
}
#article LI {
	
}
#article DL {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0em
}
#article DT {
	MARGIN-TOP: 0.5em; FONT-WEIGHT: bold
}
#article DD {
	TEXT-ALIGN: justify
}
#article DIV.table {
	MARGIN-TOP: 1.5em; MARGIN-BOTTOM: 1.5em; TEXT-ALIGN: center
}
#article CAPTION {
	FONT-WEIGHT: bold; TEXT-ALIGN: left
}
#article TABLE {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; MARGIN-LEFT: auto; BORDER-LEFT: #333333 1px solid; MARGIN-RIGHT: auto; BORDER-BOTTOM: #333333 1px solid; TEXT-ALIGN: left
}
#article THEAD {
	COLOR: #000000; BACKGROUND-COLOR: #cccccc
}
#article THEAD.td {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #333333 1px solid; PADDING-LEFT: 0.2em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.2em; VERTICAL-ALIGN: top; BORDER-LEFT: #333333 1px solid; COLOR: #000000; PADDING-TOP: 0.2em; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: left
}
#article TFOOT {
	COLOR: #000000; BACKGROUND-COLOR: #cccccc
}
#article TBODY {
	
}
#article TH {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #333333 1px solid; PADDING-LEFT: 0.2em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.2em; VERTICAL-ALIGN: top; BORDER-LEFT: #333333 1px solid; COLOR: #000000; PADDING-TOP: 0.2em; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: left
}
#article TD {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #333333 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; VERTICAL-ALIGN: top; BORDER-LEFT: #333333 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #333333 1px solid
}
#article TD.extra {
	COLOR: #000000; BACKGROUND-COLOR: #ffffcc
}
#article TR {
	
}
#article SPAN.note-redactor {
	FONT-WEIGHT: bold; COLOR: #666666; FONT-STYLE: italic; BACKGROUND-COLOR: transparent
}
#article DIV.refer {
	CLEAR: both; BORDER-TOP: #3366cc 1px solid; MARGIN-TOP: 1em
}
#article DIV.refer H3 {
	
}
#article DIV.refer DIV {
	MARGIN-TOP: 1em
}
#article-foot {
	CLEAR: both; BORDER-TOP: #3366cc 1px solid; MARGIN-TOP: 2em; MARGIN-BOTTOM: 2em; PADDING-TOP: 1em
}
#article-author {
	MARGIN-TOP: 1em; FLOAT: right; TEXT-ALIGN: right
}
#article-about-author {
	TEXT-ALIGN: right
}
#article-rating {
	FLOAT: left; WIDTH: 45%
}
#article-operation {
	FLOAT: right; WIDTH: 45%; TEXT-ALIGN: right
}
#article-operation DIV {
	TEXT-ALIGN: right
}
.article-rating-imagebar {
	MARGIN-TOP: 0.5em; MARGIN-BOTTOM: 0.5em
}
#critics-rating {
	TEXT-ALIGN: center
}
#critics-rating-boxes {
	MARGIN: auto; WIDTH: 75%
}
.critics-rating-box {
	MARGIN-TOP: 1.5em; MARGIN-BOTTOM: 1.5em
}
.critics-rating-box-left {
	FLOAT: left
}
.critics-rating-box-right {
	FLOAT: right
}
#critics-rating-final {
	FONT-WEIGHT: bold; FONT-SIZE: 1.5em; COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
#article-discussion {
	CLEAR: both; MARGIN-TOP: 1em
}
#article-discussion-index {
	BORDER-TOP: #3366cc 1px solid; TEXT-ALIGN: center
}
#article-discussion-index IMG.line {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 10px; BORDER-BOTTOM: 0px
}
#article-discussion-index FORM {
	
}
#article-discussion-index FORM INPUT.submit {
	BORDER-RIGHT: #003366 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #003366 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #003366 1px solid; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #003366 1px solid; BACKGROUND-COLOR: #3366cc
}
#article-discussion-index TABLE {
	BORDER-RIGHT: #3366cc 1px solid; BORDER-TOP: #3366cc 1px solid; MARGIN-LEFT: auto; BORDER-LEFT: #3366cc 1px solid; WIDTH: 95%; COLOR: #000000; MARGIN-RIGHT: auto; BORDER-BOTTOM: #3366cc 1px solid; BACKGROUND-COLOR: #3366cc
}
#article-discussion-index TH {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; COLOR: #ffffff; BORDER-BOTTOM: #3366cc 1px solid; BACKGROUND-COLOR: #3366cc; TEXT-ALIGN: left
}
#article-discussion-index TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0.25em; BORDER-TOP: 0px; PADDING-LEFT: 0.25em; PADDING-BOTTOM: 0em; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; COLOR: #000000; PADDING-TOP: 0em; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #eeeef8; TEXT-ALIGN: left
}
#article-discussion-index TD.checkbox {
	
}
#article-discussion-index TD.date {
	WHITE-SPACE: nowrap
}
#article-discussion-index TD.sender {
	BORDER-LEFT: #3366cc 1px solid; WHITE-SPACE: nowrap
}
#article-discussion-index TD.subject {
	BORDER-LEFT: #3366cc 1px solid
}
#article-discussion-index TD#foot {
	PADDING-RIGHT: 0.25em; BORDER-TOP: #3366cc 1px solid; PADDING-LEFT: 0.25em; PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em; TEXT-ALIGN: right
}
#article-discussion-index TH A {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#article-discussion-index TH A:visited {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#article-discussion-index TH A:active {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
#article-discussion-index TH A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
#article-discussion-input-box {
	BORDER-RIGHT: #3366cc 2px solid; BORDER-TOP: #3366cc 2px solid; MARGIN-TOP: 2em; MARGIN-LEFT: auto; BORDER-LEFT: #3366cc 2px solid; WIDTH: 95%; COLOR: #000000; MARGIN-RIGHT: auto; BORDER-BOTTOM: #3366cc 2px solid; BACKGROUND-COLOR: #eeeef8
}
#article-discussion-input-box DIV {
	MARGIN-TOP: 0.3em
}
#article-discussion-input-box LABEL {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 5em; MARGIN-RIGHT: 0.5em; PADDING-TOP: 0.2em; TEXT-ALIGN: right
}
#article-discussion-input-box INPUT.text {
	BORDER-RIGHT: #3366cc 1px solid; BORDER-TOP: #3366cc 1px solid; PADDING-LEFT: 0.25em; BORDER-LEFT: #3366cc 1px solid; COLOR: #000000; BORDER-BOTTOM: #3366cc 1px solid; BACKGROUND-COLOR: #ffffff
}
#article-discussion-input-box INPUT#disc_preview {
	MARGIN-LEFT: 6em
}
#article-discussion-input-box TEXTAREA {
	BORDER-RIGHT: #3366cc 1px solid; BORDER-TOP: #3366cc 1px solid; PADDING-LEFT: 0.25em; BORDER-LEFT: #3366cc 1px solid; COLOR: #000000; BORDER-BOTTOM: #3366cc 1px solid; BACKGROUND-COLOR: #ffffff
}
#article-discussion-error P {
	FONT-WEIGHT: bold; WIDTH: 95%; COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
#article-discussion-formatting {
	MARGIN-TOP: 1em; WIDTH: 95%
}
#article-discussion-notice P {
	FONT-WEIGHT: bold; WIDTH: 95%; COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
#article-discussion-stories {
	BORDER-RIGHT: #3366cc 2px solid; BORDER-TOP: #3366cc 2px solid; MARGIN-TOP: 2em; MARGIN-BOTTOM: 2em; BORDER-LEFT: #3366cc 2px solid; WIDTH: 99%; COLOR: #000000; BORDER-BOTTOM: #3366cc 2px solid; BACKGROUND-COLOR: #eeeef8
}
#article-discussion-stories DIV.story {
	BORDER-TOP: #3366cc 1px solid; MARGIN-BOTTOM: 0.5em
}
#article-discussion-stories DIV.story-content {
	MARGIN-LEFT: 12em
}
#article-discussion-stories DIV.story-head {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.25em; COLOR: #000000; PADDING-TOP: 0.25em; BACKGROUND-COLOR: #e7e7e7
}
#article-discussion-stories DIV.story-body {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em
}
#article-discussion-stories DIV.story-answer {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em; TEXT-ALIGN: right
}
#article-discussion-stories DIV.story-head A {
	TEXT-DECORATION: none
}
#article-discussion-stories DIV.story-head A:visited {
	TEXT-DECORATION: none
}
#article-discussion-stories DIV.story-head A:active {
	TEXT-DECORATION: underline
}
#article-discussion-stories DIV.story-head A:hover {
	TEXT-DECORATION: underline
}
#article-discussion-stories DIV.story-answer A {
	TEXT-DECORATION: none
}
#article-discussion-stories DIV.story-answer A:visited {
	TEXT-DECORATION: none
}
#article-discussion-stories DIV.story-answer A:active {
	TEXT-DECORATION: underline
}
#article-discussion-stories DIV.story-answer A:hover {
	TEXT-DECORATION: underline
}
#article-discussion-stories DIV.level0 {
	MARGIN-LEFT: 0px
}
#article-discussion-stories DIV.level1 {
	MARGIN-LEFT: 2em
}
#article-discussion-stories DIV.level2 {
	MARGIN-LEFT: 4em
}
#article-discussion-stories DIV.level3 {
	MARGIN-LEFT: 6em
}
#article-discussion-stories DIV.level4 {
	MARGIN-LEFT: 8em
}
#article-discussion-stories DIV.level5 {
	MARGIN-LEFT: 10em
}
#search-extended-index {
	TEXT-ALIGN: center
}
#search-extended-input-box {
	BORDER-RIGHT: #3366cc 2px solid; BORDER-TOP: #3366cc 2px solid; MARGIN-TOP: 2em; MARGIN-LEFT: auto; BORDER-LEFT: #3366cc 2px solid; WIDTH: 95%; COLOR: #000000; MARGIN-RIGHT: auto; BORDER-BOTTOM: #3366cc 2px solid; BACKGROUND-COLOR: #eeeef8
}
#search-extended-input-box DIV {
	MARGIN-TOP: 0.3em
}
#search-extended-input-box LABEL {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 10em; MARGIN-RIGHT: 0.5em; PADDING-TOP: 0.2em; TEXT-ALIGN: right
}
#search-extended-input-box FIELDSET {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#search-extended-input-box FIELDSET LEGEND {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 9.5em; MARGIN-RIGHT: 0.5em; PADDING-TOP: 0.2em; TEXT-ALIGN: right
}
#search-extended-input-box FIELDSET LABEL {
	FONT-WEIGHT: normal
}
#articles-paging-form INPUT.text {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #999999 1px solid; COLOR: #3366cc; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 1.8em; BACKGROUND-COLOR: #ffffff
}
#search-extended-input-box-submit {
	MARGIN-TOP: 1em
}
#search-extended-input-box-submit INPUT.submit {
	BORDER-RIGHT: #003366 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #003366 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #003366 1px solid; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #003366 1px solid; BACKGROUND-COLOR: #3366cc
}
#search-extended-input-box-submit INPUT#send {
	MARGIN-LEFT: 11em
}
#article .redaction-position {
	COLOR: #ffffff; BACKGROUND-COLOR: #3366cc
}
#article .redaction-position H3 {
	MARGIN-LEFT: 0.5em; COLOR: #ffffff; BACKGROUND-COLOR: transparent
}
#page-left {
	OVERFLOW: hidden
}
#page-right {
	OVERFLOW: hidden
}
