body {
  background: #fff url(../../obr/nc/body_nc.png) repeat-x center top;
  font: 11px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #727272;
}

#obal_layout,
#obal_layout #zahlavi,
#obal_layout #obal_sekce,
#obal_layout #zapati {
  width: 850px;
}

#obal_layout {
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

#obal_layout #obal_sekce {
  height: 530px;
  margin: 0 auto;
  padding-bottom: 90px;
  background: url(../../obr/nc/obsah_nc.png) no-repeat 0 121px;
}

/* zapati */
#obal_layout #zapati {
  height: 70px;
  padding-top: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#zapati p {
  margin-bottom: 20px;
  font-size: 9px;
  text-align: center;
}

#zapati p em {
  font-style: normal;
  text-decoration: underline;
}

#zapati #vygenerovano {
  display: none;
}/* /zapati */

/* Fugess (Martin) */
