body {
  background-color: silver;
}

h1 {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 10px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

p {
  background-color: white;
  color: black;
  border-color: black;
  border-width: 6px;
  border-style: double;
  padding: 5px;

}

