* {margin:0;padding:0}
html, body {text-align:center;background:#000000;color:white}
body {padding:1px;font:75%/160% Arial, Verdana, Sans Serif;background:#000000;color:white}
ul {margin:0;border:0;padding:0;list-style:none}

#page {text-align:left;margin:0 auto;width:1000px;background:#000000}
#page-box {text-align:left;width:100%}
#header {position:relative;width:1000px;background:url('/img/big_hacker6.jpg') repeat-y}
#header-box {padding-top:120px;padding-bottom:20px;background:url('/img/spacer.gif') top right no-repeat}
#header a img {border:0;position:absolute;top:27px;left:38px}

#header ul {margin:0;border:0;padding:0;list-style:none}
#header .menu {margin:0 10px;border:2px solid #999999;padding-bottom:2px;background:#000;color:#fff}
#header .menu-box {position:relative;width:100%}
#header .menu ul li {float:left;border-right:1px solid #fff;}
#header .menu ul li a {display:block;padding:5px;padding-right:16px;padding-left:15px}
#header .menu ul li a {background:url('/img/arrow-green.gif') right no-repeat;color:#fff}
#header .menu ul li a:hover {border:0;background:#68ff3a url('/img/arrow-white.gif') right no-repeat;color:#1f2235;}
#header .menu ul li.active a {font-weight:bold;color:#68ff3a}
#header .menu ul li.active a:hover {font-weight:bold;color:#68ff3a;background:#000 url('/img/arrow-green.gif') right no-repeat;}

#header .menu form {font-size:100%;position:absolute;top:0;right:0;display:inline;margin:0;border:0;padding:4px 5px}
#header .menu form fieldset {display:inline;margin:0;border:0;padding:0}
#header .menu form fieldset label {color:#d2d9f3;font-weight:bold}
#header .menu form fieldset input {vertical-align:middle;}

#header a {color:#fff;text-decoration :none;}
#header a:hover {color:#68ff3a;text-decoration :underline;}

#left-panel {width:168px;color:#fff}
#left-panel-box {padding:0 2px 0 15px}
#left-panel ul {width:100%;text-transform:uppercase}
#left-panel ul.panel {text-transform:uppercase;margin:0;border:0;padding:0;list-style:none}
#left-panel ul.panel li {clear:both;margin:0;border:0;padding:0;list-style:none}
#left-panel ul.panel li strong {float:left;display:block;}
#left-panel ul.panel li a {display:block;padding:0px 0 2px 15px;background:url('/img/arrow-green.gif') left no-repeat}

#left-panel ul.panel-red li a {display:block;padding:0px 0 2px 15px;background:url('/img/arrow-red.gif') left no-repeat}
#left-panel ul.panel-red-small li a {display:block;padding:0px 0 2px 15px;background:url('/img/arrow-red.gif') left no-repeat}

#left-panel a {color:#fff;text-decoration :none;}
#left-panel a:hover {color:#68ff3a;text-decoration :underline;}

#left-panel ul.news li {padding:0 5px 0em 5px}
#left-panel h2 {margin:1em 0;padding:0 5px 0 15px;font-size:120%;color:#fff;border:2px solid #999999;background:#000}
#left-panel h3 {font-size:100%:auto;padding:1 0em;margin:1px}

#left-panel .poll h3 {font-size:100%;padding:1 0em;margin:1px}
#left-panel ul li a {padding:5px 0 5px 15px;background:url('/img/arrow-white.gif') left no-repeat}
#left-panel .poll ul {width:auto;padding:1px 5px;text-transform:none;border:2px dotted #999999}
#left-panel .poll ul a {font-weight:bold}
#left-panel .poll ul strong{text-align:right;margin:2px;padding:1px 1px;background:#999999;display:block}
#left-panel .poll ul img {padding:1px 2px;}


#right-panel ul li a {padding:5px 0 5px 15px;background:url('/img/arrow-white.gif') left no-repeat}
#right-panel a {color:#fff;text-decoration :none;}
#right-panel a:hover {color:#68ff3a;text-decoration :underline;}
/*#right-panel .rpoll {list-style:none}*/
#right-panel .rpoll h3 {font-size:100%;padding:1 0em;margin:1px}
#right-panel .rpoll ul {width:auto;padding:1px 5px;list-style:none;text-transform:none;list-style:none}
#right-panel .rpoll ul a {font-weight:bold}
#right-panel .rpoll ul strong{text-align:right;margin:2px;padding:1px 1px;background:#999999;display:block;border:2px dotted #000000}
#right-panel .rpoll ul img {padding:1px 2px;}


#right-panel {width:300px;color:#fff}
#right-panel-box {padding:0 15px}
#right-panel h2 {margin:1em 0;padding:0 5px 0 15px;font-size:120%;color:black;border:2px solid white;background:#999999}
#right-panel .banner {display:block;margin:5px;padding:5px;background:#999999;color:#68ff3a;font-weight:bold}
#right-panel .banner img {display:block;border:0}

#text  {width:700px}

#content  {width:520px}
#content-box  {border-left:1px dashed #999999;border-right:1px dashed #999999;padding:10px;text-align:left}
#content-box  hr {border:1px dashed #999999}
#content h1 {line-height:160%}
#content-box h2 {clear:both;margin:2px;padding:0;line-height:160%;display:inline;font-size:140%;}
#content-box h2.block {display:block}
#content h3.title {margin:5px 2px;border:2px solid #999999;padding:5px 10px;text-align:left;font-size:100%;background:#000;color:#eee}

#content .news {margin:2px 2px;padding:2px 5px;font-weight:bold;background:red}
#content .news a {color:#fff;text-decoration:none}
#content .navigation {clear:both;margin:2px 2px;border:2px solid #999999;padding:2px 5px;display:block;background:#000;color:#fff}
#content .navigation a {color:#fff;}
#content .navigation a:hover {color:#68ff3a}
#content a {color:#68ff3a;text-decoration :none;}
#content a:hover {color:#68ff3a;text-decoration :underline;}
#content p {padding-top:.5em;}
#content hr {margin:.5em 0;}
#content ol {padding:1em 2em}

#content .sub {width:100%;}
#content .sub-news-box {width:48%;}
#content img {padding:0px 0px;margin:2px 4px;border:2px solid #ffffff}
#content img.nob {padding:0px 0px;margin:2px 4px;border:0px solid #ffffff}
#content .gallery {text-align:center}
#content .vertical {width:165px}
#content .gallery h3 {margin:5px 2px;border:2px solid #999999;padding:5px 10px;text-align:left;font-size:100%;background:#000;color:#eee}
#content form, .LB_content form {}
.LB_content form {margin-top:0px}
#content form fieldset, .LB_content form fieldset {margin:1em;border:1px solid #999999;padding:1em}
#content form legend, .LB_content form legend {background:#999999;border:0;border-top:6px solid #fff;padding:5px}
#content form legend a, .LB_content form legend a {color:#fff}
#content form label, .LB_content form label {color:#68ff3a;font-weight:bold}

#content form label.name, .LB_content form label.name {float:left;width:60px;display:block}
#content form label.email, .LB_content form label.email {float:left;width:60px;display:block}
#content form label.title, .LB_content form label.title {clear:both;width:100%;display:block}
#content form input.text, .LB_content form input.text {width:200px}
#content form input.title, .LB_content form input.title  {clear:both;width:100%}
#content form input {color:white;border: 2px solid #999999;background-color:black;font-size:small;font-weight:bold;} /* button comm */
#content form textarea, .LB_content form textarea  {color:white;clear:both;width:100%;background-color:black;font-size:large;font-weight:bold}
#content form p, .LB_content form p {clear:both;padding:5px 10px}
#content .listing {margin:5px 2px;border:2px solid #999999;padding:5px 10px;text-align:left;font-size:100%;background:#000;color:#eee}

#footer {position:relative;background:#999999;margin:20px 0;width:100%}
#footer-box {padding:10px 25px}
#footer-box p {position:relative;margin:-25px 0 0 0;border:2px solid #999999;padding:10px;background:#000;text-align:center}

/*#footer-box a {color:#68ff3a;font-weight:bold}*/
#footer-box a {color:#fff;font-weight:bold;text-decoration :none;}
#footer-box a:hover {color:#68ff3a;text-decoration :underline;}




#nav li { /* all list items */
	float: left;
	width: 10em; /* width needed or else Opera goes nuts */
}

#nav li ul { /* second-level lists */
	position: absolute;
	background: orange;
	width: 10em;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

#nav li:hover ul, #nav li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

 p.banner_border img {border:2px #999999 solid}
/* p.banner_border img {border:2px #68ff3a;border-style:dotted} */
/* p.banner_border img {border:2px black;border-style:dotted} */

.date {display:block;text-transform:lowercase}
.cleaner {clear:both;height:1px;margin:-1px 0 0 0;padding:0;font-size:1px;line-height:1px;visibility:hidden}
.clear {clear:both}
.right {float:right}
.left {float:left}
.nowrap {white-space:nowrap}
.nobold {font-weight:nomal}
.hidden {display:none}
.textl {text-align:left}
.textr {text-align:right}
.textc {text-align:center}



/* --- VOVKAS work menu styles --- */
/* level 0 inner */
.m0l0iout {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	padding: 4px;
	/* font-size:small; */
	/* font-weight:bold ; */
	color: #68ff3a; /* green */
}
.m0l0iover {
	font: 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	padding: 4px;
	color: #000000; /* ok */
}

/* level 0 outer */
.m0l0oout {
	text-decoration : none;
	/* border : 1px solid #FFFFFF; */
	/* background: #4682B4; */
	/* background: #000000; */	/* Background when no mouse over top menu box */
}
.m0l0oover {
	text-decoration : none;
	border : 1px solid #FFFFFF;
	background: #68ff3a; /* zelena*/
}

/* level 1 inner */
.m0l1iout {
	font: 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 4px;
	color: #000000;
}
.m0l1iover {
	font: bold 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding: 4px;
	color: #000000;
}

/* level 1 outer */
.m0l1oout {
	text-decoration : none;
	border : 1px solid #FFFFFF;
	background: #46B446;
	filter: alpha(opacity=85);
}
.m0l1oover {
	text-decoration : none;
	border : 1px solid #FFFFFF;
	background: #5AE55A;
}

/* level 2 inner */
.m0l2iover {
	font: 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding: 4px;
	color: #000000;
}

/* level 2 outer */
.m0l2oout {
	text-decoration : none;
	border : 1px solid #FFFFFF;
	background: #B44646;
}
.m0l2oover {
	text-decoration : none;
	border : 1px solid #FFFFFF;
	background: #E55A5A;
}

/* VOVKA BUTTONS */

input.text1{
	color: #ffffff; /* bila */
	border: 1px solid #68ff3a; /* zelena*/
	background-color:#000000;
	font-size:small;
	font-weight:bold;
}


input.button1{
	color:#68ff3a;
	border: 1px solid black;  /* #68ff3a; */
	background-color:#000000;
	font-size:small;
	font-weight:bold;
}
select.select1{
	color:#68ff3a;
	background-color:#000000;
	font-size:small;
	font-weight:bold;
	border-color: #68ff3a;
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
}

select.select1 option{
	color:#68ff3a;
	border: 1px solid black; /* #68ff3a; */
	background-color:#000000;
	font-size:small;
	font-weight:bold;
}


.green{ color:#68ff3a; }
.normal{ font-weight: normal; } 
p.author { text-align: right; }
a.nolink { text-decoration: none; }
.tools a { text-decoration: none; }
.tools img { border: 0; position: relative; top: 4px; }
#rating img { border: 0; position: relative; top: 4px; }