/* Layout Stylesheet */ 

body{
	margin: 0;
	padding: 0;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	line-height: 170%;
	color: #333333;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #EEEEE7;
	background-image: none;
 } 

#outer{
	width: 810px;
	margin: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
} 
 
#hdr{
	color:#333333;
	height: 28px;
	padding:0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0;
 }

 #top{
 background:#FFFFFF; 
 width: 805px; 
 
} 

#navigation {
    float: right;
    width: 420px;
	}

#logo 
{
	float: left;
	margin: 10px 10px 0px 8px;
}
	 

#content{
 background: #FFFFFF; 
 margin: 0px 0px 0px 0px;
 background-image: url(../images/shadow.gif);
 background-repeat: repeat-y; 
 background-position: top right;
 }
 

#lh-col{
 float: left;
 width: 200px;
 margin: 0px;
 padding: 10px 0px 0 12px;  
 clear: both;  
 }
 
#header{
	height: 153px;
	padding: 0px;
	background-repeat: no-repeat;
	background-position: left top;
	text-align: right;
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 20px;
	margin-left: 0px;
	background-image: none;
 }

 #header_diensten{
	height: 100px;
	padding: 0px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: left top;
	text-align: right;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 8px;
	margin-left: 12px;
 }
 
 #header_portfolio{
	height: 100px;
	padding: 0px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: left top;
	text-align: right;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 8px;
	margin-left: 12px;
 }
 
 #header_profiel{
	height: 100px;
	padding: 0px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: left top;
	text-align: right;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 8px;
	margin-left: 12px;
 }
 
 #header_contact{
	height: 100px;
	padding: 0px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: left top;
	text-align: right;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 8px;
	margin-left: 12px;
 }
 
 #header_weblog{
	height: 100px;
	padding: 0px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: left top;
	text-align: right;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 8px;
	margin-left: 12px;
 }

#core_business {
 float: left;
 margin: 152px 0px 0px 0px;    
    
} 
    
#c-col{
	position: relative;
	width: 563px;
	background: #FFF;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 217px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 1px;
	padding-left: 10px;
	height: auto;
 }
 
#bottom{
 margin: 0 0 0 0;
 height: 25px;
 background-image: url(../images/bottom.gif);
 background-repeat: no-repeat; 
 background-position: top left;
 clear: both;
 }
 
#ftr{
 background: #EEEEE7; 
 color:#555;
 margin:0 0 5px 0;
 padding:2px 10px 0px 10px;
 text-align: left; 
 font-size: 11px;
 }
 
/* { border: 1px solid #F00; } */
