/* Presentation Stylesheet */

a:link { color: #DA0989; background: transparent; }
a:visited { color: #DA0989; background: transparent; }
a:hover { color: #006699; background: transparent; }
a:active { color: #DA0989; background: transparent; }

/* Headers */

h1 { padding: 0;  margin: 10px 0 10px 0; font-family: "Trebuchet MS", sans-serif; font-weight: bold; font-size: 21px; color: #DA0989; }
h1 span { display: none; }

h1#title_home {
	width: 500px;
	height: 31px;
	background-image: none;
	background-repeat: no-repeat;
} 
h1#title_watdoenwe {
	width: 230px;
	height: 23px;
	background-image: none;
	background-repeat: no-repeat;
} 
h1#title_portfolio {
	width: 160px;
	height: 25px;
	background-image: url(file:///S|/images/titles/title_fotogalerie.gif);
	background-repeat: no-repeat;
} 
h1#title_wiezijnwe {
	width: 342px;
	height: 29px;
	background-image: none;
	background-repeat: no-repeat;
} 
h1#title_contact {
	width: 400px;
	height: 23px;
	background-image: none;
	background-repeat: no-repeat;
} 
h1#title_nieuws { width: 88px; height: 23px; background: url(../images/titles/title_nieuws.gif) no-repeat; } 
h1#title_weblog {
	width: 88px;
	height: 29px;
	background-image: none;
	background-repeat: no-repeat;
} 
h1#title_colofon {
	width: 95px;
	height: 25px;
	background-image: none;
	background-repeat: no-repeat;
} 
h1#title_sitemap {
	width: 101px;
	height: 30px;
	background-image: none;
	background-repeat: no-repeat;
} 

h1#title_websiteontwikkeling { width: 268px; height: 30px; background: url(../images/titles/title_websiteontwikkeling.gif) no-repeat; } 
h1#title_contentmanagement { width: 268px; height: 30px; background: url(../images/titles/title_contentmanagement.gif) no-repeat; } 
h1#title_internetmarketing { width: 240px; height: 30px; background: url(../images/titles/title_internetmarketing.gif) no-repeat; } 

h1#title_studentplus { width: 114px; height: 25px; background: url(../images/portfolio/student+/title_studentplus.gif) no-repeat; } 
h1#title_asice { width: 117px; height: 24px; background: url(../images/portfolio/asice/title_asice.gif) no-repeat; } 
h1#title_ing { width: 444px; height: 26px; background: url(../images/portfolio/ing/title_ING.gif) no-repeat; } 
h1#title_friespopnet { width: 158px; height: 30px; background: url(../images/portfolio/friespopnet/title_friespopnet.gif) no-repeat; } 
h1#title_uwbrein { width: 115px; height: 23px; background: url(../images/portfolio/uwbrein/title_uwbrein.gif) no-repeat; } 
h1#title_opnsalesclub { width: 169px; height: 24px; background: url(../images/portfolio/opnsalesclub/title_opnsalesclub.gif) no-repeat; } 
h1#title_bead-it { width: 89px; height: 22px; background: url(../images/portfolio/bead-it/title_bead-it.gif) no-repeat; } 
h1#title_bensecurity { width: 157px; height: 29px; background: url(../images/portfolio/bensecurity/title_bensecurity.gif) no-repeat; } 
h1#title_yourhealthalmere { width: 256px; height: 25px; background: url(../images/portfolio/yourhealthalmere/title_yourhealthalmere.gif) no-repeat; } 

h2 { padding: 0;  margin: 0px 0 5px 0px; font-family: "Trebuchet MS", sans-serif; font-weight: bold; font-size: 15px; color: #707070; }
h2.inline { margin: 25px 0 5px 0px; }
h2 span { display: none; }

h2#subtitle_snelresultaatinzoekmachines {
	width: 234px;
	height: 19px;
	background-image: none;
	background-repeat: no-repeat;
} 
h2#subtitle_gebruiksvriendelijkentoegankelijk {
	width: 268px;
	height: 19px;
	background-image: none;
	background-repeat: no-repeat;
} 
h2#subtitle_diensten {
	width: 130px;
	height: 15px;
	background-image: none;
	background-repeat: no-repeat;
} 
h2#subtitle_wijhebbengewerktvoor { width: 187px; height: 19px; background: url(../images/titles/subtitle_wijhebbengewerktvoor.gif) no-repeat; } 
h2#subtitle_contactopnemen { width: 131px; height: 19px; background: url(../images/titles/subtitle_contactopnemen.gif) no-repeat; } 
h2#subtitle_offerte { width: 135px; height: 19px; background: url(../images/titles/subtitle_offerte.gif) no-repeat; } 
h2#subtitle_websiteontwikkelingopmaat { width: 231px; height: 19px; background: url(../images/titles/subtitle_websiteontwikkelingopmaat.gif) no-repeat; } 
h2#subtitle_websiteontwikkeling { width: 161px; height: 20px; background: url(../images/titles/subtitle_websiteontwikkeling.gif) no-repeat; } 
h2#subtitle_contentmanagement { width: 161px; height: 20px; background: url(../images/titles/subtitle_contentmanagement.gif) no-repeat; } 
h2#subtitle_internetmarketing { width: 144px; height: 20px; background: url(../images/titles/subtitle_internetmarketing.gif) no-repeat; } 
h2#subtitle_endeprijs {
	width: 89px;
	height: 21px;
	background-image: none;
	background-repeat: no-repeat;
} 
h2#subtitle_visie {
	width: 37px;
	height: 18px;
	background-image: none;
	background-repeat: no-repeat;
} 
h2#subtitle_hetteam {
	width: 69px;
	height: 19px;
	background-image: none;
	background-repeat: no-repeat;
} 
h2#subtitle_onzewerkwijze {
	width: 130px;
	height: 19px;
	background-image: none;
	background-repeat: no-repeat;
} 

h2#subtitle_websitesopmaat { width: 132px; height: 19px; background: url(../images/titles/subtitle_websitesopmaat.gif) no-repeat; } 
h2#subtitle_onlineapplicaties { width: 134px; height: 20px; background: url(../images/titles/subtitle_onlineapplicaties.gif) no-repeat; } 
h2#subtitle_onderhoudenbeheer { width: 163px; height: 18px; background: url(../images/titles/subtitle_onderhoudenbeheer.gif) no-repeat; } 
h2#subtitle_tndcms {
	width: 130px;
	height: 15px;
	background-image: none;
	background-repeat: no-repeat;
} 
h2#subtitle_zoekmachineoptimalisatie { width: 203px; height: 21px; background: url(../images/titles/subtitle_zoekmachineoptimalisatie.gif) no-repeat; } 
h2#subtitle_weblog { width: 53px; height: 19px; background: url(../images/titles/subtitle_weblog.gif) no-repeat; } 

h3 { padding: 0;  margin: 0px 0 5px 0px; }
h3 span { display: none; }

h3#subtitle_nieuws { width: 53px; height: 15px; background: url(../images/titles/subtitle_nieuws.gif) no-repeat; } 
h3#subtitle_spotlight {
	width: 69px;
	height: 19px;
	background-image: none;
	background-repeat: no-repeat;
} 
h3#subtitle_belme {
	width: 70px;
	height: 15px;
	background-image: none;
	background-repeat: no-repeat;
} 
h3#subtitle_offerte { width: 135px; height: 19px; background: url(../images/titles/subtitle_offerte.gif) no-repeat; } 
h3#subtitle_diensten {
	width: 66px;
	height: 19px;
	background-image: none;
	background-repeat: no-repeat;
} 
h3#subtitle_contactgegevens {
	width: 124px;
	height: 19px;
	background-image: none;
	background-repeat: no-repeat;
} 
h3#subtitle_contactopnemen {
	width: 131px;
	height: 19px;
	background-image: none;
	background-repeat: no-repeat;
} 
h3#subtitle_hosting {
	width: 170px;
	height: 19px;
	background-image: none;
	background-repeat: no-repeat;
} 
h3#subtitle_klantenlijst {
	width: 87px;
	height: 19px;
	background-image: none;
	background-repeat: no-repeat;
} 
h3#subtitle_weblogcats {
	width: 89px;
	height: 19px;
	background-image: none;
	background-repeat: no-repeat;
} 
h3#subtitle_weblogarchief {
	width: 56px;
	height: 15px;
	background-image: none;
	background-repeat: no-repeat;
} 
h3#subtitle_blogroll { width: 58px; height: 19px; background: url(../images/titles/subtitle_blogroll.gif) no-repeat; } 
h3#subtitle_laatste_blogs { width: 97px; height: 19px; background: url(../images/titles/subtitle_laatste blogs.gif) no-repeat; } 

h4 { color: #707070; font-family: "Trebuchet MS", sans-serif; font-weight: bold; font-size: 15px; text-align: left; padding: 0 0 0 0; margin: 25px 0 10px 0; }
h4.comments { color: #707070; font-family: "Trebuchet MS", sans-serif; font-weight: bold; font-size: 15px; text-align: left; padding: 0 0 0 0; margin: 5px 0 10px 0; }

h5 { font: 11px Verdana, Arial, Helvetica, sans-serif; color: #aaa; margin: 0 0 0 0; padding: 0 0 0 0; line-height: 170%; }


/* NAVIGATION */

	#navigation ul {
	width: auto; 
	height: 28px;
	margin: 0;
	padding: 0;
	list-style: none outside;
	}

	#navigation li a span{
	display:none;
	}

	#navigation li a {
	height: 28px;
	color: #fff;
	display: block;
	float: left;
	margin: 0px;
	}

	li#home {
	float: left; margin: 0;  display: block;
	background-image: url("../images/menu/menu1-2.gif");
	background-repeat: no-repeat; background-position:top
	}
	li#home a{
	width: 84px;
	background-image: url("../images/menu/menu1-1.gif");
	background-repeat: no-repeat; background-position:top
	}
	li#home a:hover {
	background-image: url("menu2-1.gif");
	}

	li#diensten {
	float: left; margin: 0; display: block;
	background-image: url("../images/menu/menu2-2.gif");
	background-repeat: no-repeat; background-position:top
	}
	li#diensten a{
	width: 84px;
	background-image: url("../images/menu/menu2-1.gif");
	background-repeat: no-repeat; background-position:top
	}
	li#diensten a:hover {
	background-image: url("menu2-2.gif");
	}

	li#portfolio {
	float: left; margin: 0;  display: block;
	background-image: url("../images/menu/menu3-2.gif");
	background-repeat: no-repeat; background-position:top
	}
	li#portfolio a{
	width: 84px;
	background-image: url("../images/menu/menu3-1.gif");
	background-repeat: no-repeat; background-position:top
	}
	li#portfolio a:hover {
	background-image: url("menu3-1.gif");
	}

	li#profiel {
	float: left; margin: 0;  display: block;
	background-image: url("../images/menu/menu4-2.gif");
	background-repeat: no-repeat; background-position:top
	}
	li#profiel a{
	width: 84px;
	background-image: url("../images/menu/menu4-1.gif");
	background-repeat: no-repeat; background-position:top
	}
	li#profiel a:hover {
	background-image: url("menu4-1.gif");
	}

	li#contact {
	float: left; margin: 0;  display: block;
	background-image: url("../images/menu/menu5-2.gif");
	background-repeat: no-repeat; background-position:top
	}
	li#contact a{
	width: 84px;
	background-image: url("../images/menu/menu5-1.gif");
	background-repeat: no-repeat; background-position:top
	}
	li#contact a:hover {
	background-image: url("menu5-1.gif");
	}

	li#novy {
	float: left; margin: 0;  display: block;
	background-image: url("../images/menu/menu6-2.gif");
	background-repeat: no-repeat; background-position:top
	}
	li#novy a{
	width: 84px;
	background-image: url("../images/menu/menu6-1.gif");
	background-repeat: no-repeat; background-position:top
	}
	li#novy a:hover {
	background-image: url("menu6-1.gif");
	}
/*------------------------------*/
/*			 Boxes				*/
/*------------------------------*/

/* set millions of background images */
.rbroundbox { background: url(../images/boxes/nt.gif) repeat; }

/*
.rbroundbox_clear { background: url(../images/boxes/nt.gif) repeat; clear: both; }
aangepast door joni ivmproblemen in ff
*/
.rbroundbox_clear { background: url(../images/boxes/nt.gif) repeat; }

.rbtop div { background: url(../images/boxes/tl.gif) no-repeat top left; }
.rbtop { background: url(../images/boxes/tr.gif) no-repeat top right; }
.rbbot div { background: url(../images/boxes/bl.gif) no-repeat bottom left; }
.rbbot { background: url(../images/boxes/br.gif) no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.rbtop div, .rbtop, .rbbot div, .rbbot {
width: 100%;
height: 7px;
}
.rbcontent { margin: 0 10px; }
.rbroundbox { width: 100%; margin: 0 0 0 0; }

.weblog {
	height: 67px;
	margin: 0 0 0 -10px;
	padding: 110px 8px 0px 17px;
	background-image: url(file:///S|/images/boxes/box_weblog.jpg);
	background-repeat: no-repeat;
}
.weblog p { margin: 0px 0px 0px 3px; } 

.rbcontent_news { margin: 0 9px; }
.news_img {	color: #000; background-color: #fff; padding: 4px; margin: 8px 0 5px 0px; border: 1px solid #CDCFCD; display: block; } 

/*------------------------------*/
/*			/Boxes				*/
/*------------------------------*/


/* CONTENT */

.content_block {
	width: 475px;
	border-bottom: 1px dotted #D9088A;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
 	margin: 5px 0 5px 0;
}

/*
#col { float:left; width:563px; margin:8px 0 8px 0; padding:0; }
aangepast door joni ivmproblemen in ff
*/
#col {
	width:563px;
	padding:0;
	overflow: hidden;
	height: auto;
	margin-top: 8px;
	margin-right: 0;
	margin-bottom: 8px;
	margin-left: 0;
}

.coltext { float:left; margin:0 13px 0 0; padding:0 13px 0 0; width:170px; border-right: 1px solid #CDCFCD; }
.coltext2 { float:left; margin:0; padding:0; width:160px; }
.coltext img { margin:3px 0 8px 0; display:block; }
.coltext2 img { margin:3px 0 8px 0; display:block; }

#blogblock {
	float:left;
	width:563px;
	padding:0;
	margin-top: 8px;
	margin-right: 0;
	margin-bottom: 8px;
	margin-left: 0;
}
.colblog { float:left; margin:0 13px 0 0; padding:0 13px 0 0; width:170px; border-right: 1px solid #CDCFCD; }
.colblog2 { float:left; margin:0; padding:0; width:340px; }

p {	padding: 0;	margin: 5px 5px 15px 0px; line-height: 170%;  }
.rbcontent p { margin: 5px 0px 0px 0px; } 
.rbcontent_news p { margin: 5px 0px 0px 0px; } 

br.break { clear: both; }

img {
	border: 0px solid black;
	margin: 0px;
} 
.img_right { padding: 0px;	margin: 0 0 0 10px;	}
.img_content { padding: 4px; margin: 0 6px 7px 0px; border: 1px solid #CDCFCD; }

ul { margin: 0px 0 15px 40px; padding: 0 0 0 0; list-style: outside; }
li { color: #DA0989; }
.blacktext { color:black; }
#sitemap li { color:black; }

#breadcrumb {margin:10px 2px 12px 0px; font-size:95%;background:#fff;color:#aaa;text-transform:lowercase}
#breadcrumb a {color:#aaa}
#breadcrumb a:hover {text-decoration:underline}

#keywords {font-size:95%;background:#fff;color:#aaa;text-align:center;}
#keywords a {color:#aaa;text-decoration:none;}

.dienst {
	color: #000;
	background-color: #fff;
	padding: 0px;
	margin: 0 12px 0 0;
	display: block;
	float: left;
}

div.error {
  border: 1px solid red;
  background-color : #FFCCCC;
  width: auto;
  margin: 5px 0px 5px 0px;
  padding: 15px;  
}


div.blockcontainer{
	overflow: hidden;
	margin: 0;
	padding: 0;
}

div.block_left {
	float:left;	
	width:50%; 
	margin: 5px 0px 0px 0px;	
}

div.block_right {
	float:right;
	width:50%;
	margin: 5px 0px 0px 0px;
	border-top-width: 1px;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

form { margin: 0px; }

/* PORTFOLIO */

.project_first { padding: 15px 0 3px 0; width: 500px; border-bottom: 1px solid #CDCFCD; }
.project { padding: 15px 0 3px 0; width: 500px;  border-bottom: 1px solid #CDCFCD; }
.project_last { padding: 15px 0 5px 0; width: 500px; }

.project_small {
	color: #000;
	background-color: #fff;
	padding: 4px;
	margin: 0 12px 0 0;
	border: 1px solid #CDCFCD;
	display: block;
	float: left;
}

.project_screen {
	color: #000;
	background-color: #fff;
	padding: 4px;
	margin: 0 0 18px 0;
	border: 1px solid #CDCFCD;
	display: block;
	float: left;
}

.quote { margin: 0 7px 0 3px; background: url(../images/quote.gif) no-repeat; }
.quote2 { margin: 0 3px 0 7px; background: url(../images/quote2.gif) no-repeat; }

.textgray {color: #aaa}

/* BLOG */

.blog_first { padding: 5px 0 0px 0; width: 500px; }
.blog {
	padding: 15px 0 3px 0;
	width: 500px;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: #CDCFCD;
}
.blogdate {margin: 0 0 0 0; padding: 0 0 5px 0; color: #aaa}
.blogtitle { margin: 0 0 0 0; padding: 0 0 0 0; }
.ekuddos_small { vertical-align: middle; border: 1px solid #006699;  }

.blogftr_left {
	float: left;
}

.blogftr_right {
	float: right;
	text-align: right;
	padding: 0px 0 0 0;
	margin: -10px 0 0 0;
}

/* COMMENTS */
.commentlist {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	text-align: justify;
	width: 500px;
	}

.commentlist li {
	margin: 15px 15px 3px 0px;
	padding: 5px 10px 3px 10px;
	list-style: none;
	color: #000;	
	}

.commentlist p {
	margin: 10px 5px 10px 0;
	}

#commentform p {
	margin: 5px 0;
	}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}

.commentmetadata {
	margin: 0;
	display: block;
	}

.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
	}

.alt {
	background-color: #F1EFED;
	border-top: 1px solid #CDCFCD;
	border-bottom: 1px solid #CDCFCD;	
	}
	
/* FOOTER */

.ftr_left {
	float: left;
}

.ftr_right {
	float: right;
	text-align: right;
	padding: 2px 0 0 0;
}

a.footerlink:link, a.footerlink:visited { color: #555; text-decoration: none; }

/* { border: 1px solid #F00; } */
