body,html {margin:0;padding:0}
body {font:12px "Verdana","Arial CE","Arial",sans-serif;text-align:center;
voice-family:"\"}\"";voice-family:inherit;
font-size:75%;font-family:sans-serif}
.link-print,
a:link {cursor:pointer;cursor:hand;text-decoration:underline}
hr {display:none}
img {border:none}
.first {margin-top:0 !important}
.cb {clear:both;visibility:hidden;height:1px;line-height:1px;display:block}
.next,
.bt {word-spacing:.2em}
.next a,
.bt a {word-spacing:0}
ul {margin:1em 0;padding:0 0 0 2em}
abbr[title],
acronym[title],
.help {cursor:help}
#webstats {position:absolute;visibility:hidden;top:0;right:0}
/* hlavicka s rootem */
#head {border-bottom:1px solid #000}
#head .strip-1 {height:80px;min-height:80px;position:relative;border-bottom:1px solid #CCC}
body[id] #head .strip-1 {height:auto}
#kshx {display:none}
body[id] #kshx {height:84px;width:1px;float:right}
#sefa {font-family:"Arial CE","Helvetica CE",Arial,Helvetica,sans-serif; padding: 2px 0; margin: 0 0 5px 0; font-size:1em; border-bottom: 1px solid #ccc; background-color:#EEE;min-height:21px;color:#000;_height:21px}
#sefa div {text-align: left}
#sefa a {margin: 0 8px 0 0;color:#000}
#sefa img {border: none; float: left; margin: 0 10px 0 5px}
#sefa span {display: block; margin: 1px 0 0 0;padding-top:0px;position:relative;top:3px}
#sefa sup {color:red;position:relative;left:-7px}
body[id] #head-identity {height:auto}
#head-logo,
#head-logo span {position:absolute;bottom:1px;left:20px;display:block;width:127px;height:25px;outline:0;overflow:hidden;z-index:9}
#head-logo span {top:0;left:0}
#usr-login {text-align:right}
/* hlavicka se sekcemi */
#head .strip-2 {position:relative;font-size:1em;width:100%;min-height:15px}
#head-sections ul {margin:0;padding:.3em 10px}
#head-sections li {list-style:none;display:inline;margin:0;padding:0 .4em 0 0}
#head-sections a:hover {text-decoration:none}
#usr {position:absolute;margin:0;padding:0;top:.3em;right:10px;word-spacing:.2em;text-align:right;white-space:nowrap;font-size:.9em}
#usr a {word-spacing:0}
#usr span {font-weight:bold;font-style:normal}
#usr img {vertical-align:baseline;position:relative;top:1px}
#head-not-sections {padding:.3em 0}
.page {width:980px;min-width:980px;max-width:90em;margin:0 auto;text-align:left;padding:0}
body[id] .page {width:auto}
.cont {min-height:400px;height:400px}
body[id] .cont {height:auto}
.skys .cont {width:770px;margin-right:130px;min-width:770px;position:relative}
body[id] .skys .cont {width:auto}
.side {float:right;width:27.5%;margin:0 0 .7em 0}
body[id] .side {margin-right:8px;width:27%}
.main {float:left;width:71%;padding:.7em 0 1em;position:relative}
.main-cnt, #maincontent {margin-left:.5em}
.main h2 {font-size:1.6em;padding:.1em .4em 0;margin:.7em 0 .5em;border-bottom:2px solid #666;clear:left}
.main h2 a {text-decoration:none}
.side h2 {display:none}
.side h3 {font-size:.95em;padding:.6em .3em .1em;margin:0;border-bottom:2px solid #666;text-transform:uppercase;letter-spacing:.2em}
.side h3 a {text-decoration:none}
.side h3 a:after {content:" >>";letter-spacing:-.1em}
.side .box {position:relative}
body[id] .side .box {position:static}
.side .box-cnt {padding:.4em .7em}
.side .box-cnt ul {margin:.5em 0;padding:0 0 0 20px; position: relative}
.side .box-cnt ul:first-child {margin-top:.1em}
.side .box.most ol {padding:0;margin:0; position: relative}
.side .box.most ol li {list-style-type:none;margin:.3em 0}
.side .box.most ol li small {font-size:.95em;white-space:nowrap;padding-left:.2em}
.side .box.most .opin {font-size:.95em}
.side .box.most .opin a {font-weight:bold}
.side .sbox {margin:0;padding:0 0 0 6px;
voice-family:"\"}\"";voice-family:inherit;
padding-bottom:.5em}
.side .sbox-cnt {padding:0 6px 0 0}
.side .sbox form {margin:0;padding:0 0 0 13px}
.side .sbox form div {padding:.3em 18px .2em 5px;text-align:center;min-height:25px;height:25px}
body[id] .side .sbox form div {height:auto}
.side .sbox form a {font-size:.84em;padding-left:.1em}
.side .sbox h3 {display:none}
.side .sbox .input {width:30%}
.side .sbox .submit {font-weight:bold;border:1px solid #FFF;padding-left:.1em;padding-right:.1em}
.side .sbox input {font-size:.9em}
.colophon {border:1px solid #000;border-width:1px 0 0;padding:.5em 10px}
.colophon img {float:left;margin:3px 10px 0 0}
.colophon-2 {line-height:120%}
.colophon-2 a:link,
.colophon-2 a:visited {text-decoration:underline}
.colophon-2 a:hover {text-decoration:none}
.ad {text-align:center}
.ad-ad {margin:0 auto;text-align:left}
.ad-marker {display:none}
.ad-holder-tl,
.ad-holder-tr {padding-top:8px}
.ad-holder-l {padding-left:8px}
.ad-holder-r {padding-right:8px}
.side .ad h3 {text-align:left}
.side .ad .box-cnt ul li {list-style-image:none !important;list-style-type:disc}
.ad-400x200 {width: 400px;margin: 0 auto}
/* fix odskakujiciho reklamniho boxiku 271 v IE */
#ad-training .ad-textbox {_position: relative}
#ad-training .ad-textbox div {_position: relative; _left: 8px}
#jobs .box-cnt {margin:0;padding:0}
#jobs-in {height:150px !important;padding:.4em 0 0}
#jobs ul {margin:0;padding:0 .7em;overflow:hidden;height:150px}
#jobs ul li {list-style:none;list-style-image:none !important;margin:0;padding:0 0 .3em 0}
#jobs .submit {padding:0;text-align:center}
#jobs .submit a {display:block}
#jobs .submit img {display:block;margin:0 auto;border:none}
.txts {margin:0 .75em}
.txt {margin:0 0 2em;clear:both}
.txt h3 {font-size:1.4em;margin:0 0 .2em}
.actu .txt h3 {font-size:1.2em}
.txt .info,
.txt .opin {font-size:.9em}
.txt .info span {white-space:nowrap}
.txt .opin a {font-weight:bold}
.txt p,
.txt { margin-bottom: .75em }
.txt .txt-p {margin:.4em 0 .5em}
.txt .txt-p q {font-style:italic}
.txt .txt-p q:before {content:no-open-quote}
.txt .txt-p q:after {content:no-close-quote}
.txt .txt-p .urs-minor {font-size:.8em}
.txt .txt-p .urs-false {text-decoration:line-through}
.txt .txt-p acronym,
.txt .txt-p abbr {cursor:help}
.txt .txt-p .urs-osoba {text-transform:uppercase;font-size:.9em}
.txt .txt-p code {font-family:monospace}
.txt .txt-p sup,
.txt .txt-p sub {font-size:.65em}
.txt .txt-p sup {vertical-align:super}
.txt .txt-p sub {vertical-align:sub}
.txt .txt-p img,.perex img {float: left;border:1px solid black; margin: 5px 5px 5px 0;}
.txt .txt-p a[href^="http://"],
.txt .txt-p a[href^="https://"],
.txt .txt-p a[href^="ftp://"] {background:transparent no-repeat scroll right center;padding-right:13px}
.txt .txt-p a[href^="http://i.iinfo.cz"],
.txt .txt-p a[href^="http://r.iinfo.cz"] {padding-right:0}
.main tt,
.main code,
.main kbd,
.main samp {font-size:1.34em}
#central { width: 59%; float: right }
#mside {width: 39%; float: left; margin:0;padding: 0; overflow: hidden }
#mside p, #mside .info, #mside .txt { margin: 0; padding: 0; }
#p-tutorial #side { margin-top: 5px !important }
.hidden { display: none !important }
#mside h2 {display:block;font-size:.95em;padding:.6em .3em .1em;margin:0;text-transform:uppercase;letter-spacing:.2em;background:none}
#mside h3 {font-size:1em;text-transform:none;padding:0;border:none;letter-spacing:normal;background:none}
#mside h3 a:after {content:""}
#mside h2 a:after {content:" >>"}
#mside h3 a {text-decoration:underline}
#mside {background:none}
#mside .actu {border:1px solid;padding:.5em;border-top:none;margin-bottom:1em}
#mside .oth-art {border:1px solid;padding:.5em;border-top:none;margin-bottom:1em}
#mside .blogs {border:1px solid;padding:.5em;border-top:none;margin-bottom:1em}
#mside .txt {margin-bottom:1em}
#pr-box ul:first-child {margin-top:.1em}
#pr-box ul {padding:0;margin:0}
#pr-box ul li {list-style:none;margin:.3em 0;list-style-image:none}
#tip {border:1px solid;padding:.3em .4em;margin-bottom:.5em}
.hidden {display:none}
.lastdisc {border:1px solid #ccc !important;padding:0 .5em .5em .5em;margin-bottom:1em}
.lastdisc h2, #wikibox h3 {font-size:1.2em;padding:.25em;border-bottom:1px solid #ccc !important;letter-spacing:normal;background:none;text-align:left}
.lastdisc .first {background:none}
.lastdisc h3 {font-size:1.1em;}
.lastdisc .txt, #wikibox .txt {font-size:.95em;border-bottom:1px solid #ccc;margin-bottom:.2em}
.perex, .pr-notice { width: 91% }
#wikibox { padding: .25em; border: 1px solid #ccc; margin-bottom: 8px }
#wikibox h3 { padding: .1em; margin: 0; color: #ddd; border-bottom: 0px none !important}
#wikibox .txt { border: none !important }
#wikibox li { width: 47%; float: left; margin-bottom: 5px}
.blogs .txt-p { margin-bottom: 8px }
#links-left {float:left;position:relative;margin-right:10px}
#links-right {float-right;text-align:right}
#inactive-mail {border:solid 2px red;padding:.5em;margin:1em}
/* acomware */
#lista-acomware {padding:0;height:24px;width:100%;background-image: url(http://i.iinfo.cz/s2/back-ad-lista.jpg);height: 28px;border-bottom:1px solid #4b7b92;overflow: hidden}
#lista-acomware table {margin:0;padding:0;border-collapse:collapse;border:none;background-color:transparent}
#lista-acomware td {margin:0;padding:0;border:none;background-color:transparent;font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #000000;padding-left: 4px;line-height: 12px;text-align: center;vertical-align:middle}
#tblAcomware a {font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #000000;text-decoration: none}
#tblAcomware a:hover {font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #CC0000;text-decoration: none}
/* jobpilot sekce */
#p-jobpilot .main .main-cnt #content-by {float:right;background-color:#FFF;width:210px}
#p-jobpilot .main .main-cnt #content-by h2 {margin:0;font-size:.9em;border:none;color:#000;background-color:#FFF}
#p-jobpilot .main .main-cnt #search-form {min-height:60px;_height:60px}
#p-jobpilot .main .main-cnt h2 {margin:.5em 0}
#p-jobpilot .main .main-cnt h2.rel {position:relative;top:32px}
#p-jobpilot .main .main-cnt form {float:left}
#p-jobpilot .main .main-cnt form select {font-size:.9em}
#p-jobpilot .main .main-cnt form div {margin-top:5px}
#p-jobpilot .main .main-cnt #jp-more {margin:.5em 0;text-align:right;font-weight:bold}
#p-jobpilot .main .main-cnt .box {border:1px solid #CECECE;background-color:#F2F4F8;padding:.5em}
#p-jobpilot .main .main-cnt .box h3 {margin:.5em 0}
#p-jobpilot .main .main-cnt .box .info {font-weight:bold}
#p-jobpilot .main .main-cnt .tbl {font-size:.8em;width:100%;}
#p-jobpilot .main .main-cnt .tbl td.c-date {white-space:nowrap}
#p-jobpilot #employer-logo {display:block;margin:auto}
/* naseptavac */
#suggest-list p:hover, #suggest-ext-list p:hover {cursor:pointer}
#suggest {width: 17.68em; z-index: 2000; position: absolute; font-size: .95em; font-weight: normal; border: 1px solid #000; left: 2.3em; margin-left: 32px}
* html #suggest {margin-top: 21px; top: 0.1em; width: 200px;} /* pro IE6 */
*+html #suggest {*top: 20px; *width: 200px;} /* pro IE7 */
#suggest-list p {padding: 0; margin: 1px 2px 1px 2px;}
#suggest-ext-list p {padding: 0; margin: 1px 2px 1px 2px;}
#suggest-list p.act, #suggest-ext-list p.act {cursor:pointer}
#suggest-ext {width: 17.68em; margin-left:20.4em; z-index:2000; position: absolute; font-size: .95em; font-weight: normal; border: 1px solid #000;left: 84px}
* html #suggest-ext {margin-left: 9.1em; left: 253px; margin-top: 21px; top: 0.1em; width: 200px;} /* pro IE6 */
*+html #suggest-ext {*top: 20px; *width: 200px;} /* pro IE7 */
.op-form #suggest {width: 33.8em; z-index: 2000; position: absolute; font-size: .95em; font-weight: normal; border: 1px solid #000; left: 2.9em; margin-left: 30px}
* html .op-form #suggest {margin-top: 21px; top: 0.1em; width: 393px;} /* pro IE6 */
*+html .op-form #suggest {margin-left: 33px; *top: 20px; *width: 389px;} /* pro IE7 */
body {color:#000;background:#999795}
a {background:transparent}
.link-print,
a:link {color:#C60}
a:visited {color:#A30}
.link-print:hover,
a:hover {color:#000}
a:focus {color:#C00}
a:active {color:#F90}
.side a:link {color:#000}
.side a:visited {color:#555}
.side a:hover {color:#000}
.side a:focus,
.side a:active {color:#C60}
.rev {color:#CCC}
.rev a:link {color:#EEE}
.rev a:visited {color:#CCC}
.rev a:hover {color:#F90}
.rev a:focus {color:#FFF}
.rev a:active {color:#F90}
.disabled {color:#999}
.update {color:#393}
#head {background:#575652;border-color:#000}
.sefa {color:#888}
.sefa a:link,
.sefa a:visited {color:#999}
.sefa a:hover {color:#CCC}
#head .strip-1 {border-color:#F90;background:#575652 url("http://i.iinfo.cz/r2/root.gif") no-repeat scroll 100% 0%}
#head-logo,
#head-logo span {background:#575652 url("http://i.iinfo.cz/r2/logo-m.gif") no-repeat 0% 0%;}
#head-sections,
#head-not-sections {background:#000}
#head-sections a:link,
#head-sections a:visited {color:#FFF}
#head-sections a:hover {color:#F90}
#usr {color:#FFF}
#usr-login {color:#EEE}
#usr-login a:link,#usr-login a:visited {color:#FFF}
.cont,
.main {background:#EEE}
.main h2 {color:#575652;background:#DDD;border-color:#575652}
.main h2 a:link,
.main h2 a:visited {color:#575652}
.main h2 a:hover {color:#000}
.side {background:#CCC}
.side .box .box-cnt {background: transparent url("http://i.iinfo.cz/r2/box.gif") top left repeat-x;}
.side .box h3 {color:#555;background:#EEE;border-color:#575652}
.side .box h3 :link {color:#555}
.side .box h3 :visited {color:#666}
.side .box h3 a:focus,
.side .box h3 a:hover {color:#C60}
.side .box-cnt ul li {list-style-image:url("http://i.iinfo.cz/r2/rsl.gif")}
.side .box.most ol li small {color:#666}
.side .sbox {background:#EEE url("http://i.iinfo.cz/r2/sb1.gif") no-repeat 0% 0%}
.side .sbox-cnt {background:#EEE url("http://i.iinfo.cz/r2/sb2.gif") no-repeat 100% 0%}
.side .sbox form {background:#575652 url("http://i.iinfo.cz/r2/sb3.gif") no-repeat 0% 100%}
.side .sbox form div {background:#575652 url("http://i.iinfo.cz/r2/sb4.gif") no-repeat 100% 100%}
.side .sbox .submit {color:#CCC;background:#706F69;border-color:#A8A69E #333 #333 #A8A69E}
.side .sbox .submit:hover {color:#FFF}
.colophon {color:#999;background:#575652;border-color:#000}
.colophon strong {color:#CCC}
.colophon-2 a:link,
.colophon-2 a:visited {color:#AAA}
.colophon-2 a:hover {color:#FFF}
.ad-holder-tr,
.ad-holder-tl {background:transparent url("http://i.iinfo.cz/r2/cs-admark-t.gif") no-repeat scroll 0% 0%}
.ad-holder-l {background:transparent url("http://i.iinfo.cz/r2/cs-admark-l.gif") no-repeat scroll 0% 0%}
.ad-holder-r {background:transparent url("http://i.iinfo.cz/r2/cs-admark-r.gif") no-repeat scroll 100% 0%}
.ad-holder-tr {background-position:100% 0%}
#ad-index-acts-top .box-cnt {background-color:#CCC}
.txt .info,
.main .opin {color:#666}
.txt .info a:link,
.main .opin a:link {color:#666}
.txt .info a:visited,
.main .opin a:visited {color:#777}
.txt .info a:hover,
.main .opin a:hover {color:#444}
.txt .txt-p a[href^="http://"],
.txt .txt-p a[href^="https://"],
.txt .txt-p a[href^="ftp://"] {background-image:url("http://i.iinfo.cz/r2/ext.gif")}
.txt .txt-p a[href^="http://i.iinfo.cz"],
.txt .txt-p a[href^="http://r.iinfo.cz"] {background:none}
#jobs ul li a {color:#000 !important}
#jobs ul li a:hover {color:#05234E !important}
#jobs .submit a {background:#05234E}
#mside .actu {background-color:#DFDFDF;border-color:#BBB}
.actu h3 A {color:#CF5C00 !important}
.actu h3 A:visited {color:#DF9961 !important}
#mside .oth-art {background-color:#DFDFDF;border-color:#BBB}
#mside .blogs {background-color:#EFE3D1;border-color:#BBB}
#tip {border-color:#F90;background-color:#DFDFDF}
.lastdisc {border-color:#BBB}
.lastdisc .txt {border-color:#DFDFDF}
#mside a {color:#000}
#head-sections #jbp a, #head-sections #jbp a:visited {color:#FFD6A5 !important}
/* naseptavac */
#suggest, #suggest-ext, .op-form #suggest {background-color:#EEEEEE;color:#000000;border-color:#888888}
#suggest-list p.act, #suggest-list p:hover, #suggest-ext-list p.act, #suggest-ext-list p:hover {background-color:#FF9900}
.main .main-cnt .labels {background-color: #EEEEEE}
#ad-ahead {border-bottom:1px solid #666;padding:3px 0}
#ad-super-ahead .ad-ad,
#ad-ahead .ad-ad {width:760px}
#ad-super-ahead,
#ad-banner-top {border-bottom:1px solid #F90;padding:3px 0;background:#000}
#ad-banner-top .ad-ad {width:468px}
#ad-200x200 {padding:.8em 0 .5em;background:#EEE}
#ad-200x200 .ad-ad {width:200px}
#ad-160x160 {padding:.8em 0 .5em;background:#EEE}
#ad-160x160 .ad-ad {width:160px}
#ad-skys .ad-ad {position:absolute;top:5px;width:120px;left:775px}
body[id] #ad-skys .ad-ad {left:auto;right:-130px;padding-right:5px}
#ad-infojoe .ad-ad {text-align:center}
.ad-textbox h4 {margin:.3em 0;font-size:1em}
.ad-textbox p {margin:.4em 0}
#ad-textbox-1 .ad-textbox {background:none !important}
/* jobpilot box */
#jobpilot .ad-logo img {margin:5px}
#jobpilot .ad-ad {background-color:FFF;border-style: none solid solid; border-width: medium 1px 1px; border-color: #BBB; max-height: 260px; overflow: auto}
#jobpilot .ad-ad div+p {padding-top:.5em}
#jobpilot .ad-ad .more {margin:5px}
#jobpilot br.cl {clear:both}
