body {background:#FFF} 
#webstats,
#head-sections,
#usr,
.next,
.bt,
.sefa,
#sefa,
.side,
.colophon-2 span,
.ad,
.dp-n,
.ad-sense {display:none}
#head-logo {font-size:1.4em;font-weight:900;font-family:sans-serif;letter-spacing:.2em;text-decoration:none}
a {color:#000 !important;text-decoration:none}
hr {clear:both;display:block;height:1px;line-height:1px;font-size:1px;
border:1px solid #999;border-width:1px 0 0 0;margin:.5em 0}
.main h2 {font-size:1.3em;border-bottom:2px dotted #CCC}
.main .txt h3 {font-size:1.15em}
.colophon {margin:1em 0}
h1,h2,h3,h4,h5,h6 {page-break-inside:avoid;page-break-after:avoid;page-break-before:auto}
h1>h2,h2>h3,h3>h4,h4>h5,h5>h6 {page-break-before:avoid}
.colophon,
img {page-break-inside:avoid}
.txts {margin:0 .5em}
.txt {margin:0 0 1em}
.txt h3 {font-size:1.4em;margin:0 0 .2em}
.actu .txt h3 {font-size:1.2em}
.txt .info,
.txt .opin {font-size:.9em}
.txt .opin a {font-weight:bold}
.txt p,
.txt .txt-p {margin:.4em 0 .2em}
.txt .txt-p q,
.txt p q {font-style:italic}
.txt .txt-p q:before,
.actu .txt p q:before {content:no-open-quote}
.txt .txt-p q:after,
.actu .txt p q:after {content:no-close-quote}
