.but-area,
.lbtr,
.ipn,
.op-ab,
.op-aq,
.op-sub,
.op-list,
.sf-ol,
.wd-next,
.serial,
.pertlinks,
#p-newsletter .tbl-sform,
.links {display:none}
.main h1 {font-size:1.6em;line-height:1.4em;font-variant:small-caps;text-align:center;
margin:.4em 0 1em;border-bottom:1px solid #000;font-family:sans-serif}
.main h1.lih1 {font-size:1.4em}
.main h1 span {border-bottom:5px solid #999;padding:0 .5em}
.main h1 span a {text-decoration:none}
.main h1.lih1 span {border-bottom-width:3px}
.path {font-size:.9em;margin-top:.3em}
.path span {font-weight:bold}
.urs {margin:1.2em 0;padding:.5em 0}
#p-archive .main h2:first-letter {text-transform:uppercase}
#p-actuality .main .info {margin:.7em 0}
#p-rubric-list .main dt {font-weight:bold;font-size:1.2em;margin:.5em 0 .2em}
#p-rubric-list .main dd {padding:0 0 0 1.5em;margin:.1em 0 .1em}
#p-rubric-list .main dd+dd {display:none}
#p-rsss .main .txts li em {font-size:.9em;padding-left:.5em;font-style:normal}
/* OPINIONS */
.op-list table {border-spacing:0;border-collapse:collapse;border-width:0;width:100%}
.op-list th {text-align:left}
.op-list th,
.op-list td {border:1px solid #999;font-weight:normal}
body[class] .op-list th,
body[class] .op-list td {border-style:dotted}
.op-list tr.op-tb th {font-weight:bold}
.op-list tr.op-tb {background-color:#EEE}
.op-list td.op-ar *,
.op-list td input {display:none}
.op-view {margin-bottom:1em;border-bottom:1px solid #000}
.op-view .op-one {margin-bottom:.5em;padding-top:.5em;border-top:1px solid #000}
.op-view .op-h {padding:.2em;word-spacing:.5em;background-color:#EEE}
.op-view .op-h span {word-spacing:0}
.op-view .op-h em {font-style:normal;word-spacing:0}
.op-view .op-h strong {font-weight:bold;word-spacing:0}
.op-view .op-t {font-family:serif;margin:.5em;padding:0 .2em}
.tt-a,
.tt-n,
.tt-o,
.tt-d,
.tt-t,
.tt-p {font-weight:bold;font-style:normal;padding-right:.3em;text-transform:lowercase}
.terms dl {margin-top:.3em}
.terms dt {border-bottom:1px solid #CCC;margin-bottom:.2em;font-weight:bold;padding:.1em;font-size:1.1em}
.terms dd {margin-bottom:.5em}
.labellist ul {padding:.5em 0}
.labellist li {float:left;width:30%;padding-right:1%}
