
body table th,
body table td {font-size:12px !important;font-family:"Arial CE","Arial",sans-serif;voice-family:"\"}\"";voice-family:inherit;font-size:1em;font-family:sans-serif}
u {}
.main .path {font-size:.9em;padding-bottom:.3em;border-bottom:1px solid #CCC}
.main .path span {font-weight:bold}
.main h1 {font-size:1.7em;line-height:1.4em;font-variant:small-caps;text-align:center;
margin:.4em 0 1em;border-bottom:1px solid #000;position:relative}
body[id] .main h1 {position:static}
.main h1.lih1 {font-size:1.4em}
.main h1 span {border-bottom:5px solid #999;padding:0 .5em}
.main h1 span a {text-decoration:none}
.main h1.lih1 span {border-bottom-width:3px}
.main .box h2 {border-width:1px}
.main h2 {font-size:1.4em}
.ipn {position:relative;clear:both;margin:5px 0}
.ipn .ipn-123 {position:absolute;display:block;top:0;right:0;text-align:right}
.links {word-spacing:.3em;position:relative;padding:.2em .5em;margin-bottom:.5em;
clear:both;font-size:.9em;border:1px solid #000}
.links span,
.links strong,
.links a {word-spacing:0 !important}
.links ul {margin:0;padding:0}
.links ul li {list-style-type:none;padding:0 .5em 0 0;margin:0;display:inline}
.links .ipn-prevnext ul {display:inline}
.links .ipn-prevnext ul li {padding-right:.2em}
.links .ipn-prevnext {display:inline}
.links.right {text-align:right;}
.box-links {margin:.3em 0;text-align:center;font-size:.95em}
.box-links a {font-weight:bold}
.but-area {text-align:right;margin-top:.5em}
.but-area input {font-weight:bold}
.but-area .but-img {margin-left:5px;height:26px}
.wd-words .but-area,
.but-area.sep {padding-top:.5em;border-top:1px solid #999}
.cs-b-add {width:65px}
.cs-b-save {width:66px}
.cs-b-search,
.cs-b-subscribe {width:67px}
.cs-b-watchit {width:69px}
.cs-b-vote,
.cs-b-subscribe-opinions {width:70px}
.cs-b-reset-off,
.cs-b-terminate {width:73px}
.cs-b-send,
.cs-b-submit-terms,
.cs-b-update-opinions {width:74px}
.cs-b-login {width:81px}
.cs-b-unsubscribe-opinions {width:83px}
.cs-b-answer {width:86px}
.cs-b-showall {width:101px}
.cs-b-preview {width:121px}
.cs-b-showquality {width:129px}
.cs-b-showmarked {width:135px}
.tbl-1 {border:2px solid #000}
.tbl-1 table {empty-cells:show;border-spacing:0;border-collapse:collapse;width:100%;border:none}
.tbl-1 th,
.tbl-1 td,
.tbl-1 caption {padding:.1em .3em}
.tbl-1 th,
.tbl-1 caption {font-weight:bold;text-align:left}
.tbl-1 thead th,
.tbl-1 caption {vertical-align:bottom}
.tbl-1 caption {text-align:center;font-size:1.2em;border-bottom:1px solid #999}
.tbl-1 thead th {border:1px solid #999;border-width:0 0 1px 1px}
.tbl-1 tbody th {vertical-align:top}
.tbl-1 tbody td {padding-left:.2em;border-left:1px solid #EEE}
.tbl-1 tbody td,
.tbl-1 tbody th {border:1px solid #EEE}
.tbl-1 tbody tr:first-child th,
.tbl-1 tbody tr:first-child td {border-top:none}
.tbl-1 thead :first-child,
.tbl-1 tbody :first-child {border-left:none}
.tbl-1 .nowrap {white-space:nowrap}
.tbl-sform {border-spacing:0}
.tbl-sform td,
.tbl-sform th {text-align:left;padding:.1em .3em}
.tbl-sform td input.input,
.tbl-sform td select,
.tbl-sform td textarea {width:94%}
.tbl-sform .cell-top {vertical-align:top;padding-top:.2em}
.tbl-simple {border-spacing:1px}
.tbl-simple td,
.tbl-simple th {text-align:left;vertical-align:top;padding:.1em .3em}
.enquiry {text-align:center;margin:1.3em 0 .7em}
.tbl-enquiry {text-align:left;margin-left:auto;margin-right:auto;width:90%;padding:.2em .5em;max-width:45em}
.tbl-enquiry table {border-collapse:collapse;border-spacing:0;line-height:1em;width:100%;
font-size:1em;voice-family:"\"}\"";voice-family:inherit;font-size:.9em}
u {}
.tbl-enquiry td,
.tbl-enquiry th {border-width:0}
.tbl-enquiry img {height:8px;border:1px solid #999}
.enquiry p {text-align:left;font-size:1em;margin:.5em 0}
.enquiry .but-area span {float:left;text-align:left;font-size:.9em;padding-top:.3em}
.usr-lfn {text-align:center}
.usr-lfn .box {width:20em;margin:1em auto;border:1px solid #000;text-align:left}
.usr-lfn h2 {letter-spacing:0;text-transform:none;margin-top:0;font-size:1em}
.usr-lfn table {width:96%;margin:0 2%}
.usr-lfn .but-area {margin:.2em 3%;text-align:center}
.usr-lfn p {font-size:.8em;margin:.5em .7em}
.msg {clear:both;margin:1em 0;padding:.7em .7em .7em 40px;border:1px solid #000;
text-align:left;background:transparent none no-repeat .8em .7em}
.msg-in {min-height:20px;height:20px}
body[id] .msg-in {height:auto}
.msg.elbox {padding-top:.5em;padding-bottom:.3em}
.msg .errorlist h2 {margin:0 0 .5em}
.sf-ol {margin:1em 0;vertical-align:middle;text-align:center}
.sf-ol h2 {display:none}
.sf-ol input {vertical-align:middle}
.sf-ol input.but-img {vertical-align:bottom}
#p-opinions .ipn {margin:.3em 0}
#p-opinions .ipn+.op-sub {margin-top:1.2em}
.op-sub,
.op-list {border:1px solid #000;margin-bottom:.5em}
.op-sub h3,
.op-list h3 {margin:0 0 .7em;padding:0;font-size:1em;height:1.25em}
.op-sub h3 span,
.op-list h3 span {float:left;padding:.2em .5em;width:14em;voice-family:"\"}\"";voice-family:inherit;width:10em}
u {}
.op-sub-c,
.op-list-c {margin:.5em 1em;clear:left}
.op-sub-c p {margin:.5em 0 0}
.op-sub .op-ch {margin:.4em 1em 0;line-height:100%}
.op-ab {margin:.5em 0 1em}
.op-pr {font-weight:bold}
.op-form {margin:.5em 0;border:1px solid #000;border-width:1px 0;padding:.5em}
.op-form textarea {width:98%;margin-bottom:.5em}
.op-form .tbl-sform {margin-bottom:.5em}
.op-form .op-tf {text-align:left;font-weight:bold;vertical-align:middle}
.op-form select {vertical-align:middle;margin-left:.25em}
.op-tags {margin:.5em 0;border-top:1px solid #000;padding:.5em 0}
.op-tags strong {display:block}
.op-tags span {font-size:.8em;display:block}
.op-list table {border-spacing:0;border-collapse:collapse;border-width:0;width:auto;voice-family:"\"}\"";voice-family:inherit;width:100%}
u {}
.op-list td,
.op-list th {border-width:0;padding:0;font-weight:normal;text-align:left}
.op-list th {padding-left:.5em}
.op-list th a {text-decoration:none}
.op-list th a:hover {text-decoration:underline}
.op-list tr.op-tb th {font-weight:bold}
.op-list tr.op-qb {font-style:italic}
.op-list td.op-dt {white-space:nowrap;padding-right:.5em}
.op-list td.op-au {padding:0 1em 0 .5em}
.op-h .avatar {float:right}
.op-h .avatar img {border:none;float:left}
.op-h .avatar span strong {font-size:2em;color:#777}
.op-h .avatar span {margin-right:.5em;float:left;font-style:normal;line-height:170%}
.op-h .avatar span a {color:#666}
.op-view {margin-bottom:1em;border-bottom:1px solid #000}
.op-view .op-one {margin-bottom:1em;border-top:1px solid #000}
.op-view .op-h {padding:.2em .3em;word-spacing:.5em;position:relative;line-height:1.25em}
.op-view .op-h em {font-style:normal}
.op-view .op-h i {font-style:normal;font-weight:bold}
.op-view .op-h strong {font-weight:bold}
.op-view .op-h small {font-size:1em}
.op-view .op-h strong {font-weight:bold}
.op-view .op-h * {word-spacing:0}
.op-view .op-h-t {font-size:.95em}
.op-view .op-h .edit-interface {float: right;}
.op-view .op-t .opin-edited-info {border:1px solid #FFB600; margin: 0.2em; padding: 0.5em; text-align: left;}
.op-view .op-one.op-qb {border-top:none;padding-top:.2em;font-style:italic}
.op-view .op-one.op-qb strong {font-weight:normal}
.op-view .op-one.op-qb .op-h-t {font-size:.95em;font-style:normal}
.op-view .op-one.op-qb .op-h-t strong {font-weight:bold;cursor:pointer;cursor:hand}
.op-view .op-t {margin:1%;padding:0 .5%;overflow:auto;width:95%}
body[id] .op-view .op-t {overflow:visible;width:auto}
body[id] .op-view .op-t pre {overflow:auto}
.op-view .op-t blockquote {font-style:italic;margin:1em}
.op-view .op-uncover {min-height:50px;_height:50px}
.op-qc {margin:1em auto .7em;width:85%;padding:.3em 1em;text-align:center;font-size:.95em}
body[id] .op-qc {-moz-border-radius:.5em;}
.op-qc a {display:inline;display:inline-block;padding:0 .3em;border-right:1px solid #000;
text-decoration:none;font-weight:bold}
.op-qc a.last {border:none}
.op-aq {position:relative;height:2.4em}
.op-aq-cnt {position:absolute;top:.6em;right:0;border:1px solid #000;padding:.18em .6em .2em;text-align:right}
.op-aq a {font-weight:bold}
.op-qs {padding:.1em 0 .1em .7em;font-size:.95em}
.op-qs span {cursor:pointer;cursor:hand;display:inline-block;padding:0 .3em;font-weight:bold}
body[id] .op-qs span {display:inline}
.op-qs span.last {border:none}
.op-qs span.first {padding-left:0}
body[id] .op-aq-cnt {-moz-border-radius:.6em;}
#rorbox {display:none}
body[id] #rorbox {display:block;position:fixed;top:0;right:0;text-align:right;font-weight:bold;padding:.3em .5em;
border:1px solid #000;border-width:0 0 1px 1px}
#rorboxif {position:absolute;bottom:0;right:0;width:1px;height:1px;visibility:hidden}
.html-den-tag,
.html-syn-err,
.html-cro-tag,
.html-unc-tag,
.html-den-var,
.html-den-val,
.html-req-var {font-weight:bold;text-decoration:underline}
.main .urs {margin:1em 0 1em .2em}
.main .mth {margin:.5em 0}
#p-article .urs {margin-top:0}
.lbtr {clear:right;float:right;width:20%;border:1px solid #BBB;margin:0 0 1em 1.5em;z-index:2;position:relative}
.lbtr h2 {display:none}
.lbtr h3 {font-size:1em;margin:0 0 .3em;padding:.1em .5em;border-bottom:1px solid #BBB}
.lbtr ol {margin:0 .5em .5em;padding:0}
.lbtr ol li {list-style-type:none;padding:0;margin:0 0 .2em}
.perex, .pr-notice {margin:1em;padding:.5em;border-left:10px solid #DDD}
.pertlinks,
.serial {position:relative}
.pertlinks ul li em {padding-left:.4em;font-style:normal;font-size:.9em;white-space:nowrap}
.pertlinks ul,
.serial ul {margin-top:.7em}
.serial li {margin-bottom:.1em}
.serial li.actual {font-weight:bold}
.serial li.all {margin-top:.5em;list-style-type:none}
#p-watchdog .main .tbl-1 thead th,
#p-watchdog .main .tbl-1 tbody td {text-align:center}
#p-watchdog .main .tbl-simple {width:99%;margin:1em auto .5em}
.wd-list p {margin:.5em 0}
.wd-list p,
.wd-list div {margin-left:.5em}
#p-newsletter .tbl-sform th,
#p-newsletter .tbl-sform td {white-space:nowrap}
#p-author .ipn {margin-bottom:.3em}
#p-author .links {margin:1.2em 0}
#p-author .author-photo {float:right;margin:0 0 1em 1em;border:1px solid #999}
#p-author .main ol li {margin-bottom:.2em}
#p-author .tbl-simple {width:100%}
#p-authors #a-alt tbody td {text-align:right}
#p-rubric-list .main dl {-moz-column-count:2;-moz-column-gap:2em}
#p-rubric-list .main dt {font-weight:bold;font-size:1.2em;margin:.5em 0 .2em}
#p-rubric-list .main dd {padding:0 0 0 1.5em;margin:.1em 0 .1em}
#p-label .labellist {margin:1em 0}
body[id] #p-label .labellist {-moz-column-width:10em;-moz-column-count:auto;-moz-column-gap:2em}
#p-label .labellist li {margin:0 0 .3em}
#p-search .ipn {margin:.7em 0}
#p-texts .main .art h3 {margin:1em 0 .3em}
#p-texts .main .art p {margin:.3em 0 1.3em}
#p-user-edit .links {margin:1em 0}
#p-user-edit #note {border:solid red 1px;padding:.5em}
#p-actuality-add .txt h2,
#p-discussion-add .txt h2 {text-transform:none;padding:0;border:0;font-size:1.2em;letter-spacing:0;margin:0 0 .2em}
#p-terms .tbl-sform {width:100%}
#p-rss .main .txts li em {font-size:.9em;padding-left:.5em;font-style:normal}
#p-archive .main h2 {position:relative}
#p-archive .main h2 a span {position:absolute;top:.4em;right:.5em;font-size:.95em;text-decoration:underline;font-size:.65em;font-weight:normal}
#p-archive .main .next {margin:1em 0;font-weight:bold;text-transform:lowercase}
.tt-a,
.tt-n,
.tt-o,
.tt-d,
.tt-t,
.tt-p,
.tt-pr {font-weight:bold;font-style:normal;padding-right:.3em;text-transform:lowercase}
.month {margin:0 .5em}
.month h3,
.month ol {margin:.5em 0 .2em;padding:0}
.month ol {margin-bottom:1.2em}
.month ol li {list-style-type:none}
.month ol li small {padding-left:.3em;font-size:.9em;white-space:nowrap}
.terms dl {margin-top:.3em}
.terms dt {border-bottom:1px solid #000;margin-bottom:.2em;font-weight:bold;padding:.1em;font-size:1.1em}
.terms dt a {text-decoration:none}
.terms dt a:hover {text-decoration:underline}
.terms dd {margin-bottom:.5em}
#sf-big {padding:.5em;margin:1em 0;border:1px solid #000}
#sf-big table {width:98%}
#sf-big th,
#sf-big td {text-align:left}
#sf-big td.but-area {text-align:right}
#sf-big #idqs {width:95%}
.discus {margin:1.3em 0}
#lastdisc .box-links {margin-top:.5em;padding-top:.5em;border-top:1px solid #AAA}
#et {margin:.8em 0;text-align:left;position:relative}
.et-h {padding:0 0 .15em}
#et .ad-ad {padding:.2em 1em}
#et .ad-ad p {margin:.2em 0 0;padding:0}
#et .next {font-size:.85em;font-family:Verdana,sans-serif;text-align:right;position:absolute;top:.5em;right:.7em}
.lastdisc {border:1px solid #000 !important;font-size:5em}
/* DISCUSSIONS */
#disc-navi img {float:right}
.side .tagcloud {padding: 1em;line-height:240%;text-align:justify}
.side .tagcloud a {padding:0 10px 0 0}
.side .tagcloud .size1 {font-size: 90%;}
.side .tagcloud .size2 {font-size: 140%;}
.side .tagcloud .size3 {font-size: 170%;}
.side .tagcloud .size4 {font-size: 200%;}
.box #label-filter {float:left; position: relative; z-index: 1000;}
.box #label-filter input {width:15em}
#p-discussion .info {padding:5px}
#p-discussion #respond {margin:5px 0}
#p-discussion .cl {clear:both}
/* vedomostni test */
#main #main-in #test {margin:2em 1em; padding:20px}
#main #main-in #test #submit {margin:10px 0}
#main #main-in #test label {font-size:1.5em}
#p-user-enquiry .main .main-cnt form fieldset table {width: 99%}
#p-user-enquiry textarea {width: 100%}
.classification {margin-bottom:0.5em;padding:0.2em 0.5em;min-height:1.25em;position:relative;width:98%}
.classification div {float:left;width:29%;position:relative;text-align:right}
.classification div#classification-data {width:40%;text-align:left}
.classification div#classification-average {text-align:left;}
.classification-ar .cla {font-size:2.5em;clear:both;float:left;width:10%}
.classification-ar .cla span {font-size:.35em}
.classification-ar .txt {display:block;width:88%;float:right;clear:none}
#p-knihy #cover {float:right; margin-left:1em;}
#p-knihy .notify {display:block;width: 98%;}
.main .path {border-color:#DDD}
.main .box {background-color:#FFF;border-color:#CCC}
.main .box h2 {color:#FFF;background:#F90;border-color:#666}
.main h1 {border-color:#AAA8A5}
.main h1 span {border-color:#F90}
.side .opin,
.side .opin a:link {color:#5A5A5A}
.side .opin a:visited {color:#6A6A6A}
.side .opin a:hover {color:#3A3A3A}
.links {background:#DDD;border-color:#CCC}
.links .disabled {color:#888}
.wd-words .but-area,
.but-area.sep {border-color:#CCC}
.tbl-1 {border-color:#666}
.tbl-1 table {background:#888}
.tbl-1 caption {color:#FFF;background:#999;border-color:#888}
.tbl-1 thead th {color:#333;background:#CCC;border-color:#888}
.tbl-1 tbody th {background:#EEE}
.tbl-1 tbody td {color:#000;background:#FFF}
.tbl-1 tbody td,
.tbl-1 tbody th {border-color:#DDD}
.tbl-simple th {background:#DDD}
.tbl-enquiry {background:#DDD}
.tbl-enquiry img {border-color:#888}
.msg-war {background-image:url("http://i.iinfo.cz/r2/exclamation.gif")}
.msg-que {background-image:url("http://i.iinfo.cz/r2/question.gif")}
.msg-inf {background-image:url("http://i.iinfo.cz/r2/information.gif")}
.main .msg.elbox {border-color:#C00}
.msg .errorlist h2 {color:#C00;background:transparent;border-color:#C00}
.op-sub,
.op-list {background:#E8E8E8;border-color:#D8D8D8}
.op-sub h3 span,
.op-list h3 span {color:#FFF;background:#777}
.op-tags,
.op-form {border-color:#CCC}
.op-tags {color:#888}
.op-list tr.op-qb,
.op-list tr.op-qb th a {color:#777}
.op-list tr.op-qg,
.op-list tr.op-qg th a {color:#000}
.op-list tr.op-tb {background:#D8D8D8}
.op-list tr:hover {background:#E0E0E0}
.op-list tr.op-tb:hover {background:#D0D0D0}
.op-view,
.op-view .op-one {border-color:#CCC}
.op-view .op-h {background:#E4E4E4}
.op-view .op-h i {color:#080}
.op-view .op-h small,
.op-view .op-h span {color:#666}
.op-view .op-h em,
.op-view .op-h strong {color:#000}
.op-view .op-one.op-qb .op-h-t strong {color:#666}
.op-view .op-one.op-qb .op-h-t strong:hover {color:#000}
.op-qc {color:#E8E8E8;background:#999}
.op-qc a {border-color:#B8B8B8}
.op-qc a:link,
.op-qc a:visited {color:#E8E8E8}
.op-qc a:hover {color:#FFF}
.op-aq-cnt {color:#666;background:#DDD;border-color:#DDD}
.op-one .op-h span.op-qm {color:#FFF;background:#999;border-color:#999}
#rorbox {color:#FFF;background:#393}
.html-den-tag {color:#966}
.html-syn-err {color:#F00}
.html-cro-tag {color:#C6C}
.html-unc-tag {color:#009}
.html-den-var {color:#09C}
.html-den-val {color:#F0C}
.html-req-var {color:#990}
.main .lbtr {background:#E4E4E4}
.main .lbtr h3 {background:#CCC;border-color:#BBB}
.main .lbtr h3 a {color:#000 !important}
.perex, .pr-notice {background:#E4E4E4;border-color:#DDD}
.pertlinks ul li em {color:#666}
#p-watchdog .tbl-1 .awo th {background:#E3E3E3;border-color:#D8D8D8}
#p-watchdog .tbl-1 .awo td {background:#F8F8F8}
#p-watchdog .tbl-1 .awo {border-bottom:2px solid #CCC}
#p-discussion-add .txt h2 {color:#000;background:transparent}
#p-rss .main .txts li em {color:#666}
#p-archive .main h2 a span {color:#C60}
.tt-a {color:#33C}
.tt-n {color:#363}
.tt-p, .tt-pr {color:#C33}
.tt-o {color:#999}
.tt-d {color:#669}
.tt-t {color:#000}
.month ol li small {color:#666}
.terms dt {border-color:#F90}
#sf-big {background:#DDD;border-color:#BBB}
#lastdisc .box-links {border-color:#BBB}
#p-discussion .info {background-color:#E4E4E4;border-top:1px solid #CCC}
/* adsense */
#as-sb-160x600 {background-color:#CCCCCC;border-top:15px solid #EEE}
#as-sb-180x150 {background-color:#CCCCCC;border-top:15px solid #EEE}
#as-ar-300x250 {border-left:8px solid #F90}
#as-ac-300x250 {border-left:8px solid #F90}
.classification {background:#DDD;border:1px solid #CCCCCC}
.classification-ar .cla {color:#AA3300}
.classification-ar .cla span {color:#999}
#ad-article-300x300 {margin:.7em 0 1.5em}
#p-discussion #ad-article-300x300 {float:right;width:310px}
#p-actuality #ad-article-300x300 {float:right;width:310px}
#ad-article-300x300 .ad-ad {width:300px}
/* adsense */
#as-ar-120x240 {clear:left;float:left;width:20%;margin:0 1em 1em 0}
#as-sb-160x600 {padding-left:1em;margin-top:1em}
#as-sb-180x150 {padding-left:1em;margin-top:1em}
#as-ar-300x250 {margin-bottom:5px;padding-left:.5em}
#as-ac-300x250 {margin-bottom:5px;padding-left:.5em}
#as-ac-468x60 {margin-bottom:5px}
#as-di-468x60 {margin-bottom:5px}
#as-di-300x250 {margin-bottom:5px}
#as-op-468x60 {margin-bottom:5px}
#as-tu-250x250 {float:right;margin-left:.5em}
#as-se-300x250 {margin:1em 0 1em 0}
/* may consulting*/
#ad-maycon .ad-ad div {padding:5px 0;text-align:center}
#may-txt {background-color:#FCFEFC;text-align:left !important;max-height:260px;overflow:auto}
#ad-maycon ul {font-size:.8em}
#ad-maycon h4 {margin:0 0 7px 5px;font-size:1em}
