body {
  background: #f9f4a4 url(../obr/pozadi_hostel.png) repeat-y center top;
  font: 14px "Arial CE", Verdana, Arial, sans-serif;
  color: #3c3b38;
}

/* obal layoutu */
#obal_layout,
#obal_layout #menu_top,
#obal_layout #zahlavi,
#obal_layout #zahlavi_nadpis_czech,
#obal_layout #zahlavi_nadpis_polak,
#obal_layout #zahlavi_nadpis_english,
#obal_layout #panel_center_menu,
#obal_layout #obal_menu_nadpis_sekce,
#obal_layout .obal_obsah,
#obal_layout .obal_obsah_uvod,
#obal_layout #zapati #obal_zapati #tvurci,
#obal_layout #zapati_uvod #obal_zapati #tvurci { /* centralni width - nastavovani */
  width: 745px;
}

#obal_layout { /* centralni width */
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

#obal_layout h1 {
  position: absolute;
  left: 360px;
  top: 190px;
  z-index: -10;
  font: 20px normal Verdana, sans-serif;
  color: #f9f4a4;
}

.obal_layout_sekce {
  background: url(../obr/pozadi_obsah_sekce.png) repeat-y;
}

.obal_layout_sekce_uvod {
  background: url(../obr/pozadi_obsah_sekce_uvod.png) repeat-y;
}/* /obal layoutu */

/* menu top */
#obal_layout #menu_top { /* centralni width */
  height: 26px;
  background: url(../obr/pozadi_menu_top.png) no-repeat;
  position: relative;
}

#obal_layout #menu_top #odkazy_menu_top_czech,
#obal_layout #menu_top #odkazy_menu_top_polak,
#obal_layout #menu_top #odkazy_menu_top_english { /* centralni nastavovani */
  width: 598px;
  height: 26px;
  padding-left: 20px;
  position: absolute;
  left: 0;
  top: 0;
}

#obal_layout #menu_top #odkazy_menu_top_czech h2,
#obal_layout #menu_top #odkazy_menu_top_polak h2,
#obal_layout #menu_top #odkazy_menu_top_english h2 { /* centralni nastavovani */
  float: left;
  margin-top: 7px;
  font: bold 11px "Arial CE", sans-serif;
}

#obal_layout #menu_top #odkazy_menu_top_czech h2 a,
#obal_layout #menu_top #odkazy_menu_top_polak h2 a,
#obal_layout #menu_top #odkazy_menu_top_english h2 a { /* centralni nastavovani */
  color: #3c3b38;
}

#obal_layout #menu_top #odkazy_menu_top_czech h2 a:hover,
#obal_layout #menu_top #odkazy_menu_top_polak h2 a:hover,
#obal_layout #menu_top #odkazy_menu_top_english h2 a:hover { /* centralni nastavovani */
  color: #f98c24;
}

#obal_layout #menu_top #odkazy_menu_top_czech span,
#obal_layout #menu_top #odkazy_menu_top_polak span,
#obal_layout #menu_top #odkazy_menu_top_english span { /* centralni nastavovani */
  width: 5px;
  height: 5px;
  float: left;
  margin: 12px 6px 0;
  background: url(../obr/odrazka_menu_top.png) no-repeat;
}

#obal_layout #menu_top #text_jazyk {
  width: 124px;
  margin-right: 21px;
  float: right;
  margin-top: 10px;
  text-align: center;
  font: bold 10px Verdana, sans-serif;
}/* /menu top */

/* zahlavi */
#obal_layout #zahlavi { /* centralni width */
  height: 154px;
  background: url(../obr/zahlavi_hostel.png) no-repeat center bottom;
}

#obal_layout #zahlavi_nadpis_czech,
#obal_layout #zahlavi_nadpis_polak,
#obal_layout #zahlavi_nadpis_english { /* centralni nastavovani */ /* centralni width */
  height: 52px;
}

#obal_layout #zahlavi_nadpis_czech { 
  background: url(../obr/hostel_zahlavi_spodek_nadpis_cz.png) no-repeat;
}

#obal_layout #zahlavi_nadpis_polak {
  background: url(../obr/hostel_zahlavi_spodek_nadpis_pl.png) no-repeat;
}

#obal_layout #zahlavi_nadpis_english {
  background: url(../obr/hostel_zahlavi_spodek_nadpis_en.png) no-repeat;
}/* /zahlavi */

/* panel vlajky */
#obal_layout #zahlavi #jazyky_vlajky {
  width: 124px;
  margin-right: 21px;
  float: right;
}

#obal_layout #zahlavi #jazyky_vlajky form fieldset {
  border: none;
}

#obal_layout #zahlavi #jazyky_vlajky form fieldset legend,
#obal_layout #zahlavi #jazyky_vlajky form fieldset label { /* centralni nastavovani */
  display: none;
}

#obal_layout #zahlavi #jazyky_vlajky form fieldset input {
  width: 30px;
  height: 24px;
  margin-top: 3px;
  border: none;
  cursor: pointer;
}

#obal_layout #zahlavi #jazyky_vlajky form fieldset #vlajka_czech {
  margin-left: 15px;
}

#obal_layout #zahlavi #jazyky_vlajky form fieldset #vlajka_polak,
#obal_layout #zahlavi #jazyky_vlajky form fieldset #vlajka_english { /* centralni nastavovani */
  margin-left: -1px;
}

#obal_layout #zahlavi #jazyky_vlajky form fieldset .vlajka_czech_pozadi {
  background: url(../obr/vlajka_cz_top.png) no-repeat left center;
}

#obal_layout #zahlavi #jazyky_vlajky form fieldset .vlajka_polak_pozadi {
  background: url(../obr/vlajka_pl_top.png) no-repeat left center;
}

#obal_layout #zahlavi #jazyky_vlajky form fieldset .vlajka_english_pozadi {
  background: url(../obr/vlajka_en_top.png) no-repeat left center;
}

#obal_layout #zahlavi #jazyky_vlajky form fieldset .vlajka_czech_pozadi:hover,
#obal_layout #zahlavi #jazyky_vlajky form fieldset .vlajka_polak_pozadi:hover,
#obal_layout #zahlavi #jazyky_vlajky form fieldset .vlajka_english_pozadi:hover,
#obal_layout #zahlavi #jazyky_vlajky form fieldset .aktivni { /* centralni nastavovani */
  background-position: right center;
}/* /panel vlajky */

/* panel center menu - vsechny jazyky */
#obal_layout #panel_center_menu,
#obal_layout #obal_menu_nadpis_sekce { /* centralni nastavovani */ /* centralni width */
  height: 44px;
  background: url(../obr/pozadi_obsah_sekce.png) repeat-y;
}

#obal_layout #panel_center_menu ul {
  margin-left: 34px;
  overflow: hidden;
}

#obal_layout #panel_center_menu ul li {
  float: left;
}

#obal_layout #panel_center_menu ul li a {
  height: 22px;
  display: block;
  text-decoration: none;
}

/* domy_byty, bytovani_rekreace a nebytove_prostory_ostatni - odsazeno o 9px */
#obal_layout #panel_center_menu ul li a.domy_byty_czech {
  width: 117px;
}

#obal_layout #panel_center_menu ul li a.domy_byty_polak,
#obal_layout #panel_center_menu ul li a.domy_byty_english { /* centralni nastavovani */
  width: 163px;
}

#obal_layout #panel_center_menu ul li a.domy_byty_czech {
  background: url(../obr/domy_byty_center_menu_cz.png) no-repeat right bottom;
}

#obal_layout #panel_center_menu ul li a.domy_byty_polak {
  background: url(../obr/domy_byty_center_menu_pl.png) no-repeat right bottom;
}

#obal_layout #panel_center_menu ul li a.domy_byty_english {
  background: url(../obr/domy_byty_center_menu_en.png) no-repeat right bottom;
}

#obal_layout #panel_center_menu ul li a.ubytovani_rekreace_czech,
#obal_layout #panel_center_menu ul li a.nebytove_prostory_ostatni_czech,
#obal_layout #panel_center_menu ul li a.ubytovani_rekreace_polak,
#obal_layout #panel_center_menu ul li a.nebytove_prostory_ostatni_polak,
#obal_layout #panel_center_menu ul li a.ubytovani_rekreace_english,
#obal_layout #panel_center_menu ul li a.nebytove_prostory_ostatni_english { /* centralni nastavovani */
  margin-left: 25px;
}

#obal_layout #panel_center_menu ul li a.ubytovani_rekreace_czech {
  width: 176px;
}

#obal_layout #panel_center_menu ul li a.ubytovani_rekreace_polak {
  width: 228px;
}

#obal_layout #panel_center_menu ul li a.ubytovani_rekreace_english {
  width: 227px;
}

#obal_layout #panel_center_menu ul li a.ubytovani_rekreace_czech {
  background: url(../obr/ubytovani_rekreace_center_menu_cz.png) no-repeat right bottom;
}

#obal_layout #panel_center_menu ul li a.ubytovani_rekreace_polak {
  background: url(../obr/ubytovani_rekreace_center_menu_pl.png) no-repeat right bottom;
}

#obal_layout #panel_center_menu ul li a.ubytovani_rekreace_english {
  background: url(../obr/ubytovani_rekreace_center_menu_en.png) no-repeat right bottom;
}

#obal_layout #panel_center_menu ul li a.nebytove_prostory_ostatni_czech {
  width: 226px;
}

#obal_layout #panel_center_menu ul li a.nebytove_prostory_ostatni_polak {
  width: 251px;
}

#obal_layout #panel_center_menu ul li a.nebytove_prostory_ostatni_english {
  width: 256px;
}

#obal_layout #panel_center_menu ul li a.nebytove_prostory_ostatni_czech {
  background: url(../obr/nebytove_prostory_ostatni_center_menu_cz.png) no-repeat right bottom;
}

#obal_layout #panel_center_menu ul li a.nebytove_prostory_ostatni_polak {
  background: url(../obr/nebytove_prostory_ostatni_center_menu_pl.png) no-repeat right bottom;
}

#obal_layout #panel_center_menu ul li a.nebytove_prostory_ostatni_english {
  background: url(../obr/nebytove_prostory_ostatni_center_menu_en.png) no-repeat right bottom;
}

#obal_layout #panel_center_menu ul li a span {
  display: none;
}

#obal_layout #panel_center_menu ul li a span.button_obr {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  background: url(../obr/odrazka_menu_center.png) no-repeat right top;
  cursor: pointer;
}

#obal_layout #panel_center_menu ul li a:hover span.button_obr,
#obal_layout #panel_center_menu ul li a span.aktivni { /* centralni nastavovani */
  background-position: left top;
}/* /panel center menu - vsechny jazyky */

/* nadpis sekce */
#obal_layout #obal_menu_nadpis_sekce {
  height: 46px;
}

#obal_layout #obal_menu_nadpis_sekce #menu_nadpis_sekce {
  width: 733px;
  height: 42px;
  margin: 0 auto 2px;
  background: url(../obr/pozadi_nadpis_sekce.png) repeat-x;
  position: relative;
}

#obal_layout #mezera_nadpis_sekce_uvod {
  width: 20px;
  height: 42px;
  margin-right: 213px;
  float: right;
  background: url(../obr/mezera_nadpis_sekce_uvod.png) no-repeat;
}

#obal_layout #obal_menu_nadpis_sekce #menu_nadpis_sekce h3 {
  float: left;
  margin: 10px 0 0 30px;
  font: 18px Verdana, sans-serif;
  letter-spacing: 1px;
}

#obal_layout #obal_menu_nadpis_sekce #menu_nadpis_sekce h3.aktuality_uvod {
  width: 213px;
  float: none;
  margin: 0;
  position: absolute;
  right: 0;
  top: 10px;
  text-align: center;
}/* /nadpis sekce */

/* obal obsah */
#obal_layout .obal_obsah,
#obal_layout .obal_obsah_uvod { /* centralni nastavovani */ /* centralni width */
  min-height: 382px;
  padding-bottom: 37px;
  overflow: hidden;
  position: relative;
}

#obal_layout .obal_obsah { /* centralni width */
  background: url(../obr/pozadi_obsah_sekce.png) repeat-y;
}

#obal_layout .obal_obsah_uvod { /* centralni width */
  background: url(../obr/pozadi_obsah_uvod.png) repeat-y;
}

#obal_layout .obal_obsah .obsah_sekce {
  margin: 0 6px;
}/* /obal obsah */

/* uvodni strana a aktuality a reklama */
#obal_layout .obal_obsah_uvod .obsah_sekce_uvod {
  width: 500px;
  float: left;
  margin-left: 6px;
}

#obal_layout .obal_obsah_uvod .obsah_sekce_uvod p {
  margin-bottom: 20px;
  font: 12px Verdana, sans-serif;
}

#obal_layout .obal_obsah_uvod .obsah_sekce_uvod img {
  margin: 10px;
  float: right;
  clear: both;
}

#obal_layout .obal_obsah_uvod #aktuality {
  width: 213px;
  height: auto;
  min-height: 100%;
  float: right;
  margin-right: 6px;
  background-color: #fcd746;
}

#obal_layout .obal_obsah_uvod #aktuality .aktualita {
  width: 182px;
  margin: 0 auto;
  border-top: 1px solid #000;
}

#obal_layout .obal_obsah_uvod #aktuality .prvni {
  border-top: none;
}

#obal_layout .obal_obsah_uvod #aktuality .aktualita h4 {
  width: 177px;
  margin: 10px auto 6px;
  font: bold 12px Verdana, sans-serif;
}

#obal_layout .obal_obsah_uvod #aktuality .aktualita p {
  width: 177px;
  margin: 0 auto 10px;
  font: 12px Verdana, sans-serif;
}

#obal_layout .obal_obsah_uvod #reklama {
  width: 213px;
  height: auto;
  min-height: 100%;
  float: right;
  margin-right: 6px;
  background-color: #fcd746;
}

#obal_layout .obal_obsah_uvod #reklama .h3 {
  width: 100%;
  height: 44px;
  background: url(../obr/nadpis_sekce_aktuality.png) no-repeat;
  border-bottom: 2px solid #fce452;
}

#obal_layout .obal_obsah_uvod #reklama .h3 h3 {
  padding-top: 10px;
  text-align: center;
  font: 18px Verdana, sans-serif;
}

#obal_layout .obal_obsah_uvod #reklama img {
  max-width: 213px;
  margin: 0 auto;
}

#obal_layout .obal_obsah_uvod #reklama .reklama {
  width: 182px;
  margin: 0 auto;
  border-top: 1px solid #000;
}

#obal_layout .obal_obsah_uvod #reklama .prvni {
  border-top: none;
  border-bottom: 1px solid #000;
}

#obal_layout .obal_obsah_uvod #reklama .reklama h4 {
  width: 177px;
  margin: 10px auto 6px;
  font: bold 12px Verdana, sans-serif;
}

#obal_layout .obal_obsah_uvod #reklama .reklama p {
  width: 177px;
  margin: 0 auto 10px;
  font: 12px Verdana, sans-serif;
}/* /uvodni strana a aktuality a reklama */

/* zapati */
#obal_layout #zapati,
#obal_layout #zapati_uvod {
  width: 100%;
  height: 37px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#obal_layout #zapati {
  background: url(../obr/zapati_hostel.png) no-repeat;
}

#obal_layout #zapati_uvod {
  background: url(../obr/zapati_hostel_uvod.png) no-repeat;
}

#obal_layout #zapati #obal_zapati,
#obal_layout #zapati_uvod #obal_zapati {
  position: relative;
  height: 37px;
}

#obal_layout #zapati #obal_zapati p,
#obal_layout #zapati_uvod #obal_zapati p {
  font: 10px Verdana, sans-serif;
  position: absolute;
}

#obal_layout #zapati #obal_zapati p a,
#obal_layout #zapati_uvod #obal_zapati p a {
  color: #3c3b38;
}

#obal_layout #zapati #obal_zapati p a:hover,
#obal_layout #zapati_uvod #obal_zapati p a:hover {
  color: #f98c24;
}

#obal_layout #zapati #obal_zapati #mapa_stranek,
#obal_layout #zapati_uvod #obal_zapati #mapa_stranek,
#obal_layout #zapati #obal_zapati #prohlaseni,
#obal_layout #zapati_uvod #obal_zapati #prohlaseni { /* centralni nastavovani */
  bottom: 5px;
  z-index: 20;
}

#obal_layout #zapati #obal_zapati #mapa_stranek,
#obal_layout #zapati_uvod #obal_zapati #mapa_stranek {
  left: 15px;
}

#obal_layout #zapati #obal_zapati #prohlaseni,
#obal_layout #zapati_uvod #obal_zapati #prohlaseni {
  right: 15px;
}

#obal_layout #zapati #obal_zapati #aw,
#obal_layout #zapati_uvod #obal_zapati #aw,
#obal_layout #zapati #obal_zapati #am,
#obal_layout #zapati_uvod #obal_zapati #am { /* centralni nastavovani */
  bottom: 1px;
  z-index: 30;
}

#obal_layout #zapati #obal_zapati #aw a,
#obal_layout #zapati_uvod #obal_zapati #aw a,
#obal_layout #zapati #obal_zapati #am a,
#obal_layout #zapati_uvod #obal_zapati #am a { /* centralni nastavovani */
  display: block;
}

#obal_layout #zapati #obal_zapati #aw,
#obal_layout #zapati_uvod #obal_zapati #aw {
  left: 140px;
}

#obal_layout #zapati #obal_zapati #aw a,
#obal_layout #zapati_uvod #obal_zapati #aw a {
  width: 30px;
  height: 3px;
}

#obal_layout #zapati #obal_zapati #am,
#obal_layout #zapati_uvod #obal_zapati #am {
  right: 0;
}

#obal_layout #zapati #obal_zapati #am a,
#obal_layout #zapati_uvod #obal_zapati #am a {
  width: 10px;
  height: 30px;
}

#obal_layout #zapati #obal_zapati #gen,
#obal_layout #zapati_uvod #obal_zapati #gen { /* docasne skryte generovani stranek */
  display: none;
}

#obal_layout #zapati #obal_zapati #tvurci,
#obal_layout #zapati_uvod #obal_zapati #tvurci {
  margin-top: 20px;
  text-align: center;
  z-index: 10;
}/* /zapati */



/*
zeptat se:
jestli tam bude submenu
jestli tam bude odkaz na uvodni stranu
jestli tam bude upload obrazku a podrobnosti ohledne tohoto
kam chce odkazy na ostatni dva weby ktere teprve budou
kam chce baner a jake zhruba rozmery
zeptat se na borca co bude stranky obsluhovat
kam umistnit odkaz na admin
zeptat se na ftp - jestli to na klenotu objedna nebo jestli mame my a on by poslal penize ... a zeptat se na jak dlouho chce domenu
zeptat se na klicova slova
zeptat se na samotny nazev stranky - jestli ma byt totozny s textem v zahlavi
*/




/* Fugess (Martin) */

