#zobrazovani souboru
Options -Indexes

#zapinani rewrite
RewriteEngine on

#nasmerovani korenu
#RewriteBase /

#na serveru:
#RewriteRule ^/?$ admin/index.php?action=login [L]
#na lokalu:
RewriteRule ^/?$ index.php?action=login [L]
