body {
background: #A8ACB8;
scrollbar-face-color: #a0a6ad;
scrollbar-arrow-color: #000000;
scrollbar-highlight-color: #818181;
scrollbar-3dlight-color: #5C5C5C;
scrollbar-shadow-color: #818181;
scrollbar-darkshadow-color: #5C5C5C;
scrollbar-track-color: #a8acb8;
}
#vel1,table,center {
font-family: Trebuchet MS, sans-serif, verdana;
font-size: 14px;
font-weight: 800;
color: #000000;
}
#vel2 {
font-size: 12px;
}
#spo {
font-size: 12px;
}