
/* vicemene nereseno kvuli zbytecne zdlouhavym oklikam - plna optimalizace je pro IE7 FF2, FF3, Opera, Safari, aj. prohlizece zalozene na Gecku - OS, Firefox aj. prohlizece zalozene na Gecku - Linux */

#obal_layout .logovani_uvod form fieldset dl dd input#prihlasit {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/background_login_upload.png');
  text-align: right;
  padding-top: 45px;
  padding-right: 15px;
}

/* Fugess (Martin) */
