#obal_layout .logovani_uvod form fieldset dl dt label {
  padding: 3px 0 0;
}

#obal_layout .prihlasen_sekce #pridat_uzivatele form fieldset dl.label_input_dl_prava dd:hover span span.input_label_dl_polozka_administrator input {
  margin: 0;
  margin-top: -1px;
}

#obal_layout .prihlasen_sekce #pridat_uzivatele form fieldset dl dd input#label_input_expirace_uctu,
#obal_layout .prihlasen_sekce #pridat_uzivatele form fieldset dl dd input#label_input_expirace_souboru,
#obal_layout .prihlasen_sekce #pridat_uzivatele form fieldset dl dd span.dd_span_expirace_uctu_souboru input {
  margin: 0;
}

#obal_layout .prihlasen_sekce #pridat_uzivatele form fieldset dl dd input#label_input_expirace_uctu,
#obal_layout .prihlasen_sekce #pridat_uzivatele form fieldset dl dd input#label_input_expirace_souboru {
  margin-top: 1px;
}

#obal_layout .prihlasen_sekce #pridat_uzivatele form fieldset dl dd span.dd_span_expirace_uctu_souboru input {
  margin-top: -2px;
}

#obal_layout .prihlasen_sekce #vypis_uzivatelu {
  overflow: hidden;
}

#obal_layout .prihlasen_sekce #vypis_uzivatelu p {
  margin-bottom: 0;
}

#obal_layout .prihlasen_sekce #vypis_uzivatelu span.linka_vypis {
  margin-top: -14px;
}

#obal_layout .prihlasen_sekce #vypis_uzivatelu,
#obal_layout .prihlasen_sekce #vypis_souboru_slozek,
#obal_layout .prihlasen_sekce #vypis_hlavni_strany,
#obal_layout .prihlasen_sekce #vypis_pripon,
#obal_layout .prihlasen_sekce #vypis_stylu,
#obal_layout .prihlasen_sekce #vypis_importu,
#obal_layout .prihlasen_sekce #vypis_sdileni,
#obal_layout .prihlasen_sekce #vypis_logovani {
  overflow: hidden;
}

#obal_layout .prihlasen_sekce #vypis_uzivatelu span.linka_vypis,
#obal_layout .prihlasen_sekce #vypis_hlavni_strany span.linka_vypis,
#obal_layout .prihlasen_sekce #vypis_pripon span.linka_vypis,
#obal_layout .prihlasen_sekce #vypis_stylu span.linka_vypis,
#obal_layout .prihlasen_sekce #vypis_sdileni span.linka_vypis {
  margin-top: -18px;
}

#obal_layout .prihlasen_sekce #pridat_sdileni form fieldset div dl dt input {
  margin-left: 0;
  margin-top: 0;
}

#obal_layout .prihlasen_sekce #pridat_uzivatele form fieldset dl.label_input_dl_prava dd:hover span span.input_label_dl_polozka_administrator input,
#obal_layout .prihlasen_sekce #pridat_slozku_soubor form fieldset dl#label_input_dl_vyber_slozku_soubor dd:hover span span.input_label_dl_polozka_vyber_slozku_soubor input {
  margin: 0;
}

#obal_layout .prihlasen_sekce #pridat_uzivatele form fieldset dl.label_input_dl_prava dd:hover span span.input_label_dl_polozka_administrator input {
  margin: -1px 0 0;
}

#obal_layout .prihlasen_sekce #vypis_importu p span.nazev_importu,
#obal_layout .prihlasen_sekce #vypis_importu p span.nazev_obrazku,
#obal_layout .prihlasen_sekce #vypis_sdileni strong a.smazat_sdileni code {
  font: 12px "Trebuchet MS", Verdana, Arial, "Arial CE", Tahoma, sans-serif;
}

#obal_layout .prihlasen_sekce #vypis_statistik {
  margin: 0 0 40px;
}

#obal_layout #zapati #zapati_vyber_styl form fieldset dl dd span.vyber_slozku_obal span input {
  margin-top: -1px;
}

/* Fugess (Martin) */
