.svn/*
# ignorace souboru
database_config.php
database_config_web.php
cron_config.php
.staticACL
*.sqlite3
*.jpg
*.png
export_db.json

# ignorace slozek
.cache/
materialy/
img/
files/
fonts/
logs/
templates/*~
templates/compile/

po_dokonceni_smazat/
