
body, p, a, h1, h2, h3, h4, h5, h6, ul, li, ol, form, fieldset, legend, label, input, select, option, textarea, dl, dt, dd, pre {
    margin: 0;
    padding: 0;
}
header, footer, section, nav, aside, article, details, figcaption, figure, hgroup {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
a, object {
    outline: medium none;
}
img, fieldset {
    border: medium none;
}
ul {
    list-style: none outside none;
}
