body{
	font-family : "Times Roman", serif;
	font-size : small;
	white-space : normal;
	text-align : justify;
	background-color : #BEDDE9;
	color :#191970;
	background : url(obr/pozadi.jpg);
}

A {
	font-size : small;
	text-decoration : none;
	color : #DCDCDC;
	font-weight : bold;
	border : medium double;
	text-align : center;
	text-indent : 30px;
	background-color : #191970;
}

A:VISITED {
	text-decoration : none;
	color : #DCDCDC;
	font-weight : bold;
}

A:HOVER {
	color : #6495ED;
	font-weight : bold;
	background-color : transparent;
}

TABLE {
	font-family : "Times Roman", serif;
	font-size : small;
	border-left : none;
	border-right : none;
	border-color : Navy;
}

th{ 
	font-family : "Times Roman", serif;
	color: #DDDDDD;
	font-size : small;
 }

tr{
	font-family : "Times Roman", serif;
	font-size : x-small;
}

td{
	font-family : "Times Roman", serif;
	font-size : x-small;
}
 
H1.TITUL {
	color : Maroon;
	font-weight : bold;
	font-family : Tahoma;
	font-size : medium;
	text-align : center;
}

H1.NADPIS {
	color : Navy;
	font-weight : bold;
	font-family : Tahoma;
	font-size : x-small;
	text-align : center;
}

DIV.CISLO {
	color : #191970;
	font-weight : bold;
	font-family : "Times Roman", serif;
	font-size : small;
	text-align : center;
	background-color : #87CEEB;
}

DIV.OTAZKA {
	color : Navy;
	font-weight : bold;
	font-family : "Times Roman", serif;
	font-size : small;
	padding-bottom : 2px;
	padding-top : 3px;
}

DIV.STAT {
	color : Navy;
	font-weight : bold;
	font-family : "Times Roman", serif;
	font-size : larger;
	padding-bottom : 5px;
	padding-top : 3px;
}

H1.DOPLNIT {
	color : #CD5C5C;
	font-weight : bold;
	font-family : Tahoma;
	font-size : x-small;
	text-align : center;
	padding-bottom : 1px;
}

H1.NADP_SKUP {
	color : #996633;
	font-weight : bold;
	font-family : Tahoma;
	font-size : small;
	text-align : left;
	padding-bottom : 1px;
	padding-left : 5px;
}

IMG.RAM{
	border :  #0066CC;
}
