* {
	padding: 0px 0px 0px 0px;
}

.bodies{
	font-family: arial,verdana,tahoma;
	font-size:16px;
	background: url(../images/bac_table.png) repeat-x #666699;   
	padding: 0px;
	margin: 0px; 
	color: #666;
	}
td,p,div,tr { 
	font-size:15px;}

a:link {
	color:#666;
	text-decoration: none;       
}

a:visited {
	color:#666;
	text-decoration: none;    
}
a:hover {
	text-decoration: none;
	color:#ccc;        
 }
a:active {
	text-decoration: none;        
}
ul {
	margin: 0px 0px 0px 0px;
}
li {
	list-style: none;
}
.contentpaneopen fieldset{
	width:100%;
	border:none;
}
.highlight { 
	background:#FFFF00
}
.mainlevel {
	display:block;
	color:#000;

	letter-spacing:3px;
	line-height: 14px;
	border-bottom:1px solid #ccc;
	padding:2px 0 2px 10px;
	width:160px;
}
a.mainlevel:hover { 
	background:#f0f0f0;}
.sublevel {
	padding-left:15px;
	letter-spacing:3px;}
a.pathway {
	color: #fff;
	font-weight:bold;
}

.inputbox { 
	border:1px solid #666;
	font-size:12px;
	padding:2px;
	}
.button{
	background:url(../images/bgbutton.gif) repeat-x;
	padding: 2px;
	border: 1px solid  #999999;
	
	margin-top:2px;
	font-size:11px;
}

.syndicate {
	padding-bottom: 6px;
}
#core { 
	margin:auto 0px;
	padding:0;
}
#mid {
	width: 900px;
	border:5px solid #FFFFFF;
	background:#FFFFFF;
	min-width:700px;
	margin-top:-5px!important;
	margin-top:0;}

#top {
	height:160px;
	width: 900px;
	border:5px solid #FFFFFF;
	border-bottom:0;
	padding:0;
	margin:10px 0 0 0;
	min-width:700px;
	position: relative;
}
#logos {
	background:url(../images/logo.gif) no-repeat;
	height:160px;
	float:left;
	width: 900px;
}

#navi {
	width: auto;
	height: 30px;
	float: right;
	margin-top: 60px;

}
#line2 {
	background: url(../images/bgtopbar.gif) repeat-x #FFFFFF;
	width: 900px;
	border-left:5px solid #FFFFFF;
	border-right:5px solid #FFFFFF;
	border-top:0;
	min-width:700px;
	padding-top:11px!important;
	padding-top:0px;
	padding-bottom:0px!important;
	padding-bottom:4px;
	height:30px;
	clear: both;
	positon: relative;
	margin: 0 auto;
}

#date-today{
	text-align:right;
	padding-right: 10px;
	letter-spacing: 5px;
	float: right;
	width: 300px;
	color: #fff;
	margin:0;
}

#path-way {
	float: left;
	padding-left:10px;
	color: #fff;
	width:auto;
	margin:0;
}



#mainbody{
	padding:5px;
	background:url(../images/midbg.gif) repeat-x  #fff3f3; 
	border-left:#FFFFFF 5px solid;
	
}
#menu {
	background: url(../images/leftbg.gif) repeat-x #EBEBF5;
	padding:5px 5px 15px 5px;}

#menu div {
  margin: 30px;
}

#menu table.moduletable th,#menu div.moduletable h3{
	
	display:block;
	width: 100%;
	line-height:20px;
	background:url(../images/heading.gif) no-repeat 3px 10px;
	font-size:16px;
	color: #000;
	
	padding:10px 5px 5px 30px;
	font-weight:normal;
	text-align:left;

}
#right { 
	background: url(../images/rightbg.gif) repeat-x #F0F1C3;
	padding:0px 5px 15px 10px;
	width:160px;
	border-left:5px solid #FFFFFF;
}

#right table.moduletable th,#right div.moduletable h3 {
	
	display:block;
	background:url(../images/heading.gif) no-repeat 3px 6px ;
	font-size:16px;
	color: #333;
	
	padding:5px 5px 5px 30px;
	font-weight:normal;
	text-align:left;
	width:130px;
	
}
#right div.moduletable td {
	text-align:left;
}
#right div.moduletable {
	margin-bottom: 10px;
		text-align:left;
		
	

}

#menu table.moduletable form{
	
	display:block;
	padding-left:10px;
}

#menu table.moduletable form a{
	color: #000;
	font-weight: bold;
}

#mainbody .contentheading, #mainbody .contentpagetitle a:link,#mainbody .contentpagetitle a:visited {
	font-size:22px;
	color: #EFD7D7;
	text-align:center;
	padding-left: 30px;
	background:url(../images/contheading.gif) no-repeat 3px;
	font-family: Arial,Georgia, Tahoma;
}

#banner {
	padding-top: 20px;
	padding-bottom:10px;
}

#bottom{
	background:#000;
}

#ads {
	width:100%;
	background:#FFFFFF;
	text-align:center;
	margin:0;
	padding:0;
}
	
#foot {
	background:#333;
	color : #fff;
	font-size:11px;
	width: 900px;
	min-width:700px;
	border-left:5px solid #FFFFFF;
	border-right:5px solid #FFFFFF;
	border-bottom:5px solid #FFFFFF;
	padding:5px 0 5px 0;
}

#foot div {

}

#foot a {
	font-weight : bold;
	color: #FFFFFF ;
}
.small {
	font-size: 10px;
	color: #666666;
	font-weight:normal;
	
}

.createdate {
	font-size: 10px;
	color: #fff;
	font-weight:bold;
	
	padding:2px 2px 2px 25px;
	background: url(../images/date.gif) no-repeat 3px 2px #c6b2c6;


	
}

.modifydate {
	font-size: 10px;
	color: #999;
}

.readon {
	font-size: 11px;
	color: #999;
	padding-left: 15px;
	background-image:url(../images/arrow.gif);
	background-repeat:no-repeat;
	background-position:center;
	background-position:3px;
	
}

a.readon:hover {
	color: #000;
	font-weight: bold;
}

.mosimage {
	border:1px solid #81ae53;
	margin:5px;
	background:url(../images/bgmoscontent.gif) repeat-x bottom left;
	border:1px solid #ccc;
	padding-top:5px;
	padding-bottom:1px;
}
.mosimage_caption {
	margin:5px 2px 2px 2px;
	padding:3px 1px 1px 1px;
	color:#fff;
	font-size:10px;
	background: url(../images/moscaptionborder.gif) repeat-x top center;
	
}

.blog_more{
	
}

.contentpaneopen p a{
	color: #666;
	font-weight:bold;
	width:100%
}
#mainbody div table.contentpane {
	width:100%;}
td#mainbody  .contentdescription {
	width:100%;}

.blogsection {
	font-size: 11px;
	color: #999;
	
	display: block;
	width: 150px;
	}

a.blogsection:hover {
	color: #000;
	font-weight: bold;
}

.back_button {
	padding: 3px;
	text-align:center;
	margin-top: 5px;

}

.back_button a{
	color: #fff;
	
	background: #cccccc repeat-x bottom left;
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;
	border:1px solid #666666;
}

.componentheading {
	font-size:22px;
	color: #000;
	
	padding-left: 30px;
	background:url(../images/contheading.gif) no-repeat 3px;
	
	}

.category {
	font-size: 11px;
	color: #000;
	text-transform : lowercase;
	font-weight:bold;
}

.sectiontableheader {background:#999999;
	padding:5px;
	color:#FFFFFF;}

.sectiontableentry2 td{
	border-top: 1px solid #f0f0f0;
	padding:5px;
}

.sectiontableentry1 td{
	border-top: 1px solid #f0f0f0;
	background: #fff;
	padding:5px;
}





ul#mainlevel-nav li{
	float: left;
	width: 120px;
	text-align:center;
	border-left: 1px solid #fff;
	margin-top: 15px;
	}

a.mainlevel-nav:link,a.mainlevel-nav:visited {
	color:#ff9900;
	
	font-weight:bold;
}

a.mainlevel-nav:hover {
	color: #fff;
	font-weight:bold;
}
#mainbody li { 
	list-style:disc;
	margin-left:20px}
ul.latestnews li{list-style:disc;
	background:url(../images/dotyellow.gif) repeat-x bottom center;
	padding:2px 2px 5px 2px;
	margin-left:0px;
	color:#FFFFFF;
	width:auto;
}

.latestnews a{
	text-transform: lowercase;
	color: #fff;
}

.latestnews a:visited{
	color: #ccc;
}
.latestnews a:hover {
	color: #99FF99;}

ul.mostread li{
	list-style:disc;
	background:url(../images/dotyellow.gif) repeat-x bottom center;
	padding:2px 2px 5px 2px;
	margin-left:0px;
	

}

.mostread a{
	text-transform: lowercase;
	color: #fff;
}
.mostread a:visited{
	color: #ccc;
}
.mostread a:hover { 
	color: #99FF99;}

/*slide panel*/
#dhtmlgoodies_leftPanel{	/* Styling the help panel */
	/* Blue background color */
	color:#FFF;
	margin-top:10px;	/* White text color */
	/* Which font to use */
	border-bottom:5px solid #FFFFFF;
	/* You shouldn't change these 5 options unless you need to */		
	height:100%;	
	left:0px;
	z-index:10;
	position:absolute;
	display:none;
	overflow:hidden;
	}
#dhtmlgoodies_leftPanel #leftPanelContent{
	padding:49px 5px 5px 10px;
	border-top:5px solid #FFFFFF;
	border-right:5px solid #FFFFFF;
	background: url(../images/bgslidepanel.gif) repeat-x #698b48 ;
	height:100%;
	}
#dhtmlgoodies_leftPanel #leftPanelContent  div {
	padding:0px;
	width:160px;
	color:#FFFFFF;
	
	}
#dhtmlgoodies_leftPanel #leftPanelContent  table.moduletable,#dhtmlgoodies_leftPanel #leftPanelContent  div.moduletable {
	margin-top:20px;width:155px;
	text-align:right;

	}
	#dhtmlgoodies_leftPanel #leftPanelContent  div .moduletable th,#dhtmlgoodies_leftPanel #leftPanelContent  div .moduletable h3 { 
	background: #009933;
	font-size:16px;
	padding:2px 15px 2px 15px;
	
	font-weight:normal;
	text-align:right;
	width: auto;
	}
#dhtmlgoodies_leftPanel #leftPanelContent  div .moduletable td {
	padding:5px 0px 5px 0px;
	text-align:right;}
	
#dhtmlgoodies_leftPanel #leftPanelContent a {
	color:#99FF99;}
#dhtmlgoodies_leftPanel #leftPanelContent  a:visited {
	color:#00CC99;}
#dhtmlgoodies_leftPanel #leftPanelContent a:hover {
	color:#FFFFFF;}
	
#dhtmlgoodies_leftPanel #leftPanelContent .mainlevel {
	display:block;
	width:150px;
	color:#fff;
	
	letter-spacing:3px;
	background:url(../images/dotyellow.gif) repeat-x bottom center;
	padding:2px 2px 5px 2px;
}
#dhtmlgoodies_leftPanel #leftPanelContent a.mainlevel:hover {
color:#00FF99;}
#dhtmlgoodies_leftPanel #leftPanelContent .sublevel {
	padding-right:15px;
	letter-spacing:3px;
	color:#FFFFFF;}	
	
/* tab on slide panel */

.tabberlive .tabbertabhide {
 	display:none;
}
.tabber {
}
.tabberlive {
	 margin-top:0;
	 margin-left:0px;
}

ul.tabbernav {
	 margin:0;
	 padding: 3px 0;
	
	 font: bold 10px Arial, sans-serif;
	 
	 font-weight:bold;
	 letter-spacing:1px;

}

ul.tabbernav li
{

	 list-style: none;
	 margin: 0;
	 display: inline;
	}

ul.tabbernav li a
{
	 padding: 3px 0.5em;
	 margin-left: 3px;
	 border:1px solid #333300;
	 border-bottom: none;
	 background: #DDE;
	 text-decoration: none;
}

ul.tabbernav li a:link { 
	color: #ccc;
	background: url(../images/bgtablink.gif) repeat-x; }
ul.tabbernav li a:visited { 
	color: #667;
	background: #FFFF00; }

ul.tabbernav li a:hover
{
	 color: #ccc;
	 background: #003300;
	 border-color: #333300;
}

ul.tabbernav li.tabberactive a
{
	background:url(../images/bgtabactive.gif) repeat-x;
	color:#FFFFFF;
}
ul.tabbernav li.tabberactive a:hover
{
}
.tabberlive .tabbertab {
	 padding:5px;
	 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

.tabberlive .tabbertab h2 {
 	display:none;
}
/*.tabberlive .tabbertab h3 {
 display:none;
}*/

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
	 height:200px;
	 overflow:auto;
}
