body {
  background: #255ca1 url(../obr/body_background.png) repeat-y center top;
  font: 12.5px Tahoma, Verdana, sans-serif;
  color: #d99203;
  position: relative;
}

span.preloader {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

span.preload_001 {
  background: url(../obr/background_obsah_sekce_prihlaseni.png) no-repeat;
}

span.preload_002 {
  background: url(../obr/background_info_uzivatel.png) no-repeat;
}

span.preload_003 {
  background: url(../obr/background_info_uzivatel_upravit_udaje.png) no-repeat;
}

span.preload_004 {
  background: url(../obr/background_obsah_sekce_registrace_bottom.png) no-repeat;
}

span.preload_005 {
  background: url(../obr/background_obsah_sekce_registrace_top.png) no-repeat;
}

span.preload_006 {
  background: url(../obr/background_obsah_sekci.png) no-repeat;
}

span.preload_007 {
  background: url(../obr/background_obsah_sekci_bottom.png) no-repeat;
}

span.preload_008 {
  background: url(../obr/background_obsah_sekci_top.png) no-repeat;
}

span.preload_009 {
  background: url(../obr/background_tabulky_left.png) no-repeat;
}

span.preload_010 {
  background: url(../obr/background_tabulky_left_bottom.png) no-repeat;
}

span.preload_011 {
  background: url(../obr/background_tabulky_left_top.png) no-repeat;
}

span.preload_012 {
  background: url(../obr/background_tabulky_right.png) no-repeat;
}

span.preload_013 {
  background: url(../obr/background_tabulky_right_bottom.png) no-repeat;
}

span.preload_014 {
  background: url(../obr/background_tabulky_right_top.png) no-repeat;
}

span.preload_015 {
  background: url(../obr/background_zavrit_obsah.png) no-repeat;
}

span.preload_016 {
  background: url(../obr/backgrouond_vypis_informaci.png) no-repeat;
}

span.preload_017 {
  background: url(../obr/email_ikona.png) no-repeat;
}

span.preload_018 {
  background: url(../obr/email_telefon.png) no-repeat;
}

span.preload_019 {
  background: url(../obr/ikona_odpoved.png) no-repeat;
}

span.preload_020 {
  background: url(../obr/ikona_odrazka_z_domova_velky.png) no-repeat;
}

span.preload_021 {
  background: url(../obr/ikona_odrazka_ze_sportu_velky.png) no-repeat;
}

span.preload_022 {
  background: url(../obr/ikona_odrazka_ze_sveta_velky.png) no-repeat;
}

span.preload_023 {
  background: url(../obr/ikona_otazka.png) no-repeat;
}

span.preload_024 {
  background: url(../obr/ikona_stahnout.png) no-repeat;
}

span.preload_025 {
  background: url(../obr/ikona_www.png) no-repeat;
}

span.preload_026 {
  background: url(../obr/ikona_zobrazit.png) no-repeat;
}

span.preload_027 {
  background: url(../obr/informace_o_uzivateli.png) no-repeat;
}

span.preload_028 {
  background: url(../obr/informace_o_uzivateli_upravit.png) no-repeat;
}

span.preload_029 {
  background: url(../obr/logo_mv_consulting.png) no-repeat;
}

span.preload_030 {
  background: url(../obr/mini_logo_superklik_kontakt.png) no-repeat;
}

span.preload_031 {
  background: url(../obr/navod_firefox_domovska_stranka_01.png) no-repeat;
}

span.preload_032 {
  background: url(../obr/navod_firefox_domovska_stranka_02.png) no-repeat;
}

span.preload_033 {
  background: url(../obr/obraze_odhlasen.png) no-repeat;
}

span.preload_034 {
  background: url(../obr/obrazek_prihlasen.png) no-repeat;
}

span.preload_035 {
  background: url(../obr/obrazek_spatne_prihlaseni.png) no-repeat;
}

span.preload_036 {
  background: url(../obr/reklama_001.png) no-repeat;
}

span.preload_037 {
  background: url(../obr/reklama_002.png) no-repeat;
}

span.preload_038 {
  background: url(../obr/reklama_003.png) no-repeat;
}

span.preload_039 {
  background: url(../obr/reklama_004.png) no-repeat;
}

span.preload_040 {
  background: url(../obr/reklama_005.png) no-repeat;
}

span.preload_041 {
  background: url(../obr/sipka_odrazky_v_seznamu.png) no-repeat;
}

span.preload_042 {
  background: url(../obr/sipka_odrazky_v_seznamu_fialove.png) no-repeat;
}

span.preload_043 {
  background: url(../obr/sipka_odrazky_v_seznamu_puntiky.png) no-repeat;
}

span.preload_044 {
  background: url(../obr/horoskopy/znameni-beran.gif) no-repeat;
}

span.preload_045 {
  background: url(../obr/horoskopy/znameni-blizenci.gif) no-repeat;
}

span.preload_046 {
  background: url(../obr/horoskopy/znameni-byk.gif) no-repeat;
}

span.preload_047 {
  background: url(../obr/horoskopy/znameni-kozoroh.gif) no-repeat;
}

span.preload_048 {
  background: url(../obr/horoskopy/znameni-lev.gif) no-repeat;
}

span.preload_049 {
  background: url(../obr/horoskopy/znameni-panna.gif) no-repeat;
}

span.preload_050 {
  background: url(../obr/horoskopy/znameni-rak.gif) no-repeat;
}

span.preload_051 {
  background: url(../obr/horoskopy/znameni-ryby.gif) no-repeat;
}

span.preload_052 {
  background: url(../obr/horoskopy/znameni-stir.gif) no-repeat;
}

span.preload_053 {
  background: url(../obr/horoskopy/znameni-strelec.gif) no-repeat;
}

span.preload_054 {
  background: url(../obr/horoskopy/znameni-vahy.gif) no-repeat;
}

span.preload_055 {
  background: url(../obr/horoskopy/znameni-vodnar.gif) no-repeat;
}

span.preload_056 {
  background: url(../valce_img/0.jpg) no-repeat;
}

span.preload_057 {
  background: url(../valce_img/1.jpg) no-repeat;
}

span.preload_058 {
  background: url(../valce_img/2.jpg) no-repeat;
}

span.preload_059 {
  background: url(../valce_img/3.jpg) no-repeat;
}

span.preload_060 {
  background: url(../valce_img/4.jpg) no-repeat;
}

span.preload_061 {
  background: url(../valce_img/5.jpg) no-repeat;
}

span.preload_062 {
  background: url(../valce_img/6.jpg) no-repeat;
}

span.preload_063 {
  background: url(../valce_img/7.jpg) no-repeat;
}

span.preload_064 {
  background: url(../valce_img/8.jpg) no-repeat;
}

span.preload_065 {
  background: url(../obr/background_obsah_sekce_registrace.png) no-repeat;
}

span.preload_067 {
  background: url(../obr/ie6/sipka_odrazky_v_seznamu_druha.png) no-repeat;
}

span.preload_071 {
  background: url(../obr/background_odhlasit_se.png) no-repeat;
}

#obal_layout {
  width: 750px;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

#zahlavi {
  width: 740px;
  height: 207px;
}

#zahlavi .no_flash {

}

#zahlavi #alternatina_flash {

}

#zahlavi #alternatina_flash a {

}

#zahlavi {
  margin: 0 auto;
  position: relative;
}

#zahlavi h1 {
  position: absolute;
  left: 360px;
  top: 160px;
  z-index: -10;
  font: 20px normal Verdana, sans-serif;
  color: #255ca1;
}

#zahlavi object {
  outline: none;
}

#zahlavi #nastavit_domovskou_stranku,
#zahlavi #stahnout_flash_player {
  position: absolute;
  top: 183px;
  left: 16px;
  z-index: 100;
  font-size: 11px;
  color: #322f64;
  outline: none;
  font-weight: bold;
}

#zahlavi #stahnout_flash_player {
  left: auto;
  right: 16px;
}

#zahlavi #nastavit_domovskou_stranku img,
#zahlavi #stahnout_flash_player img {
  border: none;
}

#zahlavi #nastavit_domovskou_stranku:hover,
#zahlavi #stahnout_flash_player:hover {
  color: #d0e1f0;
}

/*
#zahlavi .reklama_1,
#zahlavi .reklama_2,
#zahlavi .reklama_3,
#zahlavi .reklama_4,
#zahlavi .reklama_5 {
  position: absolute;
  width: 120px;
  height: 400px;
  z-index: 10;
}

#zahlavi .reklama_1 {
  top: 0;
  left: -128px;
}

#zahlavi .reklama_2 {
  top: 400px;
  left: -128px;
}

#zahlavi .reklama_5 {
  top: 800px;
  left: -128px;
}

#zahlavi .reklama_3 {
  top: 0;
  right: -125px;
}

#zahlavi .reklama_4 {
  top: 400px;
  right: -125px;
}*/

#zahlavi .linka_pod_flashem {
  display: block;
  width: 121px;
  height: 13px;
  background: url(../obr/linka_pod_flashem.png) no-repeat center;
  position: absolute;
  z-index: 10;
}

#zahlavi .linka_nad_flashem_left,
#zahlavi .linka_nad_flashem_right {
  display: block;
  width: 131px;
  height: 45px;
  position: absolute;
  top: 0;
}

#zahlavi .linka_nad_flashem_left {
  left: -138px;
  background: url(../obr/reklama_l.png) no-repeat center;
}

#zahlavi .linka_nad_flashem_right {
  right: -135px;
  background: url(../obr/reklama_r.png) no-repeat center;
}

#reklama_bezici_text {
  width: 750px;
  height: 43px;
  position: relative;
  background: url(../obr/jezdici_reklama_panel.png) no-repeat center top;
  margin-top: 2px;
}

#reklama_bezici_text p {
  width: 617px;
  margin-top: 15px;
  margin-right: 20px;
  float: right;
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}

#uzivatelske_info {
  width: 750px;
  height: 49px;
  position: relative;
  background: url(../obr/registrace_prihlaseni_panel.png) no-repeat center;
  margin-top: 2px;
}

#uzivatelske_info #reg_log {
  position: absolute;
  top: 0;
  left: 0;
  width: 750px;
  height: 49px;
}

#uzivatelske_info #reg_log:after,
#uzivatelske_info #reg_log p:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#uzivatelske_info #reg_log p em {
  width: 15px;
  height: 19px;
  display: block;
  float: left;
  background: url(../obr/background_oddelovac_zahlavi.png) no-repeat center;
}

#uzivatelske_info #reg_log p#registrace_prihlaseni {
  width: 136px;
  height: 19px;
  position: absolute;
  bottom: 13px;
  right: 28px;
}

#uzivatelske_info #reg_log p#registrace_prihlaseni a {
  width: 62px;
  height: 19px;
  display: block;
  float: left;
  outline: none;
  background: url(../obr/background_registrace_zahlavi.png) no-repeat left;
}

#uzivatelske_info #reg_log p#registrace_prihlaseni a.prihlaseni_odkaz {
  width: 59px;
  background: url(../obr/background_prihlaseni_zahlavi.png) no-repeat left;
}

#uzivatelske_info #reg_log p#registrace_prihlaseni a:hover {
  background-position: right;
}

#uzivatelske_info #reg_log p#registrace_prihlaseni a span {
  display: none;
}

#uzivatelske_info #reg_log p#prilasen_odhlasit {
  width: 160px;
  height: 19px;
  float: right;
  position: absolute;
  bottom: 13px;
  right: 24px;
  overflow: hidden;
}

#uzivatelske_info #reg_log p#prilasen_odhlasit em {
  width: 15px;
  height: 19px;
  display: block;
  float: left;
  background: url(../obr/background_oddelovac_zahlavi.png) no-repeat center;
}

#uzivatelske_info #reg_log p#prilasen_odhlasit a {
  color: #d99203;
}

#uzivatelske_info #reg_log p#prilasen_odhlasit a:hover {
  color: #fff;
}

#uzivatelske_info #reg_log p#prilasen_odhlasit a.jste_prihlasen {
  width: 81px;
  height: 19px;
  display: block;
  float: left;
  outline: none;
  background: none;
  white-space: nowrap;
  text-align: right;
  overflow: hidden;
}

#uzivatelske_info #reg_log p#prilasen_odhlasit a.odhlasit_se span {
  display: none;
}

#uzivatelske_info #reg_log p#prilasen_odhlasit a.odhlasit_se {
  display: block;
  width: 64px;
  height: 19px;
  float: right;
  white-space: nowrap;
  outline: none;
  background: url(../obr/background_odhlasit_se.png) no-repeat left;
}

#uzivatelske_info #reg_log p#prilasen_odhlasit a.odhlasit_se:hover {
  background-position: right;
}

#uzivatelske_info .left {
  float: left;
}

#uzivatelske_info .left span {
  margin-top: 18px;
  display: block;
  float: left;
}

#uzivatelske_info .left img {
  margin-top: 18px;
  margin-left: 35px;
  float: left;
}

#uzivatelske_info .left img.svatek_ma_img {
  margin-top: 18px;
  margin-left: 10px;
  float: left;
}

#obal_layout #hodiny_pujcene {
  width: 110px;
  margin-top: 6px;
  position: absolute;
  top: 4px;
  right: 180px;
  overflow: hidden;
}

#obal_layout #hodiny_pujcene #samotne_hodiny {
  width: 34px;
  height: 34px;
  margin-top: 8px;
  margin-left: 2px;
  float: left;
  overflow: hidden;
}

#obal_layout #hodiny_pujcene .right {
  margin-top: 8px;
  overflow: hidden;
  width: 66px;
  float: left;
}

#obal_layout #hodiny_pujcene span {
  display: block;
  width: 44px;
  height: 34px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

#panel_automat_vyherci {
  width: 741px;
  margin: 0 auto;
}

#reklama {
  position: relative;
}

#reklama #cse-search-box {
  margin-top: 65px;
  overflow: hidden;
}

#reklama #cse-search-box div {
  margin-left: 22px;
}

#reklama #cse-search-box div input#input_text_hledani {
  background: #fff url(../obr/superhledac_superklik.png) no-repeat left !important;
  padding-left: 60px !important;
  border: 2px solid #b43b00 !important;
  width: 135px;
}

#reklama #cse-search-box div input#input_tlacitko_hledat {
  width: 48px;
  height: 23px;
  margin-left: -5px;
  border: none;
  cursor: pointer;
  background: url(../obr/tlacitko_hledej.png) no-repeat !important;
}

#reklama #pocasi {
  margin-top: 52px;
  margin-left: 21px;
}

#reklama #pocasi img {
  width: 36px;
  height: 50px;
  border: 1px solid #b43b00;
}

#reklama #horoskop {
  margin: 50px 0 0 20px;
  width: 250px;
}

#reklama #horoskop p {
  font-size: 11px;
  height: 95px;
  overflow: hidden;
}

#reklama #horoskop p img {
  margin-right: 6px;
  margin-bottom: 0;
  float: left;
}

#reklama #horoskop p strong {
  clear: both;
}

#reklama #mena_eur_usd {
  height: 52px;
  position: relative;
  margin-top: 47px;
}

#reklama #mena_eur_usd p {
  position: absolute;
  top: 0;
  width: 80px;
}

#reklama #mena_eur_usd p:hover {
  text-decoration: underline;
  cursor: default;
  color: #b43b00;
}

#reklama #mena_eur_usd p.eur_margin {
  left: 60px;
}

#reklama #mena_eur_usd p.usd_margin {
  left: 182px;
}

#reklama #mena_eur_usd p.hrk_margin {
  top: 29px;
  left: 60px;
}

#reklama #mena_eur_usd p.gbp_margin {
  top: 29px;
  left: 182px;
}

#reklama #horoskop p img {
  border: 1px solid #b43b00;
}

#reklama #horoskop #horoskopy_seznam {
  overflow: hidden;
  margin-top: 2px;
}

#reklama #horoskop #horoskopy_seznam span {
  display: block;
  width: 125px;
  float: left;
  margin-top: 1px;
}

#reklama #horoskop #horoskopy_seznam span.icon_rak,
#reklama #horoskop #horoskopy_seznam span.icon_ryby,
#reklama #horoskop #horoskopy_seznam span.icon_stir,
#reklama #horoskop #horoskopy_seznam span.icon_strelec,
#reklama #horoskop #horoskopy_seznam span.icon_vahy,
#reklama #horoskop #horoskopy_seznam span.icon_vodnar {
  float: right;
}

#reklama #horoskop #horoskopy_seznam span a {
  color: #d99203;
  outline: none;
}

#reklama #horoskop #horoskopy_seznam span:hover a strong,
#reklama #horoskop #horoskopy_seznam span a:hover strong {
  text-decoration: underline;
  color: #b43b00;
}

#reklama #horoskop #horoskopy_seznam span a em {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  border: 1px solid #b43b00;
}

#reklama #horoskop #horoskopy_seznam span a strong,
#reklama #horoskop #horoskopy_seznam span cite {
  display: block;
  float: left;
  width: 80px;
  margin-left: 3px;
}

#reklama #horoskop #horoskopy_seznam span cite {
  font-size: 10px;
  cursor: default;
  font-style: normal;
}

#reklama #horoskop #horoskopy_seznam span.icon_beran em {
  background: url(../obr/horoskopy/icon_beran.jpg) no-repeat center;
}

#reklama #horoskop #horoskopy_seznam span.icon_blizenci em {
  background: url(../obr/horoskopy/icon_blizenci.jpg) no-repeat center;
}

#reklama #horoskop #horoskopy_seznam span.icon_byk em {
  background: url(../obr/horoskopy/icon_byk.jpg) no-repeat center;
}

#reklama #horoskop #horoskopy_seznam span.icon_kozoroh em {
  background: url(../obr/horoskopy/icon_kozoroh.jpg) no-repeat center;
}

#reklama #horoskop #horoskopy_seznam span.icon_lev em {
  background: url(../obr/horoskopy/icon_lev.jpg) no-repeat center;
}

#reklama #horoskop #horoskopy_seznam span.icon_panna em {
  background: url(../obr/horoskopy/icon_panna.jpg) no-repeat center;
}

#reklama #horoskop #horoskopy_seznam span.icon_rak em {
  background: url(../obr/horoskopy/icon_rak.jpg) no-repeat center;
}

#reklama #horoskop #horoskopy_seznam span.icon_ryby em {
  background: url(../obr/horoskopy/icon_ryby.jpg) no-repeat center;
}

#reklama #horoskop #horoskopy_seznam span.icon_stir em {
  background: url(../obr/horoskopy/icon_stir.jpg) no-repeat center;
}

#reklama #horoskop #horoskopy_seznam span.icon_strelec em {
  background: url(../obr/horoskopy/icon_strelec.jpg) no-repeat center;
}

#reklama #horoskop #horoskopy_seznam span.icon_vahy em {
  background: url(../obr/horoskopy/icon_vahy.jpg) no-repeat center;
}

#reklama #horoskop #horoskopy_seznam span.icon_vodnar em {
  background: url(../obr/horoskopy/icon_vodnar.jpg) no-repeat center;
}

#vypis_zpravy_horoskopy {
  width: 742px;
  height: 234px;
  margin-left: 5px;
  background: url(../obr/backgrouond_vypis_informaci.png) no-repeat center;
  overflow: hidden;
  position: relative;
}

#vypis_zpravy_horoskopy_vnitrek {
  width: 700px;
  height: 174px;
  margin: 0 auto;
  padding-top: 70px;
}

#vypis_zpravy_horoskopy_vnitrek h2 {
  font-size: 12px;
  float: right;
  width: 576px;
  white-space: nowrap;
  overflow: hidden;
}

#vypis_zpravy_horoskopy_vnitrek p {
  font-size: 11.5px;
  clear: both;
  padding-top: 10px;
  line-height: 16px;
}

#vypis_zpravy_horoskopy_vnitrek p em {
  display: block;
  height: 6px;
}

#vypis_zpravy_horoskopy_vnitrek p img {
  width: 115px;
  height: 105px;
  float: left;
  margin-top: -24px;
  margin-right: 10px;
  margin-bottom: 50px;
  border: 1px solid #b43b00;
}

#program_televize {
  margin-top: 40px;
}

#program_televize p {
  overflow: hidden;
  width: 200px;
  margin-left: 70px;
  margin-bottom: 6px;
}

#program_televize p a {
  color: #d99203;
  outline: none;
}

#program_televize p a:hover {
  color: #b43b00;
}

#program_televize p span {
  display: block;
  float: left;
}

#program_televize p span.nazev_programu {
  width: 30px;
  font-size: 10px;
}

#program_televize p span.nazev_cas_programu {
  width: 160px;
  font-size: 10px;
}

#program_televize p span.nazev_poradu {
  width: 200px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}

#program_televize p a:hover span.nazev_poradu {
  text-decoration: underline;
}

#panel_automat_vyherci,
#panel_automat_vyherci #automat,
#panel_automat_vyherci #tabulka_vyhercu {
  height: 172px;
}

#panel_automat_vyherci #automat {
  float: left;
  width: 457px;
  background: url(../obr/background_automat.png) no-repeat;
  position: relative;
}

#panel_automat_vyherci #automat div {
  margin-left: 3px;
}

#panel_automat_vyherci #automat #flash_automat,
#panel_automat_vyherci #automat #flash_automat .no_flash {
  float: left;
  width: 262px;
  height: 145px;
  margin-top: 12px;
  margin-left: 25px;
}

#panel_automat_vyherci #automat #flash_automat .no_flash {

}

#panel_automat_vyherci #automat #flash_automat object {
  outline: none;
}

#panel_automat_vyherci #automat #flash_automat #id_nolimit {
  position: absolute;
  top: 0;
  right: 0;
  width: 170px;
  height: 145px;
  background: url(../obr/background_automat_nolimit.png) no-repeat right top;
}

#panel_automat_vyherci #automat #uzivatel_kredit {
  float: right;
  width: 148px;
  height: 52px;
  margin-top: 17px;
  margin-right: 19px;
}

#panel_automat_vyherci #automat #uzivatel_kredit p {
  margin-top: 10px;
  margin-left: 8px;
  color: #1194db;
  font: 12.5px Verdana, Tahoma, sans-serif;
}

#panel_automat_vyherci #automat #uzivatel_kredit .kredit {
  margin-top: 5px;
}

#panel_automat_vyherci #tabulka_vyhercu {
  float: right;
  width: 284px;
  background: url(../obr/background_tabulka_vyhercu.png) no-repeat;
}

#panel_automat_vyherci #tabulka_vyhercu #vyherci {
  width: 257px;
  height: 94px;
  margin: 60px auto 0;
}

#panel_automat_vyherci #tabulka_vyhercu #vyherci p {
  color: #db9803;
  font: 14px Tahoma, Verdana, sans-serif;
  letter-spacing: 1px;
  height: 17px;
  margin-bottom: 3px;
  margin-left: 12px;
  overflow: hidden;
}

#panel_automat_vyherci #tabulka_vyhercu #vyherci p span {
  display: block;
  width: 17px;
  height: 17px;
  margin-right: 3px;
  float: left;
}

#panel_automat_vyherci #tabulka_vyhercu #vyherci p span.obrazek_darek_01 {
  background: url(../obr/obrazek_darek_01.png) no-repeat;
}

#panel_automat_vyherci #tabulka_vyhercu #vyherci p span.obrazek_darek_02 {
  background: url(../obr/obrazek_darek_02.png) no-repeat;
}

#panel_automat_vyherci #tabulka_vyhercu #vyherci p span.obrazek_darek_03 {
  background: url(../obr/obrazek_darek_03.png) no-repeat;
}

#panel_automat_vyherci #tabulka_vyhercu #vyherci p span.obrazek_darek_04 {
  background: url(../obr/obrazek_darek_04.png) no-repeat;
}

#panel_automat_vyherci #tabulka_vyhercu #vyherci p span.obrazek_darek_05 {
  background: url(../obr/obrazek_darek_05.png) no-repeat;
}

#sponzori_reklama,
#sponzori_reklama #sponzori,
#sponzori_reklama #reklama {

}

#sponzori_reklama {
  height: 818px;
  width: 741px;
  margin: 0 auto;
}

#sponzori_reklama #sponzori {
  float: left;
  width: 456px;
  height: 270px;
  margin-left: 1px;
  margin-top: -60px;
  background: url(../obr/background_sponzori.png) no-repeat;
}

#sponzori_reklama #sponzori span {
  display: block;
  float: left;
  width: 108px;
  height: 81px;
  background: url(../obr/background_reklama_sponzor.png) no-repeat left center;
  position: relative;
}

#sponzori_reklama #sponzori span em {
  display: block;
  width: 78px;
  height: 39px;
  position: absolute;
  top: 12px;
  left: 10px;
}

#sponzori_reklama #sponzori span.sponzor_001,
#sponzori_reklama #sponzori span.sponzor_002,
#sponzori_reklama #sponzori span.sponzor_003,
#sponzori_reklama #sponzori span.sponzor_004 {
  margin-top: 75px;
  margin-bottom: 10px;
}

#sponzori_reklama #sponzori span.sponzor_001,
#sponzori_reklama #sponzori span.sponzor_005 {
  margin-left: 11px;
}

#sponzori_reklama #sponzori span.sponzor_001 em {
  background: url(../valce_img/3.jpg) no-repeat center top;
}

#sponzori_reklama #sponzori span.sponzor_002 em {
  background: url(../valce_img/1.jpg) no-repeat center top;
}

#sponzori_reklama #sponzori span.sponzor_003 em {
  background: url(../valce_img/2.jpg) no-repeat center top;
}

#sponzori_reklama #sponzori span.sponzor_004 em {
  background: url(../valce_img/4.jpg) no-repeat center top;
}

#sponzori_reklama #sponzori span.sponzor_005 em {
  background: url(../valce_img/5.jpg) no-repeat center top;
}

#sponzori_reklama #sponzori span.sponzor_006 em {
  background: url(../valce_img/6.jpg) no-repeat center top;
}

#sponzori_reklama #sponzori span.sponzor_007 em {
  background: url(../valce_img/7.jpg) no-repeat center top;
}

#sponzori_reklama #sponzori span.sponzor_008 em {
  background: url(../valce_img/8.jpg) no-repeat center top;
}

#sponzori_reklama #zpravy {
  float: left;
  width: 456px;
  height: 548px;
  margin-left: 1px;
  padding-top: 60px;
  background: url(../obr/background_zpravy.png) no-repeat;
}

#sponzori_reklama #zpravy div {
  width: 440px;
  overflow: hidden;
  white-space: nowrap;
}

#sponzori_reklama #zpravy #zpravy_z_domova {
  height: 130px;
  margin-top: 45px;
}

#sponzori_reklama #zpravy #zpravy_ze_sveta {
  height: 90px;
  margin-top: 62px;
}

#sponzori_reklama #zpravy #zpravy_ze_sportu {
  height: 80px;
  margin-top: 53px;
}

#sponzori_reklama #zpravy div p {
  margin: 2px 0 4px 20px;
}

#sponzori_reklama #zpravy p a {
  color: #d99203;
  outline: none;
}

#sponzori_reklama #zpravy p a.prvni_aktivni_odkaz { /* f1590e */
  color: #933300;
}

#sponzori_reklama #zpravy p a:hover {
  color: #b43b00;
}

#sponzori_reklama #zpravy span.linka_zpravy {
  display: block;
  height: 3px;
  background: url(../obr/linka_vypis.png) no-repeat;
  width: 418px;
  margin-left: 16px;
}

#sponzori_reklama #reklama {
  float: right;
  width: 283px;
  height: 818px;
  margin-left: 1px;
  background: url(../obr/backgrouond_reklama.png) no-repeat;
}

#reklama_2 {
  width: 741px;
  height: 167px;
  margin: -2px auto 0;
  background: url(../obr/background_reklama_2.png) no-repeat;
  /* padding-bottom: 67px; */
}

#obal_layout #main_form {
  width: 750px;
  position: relative;
}

#obal_layout #main_form h2,
#uzivatelske_info #reg_log #lista_prihlasovani h2 {
  display: block;
  width: 750px;
  height: 15px;
  font-size: 12px;
  background: url(../obr/background_obsah_sekci_top.png) no-repeat center;
}

#obal_layout #main_form h3,
#uzivatelske_info #reg_log #lista_prihlasovani h3 {
  display: block;
  width: 750px;
  height: 22px;
  font-size: 12px;
  background: url(../obr/background_obsah_sekci_bottom.png) no-repeat center;
}

#obal_layout #main_form h3.pravidla_bottom {
  margin-top: -3px;
}

#obal_layout #main_form h4,
#obal_layout #main_form div#div_registrace form fieldset .nadpis_ve_forme {
  display: block;
  width: 670px;
  margin: 0 26px 0 30px;
  padding: 2px;
  font-weight: bold;
  color: #fff;
  background: url(../obr/background_seznam_nadpis.png) repeat;
}

#obal_layout #main_form div#div_registrace h4,
#obal_layout #main_form div#div_registrace_info_edit h4 {
  position: relative;
  top: 10px;
  margin-bottom: 10px;
  /* outline: 10px 0 0 0; */
}

#obal_layout #main_form div#div_registrace form fieldset .nadpis_ve_forme {
  margin-top: 30px;
  margin-bottom: 10px;
  float: left;
}

#obal_layout #main_form div,
#uzivatelske_info #reg_log #lista_prihlasovani div {
  background: url(../obr/background_obsah_sekci.png) repeat-y center top;
}

#obal_layout #main_form div#obchod_podminky {
  background: none;
  position: relative;
}

#obal_layout #main_form div#obchod_podminky a {
  top: 0;
}

#obal_layout #main_form div#obchod_podminky textarea {
  width: 670px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

#obal_layout #main_form div p.texty_odhlaseno_prihlaseno,
#uzivatelske_info #reg_log #lista_prihlasovani div p.texty_odhlaseno_prihlaseno,
#obal_layout #main_form p.texty_odhlaseno_prihlaseno {
  overflow: hidden;
  margin-left: 20px;
  line-height: 64px;
}

#obal_layout #main_form div p.texty_odhlaseno_prihlaseno em,
#uzivatelske_info #reg_log #lista_prihlasovani div p.texty_odhlaseno_prihlaseno em,
#obal_layout #main_form p.texty_odhlaseno_prihlaseno em {
  display: block;
  margin-top: -48px;
  font-style: normal;
}

#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_odhlasen_prihlasen,
#uzivatelske_info #reg_log #lista_prihlasovani div p.texty_odhlaseno_prihlaseno span.obrazek_odhlasen_prihlasen {
  display: block;
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: left;
}

#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_odhlasen {
  background: url(../obr/obraze_odhlasen.png) no-repeat center;
}

#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_prihlasen,
#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_prihlasen_registrace {
  background: url(../obr/obrazek_prihlasen.png) no-repeat center;
}

#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_nevyhral_jste {
  background: url(../obr/obrazek_nevyhral_jste.png) no-repeat center;
}

#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_vyhral_jste {
  background: url(../obr/obrazek_vyhral_jste.png) no-repeat center;
}

#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_prihlasen_registrace {
  margin-top: 10px;
}

#uzivatelske_info #reg_log #lista_prihlasovani div p.texty_odhlaseno_prihlaseno span.obrazek_spatne_prihlaseni,
#obal_layout #main_form #lista_prihlasovani div p.texty_odhlaseno_prihlaseno span.obrazek_spatne_prihlaseni {
  background: url(../obr/obrazek_spatne_prihlaseni.png) no-repeat center;
}

#uzivatelske_info #reg_log #lista_prihlasovani {
  width: 750px;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 300;
}

#obal_layout #main_form div.background_prihlaseni {
  height: 160px;
  background: url(../obr/background_obsah_sekce_prihlaseni.png) no-repeat center top;
}

#obal_layout #main_form div.background_prihlaseni form {
  padding-top: 40px;
}

#obal_layout #main_form div.background_prihlaseni form p {
  margin-left: 20px;
  margin-bottom: 20px;
}

#obal_layout #main_form div.background_prihlaseni form fieldset {
  border: none;
}

#obal_layout #main_form div.background_prihlaseni form fieldset dl {
  width: 240px;
  margin: 0 auto 6px;
}

#obal_layout #main_form div.background_prihlaseni form fieldset dl dt {
  width: 60px;
  text-align: right;
  margin-right: 4px;
  float: left;
}

#obal_layout #main_form div.background_prihlaseni form fieldset dl dd #input_tlacitko {
  display: block;
  margin-left: 92px;
}

#obal_layout #main_form #h2_registrace {
  background: url(../obr/background_obsah_sekce_registrace_top.png) no-repeat center;
}

#obal_layout #main_form #h3_registrace {
  margin-top: 0;
  background: url(../obr/background_obsah_sekce_registrace_bottom.png) no-repeat center;
}

#obal_layout #main_form div#div_registrace,
#obal_layout #main_form div#div_registrace_info_edit {
  background: url(../obr/background_obsah_sekce_registrace.png) repeat-y center top;
}

#obal_layout #main_form div#div_registrace_info_edit {
  margin-top: -10px;
  position: relative;
}

#obal_layout #main_form div#div_registrace_info_edit dl.vypis_info_uzivatel:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#obal_layout #main_form div#div_registrace_info_edit dl.vypis_info_uzivatel {
  width: 430px;
  margin: 0 auto 3px;
}

#obal_layout #main_form div#div_registrace_info_edit dl.prvni_polozka {
  width: 200px;
  position: absolute;
  top: 45px;
  right: 18px;
  font-weight: bold;
}

#obal_layout #main_form div#div_registrace_info_edit dl.posledni_polozka {
  margin-bottom: 0;
  padding-bottom: 10px;
}

#obal_layout #main_form div#div_registrace_info_edit dl.vypis_info_uzivatel dt,
#obal_layout #main_form div#div_registrace_info_edit dl.vypis_info_uzivatel dd {
  float: left;
  width: 200px;
}

#obal_layout #main_form div#div_registrace_info_edit dl.prvni_polozka dt,
#obal_layout #main_form div#div_registrace_info_edit dl.prvni_polozka dd {
  width: 98px;
}

#obal_layout #main_form div#div_registrace_info_edit dl.vypis_info_uzivatel dt {
  text-align: right;
  margin-right: 3px;
}

#obal_layout #main_form div#div_registrace_info_edit dl.vypis_info_uzivatel dd {
  overflow: hidden;
}

#obal_layout #main_form div#div_registrace_info_edit a.info_uzivatel_upravit_udaje {
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 70px;
  left: 60px;
  background: url(../obr/background_info_uzivatel_upravit_udaje.png) no-repeat center;
  color: #b43b00;
  outline: none;
}

#obal_layout #main_form div#div_registrace_info_edit a.info_uzivatel_upravit_udaje:hover {
  color: #d99203;
}

#obal_layout #main_form div#div_registrace_info_edit a.info_uzivatel_upravit_udaje span {
  display: block;
  width: 100px;
  font-weight: bold;
  position: absolute;
  top: 64px;
  left: -6px;
  cursor: pointer;
}

#obal_layout #main_form div#div_registrace_info_edit span.obrazek_info_uzivatel {
  display: block;
  width: 128px;
  height: 128px;
  position: absolute;
  top: 65px;
  right: 50px;
  background: url(../obr/background_info_uzivatel.png) no-repeat center;
}

#obal_layout #main_form div#div_registrace div,
#obal_layout #main_form div#div_registrace_info_edit div {
  background: none;
}

#obal_layout #main_form div#div_registrace_info_edit strong {
  display: block;
  width: 722px;
  height: 37px;
  margin: 10px auto;
  background: url(../obr/informace_o_uzivateli.png) no-repeat center;
}

#obal_layout #main_form div#div_registrace_info_edit strong.upraveni_osobnich_udaju {
  background: url(../obr/informace_o_uzivateli_upravit.png) no-repeat center;
}

#obal_layout #main_form div#div_registrace form fieldset,
#obal_layout #main_form div#div_registrace_info_edit form fieldset {
  border: none;
  margin-top: 30px;
}

#obal_layout #main_form div#div_registrace_info_edit form fieldset {
  margin-top: 0;
  padding-top: 10px;
}

#obal_layout #main_form div#div_registrace form fieldset div.levy_sloupec_osobni_udaje,
#obal_layout #main_form div#div_registrace_info_edit form fieldset div.levy_sloupec_osobni_udaje {
  float: left;
}

#obal_layout #main_form div#div_registrace form fieldset div.pravy_sloupec_osobni_udaje,
#obal_layout #main_form div#div_registrace_info_edit form fieldset div.pravy_sloupec_osobni_udaje {
  float: right;
}

#obal_layout #main_form div#div_registrace form fieldset div.ostatni_info_potvrdit {
  padding-top: 6px;
  margin-right: 16px;
  clear: both;
  text-align: center;
}

#obal_layout #main_form div#div_registrace form fieldset div.ostatni_info_potvrdit p {
  width: 100%;
  margin-top: 10px;
}

#obal_layout #main_form div#div_registrace form fieldset dl:after,
#obal_layout #main_form div#div_registrace_info_edit form fieldset dl:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#obal_layout #main_form div#div_registrace form fieldset dl,
#obal_layout #main_form div#div_registrace_info_edit form fieldset dl {
  width: 300px;
  margin: 0 0 6px;
}

#obal_layout #main_form div#div_registrace form fieldset div.levy_sloupec_osobni_udaje dl,
#obal_layout #main_form div#div_registrace form fieldset div.pravy_sloupec_osobni_udaje dl,
#obal_layout #main_form div#div_registrace_info_edit form fieldset div.levy_sloupec_osobni_udaje dl,
#obal_layout #main_form div#div_registrace_info_edit form fieldset div.pravy_sloupec_osobni_udaje dl {
  width: 260px;
}

#obal_layout #main_form div#div_registrace form fieldset div.levy_sloupec_osobni_udaje dl,
#obal_layout #main_form div#div_registrace_info_edit form fieldset div.levy_sloupec_osobni_udaje dl {
  margin-left: 100px;
}

#obal_layout #main_form div#div_registrace form fieldset div.pravy_sloupec_osobni_udaje dl,
#obal_layout #main_form div#div_registrace_info_edit form fieldset div.pravy_sloupec_osobni_udaje dl {
  margin-right: 100px;
}

#obal_layout #main_form div#div_registrace form fieldset dl.tucne {
  font-weight: bold;
}

#obal_layout #main_form div#div_registrace form fieldset dl.odsazeni_pod_loginem {
  margin-bottom: 30px;
}

#obal_layout #main_form div#div_registrace form fieldset dl.rucni_centrovani {
  margin-left: 196px;
}

#obal_layout #main_form div#div_registrace form fieldset dl dt,
#obal_layout #main_form div#div_registrace form fieldset dl dd,
#obal_layout #main_form div#div_registrace_info_edit form fieldset dl dt,
#obal_layout #main_form div#div_registrace_info_edit form fieldset dl dd {
  float: left;
}

#obal_layout #main_form div#div_registrace form fieldset dl dt,
#obal_layout #main_form div#div_registrace_info_edit form fieldset dl dt {
  width: 130px;
  text-align: right;
  margin-right: 3px;
}

#obal_layout #main_form div#div_registrace form fieldset div.levy_sloupec_osobni_udaje dl dt,
#obal_layout #main_form div#div_registrace form fieldset div.pravy_sloupec_osobni_udaje dl dt,
#obal_layout #main_form div#div_registrace_info_edit form fieldset div.levy_sloupec_osobni_udaje dl dt,
#obal_layout #main_form div#div_registrace_info_edit form fieldset div.pravy_sloupec_osobni_udaje dl dt {
  width: 82px;
}

#obal_layout #main_form div#div_registrace form fieldset dl dd input,
#obal_layout #main_form div#div_registrace_info_edit form fieldset dl dd input {
  width: 140px;
}

#obal_layout #main_form div#div_registrace form fieldset input#tlacitko_potvrdit,
#obal_layout #main_form div#div_registrace_info_edit form fieldset input#tlacitko_potvrdit {
  display: block;
  clear: both;
  margin: 30px auto;
}

#obal_layout #main_form div#div_registrace_info_edit form fieldset input#tlacitko_potvrdit {
  margin: 110px 0 10px 355px;
  clear: none;
}

#obal_layout #main_form div#div_registrace form fieldset p input#input_souhlas {
  margin-bottom: 30px;
}

#obal_layout #main_form div#div_registrace form fieldset div textarea {
  width: 660px;
  height: 100px;
  display: block;
  margin: 0 auto;
  padding: 2px;
  font: 12px Verdana, sans-serif;
  text-align: justify;
  background-color: #e9e9e9;
  border: none;
  clear: both;
}

#obal_layout #main_form div#div_registrace form fieldset div#dotaznik {
  padding-top: 15px;
  margin-bottom: -30px;
  overflow: hidden;
  clear: both;
}

#obal_layout #main_form div#div_registrace form fieldset div#dotaznik div {
  display: block;
  width: 260px;
  margin: 0 0 10px 40px;
  float: left;
}

#obal_layout #main_form div#div_registrace form fieldset div#dotaznik div.vpravo {
  float: right;
  margin: 0 76px 10px 0;
}

#obal_layout #main_form div#div_registrace form fieldset div#dotaznik div.delsi {
  width: 350px;
}

#obal_layout #main_form div#div_registrace form fieldset div#dotaznik div em {
  font-style: normal;
  float: left;
  width: 126px;
  display: block;
  text-align: right;
  margin-right: 3px;
}

#obal_layout #main_form div#div_registrace form fieldset div#dotaznik div.vpravo em {
  width: 216px;
  white-space: nowrap;
}

#obal_layout #main_form div#div_registrace form fieldset div#dotaznik div select {
  float: right;
  width: 130px;
}

#obal_layout #main_form #h2_kontakt,
#obal_layout #main_form #h2_faq {
  margin-bottom: -10px;
}

#obal_layout #main_form #h3_kontakt,
#obal_layout #main_form #h3_faq {
  margin-top: 0;
}

#obal_layout #main_form div#div_kontakt,
#obal_layout #main_form div#div_faq {
  padding-bottom: 30px;
}

#obal_layout #main_form div h1,
#obal_layout #main_form div#div_kontakt h1,
#obal_layout #main_form div#div_faq h1 {
  padding-top: 3px;
  padding-bottom: 2px;
  font-size: 18px;
  text-align: center;
}

#obal_layout #main_form div#div_kontakt h1 {
  margin-bottom: -10px;
}

#obal_layout #main_form div h1 {
  padding-top: 3px;
  padding-bottom: 2px;
}

#obal_layout #main_form div#div_kontakt h4 {
  margin-top: 10px;
}

#obal_layout #main_form div#div_faq h4.vetsi_odsazeni {
  margin-top: 30px;
}

#obal_layout #main_form div#div_kontakt img.obrazky_loga_kontakt {
  display: block;
  float: right;
  margin: 5px 46px 0 70px;
  border: 1px solid #767676;
  clear: both;
}

#obal_layout #main_form div#div_kontakt img.obrazky_loga_kontakt_superklik {
  margin: 2px 110px 0 0;
  border: none;
}

#obal_layout #main_form div#div_faq span.linka {
  display: block;
  width: 660px;
  margin: 10px 23px 10px 40px;
  border-bottom: 1px solid #bfbfbf;
}

#obal_layout #main_form div#div_faq strong.otazka {
  color: #e12f04;
}

#obal_layout #main_form div#div_faq strong.odpoved {
  color: #4da501;
}

#obal_layout #main_form div#div_faq p {
  margin-top: 6px;
  margin-bottom: 6px;
}

#obal_layout #main_form div#div_kontakt p a,
#obal_layout #main_form div#div_kontakt dl dd a,
#obal_layout #main_form div#div_faq p a {
  color: #d99203;
}

#obal_layout #main_form div#div_kontakt p a:hover,
#obal_layout #main_form div#div_kontakt dl dd a:hover,
#obal_layout #main_form div#div_faq p a:hover {
  color: #fff;
}

#obal_layout #main_form div#div_kontakt dl:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#obal_layout #main_form div#div_kontakt dl {
  width: 600px;
  margin: 3px 0 10px 30px;
}

#obal_layout #main_form div#div_kontakt dl dt {
  width: 130px;
  text-align: right;
  margin-right: 3px;
  float: left;
}

#obal_layout #main_form div#div_kontakt dl dd {
  width: 460px;
  float: left;
}

#obal_layout #main_form div#div_kontakt dl dd span {
  display: block;
}

#obal_layout #main_form div#div_kontakt p em.fax_ikona,
#obal_layout #main_form div#div_kontakt p em.www_ikona,
#obal_layout #main_form div#div_kontakt p em.email_ikona,
#obal_layout #main_form div#div_kontakt dl dd em.email_ikona,
#obal_layout #main_form div#div_kontakt p em.email_telefon,
#obal_layout #main_form div p em.email_telefon_sekce,
#obal_layout #main_form div#div_kontakt dl dd em.email_telefon,
#obal_layout #main_form div#div_faq p em.ikona_otazka,
#obal_layout #main_form div#div_faq p em.ikona_odpoved {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  float: left;
}

#obal_layout #main_form div#div_kontakt p em.email_ikona,
#obal_layout #main_form div#div_kontakt dl dd em.email_ikona {
  height: 14px;
  background: url(../obr/email_ikona.png) no-repeat bottom;
}

#obal_layout #main_form div#div_kontakt p em.email_telefon,
#obal_layout #main_form div p em.email_telefon_sekce,
#obal_layout #main_form div#div_kontakt dl dd em.email_telefon {
  background: url(../obr/email_telefon.png) no-repeat;
}

#obal_layout #main_form div#div_kontakt p em.email_telefon,
#obal_layout #main_form div#div_kontakt dl dd em.email_telefon {
  height: 14px;
  background: url(../obr/email_telefon.png) no-repeat bottom;
}

#obal_layout #main_form div#div_kontakt p em.www_ikona {
  background: url(../obr/ikona_www.png) no-repeat;
}

#obal_layout #main_form div#div_kontakt p em.fax_ikona {
  background: url(../obr/ikona_fax.png) no-repeat;
}

#obal_layout #main_form div#div_faq p em.ikona_otazka {
  background: url(../obr/ikona_otazka.png) no-repeat;
}

#obal_layout #main_form div#div_faq p em.ikona_odpoved {
  background: url(../obr/ikona_odpoved.png) no-repeat;
}

#obal_layout #main_form div a.zavrit_sekci,
#obal_layout #main_form div a.zavrit_sekci_pravidla,
#zpravy_a_horoskopy_obal a.zavrit_sekci {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 16px;
  top: 10px;
  background: url(../obr/background_zavrit_obsah.png) no-repeat left;
  outline: none;
}

#obal_layout #main_form div#div_registrace_info_edit a.zavrit_sekci {
  top: -5px;
}

#obal_layout #main_form div a.spodek {
  top: auto;
  bottom: 10px;
}

#zpravy_a_horoskopy_obal a.zavrit_sekci {
  right: 14px;
}

#obal_layout #main_form div a.zavrit_sekci_pravidla {
  top: auto;
  bottom: 20px;
}

#obal_layout #main_form div a.zavrit_sekci span,
#obal_layout #main_form div a.zavrit_sekci_pravidla span,
#zpravy_a_horoskopy_obal a.zavrit_sekci span {
  display: none;
}

#obal_layout #main_form div a.zavrit_sekci:hover,
#obal_layout #main_form div a.zavrit_sekci_pravidla:hover,
#zpravy_a_horoskopy_obal a.zavrit_sekci:hover {
  background-position: right;
}

#obal_layout #main_form div p,
#obal_layout #main_form div#div_registrace form fieldset p {
  margin: 0 56px 0 40px;
  text-align: justify;
}

#obal_layout #main_form div#div_registrace form fieldset p {
  margin-top: -6px;
  float: left;
}

#obal_layout #main_form div p cite {
  font-style: normal;
  text-decoration: underline;
}

#obal_layout #main_form div p.odstavec_dalsi_text {
  margin-top: 15px;
}

#obal_layout #main_form div p.odstavec_dalsi_text_druhy {
  margin-top: 0;
  padding-bottom: 30px;
}

#obal_layout #main_form div p.odstavec_dalsi_text_druhy img.ikony_zobrazi_stahnout {
  display: block;
  float: left;
  margin: 2px 2px 0 0;
}

#obal_layout #main_form div p.odstavec_dalsi_text_druhy_mensi {
  margin-top: 0;
  padding-bottom: 10px;
}

#obal_layout #main_form div p.odstavec_dalsi_text_druhy a {
  color: #d99203;
  outline: none;
}

#obal_layout #main_form div p.odstavec_dalsi_text_druhy a:hover {
  color: #fff;
}

#obal_layout #main_form div img.navod_firefox_obrazky {
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

#obal_layout #main_form div p.odstavec_reklama {
  padding-bottom: 30px;
  text-align: left;
}

#obal_layout #main_form div p.odstavec_reklama_mensi {
  text-align: left;
  padding-bottom: 10px;
}

#obal_layout #main_form div img.reklama_obrazky {
  display: block;
  margin: 20px 65px 10px 10px;
  float: right;
  clear: both;
  width: 110px;
  height: 85px;
  border: 1px solid #d99203;
}

/*
#obal_layout #main_form div img.odsazeni_obrazku_zhora {
  margin-top: 60px;
}*/

#obal_layout #main_form div h4.vetsi_odsazeni_nadpis_reklama {
  margin-top: 20px;
}

#obal_layout #main_form div #forma_objednavka_cenik {
  width: 600px;
  margin: -10px auto 0;
  padding-bottom: 30px;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset {
  border: none;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset legend {
  display: none;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset strong {
  display: block;
  width: 180px;
  margin: 0 auto 3px;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset em,
#obal_layout #main_form div#div_registrace acronym#povinne_udaje,
#obal_layout #main_form div#div_registrace_info_edit acronym#povinne_udaje {
  font-size: 10px;
  font-style: normal;
  display: block;
  margin-top: -20px;
  text-align: right;
}

#obal_layout #main_form div#div_registrace acronym#povinne_udaje,
#obal_layout #main_form div#div_registrace_info_edit acronym#povinne_udaje {
  width: 700px;
  margin-top: 0;
  padding-top: 15px;
  margin-bottom: -27px;
  clear: both;
}

#obal_layout #main_form div#div_registrace_info_edit acronym#povinne_udaje {
  width: 730px;
  padding-top: 0;
  margin-bottom: 0;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset dl {
  overflow: hidden;
  margin-bottom: 2px;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset dl dt,
#obal_layout #main_form div #forma_objednavka_cenik fieldset dl dd {
  float: left;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset dl dt {
  width: 200px;
  padding-right: 2px;
  text-align: right;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset dl#dl_tlacitko dt {
  width: 310px;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset dl dt input {
  width: 110px;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset dl dd input {
  width: 160px;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset dl dd input#label_input_psc {
  width: 60px;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset dl dd input#label_input_telefon {
  width: 110px;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset dl dd input#label_input_email {
  width: 230px;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset dl dd textarea {
  width: 390px;
  height: 160px;
  padding: 2px;
  font: 12px Tahoma, Verdana, sans-serif;
}

#obal_layout #main_form div ul {
  margin: 15px 26px 0 30px;
}

/*
#obal_layout #main_form div ul li {

}

#obal_layout #main_form div ul li.nadpis_seznamu {

}*/

#obal_layout #main_form div ul li.nadpis_seznamu span {
  display: block;
  width: 670px;
  padding: 2px;
  font-weight: bold;
  color: #fff;
  background: url(../obr/background_seznam_nadpis.png) repeat;
}

#obal_layout #main_form div ul li.nadpis_seznamu span em {
  font-style: normal;
  margin-right: 10px;
}

#obal_layout #main_form div ul li ul {
  margin-top: 0;
}

#obal_layout #main_form div ul li ul li {
  margin: 3px 0;
  list-style-type: decimal;
  text-align: justify;
}

#obal_layout #main_form div ul#seznam_nabizenych_sluzeb,
#obal_layout #main_form div ul#seznam_nabizenych_sluzeb_pocitani {
  margin-top: 10px;
  margin-left: 60px;
}

#obal_layout #main_form div ul#seznam_nabizenych_sluzeb li,
#obal_layout #main_form div ul#seznam_nabizenych_sluzeb_pocitani li {
  height: 18px;
  line-height: 16px;
  padding-left: 22px;
  background: url(../obr/sipka_odrazky_v_seznamu.png) no-repeat left top;
}

#obal_layout #main_form div ul#seznam_nabizenych_sluzeb li.grafika_puntiky {
  background: url(../obr/sipka_odrazky_v_seznamu_puntiky.png) no-repeat left top;
}

#obal_layout #main_form div ul#seznam_nabizenych_sluzeb_pocitani li {
  background: url(../obr/ie6/sipka_odrazky_v_seznamu_druha.png) no-repeat left top;
}

#obal_layout #main_form div ul#seznam_nabizenych_sluzeb li.grafika_sipky_fialove {
  background: url(../obr/sipka_odrazky_v_seznamu_fialove.png) no-repeat left top;
}

#obal_layout #main_form div ul.seznam_reklama_odsazeni {
  padding-top: 10px;
  padding-bottom: 30px;
}

#obal_layout #main_form div ul.seznam_reklama_odsazeni_vetsi {
  padding-bottom: 60px;
}

#obal_layout #main_form div ul#seznam_nabizenych_sluzeb li.delsi_text_reklama_seznam {
  height: auto;
}

#obal_layout #main_form div p#bonus_text {
  margin-top: 20px;
  margin-left: 60px;
  font-size: 20px;
  font-style: italic;
  text-align: left;
}

#obal_layout #main_form div p#bonus_text_maly {
  font-size: 10px;
  width: 250px;
  margin-left: 60px;
}

#obal_layout #main_form div ul.listina_vyher {
  width: 690px;
  padding: 10px 0 20px;
  overflow: hidden;
  border-bottom: 1px solid #80929b;
}

#obal_layout #main_form div ul.listina_bonus {
  margin-top: -30px;
}

#obal_layout #main_form div ul.listina_vyher li {
  float: left;
}

#obal_layout #main_form div ul.listina_vyher li span {
  display: block;
}

#obal_layout #main_form div ul.listina_vyher li.popis_text_vyhry {
  width: 340px;
  text-align: center;
}

#obal_layout #main_form div ul.listina_vyher li.obrazek_vyhry {
  width: 150px;
}

#obal_layout #main_form div ul.listina_vyher li.obrazek_vyhry img {
  width: 150px;
  border: 3px solid #255ca1;
}

#obal_layout #main_form div ul.listina_vyher li.informace_o_zbozi_vyhry {
  width: 200px;
  text-align: center;
}

#obal_layout #main_form div ul.listina_vyher li.informace_o_zbozi_vyhry img {
  display: block;
  margin: 1px auto;
  border: 2px solid #d99203;
  border-bottom-width: 1px;
}

#obal_layout #main_form div ul.listina_vyher li.informace_o_zbozi_vyhry a {
  color: #b43b00;
}

#obal_layout #main_form div ul.listina_vyher li.informace_o_zbozi_vyhry a:hover {
  color: #d99203;
}

#obal_layout #main_form div em.nadpis_seznamu_tabulky {
  display: block;
  margin-left: 50px;
  font-style: normal;
  background: url(../obr/background_seznam_nadpis.png) repeat;
  color: #fff;
  display: block;
  font-weight: bold;
  margin: 0 auto 3px;
  padding: 2px;
  width: 670px;
}

#obal_layout #main_form div table.tabulka_cenik {
  width: 680px;
  margin: 0 auto 30px;;
  font: 12.5px Tahoma, Verdana, sans-serif;
  border-collapse: collapse;
}

#obal_layout #main_form div table.tabulka_cenik tr th,
#obal_layout #main_form div table.tabulka_cenik tr td {
  border: 1px solid #000;
  color: #fff;
}

#obal_layout #main_form div table.tabulka_cenik tr th {
  height: 22px;
  border-top: none;
  font-size: 12px;
}

#obal_layout #main_form div table.tabulka_cenik tr td {
  padding: 10px 0;
  border-bottom: none;
}

#obal_layout #main_form div table.tabulka_cenik caption {
  display: none;
}

#obal_layout #main_form div table.tabulka_cenik tr th.formaty_a_velikost,
#obal_layout #main_form div table.tabulka_cenik tr td.formaty_a_velikost {
  width: 190px;
  border-left: none;
}

#obal_layout #main_form div table.druhy_vzhled_tabulky tr th.formaty_a_velikost,
#obal_layout #main_form div table.druhy_vzhled_tabulky tr td.formaty_a_velikost {
  width: 180px;
}

#obal_layout #main_form div table.tabulka_cenik tr th.formaty_a_velikost {
  background: url(../obr/background_tabulky_left_top.png) no-repeat left top;
}

#obal_layout #main_form div table.tabulka_cenik tr td.formaty_a_velikost {
  background: url(../obr/background_tabulky_left.png) repeat-y left;
}

#obal_layout #main_form div table.tabulka_cenik tr td.formaty_a_velikost span {
  display: block;
  text-decoration: underline;
}

#obal_layout #main_form div table.tabulka_cenik tr th.ceny_seznam,
#obal_layout #main_form div table.tabulka_cenik tr td.ceny_seznam {
  width: 100px;
}

#obal_layout #main_form div table.druhy_vzhled_tabulky tr th.specifikace_seznam,
#obal_layout #main_form div table.druhy_vzhled_tabulky tr td.specifikace_seznam {
  width: 170px;
}

#obal_layout #main_form div table.druhy_vzhled_tabulky tr th.delsi_cena_seznam,
#obal_layout #main_form div table.druhy_vzhled_tabulky tr td.delsi_cena_seznam {
  width: 120px;
}

#obal_layout #main_form div table.druhy_vzhled_tabulky tr th.specifikace_seznam span,
#obal_layout #main_form div table.druhy_vzhled_tabulky tr td.specifikace_seznam span,
#obal_layout #main_form div table.druhy_vzhled_tabulky tr th.delsi_cena_seznam span,
#obal_layout #main_form div table.druhy_vzhled_tabulky tr td.delsi_cena_seznam span {
  display: block;
}

#obal_layout #main_form div table.tabulka_cenik tr th.ceny_seznam {
  background: url(../obr/background_tabulky_left_top.png) no-repeat right top;
}

#obal_layout #main_form div table.tabulka_cenik tr td.ceny_seznam {
  background: url(../obr/background_tabulky_left.png) repeat-y right;
}

#obal_layout #main_form div table.tabulka_cenik tr td.formaty_a_velikost,
#obal_layout #main_form div table.tabulka_cenik tr td.ceny_seznam {
  text-align: center;
}

#obal_layout #main_form div table.tabulka_cenik tr th.poznamky_seznam,
#obal_layout #main_form div table.tabulka_cenik tr td.poznamky_seznam {
  width: 300px;
  border-right: none;
}

#obal_layout #main_form div table.druhy_vzhled_tabulky tr th.poznamky_seznam,
#obal_layout #main_form div table.druhy_vzhled_tabulky tr td.poznamky_seznam {
  width: 230px;
}

#obal_layout #main_form div table.tabulka_cenik tr th.poznamky_seznam {
  background: url(../obr/background_tabulky_right_top.png) no-repeat right top;
}

#obal_layout #main_form div table.tabulka_cenik tr td.poznamky_seznam {
  background: url(../obr/background_tabulky_right.png) repeat-y right;
}

#obal_layout #main_form div table.tabulka_cenik tr td.poznamky_seznam span {
  display: block;
  padding-left: 30px;
}

#obal_layout #main_form div table.tabulka_cenik tr td.poznamky_seznam span.prazdny_text {
  padding-left: 0;
  text-align: center;
}

#obal_layout #main_form div table.tabulka_cenik tr.zapati_tabulky {
  height: 14px;
}

#obal_layout #main_form div table.tabulka_cenik tr.zapati_tabulky td {
  padding: 0;
  border-top: none;
}

#obal_layout #main_form div table.tabulka_cenik tr.zapati_tabulky td.formaty_a_velikost {
  background: url(../obr/background_tabulky_left_bottom.png) no-repeat left bottom;
}

#obal_layout #main_form div table.tabulka_cenik tr.zapati_tabulky td.ceny_seznam {
  background: url(../obr/background_tabulky_left_bottom.png) no-repeat right bottom;
}

#obal_layout #main_form div table.tabulka_cenik tr.zapati_tabulky td.poznamky_seznam {
  background: url(../obr/background_tabulky_right_bottom.png) no-repeat right bottom;
}

#zapati_reklamy {
  width: 728px;
  height: 44px;
  margin-left: 10px;
  padding-bottom: 67px;
  background: url(../obr/reklamy/pozadi_lista.png) repeat-x;
  overflow: hidden;
}

#zapati_reklamy ul {
  padding: 10px 0 0;
  list-style-type: none;
  overflow: hidden;
  border: 1px solid #000;
}

#zapati_reklamy ul li {
  float: left;
  position: relative;
}

#zapati_reklamy ul li a {
  outline: none;
}

#zapati_reklamy ul li a img {
  border: 0;
}

#zapati {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#zapati #background_zapati {
  width: 741px;
  height: 67px;
  margin: 0 auto;
  background: url(../obr/background_zapati.png) no-repeat;
}

#zapati #background_zapati p {
  padding-top: 13px;
  color: #fff;
  font: 9px Verdana, Tahoma, sans-serif;
  text-align: center;
  line-height: 10px;
}

#zapati #background_zapati p span {
  display: block;
  margin: 4px 0 -9px;
}

#zapati #background_zapati p sup {
  margin: 0;
}

#zapati #background_zapati p a {
  color: #fff;
  text-align: center;
  outline: none;
}

#zapati #background_zapati p a:hover {
  color: #d99203;
}

#zapati #background_zapati p #odkaz_do_sekce {
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  left: 30px;
  bottom: 0;
}

/* Fugess (Martin) */
