span.preload_003 {
  background: url(../obr/ie6/background_info_uzivatel_upravit_udaje.png) no-repeat;
}

span.preload_015 {
  background: url(../obr/ie6/background_zavrit_obsah_pred.png) no-repeat;
}

span.preload_066 {
  background: url(../obr/ie6/background_zavrit_obsah_po.png) no-repeat;
}

span.preload_041 {
  background: url(../obr/ie6/sipka_odrazky_v_seznamu.png) no-repeat;
}

span.preload_068 {
  background: url(../obr/ie6/sipka_odrazky_v_seznamu_puntiky.png) no-repeat;
}

span.preload_069 {
  background: url(../obr/ie6/background_prihlaseni_zahlavi_po.png) no-repeat;
}

span.preload_070 {
  background: url(../obr/ie6/background_registrace_zahlavi_po.png) no-repeat;
}

span.preload_071 {
  background: url(../obr/ie6/background_odhlasit_se_po.png) no-repeat;
}

#obal_layout {
  _height: 100%;
  background: url(../obr/ie6/background_zapati.png) no-repeat center bottom;
}

#zapati #background_zapati {
  background: none;
}

#zapati #background_zapati p {
  display: none;
}

#zapati_reklamy ul {
  height: 32px;
}

#reklama #horoskop #horoskopy_seznam span a,
#program_televize p a {
  cursor: pointer;
}

#reklama #horoskop p strong {
  clear: none;
}

#reklama #pocasi img {
  height: 55px;
}

#reklama #horoskop {
  margin-top: 45px;
}

#obal_layout #main_form div#div_kontakt {
  position: relative;
  z-index: 100;
}

#obal_layout #main_form div#div_kontakt img.obrazky_loga_kontakt {
  margin: 5px 23px 5px 70px;
}

#obal_layout #main_form div#div_kontakt img.obrazky_loga_kontakt_superklik {
  margin: 2px 60px 0 0;
}

#obal_layout #main_form div#div_kontakt img,
#obal_layout #main_form div#div_kontakt p em {
  position: relative;
  z-index: 200;
}

#obal_layout #main_form div#div_kontakt a.zavrit_sekci {
  top: -3px;
}

#obal_layout #main_form div#div_kontakt a.zavrit_sekci_pravidla {
  top: auto;
  bottom: 45px;
}

#obal_layout #main_form div p#bonus_text_maly {
  position: relative;
  z-index: 300;
}

#obal_layout #main_form div ul.listina_bonus {
  margin-top: 0;
}

#obal_layout #main_form div ul.listina_vyher li.popis_text_vyhry {
  width: 326px;
}

#obal_layout #main_form div ul.listina_vyher li.obrazek_vyhry {
  width: 156px;
}

#program_televize p a,
#reklama #horoskop #horoskopy_seznam span a {
  text-decoration: none;
}

#program_televize p a span.nazev_poradu:hover {
  text-decoration: underline;
  color: #b43b00;
}

#program_televize p a span.nazev_programu:hover,
#program_televize p a span.nazev_cas_programu:hover {
  text-decoration: none;
}

#program_televize p a span,
#reklama #horoskop #horoskopy_seznam span a strong {
  behavior: url("csshover.htc");
}

#zahlavi .reklama_1 {
  left: -127px;
}

#zahlavi .reklama_2 {
  left: -127px;
}

#zahlavi .reklama_5 {
  left: -127px;
}

#zahlavi .reklama_3 {
  right: -124px;
}

#zahlavi .reklama_4 {
  right: -124px;
}

#zahlavi #nastavit_domovskou_stranku img,
#zahlavi #stahnout_flash_player img,
#uzivatelske_info .left img,
#obal_layout #hodiny_pujcene .right img,
#uzivatelske_info #reg_log p em {
  visibility: hidden;
}

#zahlavi #nastavit_domovskou_stranku {
  background: url(../obr/ie6/home.png) no-repeat left;
}

#zahlavi #stahnout_flash_player {
  background: url(../obr/ie6/flash_zahlavi_ikona.png) no-repeat left;
}

#uzivatelske_info {
  background: url(../obr/ie6/registrace_prihlaseni_panel.png) no-repeat center;
  margin-bottom: -12px;
}

#panel_automat_vyherci #automat #flash_automat {
  margin-left: 12px;
}

#obal_layout #main_form h2 {
  margin-top: 12px;
}

#obal_layout #main_form div img.reklama_obrazky {
  margin: 20px 30px 10px 10px;
}

#sponzori_reklama #zpravy #zpravy_z_domova {
  height: 120px;
  margin-top: 0;
  padding-top: 45px;
}

#sponzori_reklama #zpravy #zpravy_ze_sveta {
  height: 80px;
  margin-top: 0;
  padding-top: 62px;
}

#sponzori_reklama #zpravy #zpravy_ze_sportu {
  height: 80px;
  margin-top: 0;
  padding-top: 57px;
}

#sponzori_reklama #zpravy #zpravy_z_domova a,
#sponzori_reklama #zpravy #zpravy_ze_sveta a,
#sponzori_reklama #zpravy #zpravy_ze_sportu a {
  outline: none;
}

#obal_layout #alternatina_flash,
#obal_layout #alternatina_flash a {
  display: none;
}

#vypis_zpravy_horoskopy {
  height: 236px;
  margin-top: -2px;
  margin-bottom: 3px;
}

#vypis_zpravy_horoskopy_vnitrek {
  padding-top: 65px;
}

#vypis_zpravy_horoskopy_vnitrek p {
  margin-top: -60px;
  padding-top: 0px;
  font-size: 12px;
}

#vypis_zpravy_horoskopy_vnitrek p img {
  margin-top: -20px;
}

#uzivatelske_info .left span {
  margin-top: 19px;
}

#obal_layout #hodiny_pujcene {
  margin-top: 7px;
}

#uzivatelske_info #reg_log p#registrace_prihlaseni {
  bottom: 11px;
}

#uzivatelske_info #reg_log p#registrace_prihlaseni a {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/ie6/background_registrace_zahlavi_pred.png');
  cursor: pointer;
}

#uzivatelske_info #reg_log p#registrace_prihlaseni a:hover {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/ie6/background_registrace_zahlavi_po.png');
}

#uzivatelske_info #reg_log p#registrace_prihlaseni a.prihlaseni_odkaz {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/ie6/background_prihlaseni_zahlavi_pred.png');
}

#uzivatelske_info #reg_log p#registrace_prihlaseni a.prihlaseni_odkaz:hover {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/ie6/background_prihlaseni_zahlavi_po.png');
}

#obal_layout #main_form div#div_faq p em.ikona_otazka {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/ikona_otazka.png');
}

#obal_layout #main_form div#div_faq p em.ikona_odpoved {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/ikona_odpoved.png');
}

#obal_layout #main_form div.background_prihlaseni form fieldset dl dd input {
  width: 136px;
}

#obal_layout #main_form div.background_prihlaseni form fieldset dl dd #input_tlacitko {
  width: auto;
}

#obal_layout #main_form div #forma_objednavka_cenik,
#obal_layout #main_form div #forma_objednavka_cenik fieldset em {
  margin-top: 0;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset dl dd {
  width: 300px;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset dl dd textarea {
  clear: none;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset dl dt label {
  display: block;
  padding-top: 3px;
}

#obal_layout #main_form div#div_registrace acronym#povinne_udaje {
  width: 690px;
}

#obal_layout #main_form div#div_registrace_info_edit form fieldset input#tlacitko_potvrdit {
  margin-top: 10px;
}

#obal_layout #main_form div#div_registrace_info_edit dl dt label {
  display: block;
  padding-top: 2px;
}

#obal_layout #main_form div#div_registrace_info_edit {
  margin-top: 0px;
}

#obal_layout #main_form div a.zavrit_sekci,
#obal_layout #main_form div a.zavrit_sekci_pravidla,
#zpravy_a_horoskopy_obal a.zavrit_sekci {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/ie6/background_zavrit_obsah_pred.png');
  cursor: pointer;
}

#obal_layout #main_form div a.zavrit_sekci,
#obal_layout #main_form div a.zavrit_sekci_pravidla {
  top: 22px;
}

#zpravy_a_horoskopy_obal a.zavrit_sekci {
  top: 18px;
}

#obal_layout #main_form div a.spodek {
  top: auto;
  bottom: 18px;
}

#zpravy_a_horoskopy_obal a.zavrit_sekci {
  right: 14px;
}

#obal_layout #main_form div a.zavrit_sekci_pravidla {
  top: auto;
  bottom: 18px;
}

#obal_layout #main_form div a.zavrit_sekci:hover,
#obal_layout #main_form div a.zavrit_sekci_pravidla:hover,
#zpravy_a_horoskopy_obal a.zavrit_sekci:hover {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/ie6/background_zavrit_obsah_po.png');
  cursor: pointer;
}

#reklama #cse-search-box div input#input_tlacitko_hledat {
  background: none !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/tlacitko_hledej.png') !important;
}

#sponzori_reklama #sponzori span {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/ie6/background_reklama_sponzor.png');
}

#uzivatelske_info #reg_log p#prilasen_odhlasit a.odhlasit_se {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/ie6/background_odhlasit_se_pred.png');
  cursor: pointer;
}

#uzivatelske_info #reg_log p#prilasen_odhlasit a.odhlasit_se:hover {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/ie6/background_odhlasit_se_po.png');
}

#obal_layout #main_form div#div_registrace_info_edit strong {
  margin-top: 0;
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/informace_o_uzivateli.png');
}

#obal_layout #main_form div#div_registrace_info_edit strong.upraveni_osobnich_udaju {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/informace_o_uzivateli_upravit.png');
}

#obal_layout #main_form div#div_registrace_info_edit a.info_uzivatel_upravit_udaje {
  background: url(../obr/ie6/background_info_uzivatel_upravit_udaje.png) no-repeat center;
}

#obal_layout #main_form div#div_registrace_info_edit span.obrazek_info_uzivatel {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/background_info_uzivatel.png');
}

#sponzori_reklama #sponzori span.sponzor_001,
#sponzori_reklama #sponzori span.sponzor_005 {
  margin-left: 3px;
}

#obal_layout #main_form div ul#seznam_nabizenych_sluzeb li {
  background: url(../obr/ie6/sipka_odrazky_v_seznamu.png) no-repeat left top;
}

#obal_layout #main_form div ul#seznam_nabizenych_sluzeb li.grafika_puntiky {
  background: url(../obr/ie6/sipka_odrazky_v_seznamu_puntiky.png) no-repeat left top;
}

#uzivatelske_info .left img.svatek_ma_img {
  margin-right: 16px;
}

#obal_layout #main_form div#div_registrace form fieldset div#dotaznik {
  height: 70px;
}

#obal_layout #main_form div#div_registrace form fieldset div#dotaznik div {
  padding-left: 30px;
}

#obal_layout #main_form div#div_registrace form fieldset div#dotaznik div.vpravo {
  margin-right: 36px;
}

#obal_layout #main_form h4,
#obal_layout #main_form div#div_registrace form fieldset .nadpis_ve_forme,
#obal_layout #main_form div ul li.nadpis_seznamu span,
#obal_layout #main_form div em.nadpis_seznamu_tabulky {
  background: url(../obr/ie6/background_seznam_nadpis.png) repeat;
}

#obal_layout #main_form div#div_registrace form fieldset .nadpis_ve_forme {
  margin-right: 0;
  margin-left: 15px;
}

#obal_layout #main_form div#div_registrace form fieldset dl dt label,
#obal_layout #main_form div#div_registrace form fieldset div#dotaznik div em {
  display: block;
  margin-top: 2px;
}

#obal_layout #main_form div#div_registrace form fieldset div#dotaznik div {
  margin-left: 0;
}

#uzivatelske_info #reg_log #lista_prihlasovani,
#uzivatelske_info #reg_log #lista_prihlasovani div {
  z-index: 300;
}

#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_odhlasen,
#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_prihlasen,
#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_prihlasen_registrace,
#uzivatelske_info #reg_log #lista_prihlasovani div p.texty_odhlaseno_prihlaseno span.obrazek_spatne_prihlaseni,
#obal_layout #main_form #lista_prihlasovani div p.texty_odhlaseno_prihlaseno span.obrazek_spatne_prihlaseni,
#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_nevyhral_jste,
#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_vyhral_jste,
#panel_automat_vyherci #tabulka_vyhercu #vyherci p span.obrazek_darek_01,
#panel_automat_vyherci #tabulka_vyhercu #vyherci p span.obrazek_darek_02,
#panel_automat_vyherci #tabulka_vyhercu #vyherci p span.obrazek_darek_03,
#panel_automat_vyherci #tabulka_vyhercu #vyherci p span.obrazek_darek_04,
#panel_automat_vyherci #tabulka_vyhercu #vyherci p span.obrazek_darek_05 {
  background: none;
}

#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_odhlasen {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/obraze_odhlasen.png');
}

#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_prihlasen,
#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_prihlasen_registrace {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/obrazek_prihlasen.png');
}

#uzivatelske_info #reg_log #lista_prihlasovani div p.texty_odhlaseno_prihlaseno span.obrazek_spatne_prihlaseni,
#obal_layout #main_form #lista_prihlasovani div p.texty_odhlaseno_prihlaseno span.obrazek_spatne_prihlaseni {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/obrazek_spatne_prihlaseni.png');
}

#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_nevyhral_jste {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/obrazek_nevyhral_jste.png');
}

#obal_layout #main_form div p.texty_odhlaseno_prihlaseno span.obrazek_vyhral_jste {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/obrazek_vyhral_jste.png');
}

#panel_automat_vyherci #tabulka_vyhercu #vyherci p span.obrazek_darek_01 {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/obrazek_darek_01.png');
}

#panel_automat_vyherci #tabulka_vyhercu #vyherci p span.obrazek_darek_02 {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/obrazek_darek_02.png');
}

#panel_automat_vyherci #tabulka_vyhercu #vyherci p span.obrazek_darek_03 {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/obrazek_darek_03.png');
}

#panel_automat_vyherci #tabulka_vyhercu #vyherci p span.obrazek_darek_04 {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/obrazek_darek_04.png');
}

#panel_automat_vyherci #tabulka_vyhercu #vyherci p span.obrazek_darek_05 {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../obr/obrazek_darek_05.png');
}

#obal_layout #main_form div#div_registrace form fieldset div.ostatni_info_potvrdit {
  padding-top: 18px;
  margin-bottom: -20px;
}

#obal_layout #main_form div#div_registrace form fieldset div.ostatni_info_potvrdit p {
  width: 620px;
  margin-left: 0;
  position: relative;
  left: 60px;
}

#obal_layout #main_form div#div_registrace form fieldset div.ostatni_info_potvrdit p input {
  float: left;
  display: block;
  position: relative;
  top: -18px;
  left: 602px;
}

#panel_automat_vyherci #automat #flash_automat #id_nolimit {
  right: -1px;
}

#reklama_bezici_text p {
  width: 617px;
  margin-right: 0;
  padding-right: 20px;
}

#zahlavi .linka_nad_flashem_left {
  left: -137px;
}

#zahlavi .linka_nad_flashem_right {
  right: -136px;
}

/* Fugess (Martin) */
