#uzivatelske_info {
  margin-bottom: -12px;
}

#obal_layout #main_form h2 {
  margin-top: 12px;
}

#obal_layout #main_form div a.zavrit_sekci,
#obal_layout #main_form div a.zavrit_sekci_pravidla {
  top: 22px;
}

#zpravy_a_horoskopy_obal a.zavrit_sekci {
  top: 18px;
}

#obal_layout #main_form div a.spodek {
  top: auto;
  bottom: 10px;
}

#zpravy_a_horoskopy_obal a.zavrit_sekci {
  right: 14px;
}

#obal_layout #main_form div a.zavrit_sekci_pravidla {
  top: auto;
  bottom: 20px;
}

#obal_layout #main_form h4 {
  font-size: 12px;
}

#obal_layout #main_form div p#bonus_text,
#obal_layout #main_form div p#bonus_text_maly {
  position: relative;
  z-index: 300;
}

#obal_layout #main_form div #forma_objednavka_cenik fieldset dl dt label {
  display: block;
  padding-top: 3px;
}

#obal_layout #main_form div#div_registrace form fieldset dl dt label,
#obal_layout #main_form div#div_registrace form fieldset div#dotaznik div em {
  display: block;
  margin-top: 2px;
}

#obal_layout #main_form div.background_prihlaseni form fieldset dl dd input {
  width: 136px;
}

#obal_layout #main_form div.background_prihlaseni form fieldset dl dd #input_tlacitko {
  width: auto;
}

#obal_layout #main_form div.background_prihlaseni form fieldset dl dt label {
  display: block;
  padding-top: 2px;
}

#obal_layout #main_form div#div_registrace_info_edit form fieldset input#tlacitko_potvrdit {
  margin-top: 10px;
}

#obal_layout #main_form div#div_registrace_info_edit dl dt label {
  display: block;
  padding-top: 2px;
}

#uzivatelske_info .left span {
  margin-top: 19px;
}

#obal_layout #hodiny_pujcene {
  margin-top: 7px;
}

#sponzori_reklama #zpravy #zpravy_z_domova {
  height: 120px;
  margin-top: 0;
  padding-top: 45px;
}

#sponzori_reklama #zpravy #zpravy_ze_sveta {
  height: 80px;
  margin-top: 0;
  padding-top: 72px;
}

#sponzori_reklama #zpravy #zpravy_ze_sportu {
  height: 80px;
  margin-top: 0;
  padding-top: 67px;
}

#reklama #horoskop p strong {
  clear: none;
}

#zapati #background_zapati p {
  position: relative;
  z-index: 300;
}

#reklama #horoskop #horoskopy_seznam span a,
#program_televize p a {
  cursor: pointer;
}

#vypis_zpravy_horoskopy {
  height: 236px;
  margin-top: -2px;
  margin-bottom: 3px;
}

#vypis_zpravy_horoskopy_vnitrek {
  padding-top: 65px;
}

#vypis_zpravy_horoskopy_vnitrek p {
  margin-top: -60px;
  padding-top: 0px;
  font-size: 12px;
}

#vypis_zpravy_horoskopy_vnitrek p img {
  margin-top: -20px;
}

#obal_layout #main_form div#div_registrace form fieldset div.ostatni_info_potvrdit {
  padding-top: 18px;
  margin-bottom: -20px;
}

#obal_layout #main_form div#div_registrace form fieldset div.ostatni_info_potvrdit p {
  margin-left: 60px;
}

#obal_layout #main_form div#div_registrace form fieldset div.ostatni_info_potvrdit p input {
  float: left;
  display: block;
  position: relative;
  top: -18px;
  left: 602px;
}

/* Fugess (Martin) */
