body#uvod {
  background-color: #000;
  color: white;
  position: relative;
  font: 12px Verdana, Helvetica, sans-serif;
}

#uvod h1,
#uvod #prihlasovaci_form fieldset h2 {
  display: none;
}

#uvod div {
  margin: 0 auto;
}

#uvod #konstrukce_logo {
  width: 1000px;
  height: 386px;
  background: url(../obr/superklik_nadpis.png) no-repeat;
}

#uvod #konstrukce_preklad {
  width: 700px;
  height: 394px;
  background: url(../obr/superklik_preklad.png) no-repeat;
}

#uvod #prihlasovaci_form {
  width: 100%;
  position: absolute;
  bottom: 10px;
}

#uvod #prihlasovaci_form fieldset {
  width: 300px;
  margin: 0 auto;
  border: none;
}

#uvod #prihlasovaci_form fieldset label,
#uvod #prihlasovaci_form fieldset #login,
#uvod #prihlasovaci_form fieldset #heslo {
  float: left;
}

#uvod #prihlasovaci_form fieldset label {
  width: 50px;
  height: 18px;
  margin: 0 6px;
  text-align: right;
  clear: both;
}

#uvod #prihlasovaci_form fieldset #login,
#uvod #prihlasovaci_form fieldset #heslo {
  border: 1px solid black;
}

#uvod #prihlasovaci_form fieldset #prihlasit {
  height: 18px;
  width: 80px;
  font-size: 10px;
  float: right;
}

#nacitani {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0px;
  z-index: 10;
  background-color: #000;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

#nacitani p {
  width: 48px;
  height: 48px;
  margin: 15px auto;
  position: relative;
  background: url(../obr/nacitani_akce.gif) no-repeat;
}

/* styly pro flash hudbu */
#flash_music {
  position: absolute;
  left: -100px;
}

#flash_music #no_flash {

}/* /styly pro flash hudbu */

/* Fugess (Martin) */
