#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #nejnovejsi_reference a span {
  z-index: 33;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #nejnovejsi_reference a.nahradni_odkaz_ie {
  width: 118px;
  height: 109px;
  float: none;
  margin-right: 0;
  position: absolute;
  top: 0;
  z-index: 40;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #nejnovejsi_reference a.nahradni_odkaz_left {
  left: 0;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #nejnovejsi_reference a.nahradni_odkaz_center {
  left: 129px; /* 118px + 11px */
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #nejnovejsi_reference a.nahradni_odkaz_right {
  right: 0;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #novinky dl {
  min-height: 0;
}

#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal .obsah_accordion {
  height: auto;
}

#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal .obsah_accordion p {
  margin: 0;
  padding: 6px 0 0 22px;
}

#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal .obsah_accordion p.posledni_odstavec {
  margin-bottom: 20px;
}

/* Fugess (Martin) */
