body {
  background: #b8e04a url(../obr/body_top_background.png) repeat-x left top;
  font: 14px "Trebuchet MS", Verdana, Tahoma, Arial, "Arial CE", sans-serif;
  color: #fff;
}

#obal_layout #zahlavi,
#obal_layout #obal_obsah,
#obal_layout #obal_body_background_bottom #zapati {
  width: 820px;
  margin: 0 auto;
  position: relative;
}

#obal_layout {
  width: 100%;
  height: auto;
  min-height: 100%;
  position: relative;
}

#obal_layout #zahlavi { /* skutecna vyska: 278px */
  height: 263px;
  padding-top: 15px;
  position: relative;
  background: url(../obr/zahlavi_background_left.png) no-repeat left bottom;
}

#obal_layout #zahlavi #background_koreny_zahlavi {
  width: 89px;
  height: 73px;
  position: absolute;
  top: 205px;
  right: 22px;
  background: url(../obr/zahlavi_background_right.png) no-repeat;
}

#obal_layout #zahlavi #header_logo {
  width: 820px;
  height: 207px;
  background: url(../obr/zahlavi_background.png) no-repeat center;
  position: relative;
  z-index: 10;
}

#obal_layout #zahlavi #header_logo #header_flash {
  width: 767px;
  height: 163px;
  position: absolute;
  top: 28px;
  left: 27px;
  z-index: 12;
}

#obal_layout #zahlavi h1 {
  position: absolute;
  left: 100px;
  top: 100px;
  font: 20px Georgia, "Times New Roman", Times, serif;
}

#obal_layout #zahlavi ul {
  width: 481px;
  height: 41px;
  background: url(../obr/background_menu.png) no-repeat;
  position: absolute;
  top: 212px;
  left: 272px;
  z-index: 20;
}

#obal_layout #zahlavi ul li {
  width: auto;
  height: 32px;
  float: left;
  position: relative;
  margin-right: 7px;
}

#obal_layout #zahlavi ul li strong,
#obal_layout #zahlavi ul li a span.nazev_sekce,
#obal_layout #zahlavi ul li#background_menu_ie6 {
  display: none;
}

#obal_layout #zahlavi ul li.uvod {
  width: 66px;
  margin-left: 1px;
}

#obal_layout #zahlavi ul li.nase-sluzby {
  width: 115px;
}

#obal_layout #zahlavi ul li.reference {
  width: 106px;
}

#obal_layout #zahlavi ul li.o-nas {
  width: 66px;
}

#obal_layout #zahlavi ul li.kontakt {
  width: 92px;
}

#obal_layout #zahlavi ul li a {
  display: block;
  height: 32px;
}

#obal_layout #zahlavi ul li.uvod a {
  background: url(../obr/polozka_menu_uvod.png) no-repeat;
}

#obal_layout #zahlavi ul li.nase-sluzby a {
  background: url(../obr/polozka_menu_nase_sluzby.png) no-repeat;
}

#obal_layout #zahlavi ul li.reference a {
  background: url(../obr/polozka_menu_reference.png) no-repeat;
}

#obal_layout #zahlavi ul li.o-nas a {
  background: url(../obr/polozka_menu_o_nas.png) no-repeat;
}

#obal_layout #zahlavi ul li.kontakt a {
  background: url(../obr/polozka_menu_kontakt.png) no-repeat;
}

#obal_layout #zahlavi ul li.uvod a,
#obal_layout #zahlavi ul li.nase-sluzby a,
#obal_layout #zahlavi ul li.reference a,
#obal_layout #zahlavi ul li.o-nas a,
#obal_layout #zahlavi ul li.kontakt a {
  background-position: left;
}

#obal_layout #zahlavi ul li.uvod a:hover,
#obal_layout #zahlavi ul li.nase-sluzby a:hover,
#obal_layout #zahlavi ul li.reference a:hover,
#obal_layout #zahlavi ul li.o-nas a:hover,
#obal_layout #zahlavi ul li.kontakt a:hover,
#obal_layout #zahlavi ul li.aktivni a {
  background-position: right;
}

#obal_layout #zahlavi ul li span.uvod,
#obal_layout #zahlavi ul li span.nase-sluzby,
#obal_layout #zahlavi ul li span.reference,
#obal_layout #zahlavi ul li span.o-nas,
#obal_layout #zahlavi ul li span.kontakt {
  height: 30px;
  position: absolute;
  top: 36px; /* postaveno na 36px */
  left: 0;
}

#obal_layout #zahlavi ul li span.uvod {
  width: 73px;
  background: url(../obr/background_menu_odraz_uvod.png) no-repeat;
}

#obal_layout #zahlavi ul li span.nase-sluzby {
  width: 122px;
  background: url(../obr/background_menu_odraz_nase_sluzby.png) no-repeat;
}

#obal_layout #zahlavi ul li span.reference {
  width: 113px;
  background: url(../obr/background_menu_odraz_reference.png) no-repeat;
}

#obal_layout #zahlavi ul li span.o-nas {
  width: 73px;
  background: url(../obr/background_menu_odraz_o_nas.png) no-repeat;
}

#obal_layout #zahlavi ul li span.kontakt {
  width: 99px;
  background: url(../obr/background_menu_odraz_kontakt.png) no-repeat;
}

#obal_layout #zahlavi ul li.uvod:hover span.uvod,
#obal_layout #zahlavi ul li.nase-sluzby:hover span.nase-sluzby,
#obal_layout #zahlavi ul li.reference:hover span.reference,
#obal_layout #zahlavi ul li.o-nas:hover span.o-nas,
#obal_layout #zahlavi ul li.kontakt:hover span.kontakt,
#obal_layout #zahlavi ul li.aktivni span {
  background-position: right;
}

#obal_layout #zahlavi ul li#nahrada_za_sousediciho_sourozence { /* slozitejsi reseni, ktere ale funguje ve vsech prohlizecich (prekryvna plocha) */
  width: 480px;
  height: 30px;
  position: absolute;
  top: 36px; /* postaveno na 36px */
  left: 1px;
  z-index: 30;
}

/* elegantni a jednoduche reseni, ktere nefunguje v IE6, Safari, Chrome
#obal_layout #zahlavi ul li.uvod a:hover + span.uvod,
#obal_layout #zahlavi ul li.nase-sluzby a:hover + span.nase-sluzby,
#obal_layout #zahlavi ul li.reference a:hover + span.reference,
#obal_layout #zahlavi ul li.o-nas a:hover + span.o-nas,
#obal_layout #zahlavi ul li.kontakt a:hover + span.kontakt,
#obal_layout #zahlavi ul li.aktivni span {
  background-position: right;
}*/

#obal_layout #obal_obsah {
  height: auto;
  min-height: 300px;
  padding-bottom: 42px;
  position: relative;
  z-index: 3; /* kvuli zapati */
  background: url(../obr/obal_obsah_background_left.png) no-repeat left top;
}

#obal_layout #obal_obsah:after,
#obal_layout #obal_obsah div:after,
#obal_layout #obal_obsah div #obsah_velky:after,
#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #novinky dl:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#obal_layout #obal_obsah #background_koreny_obal_obsah {
  width: 89px;
  height: 12px;
  position: absolute;
  top: 0;
  right: 22px;
  background: url(../obr/obal_obsah_background_right.png) no-repeat;
}

#obal_layout #obal_obsah div #obsah_velky {
  width: 494px;
  min-height: 440px;
  margin-right: 63px;
  margin-bottom: 60px;
  float: right;
  position: relative;
  background: url(../obr/background_obsah_velky_center.png) repeat-y;
}

#obal_layout #obal_obsah div #obsah_velky .backgroundy_obsah_velky {
  width: 494px;
  position: absolute;
  left: 0;
}

#obal_layout #obal_obsah div #obsah_velky .obsah_velky_top {
  height: 175px;
  top: 0;
  background: url(../obr/background_obsah_velky_top.png) no-repeat;
}

#obal_layout #obal_obsah div #obsah_velky .obsah_velky_bottom {
  height: 224px;
  bottom: 0;
  background: url(../obr/background_obsah_velky_bottom.png) no-repeat;
}

#obal_layout #obal_obsah div #obsah_velky .obsah_velky_odraz {
  height: 46px;
  bottom: -37px;
  z-index: 10;
  background: url(../obr/odraz_obsah_velky.png) no-repeat;
}

#obal_layout #obal_obsah div #obsah_velky div {
  position: relative;
  z-index: 30;
  color: #fff;
}

#obal_layout #obal_obsah div #obsah_velky h2 {
  width: 31px;
  position: absolute;
  top: 52px;
  left: -21px;
}

#obal_layout #obal_obsah div #obsah_velky h3 {
  width: 425px;
  height: 37px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  line-height: 36px;
  color: #c9f00f;
  background: url(../obr/nazev_oddilu_obsah_velky.png) no-repeat;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky h2 {
  height: 72px;
  background: url(../obr/uvod_obsah_velky.png) no-repeat;
}

#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky h2 {
  height: 113px;
  background: url(../obr/nase_sluzby_obsah_velky.png) no-repeat;
}

#obal_layout #obal_obsah #vypis_sekce_reference #obsah_velky h2 {
  height: 100px;
  background: url(../obr/reference_obsah_velky.png) no-repeat;
}

#obal_layout #obal_obsah #vypis_sekce_o_nas #obsah_velky h2 {
  height: 76px;
  background: url(../obr/o_nas_obsah_velky.png) no-repeat;
}

#obal_layout #obal_obsah #vypis_sekce_kontakt #obsah_velky h2 {
  height: 89px;
  background: url(../obr/kontakt_obsah_velky.png) no-repeat;
}

#obal_layout #obal_obsah div #obsah_velky h2 span,
#obal_layout #obal_obsah div #obsah_maly em {
  display: none;
}

#obal_layout #obal_obsah div #obsah_maly {
  width: 233px;
  height: 265px;
  float: left;
  position: relative;
  background: url(../obr/background_obsah_maly.png) no-repeat;
}

#obal_layout #obal_obsah div #obsah_maly div a,
#obal_layout #obal_obsah div #obsah_maly div a img,
#obal_layout #obal_obsah div #obsah_maly div a span {
  width: 180px;
  height: 155px;
}

#obal_layout #obal_obsah div #obsah_maly div a {
  display: block;
  margin-top: 27px;
  margin-left: 27px;
}

#obal_layout #obal_obsah div #obsah_maly div a img {
  border: none;
}

#obal_layout #obal_obsah div #obsah_maly div a span {
  position: absolute;
  top: 27px;
  left: 27px;
  background: url(../obr/praskliny_nahodny_obrazek.png) no-repeat;
}

#obal_layout #obal_obsah div #obsah_velky p {
  margin: 0 47px 10px;
}

#obal_layout #obal_obsah div #obsah_velky p strong {
  font-weight: normal;
}

#obal_layout #obal_obsah div #obsah_velky p#prvni_odstavec {
  margin-top: 75px;
}

#obal_layout #obal_obsah div #obsah_velky p#prvni_odstavec:first-letter {
  color: #b6e23e;
  font-size: 16px;
  text-transform: uppercase;
}

#obal_layout #obal_obsah div #obsah_velky p#posledni_odstavec {
  margin-bottom: 20px;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #nejnovejsi_reference {
  width: 376px;
  height: 136px; /* vyska obrazku: 109px + vyska reflection: 27px */
  margin: 3px auto;
  position: relative;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #nejnovejsi_reference a {
  display: block;
  width: 118px;
  float: left;
  margin-right: 11px;
  position: relative;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #nejnovejsi_reference a span {
  display: block;
  width: 118px;
  height: 136px;
  position: relative;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #nejnovejsi_reference span#prekryti_reflection {
  display: block;
  width: 376px;
  height: 27px;
  position: absolute;
  top: 109px;
  left: 0;
  z-index: 36;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #nejnovejsi_reference #posledni_odkaz {
  margin-right: 0;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #nejnovejsi_reference a img {
  width: 118px;
  height: 109px;
  border: none;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #nejnovejsi_reference canvas {
  display: block;
  /* width: 118px; vypocitano mootools */
  /* height: 27px; vypocitano mootools */
  position: absolute;
  top: 109px;
  left: 0;
}

/* novinky */
#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky {
  padding-bottom: 40px;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #novinky {
  width: 340px;
  margin: 3px auto 0;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #novinky dl {
  margin-bottom: 6px;
  font-size: 10px;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #novinky dl dt {
  width: 60px;
  padding-right: 3px;
  float: left;
  text-align: right;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #novinky dl dt em {
  color: #c9f00f;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #novinky dl dt em span {
  color: #dd7011;
  font-style: normal;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #novinky dl dd {
  width: 277px; /* 280px - padding 3px */
  float: right;
  color: #ddd;
}/* /novinky */

/* nase sluzby - accordion */
#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal {
  width: 421px;
  margin: 10px auto 60px;
}

#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal #zahlavi_accordion,
#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal #zapati_accordion {
  display: block;
  width: 421px;
}

#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal #zahlavi_accordion {
  background: url(../obr/accordion_zahlavi.png) no-repeat;
  height: 20px;
}

#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal #zapati_accordion {
  background: url(../obr/accordion_zapati.png) no-repeat;
  height: 22px;
}

#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal h3.prepinac {
  width: 421px;
  height: 24px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  cursor: pointer;
  color: #c9f00f;
  background: url(../obr/accordion_nadpis.png) no-repeat;
}

#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal h3.prepinac span {
  margin-left: 20px;
}

#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal h3.prepinac:hover span {
  color: #dd7011;
}

#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal .obsah_accordion {
  height: 200px;
  position: relative;
  overflow: hidden;
  background: url(../obr/accordion_obsah.png) repeat-y;
}

#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal .obsah_accordion span {
  display: block;
  width: 105px;
  height: 139px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url(../obr/nase_sluzby_obr.png) no-repeat;
}

#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal .obsah_accordion p {
  width: 260px;
  margin: 6px 0 0 22px;
}/* /nase sluzby - accordion */





















/* zde budou styly pro obsah sekci */







#obal_layout #obal_body_background_bottom {
  width: 100%;
  height: 94px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../obr/body_bottom_background.png) repeat-x left bottom;
}

#obal_layout #obal_body_background_bottom #zapati {
  height: 42px;
  margin-top: 52px;
  background: url(../obr/zapati_background.png) no-repeat center;
}

#obal_layout #obal_body_background_bottom #zapati p {
  display: none;
}

#obal_layout #obal_body_background_bottom #zapati em {
  position: relative;
  z-index: 100;
}

#preloader {
  width: 3px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

#preloader span {
  display: none;
}

/* Fugess (Martin) */
