#obal_layout {
  _height: 100%;
}

#obal_layout #obal_obsah {
  _height: 300px;
}

#obal_layout #zahlavi #header_logo,
#obal_layout #zahlavi ul,
#obal_layout #zahlavi ul li.uvod a,
#obal_layout #zahlavi ul li.nase-sluzby a,
#obal_layout #zahlavi ul li.reference a,
#obal_layout #zahlavi ul li.o-nas a,
#obal_layout #zahlavi ul li.kontakt a,
#obal_layout #zahlavi ul li span.uvod,
#obal_layout #zahlavi ul li span.nase-sluzby,
#obal_layout #zahlavi ul li span.reference,
#obal_layout #zahlavi ul li span.o-nas,
#obal_layout #zahlavi ul li span.kontakt,
#obal_layout #obal_obsah #background_koreny_obal_obsah,
#obal_layout #obal_obsah div #obsah_velky .obsah_velky_odraz,
#obal_layout #obal_obsah div#vypis_sekce_uvod #obsah_velky h2,
#obal_layout #obal_obsah div#vypis_sekce_nase_sluzby #obsah_velky h2,
#obal_layout #obal_obsah div#vypis_sekce_reference #obsah_velky h2,
#obal_layout #obal_obsah div#vypis_sekce_o_nas #obsah_velky h2,
#obal_layout #obal_obsah div#vypis_sekce_kontakt #obsah_velky h2,
#obal_layout #obal_obsah div #obsah_velky h3,
#obal_layout #obal_obsah div #obsah_maly div a span,
#obal_layout #obal_body_background_bottom #zapati {
  background: none;
}

#obal_layout #zahlavi #header_logo {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/zahlavi_background.png');
}

#obal_layout #zahlavi ul {
  width: 482px;
}

#obal_layout #zahlavi ul li {
  position: relative;
  z-index: 26;
}

#obal_layout #zahlavi ul li#background_menu_ie6 {
  display: block;
  float: none;
  width: 481px;
  height: 41px;
  margin-top: -66px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/background_menu.png');
  z-index: 22;
}

#obal_layout #zahlavi ul li#nahrada_za_sousediciho_sourozence {
  position: relative;
  top: auto;
  left: auto;
  margin-top: 4px;
  margin-left: 1px;
}

#obal_layout #zahlavi ul li,
#obal_layout #zahlavi ul li a {
  cursor: pointer;
}

#obal_layout #zahlavi ul li#nahrada_za_sousediciho_sourozence {
  cursor: default;
}

#obal_layout #zahlavi ul li a span {
  display: block;
  height: 32px;
}

#obal_layout #zahlavi ul li.uvod a {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/polozka_menu_uvod_pred.png');
}

#obal_layout #zahlavi ul li.hover a.uvod,
#obal_layout #zahlavi ul li.uvod a span {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/polozka_menu_uvod_po.png');
}

#obal_layout #zahlavi ul li.nase-sluzby a {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/polozka_menu_nase_sluzby_pred.png');
}

#obal_layout #zahlavi ul li.hover a.nase-sluzby,
#obal_layout #zahlavi ul li.nase-sluzby a span {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/polozka_menu_nase_sluzby_po.png');
}

#obal_layout #zahlavi ul li.reference a {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/polozka_menu_reference_pred.png');
}

#obal_layout #zahlavi ul li.hover a.reference,
#obal_layout #zahlavi ul li.reference a span {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/polozka_menu_reference_po.png');
}

#obal_layout #zahlavi ul li.o-nas a {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/polozka_menu_o_nas_pred.png');
}

#obal_layout #zahlavi ul li.hover a.o-nas,
#obal_layout #zahlavi ul li.o-nas a span {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/polozka_menu_o_nas_po.png');
}

#obal_layout #zahlavi ul li.kontakt a {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/polozka_menu_kontakt_pred.png');
}

#obal_layout #zahlavi ul li.hover a.kontakt,
#obal_layout #zahlavi ul li.kontakt a span {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/polozka_menu_kontakt_po.png');
}

#obal_layout #zahlavi ul li span.uvod {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/background_menu_odraz_uvod_pred.png');
}

#obal_layout #zahlavi ul li.aktivni span.uvod,
#obal_layout #zahlavi ul li.hover span.uvod {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/background_menu_odraz_uvod_po.png');
}

#obal_layout #zahlavi ul li span.nase-sluzby {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/background_menu_odraz_nase_sluzby_pred.png');
}

#obal_layout #zahlavi ul li.aktivni span.nase-sluzby,
#obal_layout #zahlavi ul li.hover span.nase-sluzby {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/background_menu_odraz_nase_sluzby_po.png');
}

#obal_layout #zahlavi ul li span.reference {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/background_menu_odraz_reference_pred.png');
}

#obal_layout #zahlavi ul li.aktivni span.reference,
#obal_layout #zahlavi ul li.hover span.reference {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/background_menu_odraz_reference_po.png');
}

#obal_layout #zahlavi ul li span.o-nas {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/background_menu_odraz_o_nas_pred.png');
}

#obal_layout #zahlavi ul li.aktivni span.o-nas,
#obal_layout #zahlavi ul li.hover span.o-nas {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/background_menu_odraz_o_nas_po.png');
}

#obal_layout #zahlavi ul li span.kontakt {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/background_menu_odraz_kontakt_pred.png');
}

#obal_layout #zahlavi ul li.aktivni span.kontakt,
#obal_layout #zahlavi ul li.hover span.kontakt {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/ie6/background_menu_odraz_kontakt_po.png');
}

#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal h3.prepinac.hover span {
  color: #dd7011;
}

#obal_layout #zahlavi ul li,
#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal h3.prepinac { /* kvuli urychleni hoveru nasazeno aj na: li.hover a.sekce */
  behavior: url("csshover.htc");
}

#obal_layout #obal_obsah #background_koreny_obal_obsah {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/obal_obsah_background_right.png');
}

#obal_layout #obal_obsah div #obsah_velky {
  _height: 440px;
  margin-right: 31px;
}

#obal_layout #obal_obsah div #obsah_velky .obsah_velky_bottom {
  bottom: -1px;
}

#obal_layout #obal_obsah div #obsah_velky .obsah_velky_odraz {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/odraz_obsah_velky.png');
}

#obal_layout #obal_obsah div#vypis_sekce_uvod #obsah_velky h2 {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/uvod_obsah_velky.png');
}

#obal_layout #obal_obsah div#vypis_sekce_nase_sluzby #obsah_velky h2 {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/nase_sluzby_obsah_velky.png');
}

#obal_layout #obal_obsah div#vypis_sekce_reference #obsah_velky h2 {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/reference_obsah_velky.png');
}

#obal_layout #obal_obsah div#vypis_sekce_o_nas #obsah_velky h2 {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/o_nas_obsah_velky.png');
}

#obal_layout #obal_obsah div#vypis_sekce_kontakt #obsah_velky h2 {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/kontakt_obsah_velky.png');
}

#obal_layout #obal_obsah div #obsah_velky h3 {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/nazev_oddilu_obsah_velky.png');
}

#obal_layout #obal_obsah div #obsah_maly {
  background: url(../obr/ie6/background_obsah_maly.png) no-repeat;
}

#obal_layout #obal_obsah div #obsah_maly div a {
  cursor: url(../obr/highslide/zoomin.cur);
}

#obal_layout #obal_obsah div #obsah_maly div a img {
  cursor: pointer;
}

/* #nejnovejsi_reference - smelina na IE6 */
#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #nejnovejsi_reference #posledni_odkaz {
  position: absolute;
  top: 0;
  right: 0;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #nejnovejsi_reference a.nahradni_odkaz_left {
  background: url(../obr/nahled_reference_001.png) no-repeat;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #nejnovejsi_reference a.nahradni_odkaz_center {
  background: url(../obr/nahled_reference_002.png) no-repeat;
}

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #nejnovejsi_reference a.nahradni_odkaz_right {
  background: url(../obr/nahled_reference_003.png) no-repeat;
}/* /#nejnovejsi_reference - smelina na IE6 */

#obal_layout #obal_obsah #vypis_sekce_uvod #obsah_velky #novinky dl {
  _height: 0;
}

/* spraveny accordion */
#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky h3 {
  filter: none;
}

#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal .obsah_accordion {
  _height: 0;
}

#obal_layout #obal_obsah #vypis_sekce_nase_sluzby #obsah_velky #accordion_obal .prvni_ie6 {
  height: 194px;
}/* /spraveny accordion */

#obal_layout #obal_obsah div #obsah_maly div a span {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/praskliny_nahodny_obrazek.png');
}

#obal_layout #obal_body_background_bottom #zapati {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/zapati_background.png');
}

#preloader #preload_01 {
  background: url(../obr/ie6/polozka_menu_uvod_pred.png) no-repeat;
}

#preloader #preload_02 {
  background: url(../obr/ie6/polozka_menu_uvod_po.png) no-repeat;
}

#preloader #preload_03 {
  background: url(../obr/ie6/polozka_menu_reference_pred.png) no-repeat;
}

#preloader #preload_04 {
  background: url(../obr/ie6/polozka_menu_reference_po.png) no-repeat;
}

#preloader #preload_05 {
  background: url(../obr/ie6/polozka_menu_o_nas_pred.png) no-repeat;
}

#preloader #preload_06 {
  background: url(../obr/ie6/polozka_menu_o_nas_po.png) no-repeat;
}

#preloader #preload_07 {
  background: url(../obr/ie6/polozka_menu_nase_sluzby_pred.png) no-repeat;
}

#preloader #preload_08 {
  background: url(../obr/ie6/polozka_menu_nase_sluzby_po.png) no-repeat;
}

#preloader #preload_09 {
  background: url(../obr/ie6/polozka_menu_kontakt_pred.png) no-repeat;
}

#preloader #preload_10 {
  background: url(../obr/ie6/polozka_menu_kontakt_po.png) no-repeat;
}

#preloader #preload_11 {
  background: url(../obr/ie6/background_menu_odraz_uvod_pred.png) no-repeat;
}

#preloader #preload_12 {
  background: url(../obr/ie6/background_menu_odraz_uvod_po.png) no-repeat;
}

#preloader #preload_13 {
  background: url(../obr/ie6/background_menu_odraz_reference_pred.png) no-repeat;
}

#preloader #preload_14 {
  background: url(../obr/ie6/background_menu_odraz_reference_po.png) no-repeat;
}

#preloader #preload_15 {
  background: url(../obr/ie6/background_menu_odraz_o_nas_pred.png) no-repeat;
}

#preloader #preload_16 {
  background: url(../obr/ie6/background_menu_odraz_o_nas_po.png) no-repeat;
}

#preloader #preload_17 {
  background: url(../obr/ie6/background_menu_odraz_nase_sluzby_pred.png) no-repeat;
}

#preloader #preload_18 {
  background: url(../obr/ie6/background_menu_odraz_nase_sluzby_po.png) no-repeat;
}

#preloader #preload_19 {
  background: url(../obr/ie6/background_menu_odraz_kontakt_pred.png) no-repeat;
}

#preloader #preload_20 {
  background: url(../obr/ie6/background_menu_odraz_kontakt_po.png) no-repeat;
}

/* Fugess (Martin) */
