a:link {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	text-decoration: underline;

}

a:visited {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	text-decoration: underline;

}

a:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	text-decoration: underline;

}

a:active {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	text-decoration: underline;

}

td {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

}

.Menu:link {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 13px;

	font-weight: bold;

	color: #000000;

}

.topic:link {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

}



.topic:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

}

.topic:visited {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

}





.Menu:active {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 13px;

	font-weight: bold;

	color: #000000;

}

.Menu:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 13px;

	font-weight: bold;

	color: #000000;

}

.Menu:visited {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 13px;

	font-weight: bold;

	color: #000000;

}

.Arial {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #666666;

}

.Blue {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #0000FF;

}

.Comment {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #009900;

}

.Verdana14 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 16px;

}

.head_table {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

}

.gray {

	color: #999999;

}

.Verdana12 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

}

.form {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #009966;

}



#coolmenu{

border: 3px #FFFFFF;

width: 100%;

background-color: #CCEAFF;

}



.coolmenu a{

font: bold 12px Verdana;

padding: 4px;

padding-left: 4px;


display: block;

width: 135px;

color: #000000;

text-decoration: none;

}


.coolmenu a:visited{

font: bold 12px Verdana;

padding: 4px;

padding-left: 4px;


display: block;

width: 135px;

color: #000000;

text-decoration: none;

}




.coolmenu a:hover{
font: bold 12px Verdana;
background-color: #A4CEEB;

color: white;

height:100%;

padding: 4px;

padding-left: 4px;


display: block;

width: 135px;

color: #000000;

text-decoration: none;

}



#tabledescription{

width: 100%;

height: 3em;

padding: 0px;

filter:alpha(opacity=0);

-moz-opacity:0;

}

.bottom {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}



.subnav:link {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	text-decoration: none;

}

.subnav:visited {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	text-decoration: none;

}

.subnav:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	text-decoration: underline;

}

.subnav:active {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	text-decoration: none;

}