body {background-color: white;
      font-family: "Verdana";
	  font-size: 10px;
      background-image: url("../images/2-2.gif");
      background-attachment: fixed;
      scrollbar-arrow-color: #9B0200;
      scrollbar-face-color: white;
      scrollbar-darkshadow-color: black;
      scrollbar-shadow-color: white;
      scrollbar-3dlight-color: white;
      scrollbar-highlight-color: white;
      scrollbar-track-color: white}

a {color: black;
   text-decoration: none;
   font-size: 10px;
}

a:hover {color: #9B0200}

font {color: black; 
      font-size: 10px;
      cursor: default}

font.nadpis {font-weight: bold}