* {
	padding: 0;
	margin: 0;
}

body{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#828282;
	background: url(../images/background.gif) repeat-x;
	margin : 0px;        
}

td, tr,p,div{
	background: transparent;
        
}
h1 {
font-size:16px;
}
h2 {font-size:15px;
}
h3 {font-size:14px;
}
h4 {font-size:13px;
}
h5 {font-size:12px;
}
h6 {font-size:11px;
}
.poll input {
	margin:5px!important;
	margin:0;
	}
a:link {
	color:#006600;
	text-decoration: none;    
}
a:visited {
	text-decoration: none;
	color : #c0c0c0;       
}
a:hover {
	text-decoration: none;
	color: #000000;      
 }
a:active {
	text-decoration: none;      
}
ul {
	margin: 0px 0px 0px 0px;
	}
li {
	background: url(../images/arrow.gif) no-repeat;
	background-position : 7px;
	padding-left : 30px;
	font-size : 11px;
	list-style:none;
	}

.latestnews li{
	margin-top : 10px;
	background: url(../images/timbul.gif) no-repeat 6px -2px;
	padding-left : 30px;
	padding-top:0px;
	font-size : 11px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
 }

.mostread li{
	margin-top : 10px;
	background: url(../images/timbul.gif) no-repeat 6px -2px;
	padding-left : 30px;
	padding-top:0px;
	font-size : 11px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;

       }
.blog table.contentpaneopen td{padding:2px;}
.sectiontableheader {	
	background-color : #51b951;
	padding: 2px;
	color : #fff;
	font-weight : bold;
	padding: 2px;
	border-bottom:1px #989800 solid;
	}
.sectiontableentry1 td{ 
	background:url(../images/dot.gif) bottom center repeat-x;
	}
.sectiontableentry2 td{
	background:url(../images/dot.gif) bottom center repeat-x;
	}

.componentheading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #89b330;
	text-align:left;
	line-height: 16px;
	background : transparent;
	background-repeat: no-repeat;
	background-position : 7px;
	text-transform:uppercase;
	}

.category {
	color: #fff; 
	font-family: Tahoma;
	font-size: 11px; 
	font-weight: bold; 
	text-decoration: none;
	}

a.category:link, a.category:visited {
	color: #666666; 
	font-weight: bold;
	}

a.category:hover {	
	color: #333333;
    font-weight: bold;
	}

ul#mainlevel-nav {       
	list-style : none; 
	font-size : 11px;
	background : #333;         
} 
ul#mainlevel-nav li {
	float : left;
	width : 100px; 
	font-size : 11px; 
	font-weight : normal;
	text-transform : lowercase;
	text-align : center; 
	line-height : 37px; 
	font-family : Tahoma,Arial, Helvetica, sans-serif; 
	display : block;
	background:none;
	padding-left:0px;       
} 
ul#mainlevel-nav li a {
	display : block; 
	padding-left : 5px; 
	padding-right : 5px;
	padding-top:3px; 
	text-decoration : none; 
	color : #828282;
	background:url(../images/center-topmenu.png) repeat-x; 
	font-weight : normal;
   } 
ul#mainlevel-nav li a:hover {
	display : block; 
	padding-left : 5px; 
	padding-right : 5px;
	padding-top:3px; 
	text-decoration : none; 
	color : #000;
	background:url(../images/center-topmenu-hover.png)  no-repeat top center;
	font-weight:bold;
}
table.moduletable {	
	margin-left: 5px;        
	width: 95%; 
	}

table.moduletable th {
	color:#333;
	padding:5px 0px 5px 25px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif; text-transform:uppercase;
	letter-spacing:5px;
	background:url(../images/tombol2.gif) no-repeat 3px;   
	}

table.moduletable td {
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;        
	text-align :justify;
	color: #828282;
	background : transparent;
	}
.contentpane {
	background-color : transparent;     
	}

.contentpaneopen {	
	text-align : justify;
	background-color : transparent;
	}
.contentpaneopen fieldset{
	width: 470px!important;
	width: 460px;
	border: none;
}
.contentheading {	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
 	color: #89b330;
	text-align:left;
	background : transparent;
	background-repeat: no-repeat;
	background-position : 7px;
	text-transform:uppercase;
	}

.contentpagetitle {
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
 	color:#89b330;
	text-align:left;
	background : transparent;    
	}

.contentdescription {
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-align: left;
	background : transparent;
	width:100%;
	}

.content_rating {
	font-weight: normal;
	font-size: 8pt;
	background : transparent;
}

.content_vote {	
	font-weight: normal;
	font-size: 8pt;
	background : transparent;
}

a.blogsection:link, a.blogsection:visited {
	color: #333333; 
	text-decoration: none; 
	font-family:  Arial, Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	background : transparent; 
	}

a.blogsection:hover {
	color: #333333;	
	text-decoration: underline;
	font-size: 10px;
	background : transparent;
	}

.createdate {
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	color: #ccc;
	text-decoration: none;
	}

.modifydate {
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	color: #333;
	text-decoration: none;
	font-weight: normal;
	}
.readon{
	background:url(../images/plus.gif) no-repeat 3px;
	padding-left:20px;
	}
a.readon:link, a.readon:visited {
	color: #333; 
	text-decoration: none; 
	font-family:  Arial, Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	}
a.readon:hover {
	color: #ccc;	
	font-weight: normal;
	font-family:  Arial, Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	}

.small {
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	text-decoration: none;
	font-weight: normal;
	}

a.mainlevel:link, a.mainlevel:visited {	
	color: #828282;
	font-weight: normal;
	font-size : 11px;
	text-decoration:none;
	text-align: left;
	padding-bottom : 2px;
	padding-left : 30px;
	padding-top : 5px;
	line-height : 20px;
	background: url(../images/tombol.gif) no-repeat left bottom;
	font-family:Tahoma,Arial, Helvetica, sans-serif;
	text-transform:lowercase;
	display:block;
	letter-spacing:5px;
	}

a.mainlevel:hover {
	color: #333333; 
	font-weight:normal;
	text-decoration:none;
	text-align: left;
    background: url(../images/tombol3.gif) no-repeat left bottom;
	padding-left : 35px;
	}
#active_menu {
	color:#666666;
	}
a.sublevel:link, a.sublevel:visited {
	font-size: 11px;
	color: #828282;
	padding:5px 0 0 25px;
	display:block;
	width:100%;
	line-height:20px;
	font-weight:normal;
	letter-spacing:5px;
}
a.sublevel:hover {
	color: #006600; 
	text-decoration: none;
}
.button {
	color: #fff; 
	font-family:arial,tahoma;
	margin: 3px;
	font-weight:bold;
	text-align: center;
	font-size: 11px;
	background: #6aa431;
	border: 1px solid #64a325;
	height: 20px;
    text-transform : uppercase;
	padding:0 3px 0 3px;
	}
.inputbox{
	font-size:11px;
	}
.mosimage {
	border:0;
	background:#fff;
	padding-top:5px;
	margin: 5px
}
.mosimage_caption {
	margin-top: 2px;
	background-color: #fff;
	padding: 1px 2px;
	color: #333;
	font-size: 10px;
}
#main {
	width : 710px;
	height : auto;
	margin : auto;
      }
#head  {
	width : 710px;
	height : 80px;
	float : left;         
       }
#bodi  {
	width : 710px;
	height : 200px;
	background : #fff;
	float : left;        
       }
#contentf {
	width : 710px;
	height : auto;
	background :#fff;
	float : left;
	line-height:20px;      
       }
#bottom  {
	width : 710px;
	height : 70px;
	float : left;
	padding:15px 0 0 0;
	background: url(../images/bgmainbody.png) repeat-x top right;    
       }

#logo  {
	width : 250px;
	height : 82px!important;
	height:80px;
	background-image: url(../images/logo.gif);
	background-repeat: no-repeat;
	float : left;         
        }

#btopmenu {
	width : 460px;
	height : 70px;
	float : right; 
	margin-top : 10px;
	background:url(../images/bgmenu.gif) no-repeat top right;     
        }

#menutop {
	width : 430px;
	height : 70px!important;
	height:37px;
	float: left;
	margin-left : 10px;
	margin-top:33px!important;
	margin-top:30px;
	padding-left:10px;
	background:url(../images/left-topmenu.png) no-repeat top left;

         }
#menutop div {
	background:url(../images/right-topmenu.png) no-repeat top right;
}

#header {
	width : 500px;
	height : 200px;
	background-image : url(../images/header.jpg);
	float : left;
       }

#newsflash {
	width : 190px;
	height : 140px;
	background: url(../images/bgnewsflash.png) no-repeat;
	float : right;
	color:#FFFFFF;
	padding:50px 10px 10px 10px;
	font-size:10px;
	overflow:auto;
       }

#searchboxs  {

	float:right;
	background: none;
	margin-top : 135px;
	background:url(../images/bgsearch.gif) no-repeat top center; 
	width:165px;
	height:40px;
	padding-top:23px!important;
	padding-left:15px; 
	padding-top:21px;
        }
#searchboxs  input { border:none;}


.tombol {
	width : 20px;
	height : 20px;
	background : #333333;
	border : 1px solid #333333;
	color : #ffffff;
	text-align : center;
         }

#leftcol {
	width : 500px;
	height : auto;
	float: left;
         }

#bodycontainer  {
	width : 470px;
	height : auto;
	float: left;
	padding:15px;
	background:url(../images/bgmainbody.png) repeat-x;
}
#bodycontainer-full  {
	width :680px;
	height : auto;
	float: left;
	padding:15px;
	background:url(../images/bgmainbody.png) repeat-x;
}

#menucol {
	width : 200px;
	height : auto;
	background:url(../images/bgrightmod.png) no-repeat #fff;
	float : right;
	padding : 0px 10px 15px 0px;
        }


#extra  {
	width : 500px;
	float: left;
	background:url(../images/bgthleftmod.gif) #6AD16A repeat-x;
       }
#extra-full {
	width : 710px;
	float: left;
	background:url(../images/bgthleftmod.gif) #6AD16A repeat-x;
       }
#leftmod {
	padding-bottom:10px;
	width : 240px;
	float: left;
	background:url(../images/bgthleftmod.gif) #6AD16A repeat-x;
        
      }
#leftmod-full {
	padding-bottom:10px;
	width :340px;
	float: left;
	background:url(../images/bgthleftmod.gif) #6AD16A repeat-x;
  
      }

#leftmod td,
#leftmod-full td
{
	color:#999999;
	padding-top:5px;
	line-height:11px;
}
#leftmod td a,
#leftmod-full td a {
	color:#fff;
	}
#leftmod td a:hover ,
#leftmod-full td a:hover{
	color:#333;
	}	
#leftmod th,
#leftmod-full th {
	color:#ffffff;
	padding-top:5px;
	padding-left:10px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif; 
	text-transform:lowercase;
	background:none;
}  

#rightmod {
	width : 245px;
	float: right;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:5px;
	background:url(../images/bgthleftmod.gif) #6AD16A repeat-x;
       }
#rightmod-full {
	width : 345px;
	float: right;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:5px;
	background:url(../images/bgthleftmod.gif) #6AD16A repeat-x;
       }
#rightmod td ,
#rightmod-full td{
	color:#999999;
	padding-top:5px;
	line-height:11px;
}  
#rightmod td a,
#rightmod-full td a {
	color:#fff;
	}
#rightmod td a:hover ,
#rightmod-full td a:hover{
	color:#333;
	}	
#rightmod th ,
#rightmod-full th{
	color:#ffffff;
	padding-top:5px;
	padding-left:10px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif; 
	text-transform:lowercase;
	background:none;
}  
	   
#allmod,
#allmod-full {
    width : 100%;
	padding-bottom:10px;
	background:url(../images/bgthleftmod.gif) #6AD16A repeat-x;
}
#allmod td,
#allmod-full td {
	color:#999999;
	padding-top:5px;
	line-height:11px;
}  
#allmod td a,
#allmod-full td a {
	color:#fff;
}
#allmod td a:hover,
#allmod-full td a:hover  {
	color:#333;
}	
#allmod th,
#allmod-full th {
	color:#ffffff;
	padding-top:5px;
	padding-left:10px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif; 
	text-transform:lowercase;
	background:none;} 

