/* dynamicke prihlasovani */
.dynamicke_prihlasovani_hlavni_vypis {
  position: relative;
}

.dynamicke_prihlasovani_hlavni_vypis .odkazy_pridat_nastavit {
  overflow: hidden;
  margin: 0 10px 40px;
}

.dynamicke_prihlasovani_hlavni_vypis .odkazy_pridat_nastavit a {
  display: block;
  float: left;
}

.dynamicke_prihlasovani_hlavni_vypis .dynamicke_prihlasovani_vypis_prihlasovani {
  margin: 30px 0;
}

.dynamicke_prihlasovani_hlavni_vypis .dynamicke_prihlasovani_vypis_prihlasovani .vypis_prihlasovani_zahlavi {
  margin-bottom: 3px;
  padding-bottom: 3px;
  position: relative;
  border-bottom: 1px dotted;
}

.dynamicke_prihlasovani_hlavni_vypis .dynamicke_prihlasovani_vypis_prihlasovani .vypis_prihlasovani_zahlavi .adresy_prihlasovani_zobrazeni {
  margin: 4px 0 0 10px;
  font-size: 11px;
}

.dynamicke_prihlasovani_hlavni_vypis .dynamicke_prihlasovani_vypis_prihlasovani .vypis_prihlasovani_zahlavi .odkazy_pridat_upravit_smazat {
  position: absolute;
  right: 0;
  bottom: 3px;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}

.dynamicke_prihlasovani_hlavni_vypis .dynamicke_prihlasovani_vypis_prihlasovani .vypis_prihlasovani_zahlavi .odkazy_pridat_upravit_smazat p {
  float: right;
  overflow: hidden;
  font-size: 11px;
}

.dynamicke_prihlasovani_hlavni_vypis .dynamicke_prihlasovani_vypis_prihlasovani .dynamicke_prihlasovani_vypis_registrace {
  margin-left: 30px;
  margin-bottom: 3px;
  padding-bottom: 3px;
  position: relative;
  border-bottom: 1px dotted;
}

.dynamicke_prihlasovani_hlavni_vypis .dynamicke_prihlasovani_vypis_prihlasovani .dynamicke_prihlasovani_vypis_registrace li {
  list-style-type: circle;
}

.dynamicke_prihlasovani_hlavni_vypis .dynamicke_prihlasovani_vypis_prihlasovani .dynamicke_prihlasovani_vypis_registrace .odkazy_upravit_smazat {
  list-style-type: none;
  position: absolute;
  right: 0;
  bottom: 3px;
  overflow: hidden;
  cursor: pointer;
}

.dynamicke_prihlasovani_hlavni_vypis .dynamicke_prihlasovani_vypis_prihlasovani .dynamicke_prihlasovani_vypis_registrace .odkazy_upravit_smazat p {
  float: right;
  overflow: hidden;
  font-size: 11px;
}

.dynamicke_prihlasovani_vypis_uzivatelu .odkazy_registrace_uzivatele {
  margin: 0 0 30px 10px;
  overflow: hidden;
}

.dynamicke_prihlasovani_vypis_uzivatelu .odkazy_registrace_uzivatele span {
  float: right;
  margin-right: 10px;
}

.dynamicke_prihlasovani_vypis_uzivatelu .zahlavi_registrace {
  margin-bottom: 10px;
  padding: 0 0 10px 20px;
  list-style-type: circle;
  font-size: 11px;
  border-bottom: 1px dotted;
}

.dynamicke_prihlasovani_vypis_uzivatelu .zahlavi_registrace li {
  padding: 3px 0 0;
}

.dynamicke_prihlasovani_vypis_uzivatelu .registrovani_uzivatele {
  min-height: 110px;
  margin-bottom: 20px;
  padding: 0 0 20px 40px;
  position: relative;
  list-style-type: circle;
  font-size: 11px;
  border-bottom: 1px dotted;
  background: url(uzivatel_nepotvrzeny.png) no-repeat right top;
}

.dynamicke_prihlasovani_vypis_uzivatelu .zucastneny_uzivatel {
  background: url(uzivatel_potvrzeny.png) no-repeat right top;
}

.dynamicke_prihlasovani_vypis_uzivatelu .registrovani_uzivatele li {
  padding: 3px 0 0;
}

.dynamicke_prihlasovani_vypis_uzivatelu .registrovani_uzivatele li.input_checkbox {
  margin: 0 0 -2px -20px;
  padding: 1px 0 0 20px;
  overflow: hidden;
}

.dynamicke_prihlasovani_vypis_uzivatelu .registrovani_uzivatele li.input_checkbox em {
  display: list-item;
  list-style-type: circle;
  float: left;
  margin-right: 3px;
  padding-top: 2px;
  font-style: normal;
}

.dynamicke_prihlasovani_vypis_uzivatelu .registrovani_uzivatele li.input_checkbox span {
  display: block;
  margin-top: 2px;
  overflow: hidden;
}

.dynamicke_prihlasovani_vypis_uzivatelu .registrovani_uzivatele li.input_checkbox span input {
  cursor: pointer;
}

.dynamicke_prihlasovani_vypis_uzivatelu .registrovani_uzivatele li.odkazy_uzivatel {
  position: absolute;
  right: 20px;
  bottom: 3px;
  list-style-type: none;
}

.dynamicke_prihlasovani_vypis_uzivatelu .registrovani_uzivatele li.info_zucastnil_se {
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 300;
  list-style-type: none;
  background-color: #fff;
}

.dynamicke_prihlasovani_vypis_uzivatelu .registrovani_uzivatele li.info_zucastnil_se strong {
  display: block;
  padding: 10px;
  border: 1px dotted;
}

.dynamicke_prihlasovani_vypis_uzivatelu .registrovani_uzivatele li.info_potvrzeny_uzivatel,
.dynamicke_prihlasovani_vypis_uzivatelu .registrovani_uzivatele li.info_nepotvrzeny_uzivatel {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 0;
  bottom: 1px;
  z-index: 300;
  list-style-type: none;
  background: url(stav_potvrzeni.png) no-repeat;
}

.dynamicke_prihlasovani_vypis_uzivatelu .registrovani_uzivatele li.info_potvrzeny_uzivatel {
  background-position: left;
}

.dynamicke_prihlasovani_vypis_uzivatelu .registrovani_uzivatele li.info_nepotvrzeny_uzivatel {
  background-position: right;
}

.dynamicke_prihlasovani_vypis_uzivatelu .zadny_uzivatel {
  display: block;
  text-align: center;
}

.pridat_upravit_dynamicke_prihlasovani ul li {
  padding: 3px 0 3px 3px;
  border-bottom: 1px dotted;
}

.pridat_upravit_dynamicke_prihlasovani ul li:hover {
  background-color: #f3f3f3;
  color: #000;
}

.pridat_upravit_dynamicke_prihlasovani ul li strong,
.pridat_upravit_dynamicke_prihlasovani ul li span {
  display: block;
  float: right;
  margin-top: -3px;
  padding: 3px;
}

.pridat_upravit_dynamicke_prihlasovani ul li span {
  padding: 4px 3px 2px;
}

.pridat_upravit_dynamicke_prihlasovani ul li a.userzemepuvodustyl,
.pridat_upravit_dynamicke_prihlasovani ul li a.userhostitelstyl {
  color: #7a7a7a;
  text-decoration: none;
  cursor: default;
}

.pridat_upravit_dynamicke_prihlasovani ul li a.userzemepuvodustyl strong {
  margin-top: 0;
  padding: 0;
}

.pridat_upravit_dynamicke_prihlasovani ul li:hover a.userzemepuvodustyl,
.pridat_upravit_dynamicke_prihlasovani ul li:hover a.userhostitelstyl {
  color: #000;
}

.pridat_upravit_dynamicke_prihlasovani table {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px dotted;
  border-collapse: collapse;
}

.pridat_upravit_dynamicke_prihlasovani table tr:hover th,
.pridat_upravit_dynamicke_prihlasovani table tr:hover td {
  background-color: #f3f3f3;
  color: #000;
}

.pridat_upravit_dynamicke_prihlasovani table.nadpisy_tabulky {
  margin-bottom: 10px;
}

.pridat_upravit_dynamicke_prihlasovani table.nadpisy_tabulky th {
  border: none;
}

.pridat_upravit_dynamicke_prihlasovani table tr td,
.pridat_upravit_dynamicke_prihlasovani table tr th {
  width: 100%;
  padding: 7px;
  white-space: nowrap;
  text-align: center;
  border: 1px dotted;
  border-bottom: none;
}

/* listnav */
.listNav { margin: 0 0 10px; }
.ln-letters { overflow: hidden; }
.ln-letters a { font-size: 0.9em; display: block; float: left; padding: 2px 6px; border: 1px solid silver; border-right: none; text-decoration: none; }
.ln-letters a.ln-last { border-right: 1px solid silver; }
.ln-letters a:hover,
.ln-letters a.ln-selected { background-color: #eaeaea; }
.ln-letters a.ln-disabled { color: #ccc; }
.ln-letter-count { text-align: center; font-size: 0.8em; line-height: 1; margin-bottom: 3px; color: #336699; }

.dynamicke_prihlasovani_vypis_uzivatelu #sortovani .urceni_sortovani {
  display: none;
}

.dynamicke_prihlasovani_vypis_uzivatelu #sortovani-nav {
  position: relative;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px dotted;
}

.dynamicke_prihlasovani_vypis_uzivatelu #sortovani-nav .ln-letters {
  position: absolute;
  top: -27px;
  margin-left: 7px;
}

.dynamicke_prihlasovani_vypis_uzivatelu #sortovani-nav .ln-letter-count {
  margin-left: 7px;
  padding: 1px 0 3px;
  position: absolute;
  top: -43px !important;
  background-color: #fff;
  border: 1px dotted;
  border-bottom: 0;
}/* /listnav */

/* vsechny formulare */
.pridat_upravit_dynamicke_prihlasovani .backlink_prihlasovani {
  margin: 0 0 30px 10px;
}

.pridat_upravit_dynamicke_prihlasovani form label {
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
}

.pridat_upravit_dynamicke_prihlasovani form label span,
.pridat_upravit_dynamicke_prihlasovani form label input {
  display: block;
  float: left;
}

.pridat_upravit_dynamicke_prihlasovani form label span {
  display: block;
  width: 270px;
  margin-right: 10px;
  padding-top: 4px;
  text-align: right;
  cursor: pointer;
}

.pridat_upravit_dynamicke_prihlasovani form label span.prihlasovani_dodatek {
  width: auto;
  margin: 2px 0 3px 280px;
  padding-top: 0;
  float: left;
  clear: both;
  font-size: 11px;
  text-align: left;
  cursor: default;
}

.pridat_upravit_dynamicke_prihlasovani form label.nadpis_sekce_zobrazovani span {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}

.pridat_upravit_dynamicke_prihlasovani form label.input_text input,
.pridat_upravit_dynamicke_prihlasovani form label.input_select select,
.pridat_upravit_dynamicke_prihlasovani form label.input_textarea textarea {
  width: 200px;
  float: left;
  border: 1px dotted;
  padding: 3px;
  color: #7a7a7a;
}

.pridat_upravit_dynamicke_prihlasovani form label.input_checkbox input {
  margin-top: 7px;
  cursor: pointer;
}

.pridat_upravit_dynamicke_prihlasovani form label.input_text em {
  display: block;
  padding-top: 4px;
  font-style: normal;
}

#ui-datepicker-div .ui-datepicker-header {
  padding-bottom: 3px;
}

#ui-datepicker-div,
#pickerplug {
  display: none;
}

#ui-datepicker-div .ui-datepicker-header a,
#pickerplug .ui-datepicker-header a {
  cursor: pointer;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title select,
#pickerplug .ui-datepicker-header .ui-datepicker-title select {
  display: block;
  padding: 3px;
  border: 1px dotted;
  color: #7a7a7a;
  font-size: 12px;
  cursor: pointer;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title select:focus,
#pickerplug .ui-datepicker-header .ui-datepicker-title select:focus {
  color: #000;
  background-color: #ececec;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title select:focus option,
#pickerplug .ui-datepicker-header .ui-datepicker-title select:focus option {
  background-color: #fff;
}

#ui-datepicker-div .ui-datepicker-calendar,
#pickerplug .ui-datepicker-calendar {
  font-size: 12px;
}

#pickerplug #text_close {
  display: none;
}

.pridat_upravit_dynamicke_prihlasovani form label.input_select select {
  width: 300px;
  cursor: pointer;
}

.pridat_upravit_dynamicke_prihlasovani form label.input_text input:focus,
.pridat_upravit_dynamicke_prihlasovani form label.input_select select:focus,
.pridat_upravit_dynamicke_prihlasovani form label.input_textarea textarea:focus {
  color: #000;
  background-color: #ececec;
}

.pridat_upravit_dynamicke_prihlasovani form label.input_select select:focus option {
  background-color: #fff;
}

.pridat_upravit_dynamicke_prihlasovani form label.input_textarea textarea {
  width: 360px;
  height: 200px;
  font: 14px Georgia, "Times New Roman", "Courier New", Times, Courier, serif;
}

.pridat_upravit_dynamicke_prihlasovani form label.input_radio input {
  margin-top: 6px;
  cursor: pointer;
}

.pridat_upravit_dynamicke_prihlasovani form label.input_checkbox input {
  margin-top: 7px;
  cursor: pointer;
}

.pridat_upravit_dynamicke_prihlasovani form label.neaktivni_polozka {
  display: none;
}

.pridat_upravit_dynamicke_prihlasovani form label.submit input {
  margin: 20px 0 20px 280px;
  padding: 3px;
  border: 1px dotted;
  cursor: pointer;
  color: #7a7a7a;
}

.pridat_upravit_dynamicke_prihlasovani form label.submit input:focus,
.pridat_upravit_dynamicke_prihlasovani form label.submit input:hover {
  text-decoration: underline;
  color: #000;
}/* /vsechny formulare */

.dynamicky_obsah_hlavni_razeni ul {
  margin-bottom: 7px;
  padding-bottom: 7px;
  position: relative;
  border-bottom: 1px dotted;
}

.dynamicky_obsah_hlavni_razeni ul li.razeni_menu {
  padding: 3px 0 0 10px;
  font-size: 12px;
}

#status_drag {
  display: none;
  padding: 10px;
  background-color: #fff;
  border: 1px dotted;
  position: fixed;
  top: 100px;
  left: 50%;
}/* /dynamicke prihlasovani */

/* Fugess (Martin) */
