/* menu */
#menu li.debug_mod {
  background-color: #cfcfcf;
}

#menu li.debug_mod a {
  padding-left: 10px;
}/* /menu */

/* uvodni strana */
.obsah .uvod_ul {
  width: 640px;
}
.uvod_ul li.smazat {
  display: block;
}/* /uvodni strana */

/* Fugess (Martin) */
