
.sourcecode 	{font-family: "ARIAL CE", "HELVETICA CE","ARIAL","HELVETICA"; color:#000000; font-size: 12px; font-weight:normal;}

.smallsource 	{font-family: "COURIER CE", "COURIER", "MONOSPACE"; color:Gray; font-size: 12px; font-weight:normal;}

.nadpis	 {font-family: "ARIAL CE", "HELVETICA CE","ARIAL","HELVETICA"; color:#000000; font-size: 18px; font-weight:bold;}


h1 {font-family: "ARIAL CE", "HELVETICA CE","ARIAL","HELVETICA"; color:#000000; font-size: 18px; font-weight:bold;margin-bottom: 0 em;
}

.text 	{font-family: "ARIAL CE", "HELVETICA CE","ARIAL","HELVETICA"; color:#000000; font-size: 12px; font-weight:normal;}

