    /* Element level classes */

    input[type=text], input[type=password], input[type=file], select
    {
/*        border: 1px solid #808080; */

        background-color: White;
        color: Black;
        font-size: x-small;
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
        vertical-align: middle;

    }

    textarea
    {
        background-color: White;
        color: Black;
        font-size: small;
        font-family: Lucida Console, Andale Mono, Courier New, Courier;
    }
    
	input[type=submit]
	{
        border: 1px dotted #808080;
        background-color: #EEEEEE;
        font-size: x-small;
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
        vertical-align: middle;
	}

pre  {
        font-size: 12px;
        font-family: Courier New, Courier,Lucida Console, Andale Mono;

}
	input
	{
        vertical-align: middle;
	}

    /* Standard classes for use in any page */
    /* PhorumDesignDiv - a div for keeping the forum-size size */
    .PDDiv
    {
        width: 100%;
        text-align: left;
    }        
    /* new class for layouting the submit-buttons in IE too */
    .PhorumSubmit { 
        border: 1px dotted #808080; 
        color: Black; 
        background-color: #EEEEEE; 
        font-size: small; 
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif; 
        vertical-align: middle; 
    }    
    
    .PhorumTitleText
    {
        float: right;
    }

    .PhorumStdBlock
    {
        font-size: small;
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
        background-color: White;
        padding: 3px;		
    }

    .PhorumStdBlockHeader
    {
        font-size: x-small;
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
        background-color: #EEEEEE;
/*        width: 100%; */
        padding: 5px;
    }

    .PhorumHeaderText
    {
        font-weight: bold;
    }

    .PhorumNavBlock
    {
        font-size: small;
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
        margin-top: 1px;
        margin-bottom: 1px;
        background-color: #EEEEEE;
        padding: 6px 4px 6px 4px;
    }

		.PhorumfcBlock
    {
        font-size: small;
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 6px 4px 6px 4px;
    }
	
    .PhorumNavHeading
    {
	font-weight: normal;
	font-size : small;
}

    A.PhorumNavLink
    {
        color: #000000;
        text-decoration: none;
        font-weight: normal;
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
        font-size: 12px;
        padding: 0px 4px 0px 4px;
    }

    A.PhorumNavLink:hover
    {
        background-color: #FFFFFF;
        font-weight: normal;
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
        font-size: 12px;        
        border-style: solid;
        border-color: #808080;
        border-width: 1px;
        color: #FF6600;
	padding: 0px 3px 0px 3px; 
    }

    .PhorumFloatingText
    {
	padding-left: 10px;
	font-size: x-small;
	padding-bottom: 4px;
}

    .PhorumHeadingLeft
    {
	padding-left: 3px;
	font-weight: normal;
	font-size : small;
	padding-right : 2px;
}

    .PhorumUserError
    {
        padding: 10px;
        text-align: center;
        color: Red;
        font-size: 16px;
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
        font-weight: bold;
    }

   .PhorumNewFlag
    {
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
		font-size: 10px;
        font-weight: bold;
        color: #CC0000;
    }

    .PhorumNotificationArea
    {
        float: right;
        border-style: dotted;
        border-color: #808080;
        border-width: 1px;
    }

    /* PSUEDO Table classes                                       */
    /* In addition to these, each file that uses them will have a */
    /* column with a style property to set its right margin       */    

    .PhorumColumnFloatXSmall
    {
	float: right;
	width: 75px;
	font-size: small;
}

    .PhorumColumnFloatSmall
    {
        float: right; 
        width: 100px;
		  font-size: small;
    }

    .PhorumColumnFloatMedium
    {
        float: right; 
        width: 150px;
		  font-size: small;
    }

    .PhorumColumnFloatLarge
    {
        float: right; 
        width: 200px;
		  font-size: small;
    }

    .PhorumColumnFloatXLarge
    {
        float: right; 
        width: 400px;
		  font-size: small;
    }

    .PhorumRowBlock
    {
        background-color: White;
       padding: 0px 0px 0px 0px;
    }

    .PhorumRowBlockAlt
    {
        background-color: #EEEEEE;
        border-bottom: 1px solid #F2F2F2;
        padding: 5px 0px 0px 0px;
    }

    /************/
    

    /* All that is left of the tables */

    .PhorumStdTable
    {
        width: 100%;
		border-style: solid;
        border-color: #EEEEEE;
        border-width: 1px;
		padding: 0px;
    }

    .PhorumTableHeader
    {
	background-color: #EEEEEE;
	color: #000000;
	padding: 5px;
	font-size : small;
	font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
}

    .PhorumTableRow
    {
	background-color: White;
	color: Black;
	font-size: small;
	padding: 3px;
	font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
}
    
    .PhorumTableRowAlt
    {
        background-color: #EEEEEE;
        color: #000000;
        font-size: small;
        padding: 3px;
		font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
    }    

    table.PhorumFormTable td
    {
	height: 26px;
	font-size : small;
}

    /**********************/


    /* Read Page specifics */
    
    .PhorumReadMessageBlock
    {
        margin-bottom: 5px;
    }
    
   .PhorumReadBodySubject
    {
	color: Black;
	font-size: 16px;
	font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
	font-weight: bold;
	padding-left: 3px;
	padding-top : 6px;
}

    .PhorumReadBodyHead
    {
	padding-left: 5px;
	font-size : small;
}

    .PhorumReadBodyText
    {
        font-size: small;
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
        padding: 5px;
    }

    .PhorumReadNavBlock
    {
        font-size: small;
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
/*        width: 100%; */
        background-color: #EEEEEE;
        padding: 4px 3px 4px 3px;
    }

    /********************/
    
    /* List page specifics */

    .PhorumListSubText
    {
        color: #707070;
        font-size: 10px;
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
    }

    .PhorumListPageLink
    {
        color: #707070;
        font-size: 10px;
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
    }

    .PhorumListSubjPrefix
    {
        font-weight: bold;
    }    

    .PhorumListModLink, .PhorumListModLink a
    {
        color: #707070;
        font-size: 10px;
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
    }
    /********************/

    /* Override classes - Must stay at the end */

    .PhorumNarrowBlock
    {
        width: 700px;
    }

    .PhorumSmallFont
    {
        font-size: 11px;
    }    

    .PhorumLargeFont
    {
	color: Black;
	font-size: larger;
	padding-left: 10px;
	font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
	font-weight: bold;
	padding-top: 4px;
}    


    .PhorumFooterPlug
    {
        margin-top: 10px;
        font-size: 10px;
        font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
    }
	 
	.phorumnavigace {
	color: Black;
	font-size: small;
	font-family: "Arial CE", "Helvetica CE", Tahoma, Arial, sans-serif;
	vertical-align: middle;
	font-weight: bold;
}  
