#hlavni_obal_layout,
#bocni_sloupec {
  _height: 800px;
}

#obsah #fotogalerie .dve_polozky a {
  text-decoration: none;
  padding-top: 9px;
}

#obsah #rozvrh_treninku .obal_rozvrh_treninku table tr th {
  width: auto;
}

#obsah #napiste_nam .obalka_01,
#obsah #napiste_nam .obalka_02,
#obsah #historie .brusla,
#obsah #sponzori .pozadi,
#obsah #sponzori .hlavni_logo a img#logo_hlavni,
#obsah #administrace_log .klic_01,
#obsah #administrace_log .klic_02,
#zapati,
#zapati * {
  display: none;
}

#obsah #sponzori .hlavni_logo a img {
  width: 260px;
  height: 260px;
  behavior:	url("pngbehavior.htc");
}

