#obsah #forum #pridat_prispevek form fieldset textarea {
  clear: none;
}


#obsah #napiste_nam form fieldset input {
  margin-bottom: 10px;
}

#obsah #napiste_nam form fieldset input#label_input_mesto {
  margin-right: 100px;
}


#obsah #napiste_nam form fieldset input#label_input_psc {
  margin-right: 200px;
}


#obsah #napiste_nam form fieldset input#label_input_telefon {
  margin-right: 160px;
}

#obsah #napiste_nam form fieldset input#label_input_telefon + span {
  position: relative;
  left: -160px;
}

#obal_layout_admin #obsah_admin #fotogalerie_sekce .tri_polozky .polozka_foto:hover .blok_obr_panel dl:hover dt,
#obal_layout_admin #obsah_admin #fotogalerie_sekce .tri_polozky .polozka_foto:hover .blok_obr_panel dl:hover dd {
  color: #bfbfbf;
}

#obal_layout_admin #obsah_admin #fotogalerie_sekce form.fotky input#tlacitko_ok {
  margin-top: 3px;
  margin-left: 40px;
}

