body {background-color: white;
      font-family: "Verdana";
      background-image: url("/images/4-2.gif");
      background-attachment: fixed;
      background-repeat: repeat-x;
      scrollbar-arrow-color: #9B0200;
      scrollbar-face-color: white;
      scrollbar-darkshadow-color: black;
      scrollbar-shadow-color: white;
      scrollbar-3dlight-color: white;
      scrollbar-highlight-color: white;
      scrollbar-track-color: white;
	  margin-top: 0px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	  margin-right: 0px;
}

a {color: #9B0200;
   text-decoration: none;
   font-size: 10px}

a:hover {color: black}

table {color: black; 
      font-size: 10px;
      cursor: default}

font.nadpis {font-weight: bold}