body {
  background-color: #fff;
  font: 12px "Trebuchet MS", Verdana, Tahoma, Arial, "Arial CE", sans-serif;
  color: #000;
}

#obal_layout,
#obal_layout #zahlavi,
#obal_layout #obal_obsah,
#obal_layout #zapati {
  width: 900px;
}

#obal_layout {
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

/* zahlavi */
#obal_layout #zahlavi {
  height: 170px;
  padding-top: 10px;
}

#obal_layout #zahlavi h1 { /* mootools */
  width: 479px;
  height: 119px;
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 100;
  background: url(../obr/depozit_nadpis.png) no-repeat;
}

#obal_layout #zahlavi h1 span {
  display: none;
}/* /zahlavi */

/* menu v zahlavi */
#obal_layout #zahlavi #menu_zahlavi {
  width: 420px;
  overflow: hidden;
}

#obal_layout #zahlavi #menu_zahlavi h2 { /* mootools */
  width: 230px;
  height: 64px;
  margin: 0 6px 6px 0;
  float: left;
  font: 12px "Trebuchet MS", Verdana, Tahoma, Arial, "Arial CE", sans-serif;
}

#obal_layout #zahlavi #menu_zahlavi h2#vypis_modulu,
#obal_layout #zahlavi #menu_zahlavi h2#odhlasit_se {
  width: 170px;
}

#obal_layout #zahlavi #menu_zahlavi h2 a {
  display: block;
  height: 64px;
  line-height: 64px;
  padding-left: 80px;
  padding-right: 3px;
  color: #000;
}

#obal_layout #zahlavi #menu_zahlavi h2#uvodni_strana {
  background: url(../obr/uvod_depozit.png) no-repeat;
}

#obal_layout #zahlavi #menu_zahlavi h2#vypis_modulu {
  background: url(../obr/vypis_modulu_depozit.png) no-repeat;
}

#obal_layout #zahlavi #menu_zahlavi h2#vypis_stazenych_modulu {
  background: url(../obr/vypis_stazenych_modulu_depozit.png) no-repeat;
}

#obal_layout #zahlavi #menu_zahlavi h2#odhlasit_se {
  background: url(../obr/odhlasit_se_depozit.png) no-repeat;
}/* /menu v zahlavi */

#obal_layout #obal_obsah {
  min-height: 400px;
  padding-bottom: 40px;
  position: relative;
}

/* centralni styly pro sekce */
#obal_layout #obal_obsah .centralni_box {
  min-height: 200px;
}

#obal_layout #obal_obsah .centralni_box span {
  display: block;
  width: 128px;
  height: 128px;
  margin: 20px auto 10px;
}

#obal_layout #obal_obsah .centralni_box span {
  display: block;
  width: 128px;
  height: 128px;
  margin: 20px auto 10px;
}

#obal_layout #obal_obsah .info_centralni_box span {
  background: url(../obr/info_centralni_box.png) no-repeat;
}

#obal_layout #obal_obsah .chyba_centralni_box span {
  background: url(../obr/chyba_centralni_box.png) no-repeat;
}

#obal_layout #obal_obsah .centralni_box p,
#obal_layout #obal_obsah .centralni_box a {
  text-align: center;
  margin-bottom: 10px;
}

#obal_layout #obal_obsah .centralni_box a {
  display: block;
  margin-bottom: 20px;
  color: #000;
  border: 1px dotted #fff; /* mootools */
  border-right: none;
  border-left: none;
}

#obal_layout #obal_obsah div .strankovani {
  margin: 3px 0;
  padding: 0 10px;
  line-height: 15px;
  overflow: hidden;
  font-size: 10px;
  border: 1px solid #000;
  border-right: none;
  border-left: none;
}

#obal_layout #obal_obsah div .strankovani p {
  float: left;
  cursor: default;
}

#obal_layout #obal_obsah div .strankovani p a {
  color: #000;
}

#obal_layout #obal_obsah div .strankovani p a:hover {
  color: #484848;
}

#obal_layout #obal_obsah div .strankovani p.strankovani_vpravo {
  float: right;
}/* /centralni styly pro sekce */

/* uvodni strana */
#obal_layout #obal_obsah #sekce_uvodni_strana p {
  height: 20px;
  padding: 3px 0;
  line-height: 20px;
  overflow: hidden;
  border: 1px dotted #000;
  border-top: none;
  cursor: pointer;
  background-color: #fff; /* mootools */
}

#obal_layout #obal_obsah #sekce_uvodni_strana p a:first-letter {
  text-transform: uppercase;
}

#obal_layout #obal_obsah #sekce_uvodni_strana #celkovy_pocet {
  border: 1px dotted #fff; /* mootools */
  border-bottom: 1px dotted #000;
  text-align: right;
  padding-right: 30px;
  background-color: #fff; /* mootools */
}

#obal_layout #obal_obsah #sekce_uvodni_strana #celkovy_pocet:hover {
  border-bottom: 1px dotted #d9d9d9;
}

#obal_layout #obal_obsah #sekce_uvodni_strana #celkovy_pocet em {
  font-style: normal;
  text-decoration: underline;
}

#obal_layout #obal_obsah #sekce_uvodni_strana p a {
  display: block;
  float: left;
  width: 515px;
  padding-left: 60px;
  color: #000;
  background: url(../obr/sipka_vpravo_depozit.png) no-repeat 25px center;
}

#obal_layout #obal_obsah #sekce_uvodni_strana p a:hover {
  color: #484848;
}

#obal_layout #obal_obsah #sekce_uvodni_strana p:hover a {
  background-position: 30px center;
}

#obal_layout #obal_obsah #sekce_uvodni_strana p .odkaz_smazat,
#obal_layout #obal_obsah #sekce_uvodni_strana p strong {
  display: block;
  width: 100px;
  float: right;
  text-align: center;
  border-left: 1px dotted #000;
}

#obal_layout #obal_obsah #sekce_uvodni_strana p strong {
  width: 80px;
}

#obal_layout #obal_obsah #sekce_uvodni_strana p strong.datum_vytvoreni {
  width: 140px;
}

#obal_layout #obal_obsah #sekce_uvodni_strana p .odkaz_smazat {
  padding-left: 0;
  position: relative;
  background: none;
}

#obal_layout #obal_obsah #sekce_uvodni_strana p .odkaz_smazat span {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 5px;
  background: url(../obr/smazat_polozku_depozit.png) no-repeat left center;
}

#obal_layout #obal_obsah #sekce_uvodni_strana p:hover .odkaz_smazat span {
  background-position: -20px center;
}

#obal_layout #obal_obsah #sekce_uvodni_strana p:hover .odkaz_smazat:hover span {
  background-position: right center;
}/* /uvodni strana */

/* vypis modulu a vypis stazenych modulu */
#obal_layout #obal_obsah #sekce_vypis_modulu .polozka_vypis,
#obal_layout #obal_obsah #sekce_vypis_stazenych_modulu .polozka_vypis {
  overflow: hidden;
  background-color: #fff; /* mootools */
}

#obal_layout #obal_obsah #sekce_vypis_modulu .zahlavi_polozka_vypis p,
#obal_layout #obal_obsah #sekce_vypis_stazenych_modulu .zahlavi_polozka_vypis p {
  font-weight: bold;
}

#obal_layout #obal_obsah #sekce_vypis_modulu .zahlavi_polozka_vypis:hover p,
#obal_layout #obal_obsah #sekce_vypis_stazenych_modulu .zahlavi_polozka_vypis:hover p,
#obal_layout #obal_obsah #sekce_vypis_modulu .zahlavi_polozka_vypis:hover p.border_bottom,
#obal_layout #obal_obsah #sekce_vypis_stazenych_modulu .zahlavi_polozka_vypis:hover p.border_bottom {
  border-color: #d9d9d9;
}

#obal_layout #obal_obsah #sekce_vypis_modulu .oddelovac_mooslide,
#obal_layout #obal_obsah #sekce_vypis_stazenych_modulu .oddelovac_mooslide {
  display: block;
  margin: 3px 0;
  border-bottom: 1px solid #000;
}

#obal_layout #obal_obsah #sekce_vypis_modulu .none_oddelovac_mooslide,
#obal_layout #obal_obsah #sekce_vypis_stazenych_modulu .none_oddelovac_mooslide {
  display: none;
}

#obal_layout #obal_obsah #sekce_vypis_modulu .polozka_vypis p,
#obal_layout #obal_obsah #sekce_vypis_stazenych_modulu .polozka_vypis p {
  width: 179px;
  line-height: 18px;
  float: left;
  text-align: center;
  border-right: 1px dotted #000;
  cursor: default;
}

#obal_layout #obal_obsah #sekce_vypis_modulu .polozka_vypis p {
  width: 227px;
  overflow: hidden; /* kvuli extra nazvum */
}

#obal_layout #obal_obsah #sekce_vypis_modulu .polozka_vypis p.mala_delka {
  width: 130px;
}

#obal_layout #obal_obsah #sekce_vypis_modulu .polozka_vypis p.mala_delka_odkaz {
  width: 90px;
}

#obal_layout #obal_obsah #sekce_vypis_modulu .polozka_vypis p.trida_cesta_modulu {
  width: 450px;
}

#obal_layout #obal_obsah #sekce_vypis_modulu .polozka_vypis p a {
  color: #000;
}

#obal_layout #obal_obsah #sekce_vypis_modulu .polozka_vypis p a:hover {
  color: #484848;
}

#obal_layout #obal_obsah #sekce_vypis_modulu .polozka_vypis p.border_bottom,
#obal_layout #obal_obsah #sekce_vypis_stazenych_modulu .polozka_vypis p.border_bottom {
  border-bottom: 1px dotted #000;
}

#obal_layout #obal_obsah #sekce_vypis_modulu .polozka_vypis p.mala_delka_odkaz,
#obal_layout #obal_obsah #sekce_vypis_stazenych_modulu .polozka_vypis p.border_right_none {
  border-right: none;
}

#obal_layout #obal_obsah #nahravani_modulu form fieldset {
  border: none;
}

#obal_layout #obal_obsah #nahravani_modulu form fieldset dl {
  text-align: center;
}

#obal_layout #obal_obsah #nahravani_modulu form fieldset dl dt,
#obal_layout #obal_obsah #nahravani_modulu form fieldset dl dd {
  margin: 3px 0;
}

#obal_layout #obal_obsah #nahravani_modulu form fieldset dl dt strong {
  font-weight: normal;
  text-decoration: underline;
}

#obal_layout #obal_obsah #nahravani_modulu form fieldset #tl_aktualizovat {
  display: block;
  margin: 6px auto;
}/* /vypis modulu a vypis stazenych modulu */

/* zapati */
#obal_layout #zapati {
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../obr/zapati_depozit.png) no-repeat;
}

#obal_layout #zapati p {
  margin-top: 10px;
  text-align: center;
}

#obal_layout #zapati p a {
  color: #000;
  text-decoration: none;
}

#obal_layout #zapati p a:hover {
  text-decoration: underline;
}/* /zapati */

/* nastaveni strankovani */
#obal_layout #zapati #nastaveni_strankovani,
#obal_layout #zapati #nastaveni_strankovani p,
#obal_layout #zapati #nastaveni_strankovani form {
  width: 200px;
  position: absolute;
}

#obal_layout #zapati #nastaveni_strankovani {
  height: 20px;
  right: 0;
  bottom: 20px;
  z-index: 90;
  overflow: hidden;
}

#obal_layout #zapati #nastaveni_strankovani:hover p {
  text-decoration: underline;
}

#obal_layout #zapati #nastaveni_strankovani p {
  height: 20px;
  margin: 0;
  bottom: 0;
  left: 0;
  line-height: 20px;
  cursor: pointer;
}

#obal_layout #zapati #nastaveni_strankovani form {
  height: 122px;
  bottom: 20px;
  left: 0;
  background: url(../obr/nastaveni_strankovani_depozit.png) no-repeat;
}

#obal_layout #zapati #nastaveni_strankovani form fieldset {
  height: 122px;
  border: none;
  position: relative;
}

#obal_layout #zapati #nastaveni_strankovani form fieldset #tl_nastavit {
  display: block;
  width: 70px;
  height: 58px;
  position: absolute;
  right: 17px;
  bottom: 17px;
  border: none;
  background: url(../obr/tl_nastavit.png) no-repeat;
  cursor: pointer;
}

#obal_layout #zapati #nastaveni_strankovani form fieldset dl {
  margin: 6px 0 0 6px;
}

#obal_layout #zapati #nastaveni_strankovani form fieldset dl dt {
  color: #fff;
  cursor: default;
}

#obal_layout #zapati #nastaveni_strankovani form fieldset dl dd {
  margin-left: 10px;
}

#obal_layout #zapati #nastaveni_strankovani form fieldset dl dd input {
  display: block;
  width: 33px;
  height: 18px;
  padding-top: 2px;
  padding-left: 3px;
  font: bold 11px "Trebuchet MS", Verdana, sans-serif;
  color: #fff;
  border: none;
  background: url(../obr/input_text.png) no-repeat;
}/* /nastaveni strankovani */

/* Fugess (Martin) */
