#obal_layout #zahlavi #menu_zahlavi h2#uvodni_strana {
  background: url(../obr/ie6/uvod_depozit.png) no-repeat;
}

#obal_layout #zahlavi #menu_zahlavi h2#vypis_modulu {
  background: url(../obr/ie6/vypis_modulu_depozit.png) no-repeat;
}

#obal_layout #zahlavi #menu_zahlavi h2#vypis_stazenych_modulu {
  background: url(../obr/ie6/vypis_stazenych_modulu_depozit.png) no-repeat;
}

#obal_layout #zahlavi #menu_zahlavi h2#odhlasit_se {
  background: url(../obr/ie6/odhlasit_se_depozit.png) no-repeat;
}

#obal_layout #zahlavi #menu_zahlavi h2.aktivni_polozka_ie {
  filter: alpha(opacity=100) !important;
}

#obal_layout #zahlavi #menu_zahlavi h2 a em {
  font-style: normal;
}

#obal_layout #obal_obsah #sekce_uvodni_strana #celkovy_pocet,
#obal_layout #obal_obsah #sekce_uvodni_strana #celkovy_pocet:hover {
  border: 1px dotted #000;
}

#obal_layout #obal_obsah #sekce_vypis_modulu .zahlavi_polozka_vypis:hover p,
#obal_layout #obal_obsah #sekce_vypis_stazenych_modulu .zahlavi_polozka_vypis:hover p,
#obal_layout #obal_obsah #sekce_vypis_modulu .zahlavi_polozka_vypis:hover p.border_bottom,
#obal_layout #obal_obsah #sekce_vypis_stazenych_modulu .zahlavi_polozka_vypis:hover p.border_bottom {
  border-color: #000;
}

/* Fugess (Martin) */
