#obal_layout {
  _height: 100%;
}

#obal_layout #obal_obsah {
  _height: 400px;
}

#obal_layout #zahlavi h1,
#obal_layout #zapati #nastaveni_strankovani form fieldset #tl_nastavit,
#obal_layout #zapati #nastaveni_strankovani form fieldset dl dd input {
  background: none;
}

#obal_layout #zahlavi h1 {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/depozit_nadpis.png');
}

#obal_layout #zapati #nastaveni_strankovani form fieldset #tl_nastavit {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/tl_nastavit.png');
}

#obal_layout #zapati #nastaveni_strankovani form fieldset dl dd input {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/input_text.png');
  cursor: text;
}

#obal_layout #zapati #nastaveni_strankovani form {
  background: url(../obr/ie6/nastaveni_strankovani_depozit.png) no-repeat;
}

#obal_layout #obal_obsah #sekce_uvodni_strana p a {
  background: url(../obr/ie6/sipka_vpravo_depozit.png) no-repeat 25px center;
}

#obal_layout #obal_obsah #sekce_uvodni_strana p .odkaz_smazat span {
  background: url(../obr/ie6/smazat_polozku_depozit.png) no-repeat left center;
  cursor: pointer;
}

#obal_layout #obal_obsah #sekce_uvodni_strana p.hover a {
  background-position: 30px center;
}

#obal_layout #obal_obsah #sekce_uvodni_strana p.hover .odkaz_smazat span {
  background-position: -20px center;
}

#obal_layout #obal_obsah #sekce_uvodni_strana p.hover .odkaz_smazat.hover span {
  background-position: right center;
}

#obal_layout #zapati #nastaveni_strankovani.hover p {
  text-decoration: underline;
}

#obal_layout #obal_obsah #sekce_uvodni_strana p,
#obal_layout #obal_obsah #sekce_uvodni_strana p .odkaz_smazat,
#obal_layout #zapati #nastaveni_strankovani {
  behavior: url("csshover.htc");
}

/* Fugess (Martin) */
