body {
  background-color: #fff;
  font: 12px "Trebuchet MS", Verdana, Tahoma, Arial, "Arial CE", sans-serif;
  color: #000;
}

#obal_layout,
#obal_layout #obal_obsah {
  width: 690px;
}

#obal_layout {
  height: 693px;
  margin: 0 auto;
}

#obal_layout #obal_obsah {
  height: 822px; /* 231px x 3 + 119px + 10px */
  position: relative;
  margin: 10px 0;
}

#obal_layout #obal_obsah div {
  width: 693px;
  height: 231px;
}

#obal_layout #obal_obsah #depozit_nadpis {
  width: 479px;
  height: 119px;
  margin: 0 auto 10px;
  overflow: hidden;
  background: url(../obr/depozit_nadpis.png) no-repeat;
}

#obal_layout #obal_obsah #depozit_nadpis h1 {
  padding-top: 200px;
}

#obal_layout #obal_obsah #depozit_nadpis p {
  padding-top: 10px;
}

#obal_layout #obal_obsah #depozit_top {
  background: url(../obr/depozit_final_top.png) no-repeat;
}

#obal_layout #obal_obsah #depozit_center {
  position: relative;
  background: url(../obr/depozit_final_center.png) no-repeat;
}

#obal_layout #obal_obsah #depozit_center a {
  display: block;
  width: 22px;
  height: 29px;
  position: absolute;
  top: 4px;
  left: 301px;
  background: url(../obr/depozit_admin.png) no-repeat;
}

#obal_layout #obal_obsah #depozit_bottom {
  position: relative;
  background: url(../obr/depozit_final_bottom.png) no-repeat;
}

#obal_layout #obal_obsah #depozit_bottom a {
  display: block;
  width: 93px;
  height: 46px;
  position: absolute;
  top: 97px;
  left: 425px;
  background: url(../obr/gfdesign_odkaz.png) no-repeat left;
}

#obal_layout #obal_obsah #depozit_bottom a:hover {
  background-position: right;
}

#obal_layout #obal_obsah #depozit_bottom a span {
  display: none;
}

#obal_layout #obal_obsah #admin {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

/* Fugess (Martin) */
