body,
#obal_layout #zahlavi #menu_zahlavi h2,
#obal_layout #zapati #nastaveni_strankovani form fieldset dl dd input {
  font-family: "FreeSans", sans-serif;
}

#obal_layout #zapati #nastaveni_strankovani form fieldset dl dd input {
  height: 16px;
  padding-top: 4px;
}

/* Fugess (Martin) */
