#obal_layout #obal_obsah #depozit_nadpis,
#obal_layout #obal_obsah #depozit_top,
#obal_layout #obal_obsah #depozit_center,
#obal_layout #obal_obsah #depozit_bottom {
  background: none;
}

#obal_layout #obal_obsah #depozit_nadpis {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/depozit_nadpis.png');
}

#obal_layout #obal_obsah #depozit_top {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/depozit_final_top.png');
}

#obal_layout #obal_obsah #depozit_center {
  z-index: 10;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/depozit_final_center.png');
}

#obal_layout #obal_obsah #depozit_bottom {
  z-index: 10;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/depozit_final_bottom.png');
}

#obal_layout #obal_obsah #depozit_center a,
#obal_layout #obal_obsah #depozit_bottom a,
#obal_layout #obal_obsah #odkaz_depozit_bottom_ie6 span {
  display: none;
}

#obal_layout #obal_obsah #odkaz_depozit_center_ie6,
#obal_layout #obal_obsah #odkaz_depozit_bottom_ie6 {
  display: block;
  position: absolute;
  z-index: 20;
}

#obal_layout #obal_obsah #odkaz_depozit_center_ie6 {
  width: 22px;
  height: 29px;
  top: 364px;
  left: 301px;
  background: url(../obr/depozit_admin.png) no-repeat;
}

#obal_layout #obal_obsah #odkaz_depozit_bottom_ie6 {
  width: 93px;
  height: 46px;
  top: 688px;
  left: 425px;
  background: url(../obr/gfdesign_odkaz.png) no-repeat left;
}

#obal_layout #obal_obsah #odkaz_depozit_bottom_ie6:hover {
  background-position: right;
}

/* Fugess (Martin) */
