body {
  font: 12px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #a8abad;
}

#body_sekce_index {
  background-color: #402232;
}

#body_sekce_index #obal_layout #zahlavi #body_podklad {
  display: block;
  width: 934px;
  height: 593px;
  position: absolute;
  top: 0;
  left: -589px;
  background: url(../obr/puls_index_body.png) no-repeat;
}

#body_sekce_salony {
  background-color: #2a3d31;
}

#body_sekce_salony #obal_layout #zahlavi #body_podklad {
  display: block;
  width: 990px;
  height: 768px;
  position: absolute;
  top: 0;
  left: 393px;
  background: url(../obr/puls_salony_body.png) no-repeat;
}

#body_sekce_galerie_ucesu {
  background-color: #363a3b;
}

#body_sekce_galerie_ucesu #obal_layout #zahlavi #body_podklad {
  display: block;
  width: 760px;
  height: 700px;
  position: absolute;
  top: 0;
  left: -400px;
  background: url(../obr/puls_galerie_ucesu_body.png) no-repeat;
}

#body_sekce_aktuality {
  background-color: #2e3b40;
}

#body_sekce_aktuality #obal_layout #zahlavi #body_podklad {
  display: block;
  width: 887px;
  height: 644px;
  position: absolute;
  top: 0;
  left: -548px;
  background: url(../obr/puls_aktuality_body.png) no-repeat;
}

#body_sekce_kontakt {
  background-color: #3d2124;
}

#body_sekce_kontakt #obal_layout #zahlavi #body_podklad {
  display: block;
  width: 952px;
  height: 748px;
  position: absolute;
  top: 0;
  left: -374px;
  background: url(../obr/puls_kontakt_body.png) no-repeat;
}

#body_sekce_pulsteam {
  background-color: #463f2e;
}

#body_sekce_pulsteam #obal_layout #zahlavi #body_podklad {
  display: block;
  width: 976px;
  height: 815px;
  position: absolute;
  top: 0;
  left: 475px;
  background: url(../obr/puls_pulsteam_body.png) no-repeat;
}

#obal_layout {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* zahlavi */
#obal_layout #body_top {
  display: block;
  width: 100%;
  height: 112px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  background: url(../obr/puls_body_top.png) repeat-x center top;
}

#obal_layout #zahlavi {
  width: 860px;
  height: 112px;
  margin: 0 auto;
  position: relative;
}

#zahlavi h1 {
  width: 900px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  background: url(../obr/puls_logo_top.png) no-repeat;
  width: 164px;
  height: 109px;
}

#zahlavi h1 a {
  display: block;
  height: 109px;
  position: relative;
  color: #000;
  font-size: 18px;
}

#zahlavi h1 a span {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

#navigace {
  width: 548px;
  height: 27px;
  position: absolute;
  top: 82px;
  left: 345px;
  z-index: 50;
}

#navigace li {
  position: absolute;
}

#navigace li .podklad {
  display: block;
  height: 27px;
  background: url(../obr/puls_menu.png) no-repeat;
}

#navigace li a {
  display: block;
  height: 27px;
  position: absolute;
}

#navigace li a .alternativa {
  display: none;
}

#navigace li.sekce_index {
  width: 90px;
  top: 0;
  left: 0;
}

#navigace li.sekce_index .podklad {
  background-position: 0 0;
}

#navigace li.sekce_index:hover .podklad {
  background-position: 0 -27px;
}

#navigace li.sekce_index .aktivni_podklad {
  background-position: 0 -54px !important;
}

#navigace li.sekce_index a {
  width: 63px;
  top: 0;
  left: 12px;
}

#navigace li.sekce_salony {
  width: 96px;
  top: 0;
  left: 64px;
}

#navigace li.sekce_salony .podklad {
  background-position: -90px 0;
}

#navigace li.sekce_salony:hover .podklad {
  background-position: -90px -27px;
}

#navigace li.sekce_salony .aktivni_podklad {
  background-position: -90px -54px !important;
}

#navigace li.sekce_salony a {
  width: 72px;
  top: 0;
  left: 11px;
}

#navigace li.sekce_galerie_ucesu {
  width: 143px;
  top: 0;
  left: 134px;
}

#navigace li.sekce_galerie_ucesu .podklad {
  background-position: -186px 0;
}

#navigace li.sekce_galerie_ucesu:hover .podklad {
  background-position: -186px -27px;
}

#navigace li.sekce_galerie_ucesu .aktivni_podklad {
  background-position: -186px -54px !important;
}

#navigace li.sekce_galerie_ucesu a {
  width: 117px;
  top: 0;
  left: 13px;
}

#navigace li.sekce_aktuality {
  width: 117px;
  top: 0;
  left: 251px;
}

#navigace li.sekce_aktuality .podklad {
  background-position: -329px 0;
}

#navigace li.sekce_aktuality:hover .podklad {
  background-position: -329px -27px;
}

#navigace li.sekce_aktuality .aktivni_podklad {
  background-position: -329px -54px !important;
}

#navigace li.sekce_aktuality a {
  width: 92px;
  top: 0;
  left: 13px;
}

#navigace li.sekce_kontakt {
  width: 109px;
  top: 0;
  left: 342px;
}

#navigace li.sekce_kontakt .podklad {
  background-position: -446px 0;
}

#navigace li.sekce_kontakt:hover .podklad {
  background-position: -446px -27px;
}

#navigace li.sekce_kontakt .aktivni_podklad {
  background-position: -446px -54px !important;
}

#navigace li.sekce_kontakt a {
  width: 82px;
  top: 0;
  left: 14px;
}

#navigace li.sekce_pulsteam {
  width: 123px;
  top: 0;
  left: 425px;
}

#navigace li.sekce_pulsteam .podklad {
  background-position: -555px 0;
}

#navigace li.sekce_pulsteam:hover .podklad {
  background-position: -555px -27px;
}

#navigace li.sekce_pulsteam .aktivni_podklad {
  background-position: -555px -54px !important;
}

#navigace li.sekce_pulsteam a {
  width: 90px;
  top: 0;
  left: 13px;
}

#zahlavi #ikony_zahlavi {
  width: 198px;
  height: 52px;
  position: absolute;
  top: 22px;
  right: -6px;
  z-index: 200;
}

#ikony_zahlavi #skype_ikona,
#ikony_zahlavi #oteviraci_doba_ikona,
#ikony_zahlavi #telefon_ikona,
#ikony_zahlavi #fcb_ikona {
  height: 52px;
  float: left;
  position: relative;
}

#ikony_zahlavi #skype_ikona {
  width: 50px;
  background: url(../obr/puls_skype_ikona.png) no-repeat;
}

#ikony_zahlavi #oteviraci_doba_ikona {
  width: 49px;
  background: url(../obr/puls_oteviraci_doba_ikona.png) no-repeat;
}

#ikony_zahlavi #telefon_ikona {
  width: 49px;
  background: url(../obr/puls_telefon_ikona.png) no-repeat;
}

#ikony_zahlavi #fcb_ikona {
  width: 50px;
  background: url(../obr/puls_fcb_ikona.png) no-repeat;
}

#ikony_zahlavi #skype_ikona #skype_box,
#ikony_zahlavi #oteviraci_doba_ikona #oteviraci_doba_box,
#ikony_zahlavi #telefon_ikona #telefon_box,
#ikony_zahlavi #fcb_ikona #fcb_box {
  display: none;
  position: absolute;
  top: 41px;
}

#ikony_zahlavi #skype_ikona #skype_box {
  width: 282px;
  height: 108px;
  left: -138px;
  background: url(../obr/puls_skype_box.png) no-repeat;
}

#ikony_zahlavi #skype_ikona #skype_box p {
  margin: 70px 0 0 9px;
  font: 14px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  line-height: 26px;
  color: #808080;
}

#ikony_zahlavi #oteviraci_doba_ikona #oteviraci_doba_box {
  width: 270px;
  height: 218px;
  left: -210px;
  overflow: hidden;
  background: url(../obr/puls_oteviraci_doba_box.png) no-repeat;
}

#ikony_zahlavi #oteviraci_doba_ikona #oteviraci_doba_box ul {
  float: left;
  margin-top: 46px;
}

#ikony_zahlavi #oteviraci_doba_ikona #oteviraci_doba_box ul li {
  height: 22px;
  overflow: hidden;
  font: 12px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  line-height: 22px;
  color: #808080;
  border-bottom: 1px solid #424242;
}

#ikony_zahlavi #oteviraci_doba_ikona #oteviraci_doba_box ul#oteviraci_doba_dny {
  width: 141px;
  margin-left: 13px;
}

#ikony_zahlavi #oteviraci_doba_ikona #oteviraci_doba_box ul#oteviraci_doba_dny li {
  padding-left: 1px;
  color: #dbdbdb;
}

#ikony_zahlavi #oteviraci_doba_ikona #oteviraci_doba_box ul#oteviraci_doba_salonpuls {
  width: 107px;
  display: none;
}

#ikony_zahlavi #oteviraci_doba_ikona #oteviraci_doba_box ul#oteviraci_doba_studiopuls {
  width: 90px;
}

#ikony_zahlavi #oteviraci_doba_ikona #oteviraci_doba_box ul#oteviraci_doba_pulsline {
  width: 74px;
  display: none;
}

#ikony_zahlavi #telefon_ikona #telefon_box {
  width: 234px;
  height: 108px;
  left: -139px;
  background: url(../obr/puls_telefon_box.png) no-repeat;
}

#ikony_zahlavi #telefon_ikona #telefon_box p {
  margin: 70px 0 0 9px;
  font: 14px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  line-height: 26px;
  color: #808080;
}

#ikony_zahlavi #fcb_ikona #fcb_box {
  width: 283px;
  height: 76px;
  left: -239px;
  background: url(../obr/puls_fcb_box.png) no-repeat;
}

#ikony_zahlavi #fcb_ikona #fcb_direct_link {
  display: block;
  width: 50px;
  height: 52px;
  position: absolute;
  top: 0;
  left: 0;
}

#ikony_zahlavi #fcb_ikona #fcb_box p {
  margin: 45px 0 0 9px;
  font: 14px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  line-height: 26px;
}

#ikony_zahlavi #fcb_ikona #fcb_box p a {
  color: #808080;
  text-decoration: none;
}

#ikony_zahlavi #fcb_ikona #fcb_box p a:hover {
  color: #fff;
}/* /zahlavi */











#obal_layout #obal_sekce {
  width: 860px;
  margin: 0 auto;
  position: relative;
}

#obal_sekce .obsah {
  position: relative;
  z-index: 100;
}




/* obsah vsech sekci */









#body_sekce_index .obsah {
  padding-top: 21px;
}

#body_sekce_index #obal_coin_slider_index {
  width: 860px;
  height: 347px;
  background: url(../obr/puls_ram_index.png) no-repeat center top;
}

#obal_coin_slider_index .coin-slider {
  padding: 18px 0 0 18px;
  overflow: hidden;
  position: relative;
}

#obal_coin_slider_index .coin-slider a {
  text-decoration: none;
  outline: none;
  border: none;
}

#obal_coin_slider_index .cs-buttons {
  width: 541px;
  margin: 0 auto;
  overflow: hidden;
}

#obal_coin_slider_index .cs-buttons a {
  display: block;
  height: 63px;
  float: left;
  background: url(../obr/puls_uvod_slider_triggery.png) no-repeat;
  
  display: none;
  
}

#obal_coin_slider_index .cs-buttons .cs-b-1 {
  width: 176px;
  background-position: left top;
}

#obal_coin_slider_index .cs-buttons .cs-span-1 .cs-active {
  background-position: left bottom;
}

#obal_coin_slider_index .cs-buttons .cs-b-2 {
  width: 156px;
  background-position: -176px top;
}

#obal_coin_slider_index .cs-buttons .cs-span-2 .cs-active {
  background-position: -176px bottom;
}

#obal_coin_slider_index .cs-buttons .cs-b-3 {
  width: 209px;
  background-position: right top;
}

#obal_coin_slider_index .cs-buttons .cs-span-3 .cs-active {
  background-position: right bottom;
}

#obal_coin_slider_index .cs-title {
  width: 192px;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 1000;
}

#obal_coin_slider_index .cs-title-opacity {
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1100;
  opacity: 0.9;
  background-color: #131313;
}

#obal_coin_slider_index .cs-title #salon_puls_nadpis,
#obal_coin_slider_index .cs-title #studio_puls_nadpis,
#obal_coin_slider_index .cs-title #salon_pulsline_nadpis {
  display: block;
  width: 192px;
  height: 30px;
  margin-bottom: 5px;
  position: relative;
  z-index: 1200;
}

#obal_coin_slider_index .cs-title strong {
  display: block;
  padding-left: 6px;
  font: 14px Arial, Verdana, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  line-height: 22px;
  color: #fff;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 1200;
}

#obal_coin_slider_index .cs-title #salon_puls_nadpis {
  background: url(../obr/salon_puls_nadpis.png) no-repeat;
}

#obal_coin_slider_index .cs-title #studio_puls_nadpis {
  background: url(../obr/studio_puls_nadpis.png) no-repeat;
}

#obal_coin_slider_index .cs-title #salon_pulsline_nadpis {
  background: url(../obr/salon_pulsline_nadpis.png) no-repeat;
}

#obal_coin_slider_index .cs-navigation {
  display: none !important;
}

#body_sekce_index #obal_aktuality_galerie_ucesu {
  margin-top: -15px;
  position: relative;
  overflow: hidden;
  margin-bottom: 9px;
}

#obal_aktuality_galerie_ucesu #obal_aktuality {
  width: 566px;
  height: 370px;
  float: left;
  overflow: hidden;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_nadpis {
  display: block;
  width: 566px;
  height: 37px;
  background: url(../obr/puls_nadpis_aktuality.png) no-repeat;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_sipka_vlevo {
  display: block;
  width: 27px;
  height: 183px;
  float: left;
  background: url(../obr/puls_sipky_aktuality.png) no-repeat 0 0;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_sipka_vlevo:hover {
  background-position: -27px 0;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_sipka_vpravo {
  display: block;
  width: 27px;
  height: 183px;
  float: left;
  background: url(../obr/puls_sipky_aktuality.png) no-repeat -54px 0;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_sipka_vpravo:hover {
  background-position: -81px 0;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_obsah {
  width: 512px;
  height: 183px;
  float: left;
  background: url(../obr/puls_podklad_aktuality.png) no-repeat;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_obsah div {
  width: 512px;
  height: 183px;
  position: relative;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_obsah div strong {
  display: block;
  padding: 12px 10px 17px 15px;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_obsah div strong span {
  display: block;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_obsah div strong span.left {
  width: 375px;
  float: left;
  overflow: hidden;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_obsah div strong span.right {
  float: right;
  font-size: 11px;
  opacity: 0.2;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_obsah div p {
  height: 86px;
  padding: 0 10px 0 15px;
  line-height: 17px;
  overflow: hidden;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_obsah div img {
  display: none;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_obsah div .cela_aktualita {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #6a5c64;
  text-decoration: none;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_obsah div .cela_aktualita:hover {
  color: #cb91b2;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty {
  height: 140px;
  clear: both;
  padding-top: 10px;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_nadpis {
  display: block;
  width: 566px;
  height: 37px;
  position: relative;
  background: url(../obr/puls_nadpis_kontakty.png) no-repeat;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_nadpis p a {
  background: url(../obr/puls_nazvy_kontakty.png) no-repeat;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_nadpis p a span {
  display: none;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_nadpis .p_1 {
  width: 119px;
  height: 37px;
  position: absolute;
  top: 0;
  left: 0;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_nadpis .p_1 a {
  display: block;
  width: 119px;
  height: 37px;
  background-position: 0 0;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_nadpis .p_1 a:hover {
  background-position: 0 -37px;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_nadpis .kontakty_aktivni .a_1 {
  background-position: 0 -74px !important;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_nadpis .p_2 {
  width: 114px;
  height: 37px;
  position: absolute;
  top: 0;
  left: 187px;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_nadpis .p_2 a {
  display: block;
  width: 114px;
  height: 37px;
  background-position: -119px 0;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_nadpis .p_2 a:hover {
  background-position: -119px -37px;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_nadpis .kontakty_aktivni .a_2 {
  background-position: -119px -74px !important;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_nadpis .p_3 {
  width: 157px;
  height: 37px;
  position: absolute;
  top: 0;
  left: 382px;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_nadpis .p_3 a {
  display: block;
  width: 157px;
  height: 37px;
  background-position: -233px 0;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_nadpis .p_3 a:hover {
  background-position: -233px -37px;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_nadpis .kontakty_aktivni .a_3 {
  background-position: -233px -74px !important;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_obsah {
  width: 566px;
  height: 103px;
  background: url(../obr/puls_podklad_kontakty.png) no-repeat;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_obsah div {
  width: 566px;
  height: 103px;
  overflow: hidden;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_obsah div .levy_blok,
#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_obsah div .pravy_blok {
  width: 283px;
  float: left;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_obsah div .levy_blok strong,
#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_obsah div .pravy_blok strong {
  display: block;
  padding: 3px 0 4px 10px;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_obsah div .levy_blok p,
#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_obsah div .pravy_blok p {
  padding-left: 10px;
  line-height: 22px;
}

#obal_aktuality_galerie_ucesu #obal_galerie_ucesu {
  width: 283px;
  float: right;
}

#obal_aktuality_galerie_ucesu #obal_galerie_ucesu #galerie_ucesu_nadpis {
  display: block;
  width: 283px;
  height: 37px;
  background: url(../obr/puls_nadpis_galerie_ucesu.png) no-repeat;
}

#obal_aktuality_galerie_ucesu #obal_galerie_ucesu #galerie_ucesu_obsah {
  width: 283px;
  height: 333px;
  position: relative;
}

#obal_aktuality_galerie_ucesu #obal_galerie_ucesu #galerie_ucesu_obsah div {
  width: 283px;
  height: 333px;
}

#obal_aktuality_galerie_ucesu #obal_galerie_ucesu #galerie_ucesu_obsah div a {
  display: block;
  width: 283px;
  height: 333px;
  background-position: left top;
}

#obal_aktuality_galerie_ucesu #obal_galerie_ucesu #galerie_ucesu_obsah div a:hover,
#obal_aktuality_galerie_ucesu #obal_galerie_ucesu #galerie_ucesu_obsah div a.hover {
  background-position: right top;
}















#body_sekce_salony .obsah {
  padding-top: 17px;
}

#body_sekce_salony #salony_obal {
  overflow: hidden;
}

#body_sekce_salony #salony_obal #salony_submenu {
  width: 283px;
  height: 347px;
  margin-bottom: 22px;
  float: right;
  background: url(../obr/puls_salony_nadpis_submenu.png) no-repeat top left;
}

#body_sekce_salony #salony_obal #salony_submenu a {
  display: block;
  width: 283px;
  height: 100px;
  background: url(../obr/puls_salony_submenu.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_submenu a .alternativa {
  display: none;
}

#body_sekce_salony #salony_obal #salony_submenu a.studio_puls {
  margin: 37px 0 5px 0;
  background-position: 0 0;
}

#body_sekce_salony #salony_obal #salony_submenu a.studio_puls:hover,
#body_sekce_salony #salony_obal #salony_submenu a.studio_puls_aktivni {
  background-position: 0 -100px;
}

#body_sekce_salony #salony_obal #salony_submenu a.salon_puls {
  margin-bottom: 5px;
  background-position: 0 -200px;
}

#body_sekce_salony #salony_obal #salony_submenu a.salon_puls:hover,
#body_sekce_salony #salony_obal #salony_submenu a.salon_puls_aktivni {
  background-position: 0 -300px;
}

#body_sekce_salony #salony_obal #salony_submenu a.salon_pulsline {
  background-position: 0 -400px;
}

#body_sekce_salony #salony_obal #salony_submenu a.salon_pulsline:hover,
#body_sekce_salony #salony_obal #salony_submenu a.salon_pulsline_aktivni {
  background-position: 0 -500px;
}

#body_sekce_salony #salony_obal #salony_obsah {
  width: 546px;
  float: left;
  margin-bottom: 22px;
  padding: 0 10px;
  background: url(../obr/puls_salony_podklad_obsah.png) repeat;
}

#body_sekce_salony #salony_obal #salony_obsah img#nadpis_obsah {
  display: block;
  margin-left: -10px;
}

#body_sekce_salony #salony_obal #salony_obsah h2 {
  margin-bottom: 15px;
  padding: 15px 0 5px;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  border-bottom: 2px solid #2e3a33;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_slider {
  width: 546px;
  height: 300px;
  height: 290px;
  padding-top: 10px;
  position: relative;
  background: url(../obr/puls_salony_podklad_slider.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_slider #slider_obrazky {
  width: 526px;
  height: 260px;
  margin-left: 10px;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_slider #slider_obrazky img {
  display: block;
  width: 526px;
  height: 260px;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_slider #slider_popisy {
  width: 270px;
  position: absolute;
  bottom: 9px;
  left: 10px;
  overflow: hidden;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_slider #slider_triggery {
  max-width: 250px;
  height: 19px;
  position: absolute;
  right: 7px;
  bottom: 5px;
  overflow: hidden;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_slider #slider_triggery p {
  width: 20px;
  height: 19px;
  float: left;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_slider #slider_triggery p a {
  display: block;
  width: 20px;
  height: 19px;
  background: url(../obr/puls_salony_triggery_slider.png) no-repeat left top;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_slider #slider_triggery p a:hover,
#body_sekce_salony #salony_obal #salony_obsah #salony_slider #slider_triggery p.triggery_aktivni a {
  background-position: right top;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_slider #slider_triggery p a span {
  display: none;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_kdo_jsme {
  margin: 15px 0;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_kdo_jsme p {
  line-height: 17px;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion {
  margin: 0 0 15px 0;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 {
  width: 546px;
  height: 33px;
  margin-top: 2px;
  outline: none;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a {
  display: block;
  width: 546px;
  height: 33px;
  background-position: left top;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a.studio_inner_effect {
  background: url(../obr/studio_inner_effect.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a.studio_fyzikalni_barva_elumen {
  background: url(../obr/studio_fyzikalni_barva_elumen.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a.studio_permanentni_narovnavani_vlasu_straightnshine {
  background: url(../obr/studio_permanentni_narovnavani_vlasu_straightnshine.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a.studio_hot_razor {
  background: url(../obr/studio_hot_razor.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a.studio_prodluzovani_vlasu {
  background: url(../obr/studio_prodluzovani_vlasu.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a.studio_caffe_nespresso {
  background: url(../obr/studio_caffe_nespresso.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a.salon_kadernictvi {
  background: url(../obr/salon_kadernictvi.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a.salon_solarium {
  background: url(../obr/salon_solarium.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a.salon_kosmetika {
  background: url(../obr/salon_kosmetika.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a.salon_modelaz_nehtu {
  background: url(../obr/salon_modelaz_nehtu.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a.salon_masaze {
  background: url(../obr/salon_masaze.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a.pulsline_kosmetika {
  background: url(../obr/pulsline_kosmetika.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a.pulsline_galvanizace_pleti {
  background: url(../obr/pulsline_galvanizace_pleti.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a.pulsline_pedikura {
  background: url(../obr/pulsline_pedikura.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a.pulsline_modelaz_nehtu {
  background: url(../obr/pulsline_modelaz_nehtu.png) no-repeat;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3 a:hover,
#body_sekce_salony #salony_obal #salony_obsah #salony_accordion h3.ui-state-active a {
  background-position: right top;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion div {
  overflow: hidden;
  background-color: #3d4841;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion div p {
  padding: 10px;
  clear: both;
  line-height: 20px;
  color: #fff;
  overflow: hidden;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion div p img {
  display: block;
  float: left;
  margin: 10px 10px 10px 0;
  max-width: 526px !important;
  height: auto !important;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion div p a {
  color: #a8abad;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_accordion div p a:hover {
  color: #fff;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_mapa {
  display: block;
  margin-bottom: 15px;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_kontaktni_informace {
  margin-bottom: 30px;
  overflow: hidden;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_kontaktni_informace div {
  width: 273px;
  float: left;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_kontaktni_informace div p {
  line-height: 22px;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_kontaktni_informace div p strong {
  color: #f83d44;
}
















#body_sekce_galerie_ucesu .obsah {
  padding-top: 21px;
}

#body_sekce_galerie_ucesu .controls {
  display: none;
}

#body_sekce_galerie_ucesu div.content {
  width: 860px;
  height: 382px;
  padding-top: 18px;
  background: url(../obr/puls_ram_galerie_ucesu.png) no-repeat;
}

#body_sekce_galerie_ucesu div.content a {
  text-decoration: none;
}

#body_sekce_galerie_ucesu div.slideshow-container {
  width: 824px;
  height: 364px;
  margin-left: 18px;
  position: relative;
  clear: both;
}

#body_sekce_galerie_ucesu div.loader {
  width: 824px;
  height: 364px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../obr/loaderWhite.gif) no-repeat center center;
}

#body_sekce_galerie_ucesu div.slideshow {
  width: 824px;
  height: 364px;
}

#body_sekce_galerie_ucesu div.slideshow img {
  display: block;
  max-width: 824px;
  max-height: 364px;
  margin: 0 auto;
}

#body_sekce_galerie_ucesu div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

#body_sekce_galerie_ucesu div.slideshow a.advance-link {
	display: block;
  width: 824px;
  height: 364px;
}

#body_sekce_galerie_ucesu div.navigation {
  width: 860px;
  height: 185px;
  margin: 10px 0 30px;
  position: relative;
  overflow: hidden;
}

#body_sekce_galerie_ucesu ul.thumbs {
  width: 780px;
  position: absolute;
  top: 0;
  left: 45px;
  z-index: 30;
  overflow: hidden;
}

#body_sekce_galerie_ucesu ul.thumbs li {
  width: 175px;
  height: 175px;
  float: left;
  margin-right: 10px;
  padding: 5px;
  background-color: #131313;
}

#body_sekce_galerie_ucesu ul.thumbs li a {
  display: block;
  width: 175px;
  height: 175px;
  background-position: left top;
}

#body_sekce_galerie_ucesu ul.thumbs li a:hover,
#body_sekce_galerie_ucesu ul.thumbs li a.hover {
  background-position: right top;
}

#body_sekce_galerie_ucesu ul.thumbs li.selected a {
  background-position: right top !important;
}

#body_sekce_galerie_ucesu div.pagination {
  width: 860px;
  height: 185px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background: url(../obr/puls_sipky_galerie_ucesu_podklad.png) no-repeat;
}

#body_sekce_galerie_ucesu div.pagination a,
#body_sekce_galerie_ucesu div.pagination span {
  display: none;
}

#body_sekce_galerie_ucesu div.pagination a.prev,
#body_sekce_galerie_ucesu div.pagination a.next {
  display: block;
  width: 35px;
  height: 185px;
  position: absolute;
  top: 0;
  background: url(../obr/puls_sipky_galerie_ucesu.png) no-repeat;
}

#body_sekce_galerie_ucesu div.pagination a.prev {
  left: 0;
  background-position: 0 0;
}

#body_sekce_galerie_ucesu div.pagination a.prev:hover {
  background-position: -35px 0;
}

#body_sekce_galerie_ucesu div.pagination a.next {
  right: 0;
  background-position: -70px 0;
}

#body_sekce_galerie_ucesu div.pagination a.next:hover {
  background-position: -105px 0;
}
























#body_sekce_aktuality .obsah {
  padding-top: 17px;
}

#body_sekce_aktuality #obal_aktuality {
  margin-bottom: 22px;
  padding-top: 37px;
  overflow: hidden;
  background: url(../obr/nadpisy_aktuality.png) no-repeat left top;
}

#body_sekce_aktuality div.content {
  width: 566px;
  height: 341px;
  float: left;
  position: relative;
  background: url(../obr/aktuality_podklad_aktualita.png) no-repeat 27px 0;
}

#body_sekce_aktuality div.navigation {
  width: 283px;
  height: 341px;
  float: right;
  background: url(../obr/aktuality_navigace_podklad.png) no-repeat;
}

#body_sekce_aktuality div.navigation ul.thumbs {
  height: 288px;
  margin-top: 5px;
}

#body_sekce_aktuality div.navigation ul.thumbs li {
  width: 283px;
  height: 48px;
}

#body_sekce_aktuality div.navigation ul.thumbs li a {
display: block;
  width: 283px;
  height: 48px;
  overflow: hidden;
  line-height: 16px;
  color: #61696d;
  background: url(../obr/aktuality_navigace_odkaz_podklad.png) no-repeat left top;
}

#body_sekce_aktuality div.navigation ul.thumbs li a strong,
#body_sekce_aktuality div.navigation ul.thumbs li a em {
  display: block;
  margin-left: 25px;
}

#body_sekce_aktuality div.navigation ul.thumbs li a strong {
  margin-top: 5px;
  white-space: nowrap;
}

#body_sekce_aktuality div.navigation ul.thumbs li a:hover,
#body_sekce_aktuality div.navigation ul.thumbs li.selected a {
  color: #f83d44;
  background-position: right top;
}

#body_sekce_aktuality div.navigation ul.thumbs li a:hover em,
#body_sekce_aktuality div.navigation ul.thumbs li.selected a em {
  color: #7e96ff;
}

#body_sekce_aktuality div.navigation div.pagination {
  width: 283px;
  margin-top: 10px;
  overflow: hidden;
  text-align: center;
}

#body_sekce_aktuality div.navigation div.pagination a {
  padding: 3px 5px;
  line-height: 26px;
  text-align: center;
  color: #61696d;
}

#body_sekce_aktuality div.navigation div.pagination a:hover {
  color: #f83d44;
}

#body_sekce_aktuality div.navigation div.pagination span {
  padding: 3px 5px;
  line-height: 26px;
  text-align: center;
}

#body_sekce_aktuality div.navigation div.pagination a.prev {
  font-weight: bold;
  letter-spacing: -2px;
}

#body_sekce_aktuality div.navigation div.pagination a.next {
  font-weight: bold;
  letter-spacing: -2px;
}

#body_sekce_aktuality div.navigation div.pagination span.current {
  color: #f83d44;
}

#body_sekce_aktuality div.content a,
#body_sekce_aktuality div.navigation a {
  text-decoration: none;
}

#body_sekce_aktuality div.controls {
  width: 566px;
  height: 341px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 60;
}

#body_sekce_aktuality div.controls div.ss-controls {
  display: none;
}

#body_sekce_aktuality div.controls div.nav-controls {
  width: 566px;
  height: 341px;
  position: relative;
}

#body_sekce_aktuality div.controls div.nav-controls a {
  display: block;
  width: 27px;
  height: 341px;
  position: absolute;
  top: 0;
  background: url(../obr/aktuality_obsah_sipky.png) no-repeat;
}

#body_sekce_aktuality div.controls div.nav-controls a.prev {
  left: 0;
  background-position: 0 0;
}

#body_sekce_aktuality div.controls div.nav-controls a.prev:hover {
  background-position: -27px 0;
}

#body_sekce_aktuality div.controls div.nav-controls a.next {
  right: 0;
  background-position: -54px 0;
}

#body_sekce_aktuality div.controls div.nav-controls a.next:hover {
  background-position: -81px 0;
}

#body_sekce_aktuality div.loader {
  width: 566px;
  height: 341px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  background: url(../obr/loaderWhite.gif) no-repeat center center;
}

#body_sekce_aktuality div.slideshow {
  display: none;
}

#body_sekce_aktuality span.image-caption {
  display: block;
  width: 512px;
  height: 341px;
  position: absolute;
  top: 0;
  left: 27px;
  z-index: 70;
}

#body_sekce_aktuality div.caption {
  width: 512px;
  height: 341px;
}

#body_sekce_aktuality div.caption .obal_odstavce {
  height: 287px;
  overflow: hidden;
  margin: 0 10px 0 13px;
}

#body_sekce_aktuality div.caption strong {
  display: block;
  overflow: hidden;
  margin: 15px 10px 15px 13px;
  line-height: 22px;
  font-weight: normal;
}

#body_sekce_aktuality div.caption strong .left {
  float: left;
  font-size: 14px;
  color: #fff;
}

#body_sekce_aktuality div.caption strong .right {
  float: right;
  font-size: 11px;
  color: #484f52;
}

#body_sekce_aktuality div.caption img {
  display: block;
  max-width: 177px;
  max-height: 124px;
  margin: 3px 0 0 10px;
  float: right;
  border: 3px solid #475359;
}

#body_sekce_aktuality div.caption p {
  line-height: 17px;
  text-align: justify;
}
































#body_sekce_kontakt .obsah {
  padding-top: 17px;
}

#body_sekce_kontakt #obal_kontakt {
  margin-bottom: 13px;
  padding-top: 37px;
  overflow: hidden;
  background: url(../obr/nadpisy_kontakt.png) no-repeat left top;
}

#body_sekce_kontakt #obal_formular {
  width: 566px;
  height: 609px;
  float: left;
  background: url(../obr/podklad_formular.png) no-repeat;
}

#body_sekce_kontakt #obal_formular p {
  margin: 10px 10px 20px;
  font-size: 14px;
  line-height: 22px;
}

#body_sekce_kontakt #obal_formular form fieldset {
  margin-left: 10px;
}

#body_sekce_kontakt #obal_formular form fieldset label {
  display: block;
}

#body_sekce_kontakt #obal_formular form fieldset label.jmeno_email {
  margin-bottom: 10px;
}

#body_sekce_kontakt #obal_formular form fieldset label.jmeno_email input {
  display: block;
  width: 160px;
  height: 24px;
  padding: 0 3px;
  color: #fff;
  font-size: 12px;
  border: none;
  background: url(../obr/jmeno_email_input.png) no-repeat;
}

#body_sekce_kontakt #obal_formular form fieldset label.captcha {
  margin-bottom: 10px;
  overflow: hidden;
}

#body_sekce_kontakt #obal_formular form fieldset label.captcha span {
  width: 166px;
  float: left;
}

#body_sekce_kontakt #obal_formular form fieldset label.captcha img {
  display: block;
  width: 166px;
  height: 47px;
  float: left;
  clear: left;
}

#body_sekce_kontakt #obal_formular form fieldset label.captcha input {
  display: block;
  width: 160px;
  height: 47px;
  float: left;
  padding: 0 3px;
  color: #fff;
  font-size: 16px;
  border: none;
  background: url(../obr/captcha_input.png) no-repeat;
}

#body_sekce_kontakt #obal_formular form fieldset label.zprava {
  margin-bottom: 5px;
}

#body_sekce_kontakt #obal_formular form fieldset label.zprava textarea {
  display: block;
  width: 540px;
  height: 244px;
  padding: 3px;
  border: none;
  background: url(../obr/textarea_input.png) no-repeat;
  font: 12px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #fff;
}

#body_sekce_kontakt #obal_formular form fieldset label.form_submit input {
  display: block;
  width: 546px;
  height: 50px;
  border: none;
  background: url(../obr/submit_input.png) no-repeat;
  cursor: pointer;
}

#body_sekce_kontakt #obal_formular form fieldset label span {
  display: block;
  font-size: 14px;
}

#body_sekce_kontakt #obal_kontaktni_informace {
  width: 283px;
  height: 558px;
  float: right;
  background: url(../obr/podklad_kontaktni_informace.png) no-repeat;
}

#body_sekce_kontakt #obal_kontaktni_informace #kontaktni_informace_studio_puls,
#body_sekce_kontakt #obal_kontaktni_informace #kontaktni_informace_salon_puls,
#body_sekce_kontakt #obal_kontaktni_informace #kontaktni_informace_salon_pulsline {
  padding-left: 10px;
}

#body_sekce_kontakt #obal_kontaktni_informace #kontaktni_informace_studio_puls {
  height: 186px;
  padding-left: 10px;
}

#body_sekce_kontakt #obal_kontaktni_informace #kontaktni_informace_salon_puls {
  height: 202px;
  padding-left: 10px;
}

#body_sekce_kontakt #obal_kontaktni_informace #kontaktni_informace_salon_pulsline {
  height: 170px;
  padding-left: 10px;
}

#body_sekce_kontakt #obal_kontaktni_informace h2 {
  padding-top: 15px;
  font-size: 18px;
  line-height: 22px;
  color: #ee3f3f;
}

#body_sekce_kontakt #obal_kontaktni_informace a {
  font-size: 11px;
  line-height: 22px;
  color: #4a3034;
  font-weight: bold;
  text-decoration: none;
}

#body_sekce_kontakt #obal_kontaktni_informace a:hover {
  color: #714c51;
}

#body_sekce_kontakt #obal_kontaktni_informace p {
  line-height: 22px;
}











#body_sekce_pulsteam .obsah {
  padding-top: 17px;
}

#body_sekce_pulsteam #obal_pulsteam {
  margin-bottom: 13px;
  padding-top: 37px;
  overflow: hidden;
  background: url(../obr/nadpisy_pulsteam.png) no-repeat left top;
}

#body_sekce_pulsteam .content {
  width: 283px;
  height: 609px;
  float: left;
  background: url(../obr/podklad_kadernik_kadernice.png) no-repeat;
}

#body_sekce_pulsteam .navigation {
  width: 566px;
  float: right;
  background: url(../obr/podklad_pulsteam.png) repeat;
}

#body_sekce_pulsteam div.loader {
  width: 283px;
  height: 372px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  background: url(../obr/loaderWhite.gif) no-repeat center center;
}

#body_sekce_pulsteam div.controls,
#body_sekce_pulsteam div.pagination {
  display: none;
}

#body_sekce_pulsteam div.slideshow-container {
  height: 372px;
  position: relative;
}

#body_sekce_pulsteam div.slideshow span.image-wrapper {
  display: block;
  height: 372px;
  position: absolute;
  top: 0;
  left: 0;
}

#body_sekce_pulsteam div.slideshow a.advance-link {
  display: block;
  width: 283px;
  height: 372px;
  line-height: 374px;
  text-align: center;
}

#body_sekce_pulsteam div.slideshow img {
  max-width: 263px;
  max-height: 358px;
  vertical-align: middle;
}

#body_sekce_pulsteam div.caption-container {
  position: relative;
  height: 75px;
}

#body_sekce_pulsteam span.image-caption {
  display: block;
  position: absolute;
  width: 263px;
  height: 237px;
  top: 0;
  left: 10px;
  overflow: hidden;
}

#body_sekce_pulsteam div.caption span {
  display: block;
}

#body_sekce_pulsteam div.caption .pulsteam_jmeno {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

#body_sekce_pulsteam div.caption .pulsteam_nadpis {
  font-weight: bold;
  font-style: italic;
  line-height: 17px;
}

#body_sekce_pulsteam div.caption .pulsteam_popis {
  margin-bottom: 15px;
  line-height: 17px;
}

#body_sekce_pulsteam ul.thumbs {
  min-height: 599px;
  padding-bottom: 10px;
  overflow: hidden;
}

#body_sekce_pulsteam ul.thumbs li {
  display: block;
  width: 129px;
  height: 149px;
  margin: 10px 0 0 10px;
  float: left;
  list-style: none;
  background: url(../obr/podklad_fotka_pulsteam.png) no-repeat;
}

#body_sekce_pulsteam a.thumb {
  display: block;
  width: 129px;
  height: 149px;
  color: #a8abad;
  text-decoration: none;
}

#body_sekce_pulsteam a.thumb span {
  display: block;
  margin: 3px 3px 0;
}

#body_sekce_pulsteam ul.thumbs li.selected a.thumb span {
  color: #fff;
}

#body_sekce_pulsteam ul.thumbs img {
  display: block;
}













/* /obsah vsech sekci */
















/* zapati */
#obal_layout #zapati {
  width: 860px;
  height: 165px;
  position: relative;
  margin: 0 auto;
}

#zapati #zapati_lista {
  width: 860px;
  height: 39px;
  position: relative;
  background: url(../obr/puls_menu_zapati_podklad.png) no-repeat;
}

#zapati #zapati_lista ul {
  width: 432px;
  height: 24px;
  position: absolute;
  top: 8px;
  left: 4px;
  background: url(../obr/puls_menu_zapati.png) no-repeat 0 0;
}

#zapati #zapati_lista ul li {
  height: 24px;
  position: absolute;
  top: 0;
}

#zapati #zapati_lista ul li a {
  display: block;
  height: 24px;
  background: url(../obr/puls_menu_zapati.png) no-repeat;
}

#zapati #zapati_lista ul li a .alternativa {
  display: none;
}

#zapati #zapati_lista ul li.sekce_index {
  width: 43px;
  left: 0;
}

#zapati #zapati_lista ul li.sekce_index a {
  background-position: 0 0;
}

#zapati #zapati_lista ul li.sekce_index a:hover,
#zapati #zapati_lista ul li.sekce_index a.aktivni {
  background-position: 0 -24px;
}

#zapati #zapati_lista ul li.sekce_salony {
  width: 52px;
  left: 52px;
}

#zapati #zapati_lista ul li.sekce_salony a {
  background-position: -52px 0;
}

#zapati #zapati_lista ul li.sekce_salony a:hover,
#zapati #zapati_lista ul li.sekce_salony a.aktivni {
  background-position: -52px -24px;
}

#zapati #zapati_lista ul li.sekce_galerie_ucesu {
  width: 93px;
  left: 113px;
}

#zapati #zapati_lista ul li.sekce_galerie_ucesu a {
  background-position: -113px 0;
}

#zapati #zapati_lista ul li.sekce_galerie_ucesu a:hover,
#zapati #zapati_lista ul li.sekce_galerie_ucesu a.aktivni {
  background-position: -113px -24px;
}

#zapati #zapati_lista ul li.sekce_aktuality {
  width: 71px;
  left: 215px;
}

#zapati #zapati_lista ul li.sekce_aktuality a {
  background-position: -215px 0;
}

#zapati #zapati_lista ul li.sekce_aktuality a:hover,
#zapati #zapati_lista ul li.sekce_aktuality a.aktivni {
  background-position: -215px -24px;
}

#zapati #zapati_lista ul li.sekce_kontakt {
  width: 60px;
  left: 295px;
}

#zapati #zapati_lista ul li.sekce_kontakt a {
  background-position: -295px 0;
}

#zapati #zapati_lista ul li.sekce_kontakt a:hover,
#zapati #zapati_lista ul li.sekce_kontakt a.aktivni {
  background-position: -295px -24px;
}

#zapati #zapati_lista ul li.sekce_pulsteam {
  width: 67px;
  left: 365px;
}

#zapati #zapati_lista ul li.sekce_pulsteam a {
  background-position: -365px 0;
}

#zapati #zapati_lista ul li.sekce_pulsteam a:hover,
#zapati #zapati_lista ul li.sekce_pulsteam a.aktivni {
  background-position: -365px -24px;
}

#zapati #zapati_lista #zapati_nahoru {
  display: block;
  width: 67px;
  height: 24px;
  position: absolute;
  top: 8px;
  right: 4px;
  background: url(../obr/puls_menu_zapati.png) no-repeat right top;
}

#zapati #zapati_lista #zapati_nahoru:hover {
  background-position: right bottom;
}

#zapati #zapati_partneri {
  height: 126px;
  position: relative;
  background: url(../obr/puls_zapati_podklad.png) no-repeat;
}

#zapati #zapati_partneri #partneri_obal {
  width: 860px;
  height: 94px;
  position: absolute;
  top: 29px;
  left: 0;
}

#zapati #zapati_partneri #partneri_obal #partneri_sipka_vlevo,
#zapati #zapati_partneri #partneri_obal #partneri_sipka_vpravo {
  display: block;
  width: 25px;
  height: 94px;
  background: url(../obr/puls_zapati_sipky.png) no-repeat;
}

#zapati #zapati_partneri #partneri_obal #partneri_sipka_vlevo {
  float: left;
  background-position: 0 0;
}

#zapati #zapati_partneri #partneri_obal #partneri_sipka_vlevo:hover {
  background-position: -25px 0;
}

#zapati #zapati_partneri #partneri_obal #partneri_sipka_vpravo {
  float: right;
  background-position: -50px 0;
}

#zapati #zapati_partneri #partneri_obal #partneri_sipka_vpravo:hover {
  background-position: -75px 0;
}

#zapati #zapati_partneri #partneri_obal #partneri_obsah {
  width: 810px;
  height: 94px;
  float: left;
}

#zapati #zapati_partneri #partneri_obal #partneri_obsah div {
  width: 810px;
  height: 94px;
  overflow: hidden;
}

#zapati #zapati_partneri #partneri_obal #partneri_obsah div a {
  display: block;
  width: 150px;
  width: 165px;
  height: 94px;
  float: left;
  overflow: hidden;
  position: relative;
}

#zapati #zapati_partneri #partneri_obal #partneri_obsah div a.zrusit_oddelovac {
  width: 150px;
}

#zapati #zapati_partneri #partneri_obal #partneri_obsah div a .sprit {
  display: block;
  width: 150px;
  height: 94px;
  float: right;
  background-position: left center;
}

#zapati #zapati_partneri #partneri_obal #partneri_obsah div a:hover .sprit,
#zapati #zapati_partneri #partneri_obal #partneri_obsah div a .sprit.hover {
  background-position: right center;
}

#zapati #zapati_partneri #partneri_obal #partneri_obsah div a .oddelovac {
  display: block;
  width: 15px;
  height: 94px;
  float: left;
  background: url(../obr/puls_zapati_oddelovac.png) no-repeat;
}

#zapati #zapati_partneri #partneri_obal #partneri_obsah div a.zrusit_oddelovac .oddelovac {
  display: none;
}

#zapati #zapati_partneri #partneri_obal #partneri_obsah div a .alternativa {
  display: none;
}

#zapati #vygenerovano {
  margin-top: 3px;
  text-align: center;
  display: none;
}

/* log ad jquery */
#zapati #obal_log_ad,
#obal_log_ad #log_ad,
#obal_log_ad #log_ad form {
  width: 339px;
  height: 137px;
}

#zapati #obal_log_ad {
  position: absolute;
  top: -137px;
  left: 0;
}

#obal_log_ad #odkaz_ad {
  display: block;
  width: 57px;
  height: 24px;
  position: absolute;
  bottom: -32px;
  left: 436px;
  background: url(../obr/puls_menu_zapati.png) no-repeat -432px 0;
  cursor: pointer;
}

#obal_log_ad #odkaz_ad:hover {
  background-position: -432px -24px;
}

#obal_log_ad #log_ad {
  display: none;
  position: relative;
  z-index: 1000;
  background: url(../obr/admin/gfa_log_ad_obal_inside.png) no-repeat;
}

#obal_log_ad #log_ad #ad_prejit_odkaz {
  display: block;
  width: 38px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../obr/admin/gfa_ad_prejit_odkaz.png) no-repeat left top;
}

#obal_log_ad #log_ad #ad_prejit_odkaz:hover {
  background-position: left bottom;
}

#obal_log_ad #log_ad form {
  height: 79px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#obal_log_ad #log_ad form label {
  display: block;
  width: 201px;
  height: 25px;
  position: absolute;
  left: 59px;
}

#obal_log_ad #log_ad form label#log_ad_user {
  top: 10px;
}

#obal_log_ad #log_ad form label#log_ad_pass {
  top: 44px;
}

#obal_log_ad #log_ad form label input {
  display: block;
  width: 191px;
  height: 21px;
  padding: 2px 5px;
  background: none;
  border: none;
  font: 12px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #ced7de;
}

input:-webkit-autofill {
  color: #393e42 !important;
}

#obal_log_ad #log_ad form #log_ad_tl {
  display: block;
  width: 60px;
  height: 59px;
  position: absolute;
  top: 10px;
  left: 269px;
  background: url(../obr/admin/gfa_log_ad_tl.png) no-repeat left top;
  border: none;
  cursor: pointer;
}

#obal_log_ad #log_ad form #log_ad_tl:hover,
#obal_log_ad #log_ad form #log_ad_tl:focus {
  background-position: left bottom;
}/* /log ad jquery */
/* /zapati */

/* Fugess (Martin) */
