#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_obsah div {
  background: url(../obr/puls_podklad_aktuality.png) no-repeat;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_obsah div {
  background: url(../obr/puls_podklad_kontakty.png) no-repeat;
}

#zapati #zapati_partneri #partneri_obal #partneri_obsah div {
  background: url(../obr/puls_zapati_podklad.png) no-repeat right bottom;
}

#obal_log_ad #odkaz_ad {
  display: none;
}
