#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_obsah div {
  background: none;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #obal_kontakty #kontakty_obsah div {
  background: none;
}

#zapati #zapati_partneri #partneri_obal #partneri_obsah div {
  background: none;
}

#obal_layout #body_top {
  z-index: -30;
}

#body_sekce_index #obal_layout #zahlavi #body_podklad,
#body_sekce_salony #obal_layout #zahlavi #body_podklad,
#body_sekce_galerie_ucesu #obal_layout #zahlavi #body_podklad,
#body_sekce_aktuality #obal_layout #zahlavi #body_podklad,
#body_sekce_kontakt #obal_layout #zahlavi #body_podklad,
#body_sekce_pulsteam #obal_layout #zahlavi #body_podklad {
  display: none;
}

#body_sekce_salony #salony_obal #salony_obsah #salony_slider #slider_obrazky {
  overflow: hidden;
}

#obal_aktuality_galerie_ucesu #obal_aktuality #aktuality_obsah div + div {
  display: none;
}

#zahlavi #ikony_zahlavi {
  display: none;
}

#body_sekce_kontakt #obal_formular form fieldset label.captcha span + span {
  width: 300px;
}

#body_sekce_pulsteam div.loader {
  display: none;
}

#body_sekce_pulsteam .content {
  display: none;
}

#body_sekce_pulsteam .navigation {
  width: 860px;
  float: left;
}

#body_sekce_pulsteam div.caption {
  display: none;
}

#zapati #zapati_partneri #partneri_obal #partneri_obsah div a {
  cursor: pointer;
}
