/* Dynamicky obsah */
/* vypis dynamickeho obsahu - modul */
.dynamicky_obsah_hlavni .odkaz_pridat {
  margin-bottom: 40px;
  padding-left: 10px;
}

.dynamicky_obsah_hlavni ul {
  margin-bottom: 40px;
  padding-bottom: 20px;
  position: relative;
  border-bottom: 1px solid;
}

.dynamicky_obsah_hlavni ul li.popis_skupiny {
  font-size: 11px;
  margin-bottom: 6px;
  padding: 3px 0 3px 10px;
  border-bottom: 1px dotted;
}

.dynamicky_obsah_hlavni ul li.odkazy_skupiny {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
}

.dynamicky_obsah_hlavni ul li.nazev_obsahu {
  padding-bottom: 3px;
  padding-left: 20px;
  border-bottom: 1px dotted;
  font-size: 11px;
}

.dynamicky_obsah_hlavni ul li.nazev_obsahu span {
  display: block;
  float: right;
  font-size: 11px;
}

.dynamicky_obsah_hlavni ul li.pre {
  margin-top: 3px;
  margin-bottom: 20px;
  background-color: #ececec;
}

.dynamicky_obsah_hlavni ul li.pre pre {
  padding: 0 3px;
  white-space: pre-wrap;
  overflow: hidden;
}

.dynamicky_obsah_hlavni ul li.pre pre:hover {
  color: #000;
  cursor: default;
}/* /vypis dynamickeho obsahu - modul */

/* vypis skupiny dynamicky obsah */
.vypis_skupiny_dynamicky_obsah .popis_sekce {
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 30px;
  text-align: right;
}

.vypis_skupiny_dynamicky_obsah .popis_sekce a {
  display: block;
  width: 90px;
  margin: 0 0 10px 10px;
  float: left;
  text-align: left;
}

.obsah .vypis_polozky_dynamicky_obsah {
  margin-bottom: 30px;
}

.vypis_polozky_dynamicky_obsah .nazev_obsahu {
  margin: 2px 0;
  padding: 0 2px 2px 20px;
  font-size: 16px;
  border-bottom: 1px dotted;
}

.vypis_polozky_dynamicky_obsah .nazev_obsahu a {
  float: right;
  margin: 3px 7px 0 0;
  font-size: 11px;
}/* /vypis skupiny dynamicky obsah */

/* predstylovany obsah stranek pro admin */
.vypis_polozky_dynamicky_obsah div,
.vypis_polozky_dynamicky_obsah div p {
  color: #2e241b;
  font: 11px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
}

.vypis_polozky_dynamicky_obsah div h3 {
  text-align: left; /* reset kvuli stylum v adminu */
  margin-top: 33px;
  margin-bottom: 20px;
  padding-bottom: 0;
  border: none;
  font: 30px Georgia, "Times New Roman", Times, serif;
}

.vypis_polozky_dynamicky_obsah div h3.mensi_odsazeni {
  margin-top: 23px;
}

.vypis_polozky_dynamicky_obsah div h3.mensi_odsazeni:after {
  content: " (menší odsazení zhora)";
  font-size: 11px;
  color: #ccc;
}

.vypis_polozky_dynamicky_obsah div p.display-none,
.vypis_polozky_dynamicky_obsah div h3.display-none {
  color: #ccc;
}

.vypis_polozky_dynamicky_obsah div p.display-none:after,
.vypis_polozky_dynamicky_obsah div h3.display-none:after {
  content: " (skrytý obsah)";
  color: #000;
}

.vypis_polozky_dynamicky_obsah div p {
  margin-bottom: 13px;
}

.vypis_polozky_dynamicky_obsah div a {
  text-decoration: none;
  font-weight: bold;
  color: #d2342f;
}

.vypis_polozky_dynamicky_obsah div a:hover {
  color: #d2342f;
  text-decoration: underline;
}

.vypis_polozky_dynamicky_obsah div img {
  padding: 3px;
  border: 1px dotted #000;
}

.vypis_polozky_dynamicky_obsah div img:after { /* rozeznani obrazku */
  content: " (obrázek) ";
}/* /predstylovany obsah stranek pro admin */

/* pridat a upravit skupinu */
.obsah .dynamicky_obsah_add_edit_skupiny {
  margin-bottom: 30px;
}

.dynamicky_obsah_add_edit_skupiny p {
  margin-bottom: 30px;
  padding-left: 10px;
}

.dynamicky_obsah_add_edit_skupiny form label {
  display: block;
  margin-bottom: 6px;
  overflow: hidden;
}

.dynamicky_obsah_add_edit_skupiny form label span,
.dynamicky_obsah_add_edit_skupiny form label input,
.dynamicky_obsah_add_edit_skupiny form label textarea {
  display: block;
  float: left;
}

.dynamicky_obsah_add_edit_skupiny form label span {
  width: 110px;
  margin: 0 10px;
  padding-top: 4px;
  text-align: right;
}

.dynamicky_obsah_add_edit_skupiny form label input,
.dynamicky_obsah_add_edit_skupiny form label textarea {
  width: 200px;
  border: 1px dotted;
  padding: 3px;
  color: #7a7a7a;
}

.dynamicky_obsah_add_edit_skupiny form label textarea {
  width: 500px;
  height: 200px;
  font: 14px Georgia, "Times New Roman", "Courier New", Times, Courier, serif;
}

.dynamicky_obsah_add_edit_skupiny form label input:focus,
.dynamicky_obsah_add_edit_skupiny form label textarea:focus {
  color: #000;
  background-color: #ececec;
}

.dynamicky_obsah_add_edit_skupiny form label.checkbox input {
  width: auto;
  margin: 6px 0;
  padding: 0;
  border: none;
}

.dynamicky_obsah_add_edit_skupiny form label.submit input {
  width: auto;
  padding: 3px 6px;
  margin-left: 130px;
}

.dynamicky_obsah_add_edit_skupiny form label.submit input:hover,
.dynamicky_obsah_add_edit_skupiny form label.submit input:focus {
  text-decoration: underline;
  color: #000;
  cursor: pointer;
}/* /pridat a upravit skupinu */

/* pridat a upravit obsah */
.dynamicky_obsah_add_edit .backlink_obsah {
  margin: 0 0 30px 10px;
}

.dynamicky_obsah_add_edit form label,
.dynamicky_obsah_add_edit form label span,
.dynamicky_obsah_add_edit form label input,
.dynamicky_obsah_add_edit form label select {
  display: block;
}

.dynamicky_obsah_add_edit form label {
  margin-bottom: 6px;
  overflow: hidden;
}

.dynamicky_obsah_add_edit form label select,
.dynamicky_obsah_add_edit form label input {
  width: 200px;
  float: left;
  border: 1px dotted;
  padding: 3px;
  color: #7a7a7a;
}

.dynamicky_obsah_add_edit form label select {
  width: 208px;
}

.dynamicky_obsah_add_edit form label select option {
  background-color: #fff;
}

.dynamicky_obsah_add_edit form label select:focus,
.dynamicky_obsah_add_edit form label input:focus {
  color: #000;
  background-color: #ececec;
}

.dynamicky_obsah_add_edit form label span {
  width: 110px;
  margin: 0 10px;
  padding-top: 4px;
  float: left;
  text-align: right;
}

.dynamicky_obsah_add_edit form label span.span_dodatek {
  width: 500px;
  margin: 0 0 3px 140px;
  float: none;
  clear: both;
  text-align: left;
  font-size: 11px;
}

.dynamicky_obsah_add_edit form label.submit input {
  width: auto;
  margin: 10px auto 20px;
  float: none;
  padding: 3px 6px;
}

.dynamicky_obsah_add_edit form label.submit input:hover,
.dynamicky_obsah_add_edit form label.submit input:focus {
  text-decoration: underline;
  color: #000;
  cursor: pointer;
}/* /pridat a upravit obsah */

/* Konfigurace  WYM Editoru */
/* WYMeditor */
/* mensi odsazeni u nadpisu */
h3.mensi_odsazeni {
  margin-top: 23px;
  /* border: 1px dotted; */
}

p.display-none,
h3.display-none {
  color: #ccc;
  /* color: #ccc; background-color: #000; */
}

/* ukazkove priklady */
/* PARA: Date */
p.date {
  color: #ccf;
  /* background-color: #ff9; border: 2px solid #ee9; */
}

/* PARA: Hidden note */
p.hidden-note /* p[@class!="important"] */ {
   display: none;
  /* color: #999; border: 2px solid #ccc; */
}

/* PARA: Important*/
p.important /* p[@class!="hidden-note"] */ {
  color: red; font-weight: bold;
  /* color: red; font-weight: bold; border: 2px solid red; */
}

img.border {
  border: 1px solid #ccc;
  /* border: 4px solid #ccc; */
}

/* LIST: Special */
ul.special,
ol.special {
  color: green;
  /** / background-color: #fc9; border: 2px solid red; /**/
}
/* /WYMeditor */
/* /Konfigurace  WYM Editoru */

/* napoveda pro editor WYM */
.moo_napoveda {
  display: none;
	width: 978px;
	position: relative;
	margin: 0 auto;
	padding: 25px 10px 10px;
	color: #000;
	background-color: #e3e3e3;
	border: 1px dotted #000;
}

.moo_napoveda h3 {
  text-align: left;
}

.moo_napoveda a {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(../../obr/highslide/close.png) no-repeat;
}

.moo_napoveda ul {
  display: list-item;
  margin-left: 20px;
  list-style-type: disc;
}

.moo_napoveda ul li {
  margin-bottom: 3px;
  font-size: 11px;
	line-height: 16px;
}/* /napoveda pro editor WYM */
/* /Dynamicky obsah */

/* Fugess (Martin) */
