/* Uprava parametru nadpisu */
A {
	text-decoration : none;
}
DT{
	text-align : justify;
}
H1 {
	  font-weight: 600;
	  font-size : 44px;
      }	
H2 {
	font-weight: 400;
	font-size : 30px;
}	

H3 {
	font-weight: 400;
	font-size : 23px;
}	

/* styl pouzity pro casti kodu*/
PRE { 
        font-weight: bold;
        margin-left: 50px 
	    }	
	  
/* upraveni zobrazeni seznamu */
li {
	font-family : "Times New Roman", Times, serif;
	font-size : 11pt;
	font-style : normal;
	font-weight : normal;
	line-height: 110%;
	color : #000000;
	text-align : justify;
	text-decoration : none;
	margin-left : 30px;
	margin-right : 10px;
}
ul {
	font-family : "Times New Roman", Times, serif;
	font-size : 11pt;
	font-style : normal;
	font-weight : normal;
	line-height: 110%;
	color : #000000;
	text-align : justify;
	text-decoration : none;
}	  

/* pismo bude normalni s vetsimi mezerami mezi slovy */
EM { 
        letter-spacing: 4px;     /* zvýraznìní bude */
        font-style: normal        /* prostrkáno */
		}
				  
 /* slouzi pro odsazeni prvniho radku odstavce */
 P  { 
        text-indent: 30px;    /* odstavcová zarážka */
        text-align: justify     /* zarovnání do bloku */
		}
/* pouziva se tehdy pokud chci novy odstavec, ale bez odsazeni */ 
.BEZ {        
		text-indent: 0px;    /* odstavcová zarážka */
        text-align: justify     /* zarovnání do bloku */
       }
.ODRAZ {
	text-indent : 12px;
}
/* preskrtne text*/
.SKRT {
	text-decoration : line-through;
} 	   
/* obarvi text na cervenou*/
.red {
     color: Red;
 }