body {
   background: url(/pattern_030.gif);
   }

/* Table Styling */

table {
    empty-cells:show;
}
caption {
    font-weight: bold;
    margin: .5em 0;
}
.borders td, .borders th {
    border:1px solid #DDD;
    padding:3px;
}
td.null {
    color: gray;
    background: silver;
}
td.number {
   text-align: right;
}
.borders {
    border-spacing:0px;
    border:1px solid gray;
}
.collapsed {
    border-collapse:collapse;
}
.elbowroom td, .elbowroom th {
    padding-right:.5em;
    padding-left:.5em;
}
.top td, .top th {
    vertical-align: top;
}
.odd td {
    background: #fcfaf2;
}
.ruled td {
    border-bottom: 1px solid #B98601;
}
.ruled tr:last-child td {
    border-bottom: none;
}
.ruled a:link, .ruled a:visited {
    text-decoration: none;
}
.ruled a:hover {
    text-decoration: underline;
}
.cleanHeaders th {
    border-style: none none solid none;
    border-color: black;
    border-width: 1px;
    text-align: left;
    background: transparent;
}
.compact td, .compact th {
    font-size:smaller;
    padding: 1px;
}
.verticalHeaders th {
    text-align:right;
    border-right:1px solid #252;
    white-space:nowrap;
}
.verticalHeaders th, .verticalHeaders td {
    vertical-align:top;
}
table.classic {
    border-top: 1px solid #252;
    border-bottom: 1px solid #252;
}
table.verticalMargins {
    margin: 1em 0;
}
.hoverul:link {
    text-decoration: none;
}
.hoverul:hover {
    text-decoration: underline;
}

.download a:link, .download a:visited, .demo a:link, .demo a:visited {
    display: block;
    float: right;
    width: 110px;
    height: 50px;
    margin: 5px;
    border: 1px solid black;
    padding: 10px 50px 10px 10px;
    font-size: 1.0em;
    font-weight:bold;
    text-decoration: none;
    text-align: left;
    line-height: 1.5;
}

.download a:hover, .demo a:hover {
    border: 1px solid blue;
    text-decoration: none;
}

.download a:link, .download a:visited {
    background: url(/assets/download-bg.png) bottom right;
}

.demo a:link, .demo a:visited {
    background: url(/assets/demo-bg.png) top right;
}

.download a:hover {
    background: url(/assets/download-bg-hover.png) bottom right;
}

.demo a:hover {
    background: url(/assets/demo-bg-hover.png) top right;
}

pre {
   line-height: 1.4;
   border: 1px solid gray;
   background: #EEE;
   padding: 5px;
   }
