body {
  background: #fff /* url(../obr/pozadi_hostel.png) repeat-y center top */;
  font: 14px Trebuchet MS, Verdana, Tahoma, Arial, "Arial CE", sans-serif;
  color: #000;
}

#obal_layout,
#obal_layout #zahlavi,
#obal_layout #obal_obsah,
#obal_layout #zapati {
  width: 800px;
}

#obal_layout {
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

#obal_layout #zahlavi {
  height: 300px;
}

#obal_layout #zahlavi h1 {
  position: absolute;
  left: 360px;
  top: 100px;
  z-index: -10;
  font: 20px normal Verdana, sans-serif;
}

#obal_layout #obal_obsah {
  min-height: 400px;
  padding-bottom: 40px;
  position: relative;
}

#obal_layout #zapati {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Fugess (Martin) */

