/* dynamicka navstevni kniha */
.dynamicka_navstevni_kniha_hlavni_vypis .odkazy_pridat_nastavit {
  overflow: hidden;
  margin: 0 10px 40px;
}

.dynamicka_navstevni_kniha_hlavni_vypis .odkazy_pridat_nastavit a,
.dynamicka_navstevni_kniha_hlavni_vypis .odkazy_pridat_nastavit span {
  display: block;
  float: left;
}

.dynamicka_navstevni_kniha_hlavni_vypis .odkazy_pridat_nastavit span {
  float: right;
}

.dynamicka_navstevni_kniha_hlavni_vypis .odkazy_pridat_nastavit span a {
  display: inline;
  float: none;
}

.dynamicka_navstevni_kniha_hlavni_vypis .vypis_sablon_zahlavi {
  margin-bottom: 3px;
  padding-bottom: 3px;
  position: relative;
  border-bottom: 1px dotted;
}

.dynamicka_navstevni_kniha_hlavni_vypis .vypis_sablon_zahlavi .adresa_sablony {
  margin: 4px 0 0 10px;
  font-size: 11px;
}

.dynamicka_navstevni_kniha_hlavni_vypis .vypis_sablon_zahlavi .odkazy_pridat_upravit,
.dynamicka_navstevni_kniha_hlavni_vypis .obal_vypis_sablon_obsah .vypis_sablon_polozka .odkazy_pridat_upravit {
  position: absolute;
  right: 0;
  bottom: 3px;
}

.dynamicka_navstevni_kniha_hlavni_vypis .vypis_sablon_zahlavi .odkazy_pridat_upravit {
  overflow: hidden;
}

.dynamicka_navstevni_kniha_hlavni_vypis .vypis_sablon_zahlavi .odkazy_pridat_upravit p {
  float: right;
  overflow: hidden;
  font-size: 11px;
}

.dynamicka_navstevni_kniha_hlavni_vypis .vypis_sablon_zahlavi .odkazy_pridat_upravit p em,
.dynamicka_navstevni_kniha_hlavni_vypis .vypis_sablon_zahlavi .odkazy_pridat_upravit p span {
  display: block;
  float: left;
  font-style: normal;
}

.dynamicka_navstevni_kniha_hlavni_vypis .vypis_sablon_zahlavi .odkazy_pridat_upravit p span {
  float: right;
}

.dynamicka_navstevni_kniha_hlavni_vypis .obal_vypis_sablon_obsah {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid;
}

.dynamicka_navstevni_kniha_hlavni_vypis .obal_vypis_sablon_obsah .prazdna_sablona {
  text-align: center;
  background-color: #f1f1f1;
}

.dynamicka_navstevni_kniha_hlavni_vypis .obal_vypis_sablon_obsah .prazdna_sablona li {
  padding: 10px 0;
}

.dynamicka_navstevni_kniha_hlavni_vypis .obal_vypis_sablon_obsah .vypis_sablon_polozka {
  position: relative;
  margin: 0 0 3px 20px;
  padding-bottom: 3px;
  font-size: 11px;
  border-bottom: 1px dotted;
}

.dynamicka_navstevni_kniha_hlavni_vypis .obal_vypis_sablon_obsah .vypis_sablon_polozka .povinna_polozka_checkbox {
  overflow: hidden;
}

.dynamicka_navstevni_kniha_hlavni_vypis .obal_vypis_sablon_obsah .vypis_sablon_polozka .povinna_polozka_checkbox em,
.dynamicka_navstevni_kniha_hlavni_vypis .obal_vypis_sablon_obsah .vypis_sablon_polozka .povinna_polozka_checkbox input {
  display: block;
  float: left;
}

.dynamicka_navstevni_kniha_hlavni_vypis .obal_vypis_sablon_obsah .vypis_sablon_polozka .povinna_polozka_checkbox em {
  margin-right: 3px;
  font-style: normal;
}

.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .odkaz_pridat_polozku_sekce {
  margin: 0 0 40px 10px;
  overflow: hidden;
  position: relative;
}

.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .odkaz_pridat_polozku_sekce a,
.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .odkaz_pridat_polozku_sekce span {
  display: block;
}

.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .odkaz_pridat_polozku_sekce a {
  margin: 0 10px 10px 0;
  float: left;
}

.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .odkaz_pridat_polozku_sekce span {
  text-align: right;
}

.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .vypis_polozky_uzivatelske_rozhrani {
  margin: 0 0 30px 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid;
}

.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .vypis_polozky_uzivatelske_rozhrani ul.staticke_info_uzivatelske_rozhrani,
.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .vypis_polozky_uzivatelske_rozhrani ul.staticke_info_uzivatelske_rozhrani_admin {
  margin-bottom: 3px;
  padding-bottom: 3px;
  position: relative;
  border-bottom: 1px dotted;
}

.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .vypis_polozky_uzivatelske_rozhrani ul.staticke_info_uzivatelske_rozhrani_admin {
  background-color: #f1f1f1;
}

.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .vypis_polozky_uzivatelske_rozhrani ul.staticke_info_uzivatelske_rozhrani li.datum_polozky,
.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .vypis_polozky_uzivatelske_rozhrani ul.staticke_info_uzivatelske_rozhrani_admin li.datum_polozky {
  margin: 2px 0 0 10px;
  font-size: 11px;
}

.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .vypis_polozky_uzivatelske_rozhrani ul.staticke_info_uzivatelske_rozhrani li.odkazy_upravit_smazat,
.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .vypis_polozky_uzivatelske_rozhrani ul.staticke_info_uzivatelske_rozhrani_admin li.odkazy_upravit_smazat {
  position: absolute;
  right: 0;
  bottom: 3px;
  font-size: 11px;
}

.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .vypis_polozky_uzivatelske_rozhrani div {
  margin: 0 0 3px 20px;
  padding-bottom: 3px;
  border-bottom: 1px dotted;
  font-size: 11px;
}

.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .vypis_polozky_uzivatelske_rozhrani div.povinna_polozka_checkbox {
  overflow: hidden;
}

.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .vypis_polozky_uzivatelske_rozhrani div.povinna_polozka_checkbox em,
.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .vypis_polozky_uzivatelske_rozhrani div.povinna_polozka_checkbox input {
  display: block;
  float: left;
}

.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .vypis_polozky_uzivatelske_rozhrani div.povinna_polozka_checkbox em {
  margin-right: 3px;
  font-style: normal;
}

.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .vypis_polozky_uzivatelske_rozhrani div.text_prispevku_admin strong,
.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .vypis_polozky_uzivatelske_rozhrani div.email_prispevku a:hover {
  color: #000;
}

.vypis_sekce_navstevni_kniha_uzivatelske_rozhrani .vypis_polozky_uzivatelske_rozhrani div.email_prispevku a {
  color: #7a7a7a;
  text-decoration: none;
}

/* vsechny formulare */
.test_regularnich_vyrazu_kniha .backlink_kniha,
.navstevni_kniha_addedit_sablony .backlink_kniha,
.pridat_upravit_element_navstevni_kniha .backlink_kniha,
.pridat_upravit_obsah_navstevni_kniha .backlink_kniha {
  margin-left: 10px;
}

.navstevni_kniha_addedit_sablony .backlink_kniha,
.pridat_upravit_element_navstevni_kniha .backlink_kniha,
.pridat_upravit_obsah_navstevni_kniha .backlink_kniha {
  margin-bottom: 30px;
}

.test_regularnich_vyrazu_kniha form label,
.navstevni_kniha_addedit_sablony form label,
.pridat_upravit_element_navstevni_kniha form label,
.pridat_upravit_obsah_navstevni_kniha form label {
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
}

.test_regularnich_vyrazu_kniha form label span,
.test_regularnich_vyrazu_kniha form label input,
.navstevni_kniha_addedit_sablony form label span,
.navstevni_kniha_addedit_sablony form label input,
.pridat_upravit_element_navstevni_kniha form label span,
.pridat_upravit_element_navstevni_kniha form label input,
.pridat_upravit_obsah_navstevni_kniha form label span,
.pridat_upravit_obsah_navstevni_kniha form label input {
  display: block;
  float: left;
}

.test_regularnich_vyrazu_kniha form label span,
.navstevni_kniha_addedit_sablony form label span,
.pridat_upravit_element_navstevni_kniha form label span,
.pridat_upravit_obsah_navstevni_kniha form label span {
  display: block;
  width: 270px;
  margin-right: 10px;
  padding-top: 4px;
  text-align: right;
  cursor: pointer;
}

.pridat_upravit_obsah_navstevni_kniha form label span {
  width: 210px;
}

.test_regularnich_vyrazu_kniha form label span.kniha_dodatek,
.navstevni_kniha_addedit_sablony form label span.kniha_dodatek,
.pridat_upravit_element_navstevni_kniha form label span.kniha_dodatek,
.pridat_upravit_obsah_navstevni_kniha form label span.kniha_dodatek {
  width: auto;
  margin: 2px 0 3px 280px;
  padding-top: 0;
  float: left;
  clear: both;
  font-size: 11px;
  text-align: left;
  cursor: default;
}

.pridat_upravit_obsah_navstevni_kniha form label span.kniha_dodatek {
  margin-left: 220px;
}

.test_regularnich_vyrazu_kniha form label.nadpis_sekce_kniha span,
.pridat_upravit_element_navstevni_kniha form label.nadpis_sekce_kniha span,
.pridat_upravit_obsah_navstevni_kniha form label.nadpis_sekce_kniha span {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}

.pridat_upravit_obsah_navstevni_kniha form label.nadpis_sekce_kniha_info span {
  width: 100%;
  text-align: center;
}

.test_regularnich_vyrazu_kniha form label.input_text input,
.navstevni_kniha_addedit_sablony form label.input_text input,
.navstevni_kniha_addedit_sablony form label.input_textarea textarea,
.pridat_upravit_element_navstevni_kniha form label.input_text input,
.pridat_upravit_element_navstevni_kniha form label.input_select select,
.pridat_upravit_obsah_navstevni_kniha form label.input_textarea textarea,
.pridat_upravit_obsah_navstevni_kniha form label.input_text input {
  width: 200px;
  float: left;
  border: 1px dotted;
  padding: 3px;
  color: #7a7a7a;
}

.pridat_upravit_obsah_navstevni_kniha form label.input_text input {
  width: 260px;
}

.pridat_upravit_element_navstevni_kniha form label.input_select select {
  width: 300px;
  cursor: pointer;
}

.test_regularnich_vyrazu_kniha form label.input_text input:focus,
.navstevni_kniha_addedit_sablony form label.input_text input:focus,
.navstevni_kniha_addedit_sablony form label.input_textarea textarea:focus,
.pridat_upravit_element_navstevni_kniha form label.input_text input:focus,
.pridat_upravit_element_navstevni_kniha form label.input_select select:focus,
.pridat_upravit_obsah_navstevni_kniha form label.input_textarea textarea:focus,
.pridat_upravit_obsah_navstevni_kniha form label.input_text input:focus {
  color: #000;
  background-color: #ececec;
}

.pridat_upravit_element_navstevni_kniha form label.input_select select:focus option {
  background-color: #fff;
}

.navstevni_kniha_addedit_sablony form label.input_textarea textarea,
.pridat_upravit_obsah_navstevni_kniha form label.input_textarea textarea {
  width: 360px;
  height: 200px;
  font: 14px Georgia, "Times New Roman", "Courier New", Times, Courier, serif;
}

.pridat_upravit_obsah_navstevni_kniha form label.input_textarea textarea {
  width: 420px;
}

.test_regularnich_vyrazu_kniha form label.input_radio input,
.navstevni_kniha_addedit_sablony form label.input_radio input,
.pridat_upravit_element_navstevni_kniha form label.input_radio input,
.pridat_upravit_obsah_navstevni_kniha form label.input_radio input {
  margin-top: 6px;
  cursor: pointer;
}

.navstevni_kniha_addedit_sablony form label.input_checkbox input,
.pridat_upravit_element_navstevni_kniha form label.input_checkbox input,
.pridat_upravit_obsah_navstevni_kniha form label.input_checkbox input {
  margin-top: 7px;
  cursor: pointer;
}

.test_regularnich_vyrazu_kniha form label.submit input,
.navstevni_kniha_addedit_sablony form label.submit input,
.pridat_upravit_element_navstevni_kniha form label.submit input,
.pridat_upravit_obsah_navstevni_kniha form label.submit input,
.pridat_upravit_obsah_navstevni_kniha form label.submit_disabled input {
  margin: 20px 0 20px 280px;
  padding: 3px;
  border: 1px dotted;
  cursor: pointer;
  color: #7a7a7a;
}

.pridat_upravit_obsah_navstevni_kniha form label.submit_disabled input {
  cursor: default;
}

.pridat_upravit_obsah_navstevni_kniha form label.submit input,
.pridat_upravit_obsah_navstevni_kniha form label.submit_disabled input {
  margin-left: 220px;
}

.test_regularnich_vyrazu_kniha form label.submit input:focus,
.test_regularnich_vyrazu_kniha form label.submit input:hover,
.navstevni_kniha_addedit_sablony form label.submit input:focus,
.navstevni_kniha_addedit_sablony form label.submit input:hover,
.pridat_upravit_element_navstevni_kniha form label.submit input:focus,
.pridat_upravit_element_navstevni_kniha form label.submit input:hover,
.pridat_upravit_obsah_navstevni_kniha form label.submit input:focus,
.pridat_upravit_obsah_navstevni_kniha form label.submit input:hover {
  text-decoration: underline;
  color: #000;
}/* /vsechny formulare */
/* /dynamicka navstevni kniha */

/* Fugess (Martin) */
