body {
  font: 11px "Trebuchet MS", Verdana, Arial, "Arial CE", sans-serif;
  color: #000;
}

#obal_layout,
#obal_layout #zahlavi,
#obal_layout #obal_obsah,
#obal_layout #zapati {
  width: 100%;
}

#obal_layout {
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  background: url(../obr/pozadi_obsah.png) repeat-y;
}

/* zahlavi s menu */
#obal_layout #zahlavi {
  height: 30px;
  text-align: center;
  border-bottom: 1px dotted #000;
}

#obal_layout #zahlavi h1 {
  font: 20px "Trebuchet MS", Verdana, Arial, "Arial CE", sans-serif;
  line-height: 30px;
}/* /zahlavi s menu */

#obal_layout #obal_obsah {
  min-height: 300px;
  padding-bottom: 30px;
  overflow: hidden;
}

#obal_layout #obal_obsah #menu_obal {
  margin: 10px 0 10px 20px;
  padding-left: 10px;
  overflow: hidden;
  border-top: 1px dotted #000;
  border-left: 1px dotted #000;
  border-bottom: 1px dotted #000;
}

#obal_layout #obal_obsah #menu_obal p {
  float: left;
  margin: 2px 10px 2px 0;
  padding-right: 10px;
  border-right: 1px dotted #000;
}

#obal_layout #obal_obsah #menu_obal p a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #000;
}

#obal_layout #obal_obsah #menu_obal p a#aktivni,
#obal_layout #obal_obsah #menu_obal p a:hover {
  text-decoration: underline;
}

#obal_layout #obal_obsah #obal_sekce {
  border-top: 1px dotted #000;
}

#obal_layout #obal_obsah #obal_sekce h2 {
  margin: 10px 0 0 20px;
  font: 16px "Trebuchet MS", Verdana, Arial, "Arial CE", sans-serif;
}

#obal_layout #obal_obsah #obal_sekce h3 {
  margin: 3px 0 3px 40px;
  text-decoration: underline;
  font: 12px "Trebuchet MS", Verdana, Arial, "Arial CE", sans-serif;
}

#obal_layout #obal_obsah #obal_sekce ul {
  margin: 0 20px 0 60px;
}





























#obal_layout #zapati {
  height: 26px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px dotted #000;
}

#obal_layout #zapati p {
  padding: 4px 0;
  font-style: italic;
  text-align: center;
}

#obal_layout #zapati p strong {
  font-weight: normal;
}

#obal_layout #zapati p strong a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

#obal_layout #zapati p strong a:hover {
  border-bottom: 1px dotted #000;
}

/* Fugess (Martin) */
