.main_content {
 width: 1000px;
 display: block;
 text-align: left;
 margin: 0px auto;
}

/* HEADER */
.main_content .header {
 margin-top: 10px;
}
.main_content .header h1 {
 padding-top: 10px;
 color: #ccff00 !important;
 margin: 0px auto;
 font-size: 100%;
}

/* CONTENT */
.main_content .content {
 text-align: center;
}
.main_content .content .content_left {
 width: 728px;
 float: left;
 border-top: 1px solid #3f3f3f;
 text-align: left;
}
.main_content .content_left h2 {
 color: #ccff00 !important;
 margin: 0px auto;
}
.main_content .content_left h3 {
 font-size: 100%;
 font-weight: bold;
 margin: 0px auto;
}
.main_content .content_left .article {
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 background-color: #282828;
 border: 1px solid #3f3f3f;
 margin-right: 2px;
 margin-top: 2px;
 margin-bottom: 2px;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.main_content .content_left .article h3 {
 font-size: 100%;
 font-weight: bold;
 margin: 0px auto;
}
.main_content .content .content_right {
 width: 248px;
 float: left;
 border-top: 1px solid #3f3f3f;
 text-align: left;
}
.main_content .content_right h2 {
 color: #ccff00 !important;
 margin: 0px auto;
}
.main_content .content_right h3 {
 font-size: 100%;
 font-weight: bold;
 margin: 0px auto;
}
.main_content .content_right .article {
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 background-color: #282828;
 border: 1px solid #3f3f3f;
 margin-left: 2px;
 margin-top: 2px;
 margin-bottom: 2px;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.main_content .content_right .article h3 {
 font-size: 100%;
 font-weight: bold;
 margin: 0px auto;
}
.list {
 list-style-type: none;
 margin-left: -30px;
}
.time {
 font-size: 80%;
}
a:link {color: #ffffff; text-decoration: underline;}
a:visited {color: #ffffff; text-decoration: underline;}
a:active {color: #ffffff; text-decoration: underline;}
a:hover {color: #ccff00; text-decoration: underline;}
.code {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px dashed #3f3f3f;
}
.link {
	text-decoration: none !important;
}
.linkcolor {
 color: #ccff00 !important;
	text-decoration: none !important;
}
.zdielanie {
 float: right;
 margin-top: 0px;
 margin-right: 0px;
}
.diskusia {
 border-top: 1px solid #ccff00;
 background-color: #3f3f3f;
}

/* FOOTER */
.footer {
 width: 988px;
 padding-bottom: 10px;
 float: left;
}