body {
 background-color: #303030;
 color: #ffffff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 80%;
	line-height: 1.5em;
	text-align: center;
	margin: 0px auto;
}
img {
 margin: 0px auto;
}