body {
  background: #424243 url(../obr/admin_body_top_pattern.png) repeat-x center top;
  font: 12px Arial, "Arial CE", Verdana, Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #fff;
}

#obal_layout {
  background: url(../obr/admin_body_top.png) no-repeat center top;
}

h1 {
  width: 1550px;
  height: 55px;
  margin: 0 40px;
  padding-top: 20px;
  overflow: hidden;
  position: relative;
}

h1 a {
  display: block;
  width: 106px;
  height: 55px;
  float: left;
  background: url(../obr/nadpis.png) no-repeat;
}

h1 a span {
  display: none;
}

h1 #nadpis_prehled {
  display: block;
  width: 219px;
  height: 55px;
  position: absolute;
  bottom: 0;
  left: 350px;
  background: url(../obr/nadpis_prehled.png) no-repeat;
}

h1 #podpis {
  display: block;
  width: 213px;
  height: 55px;
  float: right;
  background: url(../obr/podpis.png) no-repeat;
}

#obal {
  width: 1550px;
  margin: 0 40px;
  overflow: hidden;
}

#menu {
  width: 340px;
  float: left;
  margin-right: 10px;
  padding-top: 10px;
  border-top: 1px solid #737374;
}

#menu p {
  padding-left: 17px;
  font-size: 16px;
  line-height: 26px;
  border-bottom: 1px solid #4e4e4f;
}

#menu p .odrazka {
  display: block;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 8px;
  left: -16px;
  background: url(../obr/odrazka.png) no-repeat;
}

#menu p a {
  display: block;
  position: relative;
  color: #bbb;
  text-decoration: none;
}

#menu p a:hover {
  color: #9fc637;
}

#menu p a:hover .odrazka {
  background-position: -9px 0;
}

#menu p span {
  display: block;
  position: relative;
  color: #e6e007;
  cursor: default;
}

#menu p span .odrazka {
  background-position: -18px 0;
}

#vypis {
  width: 1200px;
  float: left;
  padding-top: 20px;
  overflow: hidden;
  border-top: 1px solid #737374;
}

#vypis .obal_vypis {
  float: left;
  clear: both;
  margin-bottom: 30px;
}

#vypis p {
  padding: 0 10px;
  font-size: 22px;
  line-height: 38px;
  color: #c0c0c0;
  background-color: #363637;
  text-transform: lowercase;
}

#vypis img {
  display: block;
}

/* Fugess (Martin) */
