BODY { width: 100%; height: 100%; margin: 0px; font-family: Verdana, sans-serif, Helvetica}
TABLE.main { width: 100%; height: 100%; border-spacing: 0px}

TD {font-size: 0.7em}
TD.top_part { padding:4px; vertical-align: middle; background-color: #2f2f2f; color: #eeeeee }
TD.bottom_part { padding: 0px; height: 40px; background-color: #2f2f2f; color: #bbbbbb }
TD.menu { padding: 4px; vertical-align: top; background-color: #959595; color: white; font-family: sans-serif }
/*TD.articles { padding: 8px; vertical-align: top; background: #eaeaea url(../img/line.png) repeat-y }*/
TD.articles { padding: 8px; vertical-align: top; background: #eaeaea }
TD.articles_line { padding: 8px; vertical-align: top; background: #eaeaea url(../img/line.png) repeat-y }


TD.stredni_lista { padding: 8px;padding:2em;padding-top:0.75em; vertical-align: top; background: #eaeaea url(../img/line.png) repeat-y; width:56%; vertical-align:top; }
TD.articles_top { padding-top:0px; padding-left:1px; padding-right:1px;vertical-align: top; background: #eaeaea url(../img/line.png) repeat-y }
DIV.article_main, TD.article_main, P.article_main { padding: 8px; vertical-align: top; background: #666666 url(../img/line.png) repeat-y }
/*DIV.article_main, TD.article_main, P.article_main { padding: 8px; vertical-align: top; background: #666666 url(../img/line.png) repeat-y }*/
TD.banner { padding: 0px; height: 90px; vertical-align: top; background-color: #2f2f2f; color: #bbbbbb }
TD.orange { color: white; padding: 3px; background: #f26d0c url(../img/line.png) repeat-y; vertical-align: top }
TD.soft_head { vertical-align: top; font-weight: bold }
TD.soft_data { vertical-align: top }
TD.cell_border { padding: 20px; border: solid #888888 1px }

DIV.article_main { padding: 8px; padding-top:0px;margin-top:0px; vertical-align: top; background: #666666 url(../img/line.png) repeat-y; }


P { font-size: 1.1em; }
P.news {font-size: 1em; margin: 1px 0px; padding: 4px; font-family: Tahoma, sans-serif, Helvetica; background-color: #c84b00; color: white;  }
TR.news {font-size: 1em; margin: 1px 0px; padding: 4px; font-family: Tahoma, sans-serif, Helvetica; background-color: #c84b00; color: white }
P.perex { font-size: 1.1em; font-weight: bold; background-color: #bbbbbb; padding: 8px; border: solid #888888 1px }
P.coding { font-size: 1.2em; background-color: white; border: solid #bbbbbb 1px; padding: 4px }
P.uvod   {  color: #eeeeee; font-size: 1.1em; padding:0.5em;padding-top:0em; padding-bottom:0.75em;padding-bottom:0px;   }


DIV.sub_title_orange { font-family: sans-serif, Helvetica; font-weight: bold; font-size: 1.2em; color: white; background-color: #722600; padding: 1px 3px }
DIV.sub_title_gray { font-family: sans-serif, Helvetica; font-weight: bold; font-size: 1.2em; color: white; background-color: #444444; padding: 1px 3px }
DIV.menu { padding: 4px 0px 6px 1px }
DIV.rubrika { padding: 4px; margin: 0px 0px 8px 0px; font-weight: bold; font-family: Tahoma, sans-serif, Helvetica; color: #444444; font-size: 1em; background-color: #aaaaaa }
DIV.links { font-size: 1.1em; border: solid #aaaaaa 1px; background-color: #cfcfcf; padding: 3px; color: #222222 }
DIV.images { padding: 4px; text-align: center; background-color: #bbbbbb; border: solid #888888 1px }

A { font-family: sans-serif, Helvetica; font-size: 1em; color: #274c91;text-decoration: underline}
A:hover { text-decoration: none; color: #ff6000 }
A.link_orange { font-family: sans-serif, Helvetica; color: #471d04; text-decoration: underline }

A.title { font-family: sans-serif, Helvetica; font-weight: bold; font-size: 1.6em; color: black; text-decoration: none }
A.title:hover { color: #274c91 }
A.title:visited { color: #445566 }

A.title_glosa { font-family: sans-serif, Helvetica; font-weight: bold; font-size: 1em; color: black; text-decoration: none ;
		margin-left:0;padding-left:0}
A.title_glosa:hover { color: #274c91 }
A.title_glosa:visited { color: #445566 }

A.title_new { font-family: sans-serif, Helvetica; font-weight: bold; font-size: 1.6em; color: #274c91; text-decoration: none }
A.title_new:hover { color: #274c91 }
A.title_new:visited { color: #445566 }


A.title_main { font-family: sans-serif, Helvetica; font-weight: bold; font-size: 1.8em; color: #eeeeee; text-decoration: none }
A.title_main:hover { color: #ffffff }

A.title_uvod { font-family: sans-serif, Helvetica; font-weight: bold; font-size: 1.0em; color: #eeeeee; text-decoration: none }
A.title_uvod:hover { color: #ffffff }

A.head_links { font-weight: bold; color: #722600 }
A.category { font-size: 1em; font-weight: bold; color: white; text-decoration: none }
A.category:hover { color: #274c91 }
A.category_new { font-size: 1em; font-weight: bold; color: black; text-decoration: none }
A.category_new:hover { color: #274c91 }

A.sub_category { color: #333333; font-size: 1.1em;  text-decoration: none }
A.sub_category:hover { color: #dddddd}
A.cap_title { color: white; font-size: 1em; text-decoration: none }
A.top_5 { font-family: sans-serif, Helvetica; font-size: 1.1em; font-weight: bold; color: #274c91; text-decoration: underline }
A.top_5:hover { text-decoration: none }
A.top_5p { font-family: sans-serif, Helvetica; font-size: 1.1em; font-weight: bold; color: #FFFFFF; text-decoration: underline }
A.top_5p:hover { text-decoration: none }
A.download { font-family: Verdana, sans-serif, Helvetica; font-size: 1.4em; font-weight: bold; color: #274c91; text-decoration: none }
A.download:hover { text-decoration: underline }
A.user_link { font-family: Verdana, sans-serif, Helvetica; font-size: 1em; font-weight: bold; color: #274c91; text-decoration: none }
A.user_link:hover { color: #ff6000; text-decoration: underline }
A.article_link { font-family: Verdana, sans-serif, Helvetica; font-size: 1em; color: #274c91; text-decoration: none }
A.article_link:hover { color: #ff6000; text-decoration: underline }
A.article_link:visited { color: #8899aa }
A.overview_link { font-family: Verdana, sans-serif, Helvetica; font-size: 1em; color: black; text-decoration: none }
A.overview_link:hover { color: #274c91; text-decoration: underline }
P.news A { color: #ffcfb2; font-size: 1em; font-weight: bold }
h3.glosa {padding:0;margin:0;padding-left:10px;padding-right:1ex}
B.bigger { font-size: 1.4em }
SAMP { font-family: Tahoma, Times New Roman, serif }

H2 { font-family: sans-serif; font-weight: bold; font-size: 1.6em; color: black }

SPAN.show { display: block; padding: 3px 0px 3px 26px }
SPAN.hide { display: none }
SPAN.plus { cursor: default; background: url(../img/plus.png) no-repeat 4px 2px; padding-left: 11px; text-decoration: none }

SPAN.minus {	cursor: default;	background: url(../img/minus.png) no-repeat 4px 2px;	padding-left: 11px;	text-decoration: none }
SPAN.sub_numbers { font-weight: normal; color: #444444 }
SPAN.no_wrap { white-space: nowrap }

IMG { border-style: none }
IMG.ilustrate { float: left; margin: 3px 6px 2px 0px; border-style: none }
IMG[src="img/sipka1.png"] { position: relative; top: 0px }
IMG[src="img/sipka2.png"] { position: relative; top: 2px }
IMG.bg { border: solid 1px black }
IMG.soft { float: right; border: solid 1px black; margin-left: 6px }
IMG.line { padding: 14px 0px }

UL.shop { margin: 4px 0px 6px 0px; padding: 0px 0px 0px 22px; list-style-image: url(../img/plus.png) }

FORM { margin: 0px; padding: 0px }
BUTTON, INPUT { font-family: Verdana,sans-serif, Helvetica; font-size: 1em; border: solid 1px black }
INPUT[type="checkbox"] { border: none; margin: 0px; }

FIELDSET       {    border: 1px dashed #888888;	}

/* --- doplneni stylu ---- */

.new_disc_subj {
   color: #ff0000;
}

/* --- clanky --- */

.white { color: white }
.blue { color: #274c91 }
.gray {color: #444444 }
.gray_main {color: #aaaaaa }
.bg_brighter { background-color: white }
.bg_darker { background-color: #bbbbbb }

CODE  { font-family: Courier New, Courier, monospace; font-size: 100% }
SAMP { font-family: Courier New, Courier, monospace; font-size: 100% }
PRE { font-family: Courier New, Courier, monospace; font-size: 100% }
KBD { font-family: Courier New, Courier, monospace; font-size: 100% }
TT { font-family: Courier New, Courier, monospace; font-size: 100% }

.skoleniObj th{font-size:10pt;text-align:left;}
.skoleniObj textarea {width:100%}
