/*
 * MWS Admin v2.1 - Form Stylesheet
 * This file is part of MWS Admin, an Admin template build for sale at ThemeForest.
 * All copyright to this file is hold by Mairel Theafila <maimairel@yahoo.com> a.k.a nagaemas on ThemeForest.
 * Last Updated:
 * December 08, 2012
 *
 */
   
/* Form Style
================================================== */
 
.mws-form {
    clear: both;
    display: block;
    margin-bottom: 0;
}

.mws-form .mws-form-row {
    padding: 18px 24px;
}

.mws-form .mws-form-row { /* testovaci styly */
    padding: 10px 12px;
}

.mws-form .mws-form-row.bordered {
    border-bottom: 1px solid #d5d5d5;
}

.mws-form .mws-form-row:last-child.bordered {
    border-bottom: 0;
}

.ui-dialog .mws-form-row {
    padding: 0 0 18px 0;
}

.mws-form-v2 {
    overflow: hidden;
    padding: 18px 24px;
}

.mws-form .mws-form-row-v2 {
    float: left;
    margin: 15px 15px 0 0;
}

.mws-form .mws-form-title-v2 {
    display: block;
    padding-bottom: 3px;
    border-bottom: 1px solid #d5d5d5;
}

.mws-tabs {
    clear: both;
    margin-bottom: 32px;
}

.mws-tabs-slouceny {
    margin-bottom: 0;
}

.ui-tabs .mws-form-inline .ui-tabs-panel {
    background-color: #fafafa;
}

.mws-tabs .ui-tabs-nav {
    height: 22px;
    padding: 8px 12px 10px 12px !important;
    overflow: hidden;
    background-position: left -2px !important;
    font-size: 12px;
}

.mws-tabs .mws-form-inline .ui-tabs-panel {
    margin: 0 2px;
    border-bottom: none;
}

.mws-tabs .ui-tabs-nav li {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.mws-tabs .ui-tabs-nav li:hover {
    background-color: #535356;
    background-image: url(../images/core/mws-panel-header-bg.png);
    background-repeat: repeat-x;
    background-position: left -10px;
}

.mws-tabs .ui-tabs-nav li.ui-tabs-active:hover {
    background: none;
    background-color: #f8f8f8;
}

.mws-tabs .ui-tabs-nav li.ui-state-default a {
    padding-bottom: 12px;
}

.mws-tabs .ui-tabs-nav li.ui-tabs-active a.ui-tabs-anchor {
    text-shadow: 0 0 6px rgba(50, 50, 50, 0.2);
}

.mws-form .mws-form-inline .ui-widget-content {
    margin-top: -10px;
    margin-bottom: -10px;
    padding-right: 0;
    padding-left: 0;
}

/* Button Row
================================================== */

.mws-panel .mws-button-row {
    min-height: 26px;
    padding: 10px 10px;
    border-top: 1px solid #bcbcbc;
    background-color: #f2f2f2;
}

.mws-form .mws-button-row {
    padding: 16px 24px;
    border-top: 1px solid #bcbcbc;
    background-color: #d2d2d2;
    background-color: #f2f2f2;
}

.mws-form .mws-button-row {
    padding: 10px 10px;
}

.mws-panel .mws-button-row .btn + .btn, 
.mws-panel .mws-button-row .btn-group + .btn, 
.mws-panel .mws-button-row .btn + .btn-group {
    margin-left: 5px;
}

.mws-form .mws-button-row .btn + .btn, 
.mws-form .mws-button-row .btn-group + .btn, 
.mws-form .mws-button-row .btn + .btn-group {
    margin-left: 5px;
}

/* Fieldset
================================================== */

.mws-form fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.mws-form fieldset.mws-form-inline {
    padding-bottom: 20px;
    background-color: #fafafa;
}

/*
.mws-form fieldset:first-child legend {
    border-top: 0;
}*/

.mws-form fieldset legend {
    margin: 0;
    border: solid #ccc;
    border-width: 1px 0;
    background: #f8f8f8 repeat-x left bottom;
    background-image: -ms-linear-gradient(top, #f8f8f8, #e7e7e7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #e7e7e7);
    background-image: -o-linear-gradient(top, #f8f8f8, #e7e7e7);
    background-image: -moz-linear-gradient(top, #f8f8f8, #e7e7e7);
    background-image: linear-gradient(top, #f8f8f8, #e7e7e7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e7e7e7', GradientType=0);
    color: #555;
    line-height: 24px;
    padding: 8px;
    padding-left: 20px;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}

.mws-form fieldset:first-child {
    border-top: 0;
}

.obal_file_oddil {
    padding: 12px 20px 0;
}

.obal_file_oddil a.pridat_oddil {
    margin-bottom: 20px;
}

.obal_file_oddil a.pridat_oddil .icon-plus-sign {
    margin-top: -2px;
    margin-left: -4px;
    margin-right: 2px;
    font-size: 14px;
}

.obal_file_oddil .file_oddil {
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.obal_file_oddil .file_oddil legend {
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.obal_file_oddil .file_oddil a.odebrat_oddil .icon-remove-sign {
    margin-top: -2px;
    margin-left: -4px;
    margin-right: 1px;
}

.obal_nahled_dwn {
    display: block;
    float: left;
    position: relative;
}

.obal_nahled_dwn img {
    display: block;
    position: relative;
    z-index: 100;
}

.obal_nahled_dwn .mws-nahled-overlay {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 200;
    margin-top: -30px;
    text-align: center;
}

.obal_nahled_dwn:hover .mws-nahled-overlay {
    display: block;
}

.obal_nahled_dwn .mws-nahled-overlay .mws-gallery-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #252525;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: center;
    background: #323232;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.obal_nahled_dwn .mws-nahled-overlay .mws-gallery-btn [class*="icon-"] {
    font-size: 32px;
    color: #fff;
    line-height: 50px;
}

.obal_nahled_dwn .mws-nahled-overlay .mws-gallery-btn:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
}

/* Form Labels
================================================== */

.mws-form .mws-form-label {
    padding-bottom: 5px;
    cursor: pointer;
    display: block;
}

.mws-form .mws-form-label .required {
    color: #f00;
}

.mws-form .mws-form-label-v2 {
    display: block;
    cursor: pointer;
}

/* Form Inputs
================================================== */

.mws-form .mws-form-item {
    position: relative;
}

.mws-form .mws-form-item .medium {
    width: 75%;
}

.mws-form .mws-form-item .large {
    width: 100%;
}

.mws-form .mws-form-item .small {
    width: 55%;
}

.mws-form .mws-form-item .end-owrfl {
    overflow: hidden;
}

.mws-form .mws-form-item .defined-100,
.mws-form .mws-form-item .defined-150,
.mws-form .mws-form-item .defined-200,
.mws-form .mws-form-item .defined-250,
.mws-form .mws-form-item .defined-280,
.mws-form .mws-form-item .defined-300,
.mws-form .mws-form-item .defined-350,
.mws-form .mws-form-item .defined-380,
.mws-form .mws-form-item .defined-400,
.mws-form .mws-form-item .defined-450,
.mws-form .mws-form-item .defined-500,
.mws-form .mws-form-item .defined-550,
.mws-form .mws-form-item .defined-600,
.mws-form .mws-form-item .defined-650,
.mws-form .mws-form-item .defined-700,
.mws-form .mws-form-item .defined-750,
.mws-form .mws-form-item .defined-800 {
    display: block;
    float: left;
}

.mws-form .mws-form-item .defined-100 {
    width: 100px;
}

.mws-form .mws-form-item .defined-150 {
    width: 150px;
}

.mws-form .mws-form-item .defined-200 {
    width: 200px;
}

.mws-form .mws-form-item .defined-250 {
    width: 250px;
}

.mws-form .mws-form-item .defined-280 {
    width: 280px;
}

.mws-form .mws-form-item .defined-300 {
    width: 300px;
}

.mws-form .mws-form-item .defined-350 {
    width: 350px;
}

.mws-form .mws-form-item .defined-380 {
    width: 380px;
}

.mws-form .mws-form-item .defined-400 {
    width: 400px;
}

.mws-form .mws-form-item .defined-450 {
    width: 450px;
}

.mws-form .mws-form-item .defined-500 {
    width: 500px;
}

.mws-form .mws-form-item .defined-550 {
    width: 550px;
}

.mws-form .mws-form-item .defined-600 {
    width: 600px;
}

.mws-form .mws-form-item .defined-650 {
    width: 650px;
}

.mws-form .mws-form-item .defined-700 {
    width: 700px;
}

.mws-form .mws-form-item .defined-750 {
    width: 750px;
}

.mws-form .mws-form-item .defined-800 {
    width: 800px;
}

.mws-form .mws-form-item .clrb {
    clear: both;
}

.mws-form .mws-form-item .custom-label,
.mws-form .mws-form-item .custom-label-2 {
    margin: 5px 0 0 10px;
    white-space: nowrap;
}

x:-o-prefocus, .mws-form .mws-form-item .custom-label {
    margin-top: 2px;
}

x:-o-prefocus, .mws-form .mws-form-item .custom-label-2 {
    margin-top: 2px;
}

.mws-form .mws-form-item .custom-label,
.mws-form .mws-form-item .custom-label-2,
.mws-form .mws-form-item .kuid_input_plain,
.mws-form .mws-form-item .kuid_input {
    font-size: 12px;
    line-height: 20px;
    font-family: monospace;
}

.mws-form .mws-form-item .custom-label,
.mws-form .mws-form-item .custom-label-2 {
    cursor: default;
}

.mws-form .mws-form-item .custom-label em,
.mws-form .mws-form-item .custom-label-2 em {
    font-style: normal;
    font-size: 20px;
    line-height: 1px;
}

.mws-form .mws-form-item .custom-label .icon-ok-sign,
.mws-form .mws-form-item .custom-label-2 .icon-ok-sign {
    color: #6dac24;
}

.mws-form .mws-form-item .custom-label .icon-remove-sign,
.mws-form .mws-form-item .custom-label-2 .icon-remove-sign {
    color: #bd3a43;
}

.mws-form .mws-form-item-v2 {
    position: relative;
    margin-top: 5px;
    text-align: center;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    border: 1px solid #c5c5c5;
    padding: 4px 6px;
    color: #323232;
    margin: 0;
    min-height: 30px;
    line-height: 20px;
    background-color: #ffffff;
    outline: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: inset 0px 1px 3px rgba(128, 128, 128, 0.1);
    -moz-box-shadow: inset 0px 1px 3px rgba(128, 128, 128, 0.1);
    box-shadow: inset 0px 1px 3px rgba(128, 128, 128, 0.1);
}

.mws-form textarea {
    min-height: 10em;
    resize: vertical;
    line-height: 20px;
}

.mws-form input[disabled],
.mws-form select[disabled],
.mws-form textarea[disabled],
.mws-form input[readonly],
.mws-form select[readonly],
.mws-form textarea[readonly] {
    background: #f0f0f0;
    border-color: #bbb;
    cursor: default;
}

.mws-form select.error, 
.mws-form textarea.error, 
.mws-form input[type="text"].error, 
.mws-form input[type="password"].error, 
.mws-form input[type="datetime"].error, 
.mws-form input[type="datetime-local"].error, 
.mws-form input[type="date"].error, 
.mws-form input[type="month"].error, 
.mws-form input[type="time"].error,
.mws-form input[type="week"].error, 
.mws-form input[type="number"].error, 
.mws-form input[type="email"].error, 
.mws-form input[type="url"].error, 
.mws-form input[type="search"].error, 
.mws-form input[type="tel"].error, 
.mws-form input[type="color"].error {
    border-color: #eb979b;
}

.mws-form .mws-form-item .small .ibutton-container {
    line-height: 10px;
    margin-top: 4px;
    margin-bottom: -6px;
}

/* Column Form Layout
================================================== */

.mws-form .mws-form-cols {
    *zoom: 1;
}

.mws-form .mws-form-cols:before,
.mws-form .mws-form-cols:after {
    display: table;
    content: "";
    line-height: 0;
}

.mws-form .mws-form-cols:after {
    clear: both;
}

.mws-form .mws-form-cols [class^="mws-form-col-"] .mws-form-label, 
.mws-form .mws-form-cols [class*=" mws-form-col-"] .mws-form-label {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mws-form .mws-form-cols [class^="mws-form-col-"], 
.mws-form .mws-form-cols [class*=" mws-form-col-"] {
    float: left;
    margin-left: 1.8181818181818181%;
}

.mws-form .mws-form-cols [class^="mws-form-col-"]:first-child, 
.mws-form .mws-form-cols [class*=" mws-form-col-"]:first-child {
    margin-left: 0;
}

.mws-form .mws-form-cols .mws-form-item {
    margin: 0 !important;
}

.mws-form .mws-form-cols .mws-form-col-8-8 {
    width: 100%;
}

.mws-form .mws-form-cols .mws-form-col-7-8 {
    width: 87.27272727272727%;
}

.mws-form .mws-form-cols .mws-form-col-6-8 {
    width: 74.54545454545455%;
}

.mws-form .mws-form-cols .mws-form-col-5-8 {
    width: 61.81818181818181%;
}

.mws-form .mws-form-cols .mws-form-col-4-8 {
    width: 49.090909090909086%;
}

.mws-form .mws-form-cols .mws-form-col-3-8 {
    width: 36.36363636363636%;
}

.mws-form .mws-form-cols .mws-form-col-2-8 {
    width: 23.636363636363633%;
}

.mws-form .mws-form-cols .mws-form-col-1-8 {
    width: 10.909090909090908%;
}

.mws-form .mws-form-cols [class^="mws-form-col-"] select, 
.mws-form .mws-form-cols [class^="mws-form-col-"] textarea, 
.mws-form .mws-form-cols [class^="mws-form-col-"] input {
    width: 100%;
}

/* Form Layout
================================================== */

.mws-form .mws-form-inline {
    padding: 10px 0;
}

.mws-form .mws-form-inline .mws-form-item {
    margin-left: 156px;
}

.mws-form .mws-form-inline .mws-form-label {
    width: 140px;
    float: left;
    padding-top: 5px;
    white-space: nowrap;
    font-size: 12px;
}

.mws-form .mws-form-inline .mws-form-block .mws-form-label {
    width: auto;
    float: none;
    padding-top: 0;
    margin-right: 0;
}

.mws-form .mws-form-inline .mws-form-block .mws-form-item {
    margin-left: 0;
}

/* Form List
================================================== */

.mws-form .mws-form-list, 
.mws-form .mws-form-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mws-form .mws-form-list li {
    margin-bottom: 4px;
}

.mws-form .mws-form-list li:last-child {
    margin-bottom: 0;
}

.mws-form .mws-form-list.inline {
    margin-top: 4px;
}

.mws-form .mws-form-list.inline li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.mws-form .mws-form-list li > input, 
.mws-form .mws-form-list li > label {
    padding: 0;
    margin: 0 1px 0 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}

/* Form Clearfix
================================================== */

.mws-form .mws-form-row:before,
.mws-form .mws-form-row:after {
    display: table;
    content: "";
    line-height: 0;
}

.mws-form .mws-form-row:after {
    clear: both;
}

.mws-form .mws-form-row {
    *zoom: 1;
}

/* Form Messages
================================================== */

.mws-form-message {
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #d2d2d2;
    padding: 15px 8px 15px 45px;
    position: relative;
    vertical-align: middle;
    background-color: #f8f8f8;
    background-position: 12px 12px;
    background-repeat: no-repeat;
    margin-bottom: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.mws-form-message.no-pointer {
    cursor: default;
}

.mws-form-message p, 
.mws-form-message ul, 
.mws-form-message ol {
    margin: 0;
}

.mws-form-message h1 {
    margin: -10px 100px -10px 0;
}

.mws-form-message h2 {
    margin: -10px 80px -10px 0;
}

.mws-form-message h3 {
    margin: -10px 60px -10px 0;
}

.mws-form-message h4 {
    margin: 0;
    margin-right: 30px;
}

.mws-form-message ul li ul {
    margin-left: 25px;
}

.mws-form-message ul li, 
.mws-form-message ol li {
    list-style-position: inside;
    list-style-type: inherit;
    margin: 0;
}

.mws-form-message.error {
    background-color: #ffcbca;
    background-image: url(../images/core/message-error.png);
    border-color: #eb979b;
    color: #9b4449;
}

.mws-form-message.success {
    background-color: #e1f1c0;
    background-image: url(../images/core/message-success.png);
    border-color: #b5d56d;
    color: #62a426;
}

.mws-form-message.warning {
    background-color: #fef0b1;
    background-image: url(../images/core/message-warning.png);
    border-color: #ddca76;
    color: #a98b15;
}

.mws-form-message.info {
    background-color: #bce5f7;
    background-image: url(../images/core/message-info.png);
    border-color: #a6d3e8;
    color: #11689E;
}

.mws-panel-body.no-padding .mws-form-message {
    margin-bottom: 0;
    border-width: 0 0 1px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.mws-panel-body.no-padding .mws-form-message + .mws-form-message {
    border-top: 0;
}

/* Form Errors
================================================== */

.mws-form .mws-form-item .mws-error,
.mws-form .mws-form-item label.error,
.mws-form .mws-form-item span.error,
.mws-form .mws-form-item div.error {
    background: none;
    color: #c83139;
    margin: 0;
    width: auto;
    float: none;
    display: block;
    padding: 0;
    font-size: 12px;
}

.mws-form .mws-panel-body .mws-button-row input[type="submit"] + .mws-form-item span.error {
    margin-top: 3px;
}

.mws-form .mws-form-item .mws-error em,
.mws-form .mws-form-item label.error em,
.mws-form .mws-form-item span.error em,
.mws-form .mws-form-item div.error em {
    font-style: normal;
    font-weight: bold;
}

.mws-form .mws-form-item .mws-error.pull-right,
.mws-form .mws-form-item label.error.pull-right,
.mws-form .mws-form-item span.error.pull-right,
.mws-form .mws-form-item div.error.pull-right {
    float: right;
}

.mws-form .mws-form-item .mws-error.pull-right strong,
.mws-form .mws-form-item label.error.pull-right strong,
.mws-form .mws-form-item span.error.pull-right strong,
.mws-form .mws-form-item div.error.pull-right strong {
    display: block;
    text-align: right;
    font-weight: normal;
}

.mws-form .mws-form-item .mws-error.pull-right strong em,
.mws-form .mws-form-item label.error.pull-right strong em,
.mws-form .mws-form-item span.error.pull-right strong em,
.mws-form .mws-form-item div.error.pull-right strong em {
    text-decoration: underline;
    font-style: normal;
}

.mws-form .mws-form-item .mws-error ul, 
.mws-form .mws-form-item label.error ul, 
.mws-form .mws-form-item span.error ul, 
.mws-form .mws-form-item div.error ul {
    margin-bottom: 0;
}

/* Other Elements
================================================== */

.mws-colorpicker {
    background-image: url(../images/core/cpicker.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 32px;
}

.mws-form-item .ui-progressbar {
    position: relative;
    top: 7px;
}

.mws-form-item .ui-slider-horizontal {
    position: relative;
    top: 12px;
}

.mws-form-item .select2-container {
    width: 100%;
}

.select2-container-multi .select2-choices .select2-search-field input {
    min-height: 26px;
}

.select2-container .select2-choice {
    line-height: 28px;
    height: 28px;
    font-size: 13px;
}

.csc-button {
    outline: none;
    float: right;
    padding: 6px 9px;
    margin: -7px -8px -7px 2px;
    cursor: pointer;
    z-index: 9999;
    font-family: 'PTSansRegular', Arial, Helvetica, sans-serif;
    background-color: #e0e0e0;
    color: #666666;
    border: 1px solid #ababab;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e5e5), color-stop(100%, #e0e0e0));
    background-image: -webkit-linear-gradient(#e8e5e5,#e0e0e0);
    background-image: -moz-linear-gradient(#e8e5e5,#e0e0e0);
    background-image: -o-linear-gradient(#e8e5e5,#e0e0e0);
    background-image: linear-gradient(#e8e5e5,#e0e0e0);
}

@media only screen and (max-width: 768px) {
    
    .mws-form .mws-form-inline .mws-form-label, 
    .mws-form .mws-form-inline .mws-form-item {
        display: block;
        width: 100%;
        margin: 0;
        float: none;
    }

    .mws-form .mws-form-inline .mws-form-label {
        padding-top: 0;
    }

    .mws-form .mws-form-inline .mws-form-list {
        float: none;
        width: auto;
        display: block;
    }

    .mws-form .mws-form-list.inline li {
        float: none;
        margin-right: 0;
    }
}

@media only screen and (max-width : 599px) {
    .mws-form .mws-form-row {
        padding: 16px 12px;
    }

    .mws-form .mws-button-row {
        padding: 6px 8px;
    }

    .mws-form-message {
        padding-top: 10px;
        padding-bottom: 10px;
        background-position: 12px 7px;
    }

    #mws-login .mws-form .mws-form-row {
        padding: 12px 0;
    }
}
