/*
 * MWS Admin v2.1 - Demo Stylesheet
 * This file is part of MWS Admin, an Admin template build for sale at ThemeForest.
 * All copyright to this file is hold by Mairel Theafila <maimairel@yahoo.com> a.k.a nagaemas on ThemeForest.
 * Last Updated:
 * December 08, 2012
 *
 */

#icons-tab div ul {
    display: none;
}

#icons-tab.ui-tabs div ul {
    display: block;
}

#icons-tab .ui-tabs-panel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#icons-tab .ui-tabs-panel ul li {
    list-style: none;
    cursor: pointer;
}

#jui-icons li {
    float: left;
    margin: 2px;
    padding: 4px 0;
}

#jui-icons li.ui-state-default {
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
}

#jui-icons li span {
    display: inline-block;
    margin: 0 4px;
}

#icol16 li, 
#font-icons li, 
#icons-colors li {
    margin: 4px;
    display: inline-block;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    background-position: center center;
    width: 32px;
    height: 32px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#icol16 li [class*="icol-"] {
    margin-top: 8px;
}

#icons-colors li [class*="icol32-"] {
    margin-top: 8px;
}

#font-icons li {
    width: 40px;
    height: 40px;
    font-size: 21px;
}

#font-icons li [class*="icon-"] {
    line-height: 40px;
}

#icons-colors li {
    width: 48px;
    height: 48px;
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
}

#eq span {
    float: left;
    margin: 0 15px;
}

.font-icons li {
    width: 200px;
    height: 40px;
    margin: 4px;
    padding: 4px;
    display: inline-block;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    background-position: center center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 40px;
}

.font-icons li i {
    font-size: 21px;
}

/* vzkaznik */
.mws-vzkaznik .chat_historie {
  width: 10%;
  float: left;
  padding: 0 1% 10px;
  text-align: center;
}

.mws-vzkaznik .chat_historie a {
  margin: 10px 0 0;
}

.mws-vzkaznik .chat_historie h4 {
  margin: 10px 0 0;
  padding: 0;
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  line-height: 16px;
}

.mws-vzkaznik .chat_obal {
  width: 88%;
  float: left;
}

.mws-vzkaznik .prispevek {
  overflow: hidden;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.mws-vzkaznik .zadny_prispevek {
  margin: 10px 5px;
  padding: 20px 5px;
  font-size: 13px;
  font-style: italic;
  text-align: center;
}

.mws-vzkaznik .prispevek .levy_blok {
  width: 60px;
  height: 60px;
  position: relative;
}

.mws-vzkaznik .prispevek .levy_blok img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  vertical-align: center;
}

.mws-vzkaznik .prispevek .pravy_blok p {
  margin: 0;
}

.mws-vzkaznik .prispevek .pravy_blok .autor {
  color: #636363;
  line-height: 16px;
}

.mws-vzkaznik .prispevek .pravy_blok .datum {
  color: #767676;
  font-size: 10px;
  line-height: 16px;
}

.mws-vzkaznik .prispevek .pravy_blok .zprava {
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.mws-vzkaznik .lichy_prispevek .levy_blok {
  float: left;
}

.mws-vzkaznik .lichy_prispevek .pravy_blok {
  max-width: 85%;
  float: left;
  margin-left: 5px;
}

.mws-vzkaznik .sudy_prispevek .levy_blok {
  float: right;
}

.mws-vzkaznik .sudy_prispevek .pravy_blok {
  max-width: 85%;
  float: right;
  margin-right: 5px;
  text-align: right;
}

.mws-vzkaznik .lichy_prispevek .smazat_vzkaz,
.mws-vzkaznik .sudy_prispevek .smazat_vzkaz {
  display: block;
  color: #636363;
}

.mws-vzkaznik .lichy_prispevek .smazat_vzkaz:hover,
.mws-vzkaznik .sudy_prispevek .smazat_vzkaz:hover {
  color: #000;
}

.mws-vzkaznik .lichy_prispevek .smazat_vzkaz {
  float: right;
}

.mws-vzkaznik .sudy_prispevek .smazat_vzkaz {
  float: left;
}

.mws-vzkaznik .mws-form textarea {
  width: 100%;
  margin: 0 0 7px;
}

.highcharts-container hr {
  margin: 5px 0;
}

.mws-panel-body ol.stat_vypisy {
  margin: 0 60px;
}

.mws-panel-body ol.stat_vypisy li {
  margin-bottom: 2px;
}

.mws-panel-body ol.stat_vypisy li em {
  float: right;
  font-style: normal;
}

.mws-panel-body ol.stat_vypisy li:hover {
  background-color: #f0f0f0;
}

.mws-panel .mws-panel-header span.idpolozky .icon-thumbs-up, 
.mws-panel .mws-panel-header span.idpolozky .icon-thumbs-down {
  margin-right: 0;
  vertical-align: middle;
}

.mws-panel-body ol.stat_vypisy li .icon-thumbs-up,
.mws-panel-body ol.stat_vypisy li .icon-thumbs-down {
  cursor: help;
  font-size: 14px;
}

.mws-panel-body ol.stat_vypisy li .icon-thumbs-up,
.mws-panel .mws-panel-header span.idpolozky .icon-thumbs-up {
  color: #6dac24;
}

.mws-panel-body ol.stat_vypisy li .icon-thumbs-down,
.mws-panel .mws-panel-header span.idpolozky .icon-thumbs-down {
  color: #2f7ed8;
}
