body, 
#mws-container {
  	background-image: url('../images/core/bg/ravenna.png');
}

#mws-sidebar, 
#mws-sidebar-bg, 
#mws-header, 
.mws-panel .mws-panel-header, 
#mws-login, 
#mws-login .mws-login-lock, 
.ui-accordion .ui-accordion-header, 
.ui-tabs .ui-tabs-nav, 
.ui-datepicker, 
.fc-event-skin, 
.ui-dialog .ui-dialog-titlebar, 
.jGrowl .jGrowl-notification, .jGrowl .jGrowl-closer, 
#mws-user-tools .mws-dropdown-menu .mws-dropdown-box, 
#mws-user-tools .mws-dropdown-menu.open .mws-dropdown-trigger {
  	background-color: #35353a;
}

#mws-header {
  	border-color: #c5d52b;
}

.mws-panel .mws-panel-header span,
#mws-navigation ul li.active > a,
#mws-navigation ul li.active > span,
#mws-user-tools #mws-username,
#mws-user-tools #mws-user-info #mws-user-functions #mws-username,
.ui-dialog .ui-dialog-title,
.ui-state-default,
.ui-state-active,
.ui-state-hover,
.ui-state-focus,
.ui-state-default a,
.ui-state-active a,
.ui-state-hover a,
.ui-state-focus a {
  	color: #c5d52b;
  	text-shadow: 0 0 6px rgba(197, 213, 42, 0.5);
}

.mws-panel .mws-panel-header2 span {
    font-size: 16px;
}

.mws-panel .mws-panel-header3 span {
    font-size: 18px;
}

.mws-panel .mws-panel-header4 span {
    font-size: 20px;
}

.mws-panel .mws-panel-header5 span {
    font-size: 22px;
}

.mws-panel .mws-panel-header6 span {
    font-size: 24px;
}

.mws-panel .mws-panel-header-typ-2 {
  	background-color: #2a2a2d;
}

.mws-panel .mws-panel-header-typ-2 span {
    font-size: 17px;
    font-style: italic;
    text-align: center;
}

.mws-panel .mws-panel-header-typ-2 span {
    font-size: 15px;
}

.mws-panel .mws-panel-header-center {
    font-style: italic;
    text-align: center;
}

#mws-searchbox .mws-search-submit,
.mws-panel .mws-panel-header .mws-collapse-button span,
.dataTables_wrapper .dataTables_paginate .paginate_disabled_previous,
.dataTables_wrapper .dataTables_paginate .paginate_enabled_previous,
.dataTables_wrapper .dataTables_paginate .paginate_disabled_next,
.dataTables_wrapper .dataTables_paginate .paginate_enabled_next,
.dataTables_wrapper .dataTables_paginate .paginate_active,
.dataTables_wrapper .dataTables_paginate span a:hover,
.dataTables_wrapper .dataTables_paginate a.paginate_button_active:hover,
.mws-table tbody tr.odd:hover td,
.mws-table tbody tr.even:hover td,
.ui-slider-horizontal .ui-slider-range,
.ui-slider-vertical .ui-slider-range,
.ui-progressbar .ui-progressbar-value,
.ui-datepicker td.ui-datepicker-current-day,
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next,
.ui-accordion-header .ui-accordion-header-icon,
.ui-dialog-titlebar-close {
  	background-color: #c5d52b;
}

.w-100-pr {
    width: 100%;
}
