/*
 * MWS Admin v2.1 - Panel Stylesheet
 * This file is part of MWS Admin, an Admin template build for sale at ThemeForest.
 * All copyright to this file is hold by Mairel Theafila <maimairel@yahoo.com> a.k.a nagaemas on ThemeForest.
 * Last Updated:
 * December 08, 2012
 *
 */

/* Panel
================================================== */

.mws-panel {
    margin-bottom: 32px;
    -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.15);
}

.mws-panel-v2 {
    margin-bottom: 22px;
}

.mws-panel-v3,
.download-root {
    margin-bottom: 0px;
}

.mws-tree-navigace,
.download-root {
    margin-top: 64px;
}

.mws-tree-navigace-noaddbtn {
    margin-top: 22px;
}

.mws-tree-navigace-noaddbtn-2 {
    margin-top: 10px;
}

.mws-tree-navigace .grid_8_full .mws-panel-v3 .mws-panel-body.no-padding,
.mws-tree-navigace2 .mws-panel .mws-panel-v3 .mws-panel-body.no-padding {
    padding-top: 10px;
    background: #fafafa url(../plugins/treeview/images/treeview-default-line.gif) 5px -30px no-repeat;
}

.kategorie-treeview .treeview2 li em {
    cursor: move;
}

.mws-tree-navigace > .grid_8_full.mws-panel > .mws-panel-v3 {
    margin-bottom: 0;
}

.download-root a {
    display: none;
}

.mws-panel-zanoreni-0,
.mws-panel-zanoreni-1,
.mws-panel-zanoreni-2,
.mws-panel-zanoreni-3,
.mws-panel-zanoreni-4 {
    -webkit-box-shadow: 0px 3px 3px -5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 3px -5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 3px -5px rgba(0, 0, 0, 0.15);
}

/* Panel Header
================================================== */

.mws-panel .mws-panel-header {
    background-image: url(../images/core/mws-panel-header-bg.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    height: 25px;
    position: relative;
    padding: 12px 12px 10px 12px;
    border-bottom: 2px solid #35353a;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.mws-panel-zanoreni-1 .mws-panel-header {
    margin-left: 50px;
}

.mws-panel-zanoreni-2 .mws-panel-header {
    margin-left: 100px;
}

.mws-panel-zanoreni-3 .mws-panel-header {
    margin-left: 150px;
}

.mws-panel-zanoreni-4 .mws-panel-header {
    margin-left: 200px;
}

.mws-panel .mws-panel-header-normal {
    padding: 10px 12px;
    overflow: hidden;
}

.mws-panel .mws-panel-header-no-bg {
    background-image: none;
}

.mws-panel .mws-panel-header span {
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

.mws-panel .mws-panel-header span.nazevpolozky {
  float: left;
}

.mws-panel .mws-panel-header span.idpolozky {
  float: right;
}

.mws-panel .mws-panel-header span [class*="icon-"], 
.mws-panel .mws-panel-header span [class^=" icon-"] {
    font-size: 16px;
    text-shadow: none;
    color: #fff;
    margin-right: 3px;
    vertical-align: text-bottom;
}

.mws-panel .mws-panel-header .mws-collapse-button {
    width: 22px;
    height: 22px;
    display: block;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -11px;
}

.mws-panel .mws-panel-header .mws-collapse-button span {
    display: block;
    padding: 0;
    margin: 3px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.mws-panel.mws-collapsed .mws-panel-header .mws-collapse-button span {
    background-image: url(../images/core/mws-panel-button-icon-plus.png);
}

.mws-panel .mws-panel-header .mws-collapse-button span {
    background-image: url(../images/core/mws-panel-button-icon-min.png);
}

.mws-panel.mws-collapsed .mws-panel-inner-wrap {
    display: none;
}

/* Panel Body
================================================== */

.mws-panel .mws-panel-body {
    background-color: #fafafa;
    margin: 0 2px;
    border: 1px solid #bcbcbc;
    border-top: 0;
    position: relative;
    padding: 24px;
}

.mws-panel-zanoreni-1 .mws-panel-body {
    margin-left: 50px;
}

.mws-panel-zanoreni-2 .mws-panel-body {
    margin-left: 100px;
}

.mws-panel-zanoreni-3 .mws-panel-body {
    margin-left: 150px;
}

.mws-panel-zanoreni-4 .mws-panel-body {
    margin-left: 200px;
}

.mws-panel .mws-panel-body.no-padding {
    padding: 0;
}

.mws-panel .mws-panel-body.no-border {
    border: 0;
}

/* Small verze
================================================== */

.mws-panel {
    margin-bottom: 22px;
}

.mws-panel .mws-panel-header {
    height: 21px;
    padding: 10px 12px 8px 12px;
    font-size: 12px;
}

.mws-panel .mws-panel-header span {
    line-height: 20px;
}

.mws-panel .mws-panel-body {
    padding: 14px;
    font-size: 12px;
}

.mws-panel .mws-panel-body > p {
    margin-bottom: 0;
}

/* Media Queries
================================================== */

@media only screen and (max-width : 599px) {
    .mws-panel {
        margin-bottom: 16px;
    }

    .mws-panel .mws-panel-body {
        padding: 12px;
    }
}
