body, html{ 
	background-color: #191919;
	margin:0;
	padding:0;
	color:#999999;
	font-family:"Times New Roman", Times, serif;
}

#stred{
	height:70px;
	background:#333333;
	border-bottom: 1px solid #666666;
	border-top: 1px solid #666666;
	padding:10px;
	margin-top:80px;
}
#vysledek{
  font-size: 300%;
}
#nadstred{
	height:70px;
	background: white;
	border-bottom: 1px solid #666666;
	border-top: 1px solid #666666;
	padding:30px;
	margin-top:10px;
}
	
#podstred{
	height:70px;
	background:#191919;
	border-bottom: 1px solid #666666;
	padding:30px;
	margin-top:10px;
}