/* CSS Document */
/* -------------------- */

div#container_cover {
	position: relative;
	width: 965px;
	margin: 10px auto 20px auto;
}

div#container {
	position: relative;
	margin: 0px 5px 0px 70px;
	width: 890px;
}

div#title_part {
	position: relative;
	height: 105px;
	width: 890px;
}

div#body {
	position: relative; 
	min-height: 750px;
	border: 3px solid #7daad7;
	background-color: #fff;
	background-image: url(../graphics/bg_body.gif);
	background-repeat: repeat-y;
	color: #6f310b; 
}

div#menu {
	position: absolute; 
	left: -70px;
	top: 15px;
	width: 204px;
	z-index: 1;
}

div#content {
/*	position: relative; */ /* nefunguje v IE */
	margin: 0px 10px 0px 160px;
	padding: 10px;
}

div#footer {
	background-color: #f0f8ff;
	color: #333333;
	padding-top: 5px;
	text-align: center;
	font-size: 0.9em;
}

/* ----------------------- */
div#main_col {
	position:relative; 
	float:left;
	width: 490px;
	padding: 0px 5px;
}
div#right_col {
	position: relative;
	float: right;
	width: 180px;
	border-left: 1px dashed #7daad7;
	background-color: #f0f8ff;
	padding: 0px 0px 0px 5px;
	overflow: hidden;
}
/* ----------------------- */

div#menu ul.menu_items {
	width: 200px;
	margin: 0px;
	padding: 0px;
	border: 2px solid #7daad7;
}
div#menu ul.menu_items li, div#menu ul#menu_user li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
div#menu ul.menu_items a {
	display: block;
	width: 190px;
	padding: 3px 0px 3px 10px;
	text-decoration: none;
	background-color: #edf0f2;
	color: #003399;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
div#menu ul.menu_items a.mark {
	color: #F20000;
}
div#menu ul.menu_items a:hover, div#menu ul.menu_items a.actual {
	background-color: #d5e3ec; 
	color: #970704;
	border-top: 1px solid #e6f0fa;
}

div#menu ul.menu_items h2 {
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 3px 0px;
	background-color: #d5e3ec; 	
	color: #039;
	font-size: 1.2em;
	text-align: center;
}

div#menu ul.sect {
	margin-top: 10px;
}

div#menu ul#menu_user {
	width: 160px;
	margin: 0px 20px;
	padding: 0px;
	border: 2px solid #b1c5a3;
	text-align: center;
	font-weight: bold;
}
div#menu ul#menu_user a, div#menu ul#menu_user span {
	display: block;
	width: 160px;
	padding: 3px 0px 3px 0px;
	text-decoration: none;
	background-color: #f0f2ea; 
	color: #0f4d2a;
}
div#menu ul#menu_user a {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ccc;
}
div#menu ul#menu_user span {
	background-color: #b1c5a3; 
	color: #0f4d2a;
	cursor: default;
}
div#menu ul#menu_user a:hover {
	background-color: #d0dcc7; 
	color: #970704;
	border-top: 1px solid #f0f2ea;
}

div#title_part h1 {
	position: relative;
	width: 890px;
	height: 80px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	text-align: center;
	line-height: 80px;
	vertical-align: middle;
	font-size: 2.8em;
	background: none;
}
div#title_part h1 span {
	position: absolute;
	display: block;
	z-index: 1;
	width: 890px;
	height: 80px;
	top: 0px;
	left: 0px;
	background-image: url(../graphics/title.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}
div#title_part h1 a:hover {
	text-decoration: none;
}

div#title_part div.info_line {
	font-size: 1.4em;
	font-weight: bold;
	color: #000;
	letter-spacing: 2px;
	margin: 0px 20px;
	text-align: center;
}
div#title_part div.info_line a {
	text-decoration: none;
}
div#title_part span.left_info, div#title_part span.right_info {
	font-size: 0.7em;
	letter-spacing: 0px;
	line-height: 2em;
	vertical-align: bottom;
}
div#title_part span.left_info {
	position: relative;
	font-weight: normal;
	float: left;
}
div#title_part span.right_info {
	position: relative;
	float: right;
}
div#title_part select {
	border: none;
	color: #000;
	overflow: hidden;
}

div#langCZ, div#langEN {
	position: absolute; 
	top: 0px;
	z-index: 5;
	width: 40px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #000;
}

div#langCZ, div#langCZ strong {
	left: 0px;
}
div#langEN, div#langEN strong {
	right: 0px;
}
div#langCZ strong, div#langEN strong {
	position: absolute; 
	top: 0px;
	display: block;	
	z-index: 6;
	width: 40px;
	height: 27px;
	cursor: pointer;
}
div#langCZ strong {
	background-image: url(../graphics/CZ_grey.gif);
}
div#langCZ strong:hover, div#langCZ strong.Hover, div#langCZ strong.active {
	background-image: url(../graphics/CZ.gif);
}
div#langEN strong {
	background-image: url(../graphics/EN_grey.gif);
}
div#langEN strong:hover, div#langEN strong.Hover, div#langEN strong.active {
	background-image: url(../graphics/EN.gif);
}
div#langCZ a, div#langEN a {
	text-decoration: none;
}

div#forum {
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 20px;
}
div#forum a {
	background: none;
}
div#forum a:hover {
	background: none;
}

div#search {
	width: 200px;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	border: 2px solid #7daad7;
	text-align: center;
	background-color: #edf0f2;	
}
div#search h2 {
	margin: 0px 0px 10px 0px;
	padding: 5px 0px 3px 0px;
	background-color: #d5e3ec; 	
	color: #039;
	font-size: 1.2em;
}
div#search p {
	margin: 5px 0px 0px 0px;
}

/* ----------------------- */

