H1 {
	page-break-inside: avoid
}
H2 {
	page-break-inside: avoid
}
H3 {
	page-break-inside: avoid
}
H4 {
	page-break-inside: avoid
}
H5 {
	page-break-inside: avoid
}
H6 {
	page-break-inside: avoid
}
BLOCKQUOTE {
	page-break-inside: avoid
}
PRE {
	page-break-inside: avoid
}
UL {
	
}
OL {
	
}
DL {
	
}
.noprint {
	DISPLAY: none
}
.long-text-replaced {
	BORDER-BOTTOM: #000000 1px dotted
}
BODY {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
BODY {
	FONT-SIZE: 13pt; FONT-FAMILY: serif
}
TR {
	FONT-SIZE: 13pt; FONT-FAMILY: serif
}
TH {
	FONT-SIZE: 13pt; FONT-FAMILY: serif
}
TD {
	FONT-SIZE: 13pt; FONT-FAMILY: serif
}
A:link {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
A:visited {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
A:active {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
A:hover {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
#interval-logo A {
	COLOR: #000000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#page-header {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
#page-topmenu {
	DISPLAY: none
}
#page-body {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; COLOR: #000000; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: transparent
}
#page-left {
	FLOAT: none; OVERFLOW: visible; WIDTH: 100%
}
#page-right {
	DISPLAY: none
}
#page-foot {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; COLOR: #000000; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff
}
#page-foot-menu {
	DISPLAY: none
}
#page-foot-zoner {
	COLOR: #ffffff; BACKGROUND-COLOR: #000000
}
#page-foot-zoner A:link {
	COLOR: #ffffff; BACKGROUND-COLOR: #000000; TEXT-DECORATION: none
}
#page-foot-zoner A:active {
	COLOR: #ffffff; BACKGROUND-COLOR: #000000; TEXT-DECORATION: none
}
#page-foot-zoner A:visited {
	COLOR: #ffffff; BACKGROUND-COLOR: #000000; TEXT-DECORATION: none
}
#page-foot-zoner A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #000000; TEXT-DECORATION: none
}
#advertising-leader-board {
	DISPLAY: none
}
#advertising-page-header {
	DISPLAY: none
}
#advertising-page-bottom {
	DISPLAY: none
}
#article {
	MARGIN: auto
}
#article ACRONYM {
	BORDER-BOTTOM-COLOR: #000000
}
#article DIV.sample {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; COLOR: #000000; BORDER-TOP-COLOR: #000000; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #000000
}
#article H2 {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
#article H3 {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
#article H4 {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
#article KBD.mouse {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-COLOR: #000000
}
#article SAMP {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; COLOR: #000000; BORDER-TOP-COLOR: #000000; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #000000
}
#article DIV.refer {
	BORDER-TOP-COLOR: #000000
}
#article-foot {
	DISPLAY: none
}
#article-operation {
	DISPLAY: none
}
#article-discussion-index {
	BORDER-TOP-COLOR: #000000
}
#article-discussion-index FORM INPUT.submit {
	DISPLAY: none
}
#article-discussion-index TABLE {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; COLOR: #000000; BORDER-TOP-COLOR: #000000; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #000000
}
#article-discussion-index TH {
	BORDER-BOTTOM-COLOR: #000000; COLOR: #000000; BACKGROUND-COLOR: transparent
}
#article-discussion-index TD {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
#article-discussion-index TD.checkbox {
	DISPLAY: none
}
#article-discussion-index TD.sender {
	BORDER-LEFT-COLOR: #000000
}
#article-discussion-index TD.subject {
	BORDER-LEFT-COLOR: #000000
}
#article-discussion-index TD#foot {
	DISPLAY: none
}
#article-discussion-index TH A {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
#article-discussion-index TH A:visited {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
#article-discussion-input-box {
	DISPLAY: none
}
#article-discussion-error {
	DISPLAY: none
}
#article-discussion-formatting {
	DISPLAY: none
}
#article-discussion-notice {
	DISPLAY: none
}
#article-discussion-stories {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; COLOR: #000000; BORDER-TOP-COLOR: #000000; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #000000
}
#article-discussion-stories DIV.story {
	BORDER-TOP-COLOR: #000000
}
#article-discussion-stories DIV.story-head {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
#article-discussion-stories DIV.story-answer {
	DISPLAY: none
}
#article .redaction-position {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
#article .redaction-position H3 {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
