body {
  background: #eef8ff url(../obr/mp_body_repeat.png) repeat-x center top;
  font: 14px Arial, "Arial CE", Verdana, Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #596f82;
}

#obal_layout {
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* zahlavi */
#obal_layout #zahlavi {
  width: 980px;
  height: 323px;
  margin: 0 auto;
  position: relative;
  background: url(../obr/mp_zahlavi_body.png) no-repeat;
}

#zahlavi #zahlavi_left,
#zahlavi #zahlavi_right {
  display: block;
  width: 210px;
  height: 323px;
  position: absolute;
  top: 0;
}

#zahlavi #zahlavi_left {
  left: -210px;
  background: url(../obr/mp_zahlavi_body_left.png) no-repeat;
}

#zahlavi #zahlavi_right {
  right: -210px;
  background: url(../obr/mp_zahlavi_body_right.png) no-repeat;
}

#zahlavi h1 {
  width: 445px;
  height: 80px;
  position: absolute;
  top: 88px;
  left: 0;
}

#zahlavi h1 a {
  display: block;
  height: 80px;
  position: relative;
  font-size: 26px;
  color: #eef8ff;
}

#zahlavi h1 a span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

/* navigace */
#zahlavi #navigace {
  width: 980px;
  height: 36px;
  position: absolute;
  top: 209px;
  left: 0;
  overflow: hidden;
  background: url(../obr/mp_navigace.png) no-repeat;
}

#zahlavi #navigace li {
  height: 36px;
  float: left;
}

#zahlavi #navigace li a {
  display: block;
  height: 28px;
  margin-top: 4px;
  background: url(../obr/mp_navigace.png) no-repeat;
}

#zahlavi #navigace li.domu {
  width: 83px;
}

#zahlavi #navigace li.domu a {
  background-position: 0 -4px;
}

#zahlavi #navigace li.domu a:hover,
#zahlavi #navigace li.domu a.hover {
  background-position: 0 -36px;
}

#zahlavi #navigace li.domu a.aktivni {
  background-position: 0 -64px;
}

#zahlavi #navigace li.o-nas {
  width: 87px;
}

#zahlavi #navigace li.o-nas a {
  background-position: -83px -4px;
}

#zahlavi #navigace li.o-nas a:hover,
#zahlavi #navigace li.o-nas a.hover {
  background-position: -83px -36px;
}

#zahlavi #navigace li.o-nas a.aktivni {
  background-position: -83px -64px;
}

#zahlavi #navigace li.ke-stazeni {
  width: 129px;
}

#zahlavi #navigace li.ke-stazeni a {
  background-position: -170px -4px;
}

#zahlavi #navigace li.ke-stazeni a:hover,
#zahlavi #navigace li.ke-stazeni a.hover {
  background-position: -170px -36px;
}

#zahlavi #navigace li.ke-stazeni a.aktivni {
  background-position: -170px -64px;
}

#zahlavi #navigace li.amp {
  width: 73px;
}

#zahlavi #navigace li.amp a {
  background-position: -299px -4px;
}

#zahlavi #navigace li.amp a:hover,
#zahlavi #navigace li.amp a.hover {
  background-position: -299px -36px;
}

#zahlavi #navigace li.amp a.aktivni {
  background-position: -299px -64px;
}

#zahlavi #navigace li.tiskovy-servis {
  width: 166px;
}

#zahlavi #navigace li.tiskovy-servis a {
  background-position: -372px -4px;
}

#zahlavi #navigace li.tiskovy-servis a:hover,
#zahlavi #navigace li.tiskovy-servis a.hover {
  background-position: -372px -36px;
}

#zahlavi #navigace li.tiskovy-servis a.aktivni {
  background-position: -372px -64px;
}

#zahlavi #navigace li.pozvanky {
  width: 124px;
}

#zahlavi #navigace li.pozvanky a {
  background-position: -538px -4px;
}

#zahlavi #navigace li.pozvanky a:hover,
#zahlavi #navigace li.pozvanky a.hover {
  background-position: -538px -36px;
}

#zahlavi #navigace li.pozvanky a.aktivni {
  background-position: -538px -64px;
}

#zahlavi #navigace li.obcasnik {
  width: 120px;
}

#zahlavi #navigace li.obcasnik a {
  background-position: -662px -4px;
}

#zahlavi #navigace li.obcasnik a:hover,
#zahlavi #navigace li.obcasnik a.hover {
  background-position: -662px -36px;
}

#zahlavi #navigace li.obcasnik a.aktivni {
  background-position: -662px -64px;
}

#zahlavi #navigace li.projekty {
  width: 120px;
}

#zahlavi #navigace li.projekty a {
  background-position: -782px -4px;
}

#zahlavi #navigace li.projekty a:hover,
#zahlavi #navigace li.projekty a.hover {
  background-position: -782px -36px;
}

#zahlavi #navigace li.projekty a.aktivni {
  background-position: -782px -64px;
}

#zahlavi #navigace li.tipy {
  width: 78px;
}

#zahlavi #navigace li.tipy a {
  background-position: -902px -4px;
}

#zahlavi #navigace li.tipy a:hover,
#zahlavi #navigace li.tipy a.hover {
  background-position: -902px -36px;
}

#zahlavi #navigace li.tipy a.aktivni {
  background-position: -902px -64px;
}

#zahlavi #navigace li a span.alternativa {
  display: none;
}/* /navigace */

#zahlavi #zahlavi_hledej {
  width: 20px;
  position: absolute;
  top: 5px;
  left: 0;
  overflow: hidden;
  border-right: 1px solid #55717c;
}

#zahlavi #zahlavi_hledej label {
  display: block;
  float: left;
  height: 21px;
}

#zahlavi #zahlavi_hledej label input {
  display: block;
  background: none;
  border: none;
}

#zahlavi #zahlavi_hledej .form_text {
  width: 161px;
  overflow: hidden;
  background: url(../obr/mp_zahlavi_hledej.png) no-repeat left top;
}

#zahlavi #zahlavi_hledej:hover .form_text {
  width: 161px;
}

#zahlavi #zahlavi_hledej .form_text input {
  width: 138px;
  margin-top: 1px;
  padding: 1px 3px 3px 21px;
  font-size: 12px;
  color: #fff;
}

#zahlavi #zahlavi_hledej .form_submit {
  position: absolute;
  top: 0;
  left: 161px;
}

#zahlavi #zahlavi_hledej .form_submit input {
  width: 53px;
  height: 21px;
  padding: 0;
  background: url(../obr/mp_zahlavi_hledej.png) no-repeat right top;
  cursor: pointer;
}

#zahlavi #zahlavi_hledej .form_submit input:hover,
#zahlavi #zahlavi_hledej .form_submit input:focus {
  background-position: right bottom;
}

#zahlavi #zahlavi_hledej .form_submit input::-moz-focus-inner {
  border: none;
}

#zahlavi #zahlavi_prihlaseni {
  width: 376px;
  position: absolute;
  top: 4px;
  left: 508px;
}

#zahlavi #zahlavi_prihlaseni fieldset {
  overflow: hidden;
}

#zahlavi #zahlavi_prihlaseni label {
  display: block;
  float: left;
}

#zahlavi #zahlavi_prihlaseni label input {
  display: block;
  background: none;
  border: none;
  padding: 1px 3px 3px;
  font-size: 12px;
  color: #fff;
}

#zahlavi #zahlavi_prihlaseni .form_text_jmeno {
  width: 162px;
  height: 21px;
  margin-right: 3px;
  background: url(../obr/mp_zahlavi_jmeno.png) no-repeat;
}

#zahlavi #zahlavi_prihlaseni .form_text_jmeno input {
  width: 105px;
  margin: 1px 0 0 50px;
}

#zahlavi #zahlavi_prihlaseni .form_text_heslo {
  width: 160px;
  height: 21px;
  background: url(../obr/mp_zahlavi_heslo.png) no-repeat;
}

#zahlavi #zahlavi_prihlaseni .form_text_heslo input {
  width: 105px;
  margin-top: 1px;
  margin-left: 48px;
}

#zahlavi #zahlavi_prihlaseni .form_submit {
  width: 43px;
  height: 21px;
  margin-left: 8px;
}

#zahlavi #zahlavi_prihlaseni .form_submit input {
  width: 43px;
  height: 21px;
  padding: 0;
  cursor: pointer;
  background: url(../obr/mp_zahlavi_login.png) no-repeat left top;
}

#zahlavi #zahlavi_prihlaseni .form_submit input:hover,
#zahlavi #zahlavi_prihlaseni .form_submit input:focus {
  background-position: left bottom;
}

#zahlavi #zahlavi_prihlaseni .form_submit input::-moz-focus-inner {
  border: none;
}

#zahlavi #zahlavi_registrace {
  display: block;
  width: 79px;
  height: 21px;
  position: absolute;
  top: 4px;
  left: 891px;
  background: url(../obr/mp_zahlavi_registrace.png) no-repeat left top;
}

#zahlavi #zahlavi_registrace:hover,
#zahlavi #zahlavi_registrace.hover {
  background-position: left bottom;
}

#zahlavi #zahlavi_profil {
  height: 21px;
  overflow: hidden;
  position: absolute;
  top: 4px;
  right: 90px;
}

#zahlavi #odhlasit_se {
  height: 21px;
  overflow: hidden;
  position: absolute;
  top: 7px;
  right: 10px;
}

#zahlavi #odhlasit_se a {
  color: #75cdf4;
  text-decoration: none;
}

#zahlavi #odhlasit_se a:hover {
  color: #fff;
}

#zahlavi #zahlavi_profil span {
  display: block;
  float: left;
  font-size: 13px;
  line-height: 21px;
  color: #b0c7d5;
}

#zahlavi #zahlavi_profil span strong {
  color: #75cdf4;
}

#zahlavi #zahlavi_profil a {
  display: block;
  width: 79px;
  height: 21px;
  float: right;
  margin-left: 5px;
  background: url(../obr/mp_zahlavi_profil.png) no-repeat left top;
}

#zahlavi #zahlavi_profil a:hover,
#zahlavi #zahlavi_profil a.hover {
  background-position: left bottom;
}

#zahlavi #zahlavi_twitter {
  width: 470px;
  height: 107px;
  position: absolute;
  top: 101px;
  left: 521px;
}

#zahlavi #zahlavi_twitter #ptak_twitter {
  width: 109px;
  height: 96px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url(../obr/mp_ptak_twitter.png) no-repeat left top;
}

#zahlavi #zahlavi_twitter #ptak_twitter:hover {
  background-position: left bottom;
}

#zahlavi #zahlavi_twitter #text_twitter,
#zahlavi #zahlavi_twitter #text_twitter_hover {
  width: 382px;
  height: 78px;
  position: absolute;
  top: 0;
  right: 88px;
}

#zahlavi #zahlavi_twitter #text_twitter {
  background: url(../obr/mp_text_twitter.png) no-repeat;
}

#zahlavi #zahlavi_twitter #text_twitter_hover {
  overflow: hidden;
  background: url(../obr/mp_text_twitter_hover.png) no-repeat;
}

#zahlavi #zahlavi_twitter #text_twitter_hover p {
  width: 346px;
  margin: 9px 26px 9px 10px;
  margin: 5px 26px 2px 10px;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: #e3e5e6;
}/* /zahlavi */


.twtr-doc {
  width: 360px !important;
}

.twtr-tweet-text p {
  height: 52px !important;
}

.twtr-hd,
.twtr-ft,
.twtr-timestamp,
.twtr-reply {
  display: none;
}


















#obal_layout #obal_sekce {
  width: 980px;
  min-height: 137px;
  margin: -70px auto 0;
  padding-bottom: 363px;
  position: relative;
  background: #eef8ff url(../obr/mp_obal_sekce_body.png) no-repeat center top;
}

#obal_sekce #body_left,
#obal_sekce #body_right {
  display: block;
  width: 209px;
  height: 440px;
  position: absolute;
  top: 72px;
}

#obal_sekce #body_left {
  left: -209px;
  background: url(../obr/mp_body_left.png) no-repeat;
}

#obal_sekce #body_right {
  right: -209px;
  background: url(../obr/mp_body_right.png) no-repeat;
}











.superadmin_zobrazit_blok {
  display: block !important;
}

.superadmin_skryt_blok {
  display: none !important;
}















/* obsah vsech sekci */
#obal_sekce .obsah {
  position: relative;
  z-index: 100;
}

.obsah h2 {
  padding: 10px 0 10px 20px;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #3d3e3f;
  background: url(../obr/mp_plus_nadpisy.png) no-repeat 2px center;
}

.obsah h2 span {
  color: #9aa0a5;
}

















#sekce_o_nas,
#sekce_o_nas_clen,
#sekce_ke_stazeni,
#sekce_amp,
#sekce_tiskovy_servis,
#sekce_pozvanky,
#sekce_obcasnik,
#sekce_projekty,
#sekce_tipy,
#sekce_pro_media,
#sekce_podporuji_nas,
#sekce_registrace,
#sekce_profil,
#sekce_upravit_profil {
  padding-top: 10px;
}

#sekce_o_nas h2,
#sekce_o_nas_clen h2,
#sekce_ke_stazeni h2,
#sekce_amp h2,
#sekce_tiskovy_servis h2,
#sekce_pozvanky h2,
#sekce_obcasnik h2,
#sekce_projekty h2,
#sekce_tipy h2,
#sekce_pro_media h2,
#sekce_podporuji_nas h2,
#sekce_registrace h2,
#sekce_profil h2,
#sekce_upravit_profil h2 {
  margin: 0 10px;
  padding: 10px 0 10px 20px;
}

#sekce_o_nas #obal_kdo_jsme,
#sekce_o_nas_clen #obal_kdo_jsme_clen,
#sekce_ke_stazeni #obal_ke_stazeni,
#sekce_amp #obal_sekce_amp,
#sekce_tiskovy_servis #obal_sekce_tiskovy_servis,
#sekce_pozvanky #obal_sekce_pozvanky,
#sekce_obcasnik #obal_sekce_obcasnik,
#sekce_projekty #obal_sekce_projekty,
#sekce_tipy #obal_sekce_tipy,
#sekce_pro_media #obal_sekce_pro_media,
#sekce_podporuji_nas #obal_sekce_podporuji_nas,
#sekce_registrace #obal_sekce_registrace,
#sekce_profil #obal_sekce_profil,
#sekce_upravit_profil #obal_sekce_upravit_profil {
  margin: 0 10px;
  padding-top: 25px;
  overflow: hidden;
  background: url(../obr/mp_podklad_oddily.png) repeat-x 0 5px;
}

#sekce_ke_stazeni #obal_ke_stazeni {
  padding-top: 15px;
}

#sekce_amp #obal_sekce_amp {
  padding-top: 15px;
}

#sekce_obcasnik #obal_sekce_obcasnik {
  padding-top: 10px;
}

#sekce_projekty #obal_sekce_projekty {
  padding-top: 35px;
}

#sekce_registrace #obal_sekce_registrace {
  padding-top: 15px;
}

#sekce_upravit_profil #obal_sekce_upravit_profil {
  padding-top: 15px;
}


































#centralni_strankovani {
  overflow: hidden;
  clear: both;
}

#centralni_strankovani p {
  overflow: hidden;
  float: right;
}

#centralni_strankovani p a,
#centralni_strankovani p span {
  display: block;
  float: left;
  margin: 0 0 30px 3px;
  padding: 0 3px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #9badb9;
  text-decoration: none;
}

#centralni_strankovani p a:hover {
  color: #3e6a7e;
}

#centralni_strankovani p span {
  color: #fff !important;
  background-color: #eb6840;
  cursor: default;
}

























#sekce_domu #podklad_slider {
  width: 950px;
  height: 260px;
  margin: 0 auto;
  padding: 10px 0 0 10px;
  position: relative;
  overflow: hidden;
  background: url(../obr/mp_podklad_slider.png) no-repeat;
}

#podklad_slider .coin-slider {
  width: 940px;
  overflow: hidden;
  zoom: 1;
  position: relative;
}

#podklad_slider .coin-slider #coin-slider {
  float: right;
}

#podklad_slider .coin-slider #coin-slider .cs-title {
  width: 270px;
  height: 250px;
  position: absolute !important;
  top: 0 !important;
  left: -304px !important;
}

#podklad_slider .coin-slider #coin-slider .cs-title strong {
  display: block;
  margin-bottom: 13px;
  padding-bottom: 9px;
  font-size: 22px;
  color: #fff;
  font-weight: normal;
  border-bottom: 1px solid #4a6877;
}

#podklad_slider .coin-slider #coin-slider .cs-title span {
  display: block;
  height: 170px;
  overflow: hidden;
  font: 12px/24px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #ccd0d3;
}

#podklad_slider .coin-slider #coin-slider .cs-title a {
  display: block;
  max-width: 270px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  font: 13px/22px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  text-decoration: none;
  color: #6c8f98;
}

#podklad_slider .coin-slider #coin-slider .cs-title a:hover {
  color: #6dd1ff;
}

#podklad_slider #cs-navigation-coin-slider {
  display: block !important;
  width: 636px;
  height: 36px;
  position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: #35454f;
  opacity: 0.6;
}

#podklad_slider .coin-slider #coin-slider .cs-prev,
#podklad_slider .coin-slider #coin-slider .cs-next {
  display: none !important;
}

#podklad_slider .coin-slider .cs-buttons {
  max-width: 636px;
  height: 36px;
  float: none;
  margin-left: 0 !important;
  position: absolute !important;
  left: auto !important;
  right: 0 !important;
  bottom: 0 !important;
}

#podklad_slider .coin-slider .cs-buttons a {
  display: block;
  width: 26px;
  height: 26px;
  margin: 5px 3px 0 0;
  float: left;
  background: url(../obr/mp_plus_slider.png) no-repeat center top;
}

#podklad_slider .coin-slider .cs-buttons a:hover {
  background-position: center bottom;
}

#podklad_slider .coin-slider .cs-buttons a span {
  display: none;
}

#podklad_slider .coin-slider a.cs-active {
  background-position: center bottom;
}

#sekce_domu {
  padding-top: 10px;
}

#sekce_domu h2 {
  font-weight: normal;
}

#domu_obsah_oddil {
  margin: 20px 10px 0;
  overflow: hidden;
}

#domu_obsah_oddil #obsah_oddil {
  width: 636px;
  float: left;
  position: relative;
  background: url(../obr/mp_podklad_oddily.png) repeat-x 0 42px;
}

#domu_obsah_oddil #obsah_oddil #otaznik_vice_o_mp {
  display: block;
  width: 92px;
  height: 141px;
  position: absolute;
  top: 42px;
  right: 0;
  background: url(../obr/otaznik_vice_o_mp.png) no-repeat;
}

#domu_obsah_oddil #obsah_oddil p {
  padding: 10px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  position: relative;
  z-index: 10;
  color: #828a91;
}

#domu_obsah_oddil #obsah_oddil a {
  display: block;
  float: right;
  padding: 3px 5px;
  background-color: #eb6840;
  color: #fefefe;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

#domu_obsah_oddil #obsah_oddil a:hover {
  background-color: #6dd1ff;
  color: #1d2a33;
}

#domu_obsah_oddil #socialni_site_oddil {
  width: 314px;
  float: right;
  overflow: hidden;
  background: url(../obr/mp_podklad_oddily.png) repeat-x 0 42px;
}

#socialni_site_oddil #socialni_prvni_oddil,
#socialni_site_oddil #socialni_druhy_oddil {
  margin-top: 18px;
}

#socialni_site_oddil #socialni_prvni_oddil a,
#socialni_site_oddil #socialni_druhy_oddil a {
  display: block;
  margin-bottom: 11px;
}

#socialni_site_oddil #socialni_prvni_oddil {
  width: 128px;
  float: left;
}

#socialni_site_oddil #socialni_prvni_oddil a {
  width: 128px;
  height: 59px;
}

#socialni_site_oddil #socialni_prvni_oddil a#mp_youtube {
  background: url(../obr/mp_youtube.png) no-repeat left top;
}

#socialni_site_oddil #socialni_prvni_oddil a#mp_youtube:hover,
#socialni_site_oddil #socialni_prvni_oddil a#mp_youtube.hover {
  background-position: left bottom;
}

#socialni_site_oddil #socialni_prvni_oddil a#mp_flickr {
  background: url(../obr/mp_flickr.png) no-repeat left top;
}

#socialni_site_oddil #socialni_prvni_oddil a#mp_flickr:hover,
#socialni_site_oddil #socialni_prvni_oddil a#mp_flickr.hover {
  background-position: left bottom;
}

#socialni_site_oddil #socialni_druhy_oddil {
  width: 186px;
  float: right;
}

#socialni_site_oddil #socialni_druhy_oddil a {
  width: 186px;
  height: 59px;
}

#socialni_site_oddil #socialni_druhy_oddil a#mp_facebook {
  background: url(../obr/mp_facebook.png) no-repeat left top;
}

#socialni_site_oddil #socialni_druhy_oddil a#mp_facebook:hover,
#socialni_site_oddil #socialni_druhy_oddil a#mp_facebook.hover {
  background-position: left bottom;
}

#socialni_site_oddil #socialni_druhy_oddil a#mp_twitter {
  background: url(../obr/mp_twitter.png) no-repeat left top;
}

#socialni_site_oddil #socialni_druhy_oddil a#mp_twitter:hover,
#socialni_site_oddil #socialni_druhy_oddil a#mp_twitter.hover {
  background-position: left bottom;
}

#socialni_site_oddil #socialni_druhy_oddil a#mp_slideshare {
  height: 53px;
  background: url(../obr/mp_slideshare.png) no-repeat left top;
}

#socialni_site_oddil #socialni_druhy_oddil a#mp_slideshare:hover,
#socialni_site_oddil #socialni_druhy_oddil a#mp_slideshare.hover {
  background-position: left bottom;
}

#vybrano_z_webu_oddil {
  margin: 30px 10px 0;
  overflow: hidden;
  background: url(../obr/mp_podklad_oddily.png) repeat-x 0 42px;
}

#vybrano_z_webu_oddil p {
  width: 184px;
  margin: 15px 10px 0 0;
  float: left;
}

#vybrano_z_webu_oddil p.posledni_polozka {
  margin-right: 0;
}

#vybrano_z_webu_oddil p a {
  display: block;
  text-decoration: none;
}

#vybrano_z_webu_oddil p a span {
  display: block;
  width: 184px;
  height: 210px;
  background-position: left top;
}

#vybrano_z_webu_oddil p a strong {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #9baebc;
  text-align: center;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}

#vybrano_z_webu_oddil p a:hover strong {
  color: #ff8d6a;
}

#vybrano_z_webu_oddil p a:hover span,
#vybrano_z_webu_oddil p a span.hover {
  background-position: right top;
}

#bannery_oddil {
  margin-top: 30px;
  overflow: hidden;
}

#bannery_oddil p {
  height: 79px;
  line-height: 79px;
  float: left;
  text-align: center;
  font-weight: bold;
}

#bannery_oddil #mp_banner_1 {
  width: 323px;
  margin-right: 10px;
  background-color: #e3ecf3;
}

#bannery_oddil #mp_banner_2 {
  width: 313px;
  margin-right: 10px;
  background-color: #dcdfe1;
}

#bannery_oddil #mp_banner_3 {
  width: 324px;
  background-color: #9b9d9e;
}











































#obal_kdo_jsme a {
  display: block;
  width: 227px;
  margin-left: 10px;
  float: left;
  text-decoration: none;
}

#obal_kdo_jsme a .foto_sprit {
  display: block;
  width: 227px;
  height: 281px;
  background-position: left top;
}

#obal_kdo_jsme a .foto_sprit:hover,
#obal_kdo_jsme a .foto_sprit.hover {
  background-position: right top;
}

#obal_kdo_jsme a:hover .foto_sprit {
  background-position: right top;
}

#obal_kdo_jsme a strong {
  display: block;
  width: 217px;
  height: 34px;
  padding-left: 10px;
  font: 18px/34px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #fff;
  background-color: #eb6840;
}

#sekce_o_nas #obal_kdo_jsme_fotky {
  margin: 10px;
  overflow: hidden;
}

#obal_kdo_jsme_fotky a {
  display: block;
  width: 306px;
  height: 279px;
  margin: 10px 0 0 10px;
  float: left;
  position: relative;
  background-color: #c5d2db;
}

#obal_kdo_jsme_fotky a span {
  display: block;
  width: 286px;
  height: 259px;
  margin: 10px 0 0 10px;
}

#sekce_o_nas_clen #obal_kdo_jsme_clen {
  padding-top: 20px;
  overflow: hidden;
}

#obal_kdo_jsme_clen #obal_clen_foto {
  width: 328px;
  float: left;
}

#obal_clen_foto p {
  width: 304px;
  margin-left: 10px;
  padding: 6px 0;
  background-color: #9dadb6;
}

#obal_clen_foto p img {
  display: block;
  max-width: 292px;
  margin: 0 6px;
}

#obal_kdo_jsme_clen #obal_clen_obsah {
  width: 622px; /* 311 x 2 = 622 */
  float: left;
  overflow: hidden;
}

#obal_clen_obsah h3 {
  margin-bottom: 14px;
  padding: 0 6px;
  font: 18px/28px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #ecf6fd;
  background-color: #eb6840;
  float: left;
}

#obal_clen_obsah h4 {
  padding: 0 6px;
  font: 14px/28px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #5f778b;
  background-color: #c7d8df;
  font-weight: bold;
  float: left;
  clear: both;
}

#obal_clen_obsah p {
  margin: 2px 0 6px;
  padding: 0 6px;
  font: 14px/28px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #596f82;
  float: left;
  clear: both;
}

#obal_clen_obsah #obal_kontaktni_info {
  margin-bottom: 40px;
  overflow: hidden;
  clear: both;
}

#obal_clen_obsah #obal_kontaktni_info p {
  margin: 0;
  line-height: 24px;
}

#obal_clen_obsah #obal_kontaktni_info p strong {
  display: block;
  margin-top: 20px;
}

#obal_kontaktni_info .sloupec_kontaktni_info {
  width: 311px;
  margin-top: -10px;
  float: left;
}











#obal_ke_stazeni p {
  margin: 0 10px 15px;
  line-height: 28px;
  color: #717980;
}

#obal_ke_stazeni #ke_stazeni_obal_menu_sekce {
  margin-bottom: 60px;
  overflow: hidden;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_menu {
  width: 302px;
  float: left;
  margin-left: 10px;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_menu h3 {
  height: 51px;
  margin-bottom: -1px;
  font-size: 18px;
  line-height: 52px;
  font-weight: bold;
  border: 1px solid #c9d3da;
  border-right: none;
  border-left: none;
  position: relative;
  z-index: 100;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_menu h3 a {
  display: block;
  padding-left: 40px;
  text-decoration: none;
  color: #9aa0a5;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_menu h3.audiovizualni_materialy a {
  background: url(../obr/audiovizualni_materialy.png) no-repeat 0 0;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_menu h3.textove_materialy a {
  background: url(../obr/textove_materialy.png) no-repeat 0 0;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_menu h3 a:hover,
#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_menu h3 a.hover {
  color: #854a38;
  background-position: 0 -52px;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_menu h3.aktivni {
  border-bottom-color: #abb5bc;
  border-left: 1px solid #c9d3da;
  background-color: #e5f4ff;
  z-index: 300;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_menu h3.aktivni a {
  color: #eb6840 !important;
  background-position: 0 -104px;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_sekce {
  width: 646px;
  float: left;
  margin-left: -1px;
  border: 1px solid #c9d3da;
  background-color: #e5f4ff;
  position: relative;
  z-index: 200;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_sekce p {
  margin: 0;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_sekce h4 {
  margin: 10px 10px 0;
  padding: 5px 10px;
  overflow: hidden;
  clear: both;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #fff;
  background-color: #eb6840;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_sekce h4 span {
  float: right;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_sekce .ke_stazeni_info_zahlavi {
  margin: 0 10px;
  padding: 5px 10px;
  line-height: 20px;
  font-weight: bold;
  color: #9aa0a5;
  background-color: #c7d8df;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_sekce .ke_stazeni_info_zahlavi span {
  text-transform: uppercase;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_sekce .ke_stazeni_polozka_popis {
  margin: 10px;
  padding: 5px 10px;
  line-height: 22px;
  color: #717980;
  text-align: justify;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_sekce .ke_stazeni_download {
  width: 115px;
  height: 41px;
  margin: 0 10px 70px 0;
  float: right;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background: url(../obr/mp_tlacitko_1.png) no-repeat;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_sekce .ke_stazeni_download a {
  display: block;
  height: 41px;
  line-height: 41px;
  color: #fff;
  text-decoration: none;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_sekce .ke_stazeni_download a:hover {
  color: #854a38;
}

#ke_stazeni_obal_menu_sekce #ke_stazeni_obal_sekce #centralni_strankovani {
  margin-right: 10px;
}





















#sekce_amp #obal_sekce_amp {
  margin-bottom: 30px;
}

#obal_sekce_amp #amp_blok_text {
  width: 640px;
  float: left;
  margin-bottom: 30px;
  overflow: hidden;
}

#obal_sekce_amp #amp_blok_text h3 {
  margin-bottom: 15px;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 22px;
  background-color: #eb6840;
  color: #fff;
}

#obal_sekce_amp #amp_blok_text h3 span {
  color: #f9ad96;
}

#obal_sekce_amp #amp_blok_text p {
  line-height: 26px;
  margin: 0 10px 25px;
}

#amp_blok_text #amp_blok_text_levy {
  width: 306px;
  float: left;
}

#amp_blok_text #amp_blok_text_pravy {
  width: 324px;
  float: right;
}

#obal_sekce_amp #amp_blok_slider {
  width: 309px;
  float: right;
}

#obal_sekce_amp #amp_blok_slider #amp_registrovat {
  display: block;
  width: 309px;
  height: 82px;
  background: url(../obr/mp_amp_registrace.png) no-repeat left top;
}

#obal_sekce_amp #amp_blok_slider #amp_registrovat:hover,
#obal_sekce_amp #amp_blok_slider #amp_registrovat.hover {
  background-position: left bottom;
}

#amp_blok_slider #amp_slider {
  width: 309px;
  height: 525px;
  position: relative;
  overflow: hidden;
}

#amp_slider #podklad_pluska {
  display: block;
  width: 309px;
  height: 36px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 300;
  background-color: #35454f;
  opacity: 0.6;
}

#amp_slider .coda-slider-amp,
#amp_slider .coda-slider-amp .panel {
  width: 309px;
}

#amp_slider .coda-nav ul li a.current,
#amp_slider .coda-nav ul li a:hover {
  background-position: center bottom;
}

#amp_slider .coda-slider-amp .panel-wrapper {
  width: 309px;
  overflow: hidden;
}

#amp_slider .coda-slider-amp .panel-wrapper img {
  display: block;
  width: 309px;
  height: 525px;
}

#amp_slider .coda-nav ul {
  clear: both;
  display: block;
  margin: auto;
  margin-top: -36px;
  overflow: hidden;
  position: relative;
  z-index: 310;
}

#amp_slider .coda-nav ul li {
  display: inline;
}

#amp_slider .coda-nav ul li a {
  display: block;
  width: 26px;
  height: 26px;
  float: left;
  margin: 5px 3px 0 0;
  background: url(../obr/mp_plus_slider.png) no-repeat center top;
  text-decoration: none;
}

#amp_slider .coda-slider-amp {
  float: left;
  overflow: hidden;
  position: relative;
}

#amp_slider .coda-slider-amp .panel {
  display: block;
  float: left;
}

#amp_slider .coda-slider-amp .panel-container {
  position: relative;
}



























#obal_sekce_tiskovy_servis #tiskovy_servis_obal_menu {
  width: 240px;
  float: left;
}

#obal_sekce_tiskovy_servis #tiskovy_servis_obal_menu h3 {
  font: 49px/62px "Arial Black", "Arial CE", Arial, Verdana, Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  border-bottom: 1px solid #c5d0d7;
}

#obal_sekce_tiskovy_servis #tiskovy_servis_obal_menu h3 a {
  display: block;
  margin: 0 10px;
  text-decoration: none;
  color: #d3e3ec;
}

#obal_sekce_tiskovy_servis #tiskovy_servis_obal_menu h3 a:hover {
  color: #a5c2cf;
}

#obal_sekce_tiskovy_servis #tiskovy_servis_obal_menu h3.aktivni a {
  color: #eb6840 !important;
}

#obal_sekce_tiskovy_servis #tiskovy_servis_obal_sekce {
  width: 690px;
  float: right;
  overflow: hidden;
}

#tiskovy_servis_obal_sekce .tiskovy_servis_clanek {
  overflow: hidden;
}

#tiskovy_servis_obal_sekce .tiskovy_servis_clanek .tiskovy_servis_clanek_levy {
  width: 190px;
  float: left;
}

#tiskovy_servis_obal_sekce .tiskovy_servis_clanek .tiskovy_servis_clanek_levy img {
  display: block;
  max-width: 190px;
}

#tiskovy_servis_obal_sekce .tiskovy_servis_clanek .tiskovy_servis_clanek_levy p {
  line-height: 20px;
  color: #eb6840;
}

#tiskovy_servis_obal_sekce .tiskovy_servis_clanek .tiskovy_servis_clanek_pravy {
  width: 485px;
  float: right;
}

#tiskovy_servis_obal_sekce .tiskovy_servis_clanek .tiskovy_servis_clanek_pravy {
  margin-bottom: 20px;
  line-height: 22px;
  text-align: justify;
}

#tiskovy_servis_obal_sekce .tiskovy_servis_clanek .cely_clanek_odkaz {
  margin-bottom: 60px;
  overflow: hidden;
  clear: both;
}

#tiskovy_servis_obal_sekce .tiskovy_servis_clanek .cely_clanek_odkaz a {
  display: block;
  float: right;
  padding: 3px 5px;
  background-color: #eb6840;
  color: #fefefe;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

#tiskovy_servis_obal_sekce .tiskovy_servis_clanek .cely_clanek_odkaz a:hover {
  background-color: #6dd1ff;
  color: #1d2a33;
}




























#obal_sekce_pro_media {
  padding-bottom: 60px;
}

#obal_sekce_pro_media h3 {
  margin-bottom: 15px;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 22px;
  background-color: #eb6840;
  color: #fff;
}

#obal_sekce_pro_media h3 span {
  color: #f9ad96;
}

#obal_sekce_pro_media #pro_media_obal_sekce {
  width: 635px;
  float: left;
}

#obal_sekce_pro_media #pro_media_obal_sekce p {
  margin: 0 10px;
  line-height: 26px;
  text-align: justify;
}

#obal_sekce_pro_media .pro_media_obal_menu {
  width: 314px;
  float: right;
  margin-bottom: 15px;
}

#obal_sekce_pro_media .pro_media_obal_menu a {
  display: block;
  margin-top: -1px;
  padding: 0 10px;
  line-height: 38px;
  text-decoration: none;
  border-top: 1px solid #c5d0d7;
  border-bottom: 1px solid #c5d0d7;
  color: #596f82;
}

#obal_sekce_pro_media .pro_media_obal_menu a:hover {
  color: #eb6840;
}

















#obal_sekce_pozvanky #pozvanky_obal_menu {
  width: 302px;
  float: left;
  margin-left: 10px;
}

#obal_sekce_pozvanky #pozvanky_obal_menu h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 38px;
  color: #27343b;
  border-bottom: 2px solid #c5d0d7;
}

#obal_sekce_pozvanky #pozvanky_obal_menu h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 38px;
  border-bottom: 1px solid #c5d0d7;
}

#obal_sekce_pozvanky #pozvanky_obal_menu h4 a {
  display: block;
  margin-left: 2px;
  text-decoration: none;
  color: #9aa0a5;
}

#obal_sekce_pozvanky #pozvanky_obal_menu h4 a:hover {
  color: #854a38;
}

#obal_sekce_pozvanky #pozvanky_obal_menu h4.aktivni a {
  color: #eb6840 !important;
}

#obal_sekce_pozvanky #pozvanky_obal_obsah {
  width: 614px;
  float: right;
  margin-right: 10px;
  padding-top: 10px;
}

#pozvanky_obal_obsah .pozvanky_obsah_polozka h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #2c3741;
}

#pozvanky_obal_obsah .pozvanky_obsah_polozka p.popis {
  margin-top: 2px;
  line-height: 20px;
  color: #9ab1c5;
}

#pozvanky_obal_obsah .pozvanky_obsah_polozka p.obr_a_info {
  margin-top: 8px;
  overflow: hidden;
}

#pozvanky_obal_obsah .pozvanky_obsah_polozka p.obr_a_info img {
  display: block;
  float: left;
  max-width: 293px;
  margin-right: 15px;
}

#pozvanky_obal_obsah .pozvanky_obsah_polozka p.obr_a_info em {
  display: block;
  overflow: hidden;
  line-height: 22px;
  font-style: normal;
  color: #fff;
}

#pozvanky_obal_obsah .pozvanky_obsah_polozka p.obr_a_info em span {
  display: block;
  float: left;

  padding: 0 3px;
  background-color: #eb6840;
}

#pozvanky_obal_obsah .pozvanky_obsah_polozka p.obr_a_info strong {
  display: block;
  overflow: hidden;
  line-height: 22px;
  font-weight: normal;
}

#pozvanky_obal_obsah .pozvanky_obsah_polozka p.obr_a_info strong span {
  display: block;
  float: left;
  margin: 2px 0 8px 2px;
}

#pozvanky_obal_obsah .pozvanky_obsah_polozka .kratky_popis_clanku {
  margin: 15px 0;
  line-height: 22px;
  text-align: justify;
}

#pozvanky_obal_obsah .pozvanky_obsah_polozka .cely_clanek_odkaz {
  margin-bottom: 60px;
  overflow: hidden;
  clear: both;
}

#pozvanky_obal_obsah .pozvanky_obsah_polozka .cely_clanek_odkaz a {
  display: block;
  float: right;
  padding: 3px 5px;
  background-color: #eb6840;
  color: #fefefe;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

#pozvanky_obal_obsah .pozvanky_obsah_polozka .cely_clanek_odkaz a:hover {
  background-color: #6dd1ff;
  color: #1d2a33;
}

#obal_sekce_pozvanky #pozvanky_cely_clanek h3 {
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
  color: #2c3741;
}

#obal_sekce_pozvanky #pozvanky_cely_clanek img {
  display: block;
  max-width: 614px;
}

#obal_sekce_pozvanky #pozvanky_cely_clanek #info_clanek {
  margin: 10px 0 20px;
  overflow: hidden;
  line-height: 20px;
  color: #9ab1c5;
}

#obal_sekce_pozvanky #pozvanky_cely_clanek #info_clanek span {
  float: right;
}

#obal_sekce_pozvanky #pozvanky_cely_clanek #dlouhy_popis_clanku {
  overflow: hidden;
  line-height: 26px;
}

#obal_sekce_pozvanky #pozvanky_cely_clanek #dlouhy_popis_clanku p {
  margin-bottom: 30px;
  line-height: 26px;
  text-align: justify;
}

#obal_sekce_pozvanky #pozvanky_cely_clanek #dlouhy_popis_clanku p strong {
  color: #6f8ea8;
}






























#obal_sekce_obcasnik .obcasnik_obal_polozky {
  margin-bottom: 20px;
  overflow: hidden;
}

#obal_sekce_obcasnik .obcasnik_obal_polozky h3 {
  margin-bottom: 15px;
  font: 49px/62px "Arial Black", "Arial CE", Arial, Verdana, Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #d3e3ec;
}

#obal_sekce_obcasnik .obcasnik_obal_polozky p {
  width: 184px;
  height: 260px;
  float: left;
  margin: 0 10px 10px 0;
}

#obal_sekce_obcasnik .obcasnik_obal_polozky p a {
  display: block;
  width: 184px;
  height: 260px;
  position: relative;
  text-decoration: none;
}

#obal_sekce_obcasnik .obcasnik_obal_polozky p.prvni a .detekce_prvniho_obcasnik {
  display: block;
  width: 71px;
  height: 30px;
  background: url(../obr/mp_obcasnik_new.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
}

#obal_sekce_obcasnik .obcasnik_obal_polozky p.posledni {
  margin-right: 0;
}

#obal_sekce_obcasnik .obcasnik_obal_polozky p a img {
  display: block;
  width: 184px;
  height: 260px;
}

#obal_sekce_obcasnik .obcasnik_obal_polozky p a .nazev_obcasnik {
  display: block;
  width: 184px;
  height: 100px;
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 100;
  font-size: 30px;
  line-height: 33px;
  font-weight: bold;
  color: #e5eff6;
}

#obal_sekce_obcasnik .obcasnik_obal_polozky p a:hover .nazev_obcasnik {
  color: #eb6840;
}

#obal_sekce_obcasnik .obcasnik_obal_polozky p a .stahnout_obcasnik {
  display: block;
  width: 184px;
  height: 30px;
  position: absolute;
  top: 145px;
  left: 0;
  font-size: 16px;
  line-height: 31px;
  color: #919090;
  text-transform: uppercase;
}

#obal_sekce_obcasnik .obcasnik_obal_polozky p a .nazev_obcasnik .text_obcasnik,
#obal_sekce_obcasnik .obcasnik_obal_polozky p a .stahnout_obcasnik .text_obcasnik {
  margin-left: 9px;
  margin-right: 9px;
}

#obal_sekce_obcasnik .obcasnik_obal_polozky p a .nazev_obcasnik .text_obcasnik {
  margin-top: 3px;
}

#obal_sekce_obcasnik .obcasnik_obal_polozky p a .datum_obcasnik {
  display: block;
  height: 22px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 16px;
  line-height: 23px;
  color: #9aa0a5;
}

#obal_sekce_obcasnik .obcasnik_obal_polozky p a .datum_obcasnik .text_obcasnik {
  margin: 0 7px;
}

#obal_sekce_obcasnik .obcasnik_obal_polozky p a .text_obcasnik {
  display: block;
  position: relative;
  z-index: 210;
}

#obal_sekce_obcasnik .obcasnik_obal_polozky p a .podklad_obcasnik {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  opacity: 0.8;
  background-color: #000;
}









































#obal_sekce_projekty #projekty_obal_menu {
  width: 302px;
  float: left;
  margin-left: 10px;
}

#obal_sekce_projekty #projekty_obal_menu h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 38px;
  border-bottom: 1px solid #c5d0d7;
}

#obal_sekce_projekty #projekty_obal_menu h4.aktualni_projekty {
  border-top: 2px solid #c5d0d7;
  border-bottom: 2px solid #c5d0d7;
}

#obal_sekce_projekty #projekty_obal_menu h4.historie_projektu {
  border-bottom: 2px solid #c5d0d7;
}

#obal_sekce_projekty #projekty_obal_menu h4 a {
  display: block;
  margin-left: 2px;
  text-decoration: none;
  color: #9aa0a5;
}

#obal_sekce_projekty #projekty_obal_menu h4 a:hover {
  color: #854a38;
}

#obal_sekce_projekty #projekty_obal_menu h4.aktivni a {
  color: #eb6840 !important;
}

#obal_sekce_projekty #projekty_obal_obsah {
  width: 614px;
  float: right;
  margin-right: 10px;
}

#obal_sekce_projekty #projekty_obal_obsah .projekty_obsah_polozka h3 {
  float: left;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #2c3741;
}

#obal_sekce_projekty #projekty_obal_obsah .projekty_obsah_polozka .popis {
  float: right;
  margin-top: 2px;
  line-height: 20px;
  color: #9ab1c5;
  text-align: right;
}

#obal_sekce_projekty #projekty_obal_obsah .projekty_obsah_polozka .obr_a_info {
  clear: both;
  overflow: hidden;
  margin-bottom: 5px;
}

#obal_sekce_projekty #projekty_obal_obsah .projekty_obsah_polozka .obr_a_info img {
  display: block;
  float: left;
  max-width: 180px;
  margin-right: 10px;
}

#obal_sekce_projekty #projekty_obal_obsah .projekty_obsah_polozka .obr_a_info p {
  line-height: 22px;
  text-align: justify;
}

#obal_sekce_projekty #projekty_obal_obsah .projekty_obsah_polozka .cely_popis_odkaz {
  margin-bottom: 60px;
  overflow: hidden;
  clear: both;
}

#obal_sekce_projekty #projekty_obal_obsah .projekty_obsah_polozka .cely_popis_odkaz a {
  display: block;
  float: right;
  margin-top: 2px;
  padding: 3px 5px;
  background-color: #eb6840;
  color: #fefefe;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

#obal_sekce_projekty #projekty_obal_obsah .projekty_obsah_polozka .cely_popis_odkaz a:hover {
  background-color: #6dd1ff;
  color: #1d2a33;
}

#obal_sekce_projekty #projekty_obal_obsah .projekty_historie_polozka h3 {
  padding-left: 12px;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  background-color: #eb6840;
}

#obal_sekce_projekty #projekty_obal_obsah .projekty_historie_polozka p {
  margin-bottom: 30px;
}

#obal_sekce_projekty #projekty_obal_obsah .projekty_historie_polozka p a {
  display: block;
  padding-left: 12px;
  font-size: 17px;
  line-height: 36px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #c5d0d7;
  color: #596f82;
}

#obal_sekce_projekty #projekty_obal_obsah .projekty_historie_polozka p a span {
  color: #b6cfe4;
}

#obal_sekce_projekty #projekty_obal_obsah .projekty_historie_polozka p a:hover,
#obal_sekce_projekty #projekty_obal_obsah .projekty_historie_polozka p a:hover span {
  color: #eb6840;
}

#obal_sekce_projekty #projekty_cely_popis h3 {
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
  color: #2c3741;
}

#obal_sekce_projekty #projekty_cely_popis img {
  display: block;
  max-width: 614px;
}

#obal_sekce_projekty #projekty_cely_popis #info_projekt {
  margin: 10px 0 20px;
  overflow: hidden;
  line-height: 20px;
  color: #9ab1c5;
}

#obal_sekce_projekty #projekty_cely_popis #dlouhy_popis_projektu {
  overflow: hidden;
  line-height: 26px;
}

#obal_sekce_projekty #projekty_cely_popis #dlouhy_popis_projektu p {
  margin-bottom: 30px;
  line-height: 26px;
  text-align: justify;
}

#obal_sekce_projekty #projekty_cely_popis #dlouhy_popis_projektu p strong {
  color: #6f8ea8;
}


































#obal_sekce_tipy #tipy_obal_menu {
  width: 302px;
  float: left;
  margin-left: 10px;
}

#obal_sekce_tipy #tipy_obal_menu h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 38px;
  color: #27343b;
  border-bottom: 2px solid #c5d0d7;
}

#obal_sekce_tipy #tipy_obal_menu h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 38px;
  border-bottom: 1px solid #c5d0d7;
}

#obal_sekce_tipy #tipy_obal_menu h4 a {
  display: block;
  margin-left: 2px;
  text-decoration: none;
  color: #9aa0a5;
}

#obal_sekce_tipy #tipy_obal_menu h4 a:hover {
  color: #854a38;
}

#obal_sekce_tipy #tipy_obal_menu h4.aktivni a {
  color: #eb6840 !important;
}

#obal_sekce_tipy #tipy_obal_obsah {
  width: 614px;
  float: right;
  margin-right: 10px;
  padding-top: 10px;
  overflow: hidden;
}

#tipy_obal_obsah .tipy_obsah_polozka {
  width: 293px;
  float: left;
  clear: left;
}

#tipy_obal_obsah .tipy_obsah_polozka_prava {
  float: right;
  clear: none;
}

#tipy_obal_obsah .tipy_obsah_polozka h3 {
  margin: 8px 0 3px;
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
  color: #2c3741;
}

#tipy_obal_obsah .tipy_obsah_polozka p.popis {
  margin-top: 1px;
  line-height: 18px;
  color: #9ab1c5;
  overflow: hidden;
}

#tipy_obal_obsah .tipy_obsah_polozka p.popis span {
  float: right;
}

#tipy_obal_obsah .tipy_obsah_polozka img {
  display: block;
  max-width: 293px;
}

#tipy_obal_obsah .tipy_obsah_polozka .kratky_popis_clanku {
  margin: 15px 0;
  line-height: 22px;
  text-align: justify;
}

#tipy_obal_obsah .tipy_obsah_polozka .cely_clanek_odkaz {
  margin-bottom: 60px;
  overflow: hidden;
  clear: both;
}

#tipy_obal_obsah .tipy_obsah_polozka .cely_clanek_odkaz a {
  display: block;
  float: right;
  padding: 3px 5px;
  background-color: #eb6840;
  color: #fefefe;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

#tipy_obal_obsah .tipy_obsah_polozka .cely_clanek_odkaz a:hover {
  background-color: #6dd1ff;
  color: #1d2a33;
}

#obal_sekce_tipy #tipy_cely_clanek h3 {
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
  color: #2c3741;
}

#obal_sekce_tipy #tipy_cely_clanek img {
  display: block;
  max-width: 614px;
}

#obal_sekce_tipy #tipy_cely_clanek #info_clanek {
  margin: 10px 0 20px;
  overflow: hidden;
  line-height: 20px;
  color: #9ab1c5;
}

#obal_sekce_tipy #tipy_cely_clanek #info_clanek span {
  float: right;
}

#obal_sekce_tipy #tipy_cely_clanek #dlouhy_popis_clanku {
  overflow: hidden;
  line-height: 26px;
}

#obal_sekce_tipy #tipy_cely_clanek #dlouhy_popis_clanku p {
  margin-bottom: 30px;
  line-height: 26px;
  text-align: justify;
}

#obal_sekce_tipy #tipy_cely_clanek #dlouhy_popis_clanku p strong {
  color: #6f8ea8;
}



























#obal_sekce_podporuji_nas .polozka_partner {
  width: 225px;
  height: 255px;
  float: left;
  margin: 0 20px 30px 0;
}

#obal_sekce_podporuji_nas .polozka_partner a {
  display: block;
  width: 225px;
  height: 255px;
  overflow: hidden;
  text-decoration: none;
}

#obal_sekce_podporuji_nas .polozka_partner a span {
  display: block;
  width: 225px;
  height: 200px;
  overflow: hidden;
  background-color: #dde7ef;
  background-position: center center;
  background-repeat: no-repeat;
}

#obal_sekce_podporuji_nas .polozka_partner a strong {
  display: block;
  margin-top: 3px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #9aa0a5;
}

#obal_sekce_podporuji_nas .polozka_partner a:hover strong {
  color: #eb6840;
}

#obal_sekce_podporuji_nas .polozka_partner_posledni {
  margin-right: 0;
}



















































#obal_sekce_registrace form {
  width: 630px;
  float: left;
  margin: 0 0 30px 10px;
}

#obal_sekce_registrace form label {
  display: block;
  clear: both;
  margin-bottom: 15px;
}

#obal_sekce_registrace form label input {
  width: 170px;
  padding: 2px;
  font-size: 12px;
  color: #7e7e7e;
  border: 1px solid #cad8e2;
  background-color: #e5eff6;
}

#obal_sekce_registrace form label.check input {
  width: auto;
  cursor: pointer;
}

#obal_sekce_registrace form label select {
  width: 70px;
  padding: 2px;
  font-size: 12px;
  color: #7e7e7e;
  border: 1px solid #cad8e2;
  background-color: #e5eff6;
}

#obal_sekce_registrace form label textarea {
  width: 620px;
  height: 120px;
  padding: 2px;
  font-size: 12px;
  color: #7e7e7e;
  border: 1px solid #cad8e2;
  background-color: #e5eff6;
}

#obal_sekce_registrace form label#form_submit {
  float: left;
}

#obal_sekce_registrace form label#form_submit input {
  width: 230px;
  padding: 10px 0;
  border: none;
  color: #fff;
  font-size: 20px;
  background-color: #eb6840;
  cursor: pointer;
}

#obal_sekce_registrace form label#form_submit input:hover,
#obal_sekce_registrace form label#form_submit input:focus {
  color: #1d2a33;
  background-color: #6dd1ff;
}

#obal_sekce_registrace form label span {
  display: block;
  line-height: 26px;
}

#obal_sekce_registrace #podminky_registrace {
  width: 305px;
  float: right;
  margin-right: 10px;
}

#obal_sekce_registrace #podminky_registrace h3 {
  margin-top: 5px;
  padding: 10px 20px 10px 10px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background-color: #eb6840;
}

#obal_sekce_registrace #podminky_registrace h3 span {
  display: block;
  height: 60px;
  margin-right: 6px;
  float: left;
  color: #f9ad96;
}

#obal_sekce_registrace #podminky_registrace p {
  margin: 10px 0 20px;
  text-align: justify;
  line-height: 26px;
}





















#obal_sekce_profil {
  padding-bottom: 30px;
}

#obal_sekce_profil #obal_uzivatel_foto {
  width: 305px;
  float: left;
  margin-left: 10px;
  overflow: hidden;
}

#obal_sekce_profil #obal_uzivatel_foto p {
  overflow: hidden;
}

#obal_sekce_profil #obal_uzivatel_foto p img {
  display: block;
  max-width: 305px;
}

#obal_sekce_profil #obal_uzivatel_foto p strong {
  display: block;
  padding: 0 5px;
  line-height: 26px;
  font-weight: bold;
  color: #fff;
  background-color: #eb6840;
}

#obal_sekce_profil #obal_uzivatel_foto p em {
  display: block;
  padding: 0 5px;
  line-height: 26px;
  font-style: normal;
  color: #fff;
  background-color: #34bbea;
}

#obal_sekce_profil #obal_uzivatel_foto p span {
  display: block;
  padding: 0 5px;
  line-height: 26px;
  color: #696e72;
  background-color: #ededed;
}

#obal_sekce_profil #obal_uzivatel_obsah {
  width: 620px;
  float: right;
  margin-right: 10px;
  position: relative;
}

#obal_sekce_profil #obal_uzivatel_obsah h4 {
  float: left;
  padding: 0 5px;
  clear: both;
  line-height: 26px;
  font-weight: bold;
  color: #fff;
  background-color: #eb6840;
}

#obal_sekce_profil #obal_uzivatel_obsah p {
  float: left;
  margin-bottom: 10px;
  padding: 0 5px;
  clear: both;
  line-height: 26px;
}

#obal_sekce_profil #obal_uzivatel_obsah #upravit_profil {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 5px;
  line-height: 26px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background-color: #a8bcca;
}

#obal_sekce_profil #obal_uzivatel_obsah #upravit_profil:hover {
  background-color: #eb6840;
}






















#obal_sekce_upravit_profil form {
  width: 630px;
  float: left;
  margin: 0 0 20px 10px;
}

#obal_sekce_upravit_profil form img {
  display: block;
}

#obal_sekce_upravit_profil form label {
  display: block;
  clear: both;
  margin-bottom: 15px;
}

#obal_sekce_upravit_profil form label input {
  width: 170px;
  padding: 2px;
  font-size: 12px;
  color: #7e7e7e;
  border: 1px solid #cad8e2;
  background-color: #e5eff6;
}

#obal_sekce_upravit_profil form label.check input {
  width: auto;
  cursor: pointer;
}

#obal_sekce_upravit_profil form label select {
  width: 70px;
  padding: 2px;
  font-size: 12px;
  color: #7e7e7e;
  border: 1px solid #cad8e2;
  background-color: #e5eff6;
}

#obal_sekce_upravit_profil form label textarea {
  width: 620px;
  height: 120px;
  padding: 2px;
  font-size: 12px;
  color: #7e7e7e;
  border: 1px solid #cad8e2;
  background-color: #e5eff6;
}

#obal_sekce_upravit_profil form label#form_submit {
  float: left;
}

#obal_sekce_upravit_profil form label#form_submit input {
  width: 230px;
  padding: 10px 0;
  border: none;
  color: #fff;
  font-size: 20px;
  background-color: #eb6840;
  cursor: pointer;
}

#obal_sekce_upravit_profil form label#form_submit input:hover,
#obal_sekce_upravit_profil form label#form_submit input:focus {
  color: #1d2a33;
  background-color: #6dd1ff;
}

#obal_sekce_upravit_profil form label span {
  display: block;
  line-height: 26px;
}






























/* /obsah vsech sekci */







/* zapati */
#obal_layout #obal_zapati {
  width: 100%;
  height: 363px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../obr/mp_zapati_body_repeat.png) repeat-x;
}

#obal_zapati #zapati {
  width: 980px;
  height: 363px;
  margin: 0 auto;
  position: relative;
}

#zapati #zapati_left,
#zapati #zapati_right {
  display: block;
  width: 210px;
  height: 206px;
  position: absolute;
  top: 3px;
}

#zapati #zapati_left {
  left: -210px;
  background: url(../obr/mp_zapati_body_left.png) no-repeat;
}

#zapati #zapati_right {
  right: -210px;
  background: url(../obr/mp_zapati_body_right.png) no-repeat;
}

#zapati #zapati_sipka {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 11px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#zapati #zapati_sipka span {
  display: block;
  float: right;
  margin-top: 2px;
  margin-left: 3px;
  background: url(../obr/mp_sipka_nahoru.png) no-repeat;
  width: 11px;
  height: 9px;
}

#zapati #obal_news_nav2 {
  height: 169px;
  padding-top: 40px;
  overflow: hidden;
  background: url(../obr/mp_obal_news_nav2.png) no-repeat center 3px;
}

#obal_news_nav2 h5 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

#obal_news_nav2 #newsletter {
  width: 600px;
  height: 169px;
  float: left;
}

#newsletter h5 {
  margin-bottom: 10px;
}

#newsletter p {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

#newsletter fieldset {
  margin-top: 10px;
  overflow: hidden;
}

#newsletter label {
  display: block;
}

#newsletter label input {
  display: block;
  border: none;
  background: none;
}

#newsletter label#form_email {
  width: 275px;
  float: left;
}

#newsletter label#form_email input {
  width: 271px;
  height: 15px;
  font-size: 12px;
  padding: 1px 2px 2px;
  background-color: #fff;
}

#newsletter label#form_submit {
  width: 74px;
  float: left;
}

#newsletter label#form_submit input {
  width: 74px;
  height: 18px;
  background: url(../obr/mp_newsletter_potvrdit.png) no-repeat left top;
  cursor: pointer;
}

#newsletter label#form_submit input:hover,
#newsletter label#form_submit input:focus {
  background-position: left bottom;
}

#newsletter label#form_submit input::-moz-focus-inner {
  border: none;
}

#obal_news_nav2 #navigace2 {
  width: 380px;
  height: 169px;
  float: right;
  overflow: hidden;
}

#navigace2 h5 {
  margin: 0 0 7px 6px;
}

#navigace2 #levy_blok_navigace2,
#navigace2 #pravy_blok_navigace2 {
  width: 177px;
}

#navigace2 #levy_blok_navigace2 {
  float: left;
  margin-left: 6px;
}

#navigace2 #pravy_blok_navigace2 {
  float: right;
}

#obal_news_nav2 #navigace2 a {
  display: block;
  width: 177px;
  font-size: 12px;
  line-height: 22px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.9px;
  border-bottom: 1px solid #6f7b82;
}

#obal_news_nav2 #navigace2 a:hover {
  color: #eb6840;
}

#obal_news_nav2 #navigace2 a.aktivni {
  color: #a6ddff !important;
}

#obal_news_nav2 #navigace2 a.neaktivni {
  color: #fff;
}

#obal_news_nav2 #navigace2 a.neaktivni:hover {
  color: #eb6840;
}

#zapati #partneri_projektu {
  height: 154px;
  overflow: hidden;
}

#partneri_projektu h5 {
  margin: 7px 0 10px;
  font-size: 14px;
  font-weight: bold;
  color: #95a0a9;
  text-transform: uppercase;
}

#partneri_projektu .coda-slider-partneri {
  margin: 0 9px;
}

#partneri_projektu .coda-slider-partneri,
#partneri_projektu .coda-slider-partneri .panel {
  width: 900px;
}

#partneri_projektu .coda-nav-left a,
#partneri_projektu .coda-nav-right a {
  display: block;
  width: 31px;
  height: 31px;
  background: url(../obr/mp_sipky_zapati_partneri.png) no-repeat left top;
  text-decoration: none;
}

#partneri_projektu .coda-nav-right a {
  background-position: right top;
}

#partneri_projektu .coda-nav-left a:hover {
  background-position: left bottom;
}

#partneri_projektu .coda-nav-right a:hover {
  background-position: right bottom;
}

#partneri_projektu .coda-slider-partneri .panel-wrapper {
  width: 900px;
  overflow: hidden;
}

#partneri_projektu .coda-slider-partneri .panel-wrapper p {
  width: 210px;
  height: 110px;
  float: left;
  margin-right: 20px;
  /* background-color: #1d2225; */
}

#partneri_projektu .coda-slider-partneri .panel-wrapper p.posledni {
  margin-right: 0;
}

#partneri_projektu .coda-slider-partneri .panel-wrapper p a {
  display: block;
  width: 200px;
  height: 100px;
  margin: 5px 0 0 5px;
  background-position: left center;
  background-repeat: no-repeat;
}

#partneri_projektu .coda-slider-partneri .panel-wrapper p a:hover,
#partneri_projektu .coda-slider-partneri .panel-wrapper p a.hover {
  background-position: right center;
}

#partneri_projektu .coda-slider-partneri {
  float: left;
  overflow: hidden;
  position: relative;
}

#partneri_projektu .coda-slider-partneri .panel {
  display: block;
  float: left;
}

#partneri_projektu .coda-slider-partneri .panel-container {
  position: relative;
}

#partneri_projektu .coda-nav-left,
#partneri_projektu .coda-nav-right {
  margin-top: 44px;
  float: left;
}

#zapati #vygenerovano {
  margin-top: 3px;
  text-align: center;
  display: none;
}

/* log ad jquery */
#zapati #obal_log_ad,
#obal_log_ad #log_ad,
#obal_log_ad #log_ad form {
  width: 339px;
  height: 137px;
}

#zapati #obal_log_ad {
  position: absolute;
  top: -137px;
  left: 0;
}

#obal_log_ad #odkaz_ad {
  display: block;
  width: 177px;
  position: absolute;
  top: 315px;
  right: -641px;
  font-size: 12px;
  line-height: 22px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.9px;
  border-bottom: 1px solid #6f7b82;
  cursor: pointer;
}

#obal_log_ad #odkaz_ad:hover {
  color: #eb6840;
}

#obal_log_ad #log_ad {
  display: none;
  position: relative;
  z-index: 1000;
  background: url(../obr/admin/gfa_log_ad_obal_inside.png) no-repeat;
}

#obal_log_ad #log_ad #ad_prejit_odkaz {
  display: block;
  width: 38px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../obr/admin/gfa_ad_prejit_odkaz.png) no-repeat left top;
}

#obal_log_ad #log_ad #ad_prejit_odkaz:hover {
  background-position: left bottom;
}

#obal_log_ad #log_ad form {
  height: 79px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#obal_log_ad #log_ad form label {
  display: block;
  width: 201px;
  height: 25px;
  position: absolute;
  left: 59px;
}

#obal_log_ad #log_ad form label#log_ad_user {
  top: 10px;
}

#obal_log_ad #log_ad form label#log_ad_pass {
  top: 44px;
}

#obal_log_ad #log_ad form label input {
  display: block;
  width: 191px;
  height: 21px;
  padding: 2px 5px;
  background: none;
  border: none;
  font: 12px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #ced7de;
}

input:-webkit-autofill {
  color: #393e42 !important;
}

#obal_log_ad #log_ad form #log_ad_tl {
  display: block;
  width: 60px;
  height: 59px;
  position: absolute;
  top: 10px;
  left: 269px;
  background: url(../obr/admin/gfa_log_ad_tl.png) no-repeat left top;
  border: none;
  cursor: pointer;
}

#obal_log_ad #log_ad form #log_ad_tl:hover,
#obal_log_ad #log_ad form #log_ad_tl:focus {
  background-position: left bottom;
}/* /log ad jquery */
/* /zapati */

/* Fugess (Martin) */
