#zahlavi h1 a span {
  display: none;
}

.twtr-tweet {
  border-bottom: none !important;
}

#obal_sekce_obcasnik .obcasnik_obal_polozky a .podklad_obcasnik {
  filter: alpha(opacity = 80);
}

#podklad_slider #cs-navigation-coin-slider {
  filter: alpha(opacity = 60);
}

#amp_slider #podklad_pluska {
  filter: alpha(opacity = 60);
}

#obal_kdo_jsme a {
  cursor: pointer;
}

#partneri_projektu a {
  filter: alpha(opacity = 30);
}

#partneri_projektu a:hover {
  filter: alpha(opacity = 100);
}

/* Fugess (Martin) */
