#obal_layout {
  _height: 100%;
}

#obal_obsah #obal_novinky {
  _height: 100%;
  margin-right: 6px;
}

#obal_layout #obal_obsah #obsah .polozka_grafika {
  margin-top: 26px;
  padding-top: 0;
  position: static;
  background-color: #26455a;
  border: 1px solid #1f3240;
}

#obal_layout #obal_obsah #obsah .polozka_grafika h3 {
  position: relative;
  top: -10px;
  left: 10px;
}

#obal_layout #obal_obsah #obsah .polozka_grafika a {
  border: 1px solid #1f3240;
}

#obal_layout #obal_obsah #obsah .polozka_grafika a img {
  border: none;
}

#obal_layout #obal_obsah #obsah .polozka_grafika a:hover {
  border-color: #deaa47;
}

/* Fugess (Martin) */

