#obal_obsah #obsah #kontakt_form {
  padding-top: 30px;
}

#obal_obsah #obsah #kontakt_form fieldset textarea {
  position: relative;
  left: 100px;
  top: -16px;
}

#obal_obsah #obsah #kontakt_form fieldset #tl_odeslat {
  margin-top: -16px;
}

#obal_obsah #obsah #admin_form {
  padding-top: 20px;
}

#obal_obsah #obsah #admin_form fieldset {
  padding-bottom: 10px;
}

#obal_obsah #obsah #admin_pridat_novinku_form fieldset #label_input_datum {
  width: 228px;
}

#obal_obsah #obsah #admin_panel_grafika_form fieldset #datum_label_input {
  margin-top: -17px;
  margin-left: 190px;
}

#obal_obsah #obsah .odhlaseno_prihlaseno {
  margin-top: 20px;
}

#obal_obsah #obsah .odhlaseno_prihlaseno p a:hover,
#obal_obsah #obsah #potvrzeni_ulozeno p a:hover,
#obal_obsah #obsah .vypis_novinek p.text a:hover {
  color: #deaa47;
}

#obal_obsah #obsah #popis_vyplneni {
  width: 320px;
  margin: 20px auto 30px;
}

#zapati p a {
  color: #deaa47;
  text-decoration: underline;
}

/* Fugess (Martin) */

