BODY {
	SCROLLBAR-FACE-COLOR: white; FONT-SIZE: 10px; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(../images/2-2.gif); SCROLLBAR-HIGHLIGHT-COLOR: white; SCROLLBAR-SHADOW-COLOR: white; SCROLLBAR-3DLIGHT-COLOR: white; SCROLLBAR-ARROW-COLOR: #9b0200; SCROLLBAR-TRACK-COLOR: white; FONT-FAMILY: "Verdana"; SCROLLBAR-DARKSHADOW-COLOR: black; BACKGROUND-COLOR: white
}
A {
	FONT-SIZE: 10px; COLOR: black; TEXT-DECORATION: none
}
A:hover {
	COLOR: #9b0200
}
FONT {
	FONT-SIZE: 10px; CURSOR: default; COLOR: black
}
FONT.nadpis {
	FONT-WEIGHT: bold
}
