ADDRESS {
	DISPLAY: block
}
BLOCKQUOTE {
	DISPLAY: block
}
BODY {
	DISPLAY: block
}
DD {
	DISPLAY: block
}
DIV {
	DISPLAY: block
}
DL {
	DISPLAY: block
}
DT {
	DISPLAY: block
}
FIELDSET {
	DISPLAY: block
}
FORM {
	DISPLAY: block
}
FRAME {
	DISPLAY: block
}
FRAMESET {
	DISPLAY: block
}
H1 {
	DISPLAY: block
}
H2 {
	DISPLAY: block
}
H3 {
	DISPLAY: block
}
H4 {
	DISPLAY: block
}
H5 {
	DISPLAY: block
}
H6 {
	DISPLAY: block
}
IFRAME {
	DISPLAY: block
}
NOFRAMES {
	DISPLAY: block
}
OBJECT {
	DISPLAY: block
}
OL {
	DISPLAY: block
}
P {
	DISPLAY: block
}
UL {
	DISPLAY: block
}
APPLET {
	DISPLAY: block
}
CENTER {
	DISPLAY: block
}
DIR {
	DISPLAY: block
}
HR {
	DISPLAY: block
}
MENU {
	DISPLAY: block
}
PRE {
	DISPLAY: block
}
LI {
	DISPLAY: list-item
}
HEAD {
	DISPLAY: none
}
TABLE {
	
}
TR {
	
}
THEAD {
	DISPLAY: table-header-group
}
TBODY {
	
}
TFOOT {
	DISPLAY: table-footer-group
}
COL {
	
}
COLGROUP {
	
}
TD {
	
}
TH {
	
}
CAPTION {
	
}
TH {
	FONT-WEIGHT: bolder; TEXT-ALIGN: center
}
CAPTION {
	TEXT-ALIGN: center
}
BODY {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; LINE-HEIGHT: 1.33; PADDING-TOP: 8px
}
H1 {
	FONT-SIZE: 2em; MARGIN: 0.67em 0px
}
H2 {
	FONT-SIZE: 1.5em; MARGIN: 0.83em 0px
}
H3 {
	FONT-SIZE: 1.17em; MARGIN: 1em 0px
}
H4 {
	MARGIN: 1.33em 0px
}
P {
	MARGIN: 1.33em 0px
}
BLOCKQUOTE {
	MARGIN: 1.33em 0px
}
UL {
	MARGIN: 1.33em 0px
}
FIELDSET {
	MARGIN: 1.33em 0px
}
FORM {
	MARGIN: 1.33em 0px
}
OL {
	MARGIN: 1.33em 0px
}
DL {
	MARGIN: 1.33em 0px
}
DIR {
	MARGIN: 1.33em 0px
}
MENU {
	MARGIN: 1.33em 0px
}
H5 {
	FONT-SIZE: 0.83em; MARGIN: 1.67em 0px; LINE-HEIGHT: 1.17em
}
H6 {
	FONT-SIZE: 0.67em; MARGIN: 2.33em 0px
}
H1 {
	FONT-WEIGHT: bolder
}
H2 {
	FONT-WEIGHT: bolder
}
H3 {
	FONT-WEIGHT: bolder
}
H4 {
	FONT-WEIGHT: bolder
}
H5 {
	FONT-WEIGHT: bolder
}
H6 {
	FONT-WEIGHT: bolder
}
B {
	FONT-WEIGHT: bolder
}
STRONG {
	FONT-WEIGHT: bolder
}
BLOCKQUOTE {
	MARGIN-LEFT: 40px; MARGIN-RIGHT: 40px
}
I {
	FONT-STYLE: italic
}
CITE {
	FONT-STYLE: italic
}
EM {
	FONT-STYLE: italic
}
VAR {
	FONT-STYLE: italic
}
ADDRESS {
	FONT-STYLE: italic
}
PRE {
	FONT-FAMILY: monospace
}
TT {
	FONT-FAMILY: monospace
}
CODE {
	FONT-FAMILY: monospace
}
KBD {
	FONT-FAMILY: monospace
}
SAMP {
	FONT-FAMILY: monospace
}
PRE {
	WHITE-SPACE: pre
}
BIG {
	FONT-SIZE: 1.17em
}
SMALL {
	FONT-SIZE: 0.83em
}
SUB {
	FONT-SIZE: 0.83em
}
SUP {
	FONT-SIZE: 0.83em
}
SUB {
	VERTICAL-ALIGN: sub
}
SUP {
	VERTICAL-ALIGN: super
}
S {
	TEXT-DECORATION: line-through
}
STRIKE {
	TEXT-DECORATION: line-through
}
DEL {
	TEXT-DECORATION: line-through
}
HR {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; BORDER-LEFT: 1px inset; BORDER-BOTTOM: 1px inset
}
OL {
	MARGIN-LEFT: 40px
}
UL {
	MARGIN-LEFT: 40px
}
DIR {
	MARGIN-LEFT: 40px
}
MENU {
	MARGIN-LEFT: 40px
}
DD {
	MARGIN-LEFT: 40px
}
OL {
	LIST-STYLE-TYPE: decimal
}
OL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
UL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
UL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
OL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
U {
	TEXT-DECORATION: underline
}
INS {
	TEXT-DECORATION: underline
}
CENTER {
	TEXT-ALIGN: center
}
abbr {
	LETTER-SPACING: 0.1em; FONT-VARIANT: small-caps
}
ACRONYM {
	LETTER-SPACING: 0.1em; FONT-VARIANT: small-caps
}
UNKNOWN {
	TEXT-DECORATION: underline
}
:unknown {
	outline: thin dotted invert
}

@media Print    
{
H1 {
	page-break-inside: avoid
}
H2 {
	page-break-inside: avoid
}
H3 {
	page-break-inside: avoid
}
H4 {
	page-break-inside: avoid
}
H5 {
	page-break-inside: avoid
}
H6 {
	page-break-inside: avoid
}
BLOCKQUOTE {
	page-break-inside: avoid
}
PRE {
	page-break-inside: avoid
}
UL {
	
}
OL {
	
}
DL {
	
}

}

@media Aural    
{
H1 {
	voice-family: paul, male; stress: 20; richness: 90
}
H2 {
	voice-family: paul, male; stress: 20; richness: 90
}
H3 {
	voice-family: paul, male; stress: 20; richness: 90
}
H4 {
	voice-family: paul, male; stress: 20; richness: 90
}
H5 {
	voice-family: paul, male; stress: 20; richness: 90
}
H6 {
	voice-family: paul, male; stress: 20; richness: 90
}
H1 {
	pitch: x-low; pitch-range: 90
}
H2 {
	pitch: x-low; pitch-range: 80
}
H3 {
	pitch: low; pitch-range: 70
}
H4 {
	pitch: medium; pitch-range: 60
}
H5 {
	pitch: medium; pitch-range: 50
}
H6 {
	pitch: medium; pitch-range: 40
}
LI {
	richness: 60; pitch: medium
}
DT {
	richness: 60; pitch: medium
}
DD {
	richness: 60; pitch: medium
}
DT {
	stress: 80
}
PRE {
	stress: 0; richness: 80; pitch: medium; pitch-range: 0
}
CODE {
	stress: 0; richness: 80; pitch: medium; pitch-range: 0
}
TT {
	stress: 0; richness: 80; pitch: medium; pitch-range: 0
}
EM {
	stress: 60; richness: 50; pitch: medium; pitch-range: 60
}
STRONG {
	stress: 90; richness: 90; pitch: medium; pitch-range: 60
}
DFN {
	stress: 60; pitch: high; pitch-range: 60
}
S {
	richness: 0
}
STRIKE {
	richness: 0
}
I {
	stress: 60; richness: 50; pitch: medium; pitch-range: 60
}
B {
	stress: 90; richness: 90; pitch: medium; pitch-range: 60
}
U {
	richness: 0
}
A:link {
	voice-family: harry, male
}
A:visited {
	voice-family: betty, female
}
A:active {
	voice-family: betty, female; pitch: x-high; pitch-range: 80
}

}
