#blok_1 ul li {
  background-position: left 1px;
}

#blok_1 ul li ol {
  bottom: 14px;
  left: 65px;
}

#blok_1 ul li ol#doprava {
  bottom: 24px;
  left: 250px;
}

#blok_1 ul li ol#poradani_akci {
  bottom: 24px;
  left: 300px;
}

#blok_2_mapa ul li ol {
  padding-left: 0;
}

#lista_zapati #zmeja_jmena legend {
  right: 7px;
  position: relative;
}

#lista_zapati #zmeja_jmena #pozd {
  margin-bottom: 0;
}

