body {
	background-color: #b4c4ce;
}

#blok_1 ul li ol {
  margin: -10px 0 10px 50px;
  padding: 0;
  bottom: -24px;
  left: 85px;
}

#blok_2_mapa ul li ol {
  margin: -10px 0 0 30px;
  padding: 0;
}

