body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  color: #000;
  font-family: "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  page-break-after: avoid;
}

h1 {
  font-size: 16pt;
}

h2 {
  font-size: 14pt;
}

h3, h4, h5, h6 {
  font-size: 12pt;
}

p {
  line-height: 1.4;
  font-size: 12pt;
}

a:link, a:visited {
  text-decoration: underline;
  font-weight: bold;
  color: #000;
}

div, p, img {
  width: auto;
}

a:link:after, a:visited:after {
  content: " ("attr(href)")";
}

img {
  border: 1px solid #000;
}

header .top_row,
header .logo,
header .menu,
header .r_menu,
header .block_search,
footer,
section.promo_slider,
section.promo_meassage,
section.block_banners,
section.block_about_us div + div,
.block_recent_projects_gallery .recent_projects_gallery_nav,
.block_recent_projects_gallery .generic_button,
.block_recent_projects_gallery img {
  display: none;
}

/* Fugess (Martin) */
