body { font-family: Verdana, sans-serif; font-size: 80%; background-color: White; color: Black; }
form { margin: 0; }
img { border: 0; }
a { color: Blue; }
a:visited { color: Navy; }
a:hover { color: Red; }

h1 { font-size: 200%; }
h2 { color: White; background-color: Navy; margin: 1em 0; padding: .5ex; font-size: 150%; }
h2 a { text-decoration: none; color: White; }
h2 a:visited { color: #EEEEEE; }
h2 a:hover { color: Yellow; }
h3 { font-size: 120%; }
p { line-height: 135%; }
li { margin: .25em 0; }
dt { font-style: italic; margin-top: .5em; }
kbd { font-weight: bold; }
kbd, code, pre { font-family: Verdana, monotype; }
pre, code, .jush { background-color: #EEEEEE; }
pre { border: 1px dashed Gray; padding: 0 1%; margin-right: 1ex; overflow: auto; overflow-y: hidden; _clear: both; _width: 96%; =padding-bottom: 16px; }
ins { text-decoration: none; color: #004000; }
th ins { color: Lime; }
acronym { border-bottom: 1px dotted; }
table { border-top: 1px solid Gray; border-left: 1px solid Gray; }
td, th { border-bottom: 1px solid Gray; border-right: 1px solid Gray; }
th { color: White; background-color: Navy; font-weight: normal; }
th a { color: Yellow; }
th a:visited { color: #EEEEEE; }
th a:hover { color: Red; }
th a.inner { background-color: transparent; }

#hlavni { margin-right: 260px; }
#navigace { position: absolute; top: 0; right: 10px; width: 240px; padding-left: 10px; border-left: 1px solid; }
#navigace h2 { position: absolute; top: -10em; }
#navigace h3 { margin-bottom: 3px; }
#navigace ul { border: 1px solid Navy; list-style-type: none; margin: 0; padding: 0 3px; background-color: #DDDDFF; }
#navigace ul.reklama { list-style-type: disc; padding-left: 4ex; }
#paticka { margin-right: 260px; }
#copy { border-top: 1px solid; margin-top: 2em; font-size: smaller; }
#adsense { width: 728px; margin: 1em auto; text-align: center; }

a.inner { background-color: Yellow; }
div.diskuse { border: 1px solid Silver; margin: 1em 0; padding: 3px; }
div.diskuse h3 { display: inline; }
div.shlednuto { background-color: #EEEEEE; }
div.podpis { text-align: right; clear: both; }
img.border { border: 1px solid; margin: 10px 10px 0 0; }
.nowrap { white-space: nowrap; }
.left { float: left; margin-right: .5em; }
.right { float: right; margin-left: .5em; }
.skoleni { width: 23em; border: 1px solid Navy; background-color: #DDDDFF; padding: .5em; margin: .5em auto; text-align: center; }
div.reklama-nadpis { width: 24em; margin: 1em auto 0; text-align: right; color: Silver; }
div.reklama-nadpis span { font-size: 70%; }
div.reklama { width: 23em; border: 1px solid Silver; padding: .5em; margin: 0 auto 1em; text-align: center; }
abbr.dtstart, abbr.dtend { border: none; }

@media print {
	div#hlavni, div#paticka { margin: 0; }
	div#navigace, div#prispevek, div#adsense { display: none; }
	pre { white-space: normal; }
}
