/* centralni nastaveni */
.zvyrazneni {
	color: red;
	font-style: italic;
}

table tr td {
	text-align: center;
	border: 1px solid green;
	cursor: pointer;
}

table {
	border-collapse: collapse;
}

td, th {
	padding: 2px;
}