#obal_obsah #zahlavi ul li a strong {
  line-height: 21px;
}

#obal_obsah #zahlavi ul li a em {
  line-height: 18px;
}

#obsah_reference .polozka .nazev_reference h2,
#obsah_o_nas #nazev_sekce h2,
#obsah_o_nas h3,
#obsah_kontakt #nazev_sekce h2,
#obsah_kontakt h3,
#obsah_kontakt h4 span,
#obsah_kontakt h5 span {
  line-height: 32px;
}

#obsah_reference #strankovani #urceni_strany a,
#obsah_reference #strankovani #urceni_strany span {
  line-height: 30px;
}

#obsah_kontakt form label span.nazev_obal span {
  line-height: 24px;
}

#obsah_kontakt form label input {
  padding: 7px 10px;
}

/* Fugess (Martin) */
