#obsah_kontakt form {
  padding-bottom: 60px;
}

#obsah_kontakt form label span.nazev_obal span {
  line-height: 24px;
}

#obsah_kontakt form label input {
  padding: 7px 10px;
}

/* Fugess (Martin) */
