.eshop 	{padding:0;vertical-align:top;margin:0;width:100%}
.eshop .mainStrip {padding: 8px;padding:2em;padding-top:0.75em;vertical-align:top;background:#ffffff url(../img/line.png) repeat-y;width:70%}
.eshop .mainStrip .est	{margin:0;padding-bottom:0.3em;border:0;margin-bottom:0.2em}

.elt		{}
.elt	td	{padding:0.5ex;vertical-align:top}
.elt	.buy	{background: url({rootLink}eshop/img/sce.gif) no-repeat 4px 2px;border:0}
.elt	ul	li{list-style-type:none;font-weight:bold}

.eshop .rightStrip{color:white;padding:3px;background:#f26d0c url(../img/line.png) repeat-y;vertical-align:top;width:15%;padding-top:1em}
.eshop .rightStrip a{font-family:sans-serif,Helvetica;font-size:1em;color:#274c91;text-decoration:underline}
.eshop .rightStrip a:hover{text-decoration:none;color:#274c91}
.eshop .rightStrip h4{margin:1px;padding:0;margin:1px 0px;padding:4px}
.eshop .rightStrip h3{margin:1px;padding:0;margin:1px 0px;padding:4px}
.eshop .rightStrip ul {color:#000;margin-left:3.5ex;padding:0;font-weight:bold;list-style-type:none;font-size:9pt}
.eshop .rightStrip ul li {margin-bottom:1em}
.eshop .rightStrip .search {margin:0;padding:0;margin-top:1em;margin-bottom:1em;text-align:center;width:100%;white-space:nowrap}
.eshop .rightStrip .search input {margin-right:0.5ex}
.eshop .rightStrip .recommended {font-size:1em;margin:1px 0px;padding:4px;font-family:Tahoma,sans-serif,Helvetica;font-weight:bold}
.eshop .rightStrip .recommended span {font-size:0.8em;color:white;}
.eshop .rightStrip .recommended img {display:block}
.eshop .rightStrip .news{font-size:0.8em;color:#fff}

.eshop .leftStrip{color:black;padding:3px;background:#959595;vertical-align:top;width:15%;padding-top:1em}


/* eshop titulek */
.est{margin:0;padding-bottom:0.2em;padding-top:0.2em;margin-top:0.4em;margin-bottom:0.6em;border:0;}

/* eshop list table */
.elt		{width:100%}
.elt	td	{padding:0.5ex}
.elt	.buy	{background: url(../shop/img/sce.gif) no-repeat 4px 2px;border:0}
.title	{font-weight:bold;padding:0.5ex;min-width:60px}
.price {white-space:nowrap;}

/* eshop page list bar  */
.pagging {width:100%;white-space:nowrap;border:0}
.pagging .prev {width:30%;text-align:right;white-space:nowrap;padding-right:10pt}
.pagging .prev a{margin-right:4pt}
.pagging .next {width:30%;text-align:left;white-space:nowrap;padding-left:10pt}
.pagging .next a{margin-left:4pt}
.pagging .page {width:30%;text-align:center}
.pagging .page a {margin-left:2pt;margin-right:2pt}
.pagging .page span {margin-left:4pt;margin-right:4pt}


/* shopping card */
.sc{width:100%}
.sc td {}
.sc textarea {border:solid 1px #000}
.sc .error{color:#F66D08;padding-left:4ex;}
.kategorie{text-decoration: underline; color: #000;font-weight:bold}
.kategorie:hover{text-decoration: none; color: #ff6000}
.kategorie:active{text-decoration: none; color: #ff6000}
.notice	{}
.delete	{color:#FF1919;padding:0;font-weight:bold}

.resultStat 	{width:100%;border:0}
.resultStat 	td	{padding-bottom:0.2ex;padding-top:0.2ex}
.resultStat 	.td1	{width:30%;vertical-align:bottom}
.resultStat 	.td2	{width:30%;text-align:right}
.resultStat 	.td3	{width:30%;text-align:center;vertical-align:bottom}
