body {
  background-color: #ececec;
  font: 12px "Trebuchet MS", Verdana, Arial, "Arial CE", Helvetica, Tahoma, sans-serif;
  color: #364048;
}

#obal_layout {

}

#obal_layout #zahlavi {
  background-color: #242b31;
  padding: 15px 10px 10px;
  overflow: hidden;
}

#obal_layout #zahlavi p {
  display: block;
  width: 221px;
  height: 39px;
  margin-bottom: 5px;
  float: left;
  background: url(../obr/logo.png) no-repeat;
}

#obal_layout #zahlavi p a {
  display: block;
  height: 39px;
  text-indent: -99999px;
}

#obal_layout #zahlavi ul {
  margin-top: 5px;
  float: right;
  overflow: hidden;
}

#obal_layout #zahlavi ul li {
  float: left;
  margin: 0 7px;
  padding: 7px 0 3px;
}

#obal_layout #zahlavi ul li a {
  color: #82878c;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#obal_layout #zahlavi ul li a:hover,
#obal_layout #zahlavi ul li.aktivni a {
  color: #cbd0d5;
}

#obal_layout #zahlavi ul li.aktivni a {
  border-bottom: 3px solid #6f777b;
}

#obal_layout #obal_obsah {
  position: relative;
}

#obal_obsah h1 {
  height: 61px;
  padding-right: 30px;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  line-height: 61px;
  background-color: #2a333d;
  text-align: right;
}

#obal_obsah h1 span {
  text-transform: none;
}













#obal_obsah .obal_screen {
  overflow: hidden;
  
  border-top: 4px solid #52616f;
  
}

#obal_obsah #odkaz_seznam_screen {
  display: block;
  width: 200px;
  padding: 6px 0 4px;
  position: absolute;
  top: 29px;
  left: 5px;
  border: 4px solid #52616f;
  border-bottom: none;
  text-decoration: none;
  color: #fff;
  background-color: #354048;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#obal_obsah #odkaz_seznam_screen:hover {
  color: #313131;
  background-color: #eaeaea;
}













.obal_screen table.seznam_screen {


  
  /*
  width: 612px;
  */
  
  
  
  margin-top: 5px;
  margin-left: 5px;
  
  
  
  
  
  


table-layout: fixed;

border-collapse: collapse;



border: none;

display: none;




/*
  border: 4px solid #52616f;
*/


}


.obal_screen table.seznam_screen td {
  width: 200px;

border: 4px solid #52616f;

  background-color: #354048;
  /*
  border-right: 4px solid #52616f;
  border-top: 4px solid #52616f;
  */
  
  
  

  
  
}




.obal_screen table.seznam_screen td a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  
  
}




.obal_screen table.seznam_screen td span {
  display: block;
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
  cursor: default;
  color: #52616f;



  
  
}

.obal_screen table.seznam_screen td a:hover {
  color: #313131;
  background-color: #eaeaea;
}




/*
#obal_obsah ul.seznam_screen li {
  width: 200px;
  float: left;
  border-right: 4px solid #52616f;
  border-top: 4px solid #52616f;
}

#obal_obsah ul.seznam_screen li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#obal_obsah ul.seznam_screen li a:hover {
  color: #313131;
  background-color: #eaeaea;
}
*/






















.obal_screen ul.vypis_screen {
  float: left;
  
  /*
  background-color: #354048;
  border: 4px solid #52616f;
  */
  
  border-bottom: none;
  
  
  margin-top: 5px;
  

}

.obal_screen ul.vypis_screen li {


margin: 0 5px 5px;




  background-color: #354048;
  border: 4px solid #52616f;

  padding: 5px 10px 0;
  /*
  border-bottom: 4px solid #52616f;
  */
  
  
  
}

.obal_screen ul.vypis_screen li p {


  padding-bottom: 5px;
  
  
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #fff;
  
  
  
}

.obal_screen ul.vypis_screen li span {
  display: block;
  text-decoration: none;
  overflow: hidden;
}

.obal_screen ul.vypis_screen li span.hlavni_odkazy {
  padding-top: 3px;
  padding-bottom: 3px;
}

.obal_screen ul.vypis_screen li span.pridavne_odkazy {

margin-bottom: 3px;



}

.obal_screen ul.vypis_screen li span a {
  display: block;
  float: left;
  padding: 3px 5px;
  font-size: 14px;
  color: #aaa;
  text-decoration: none;
  
  

}

.obal_screen ul.vypis_screen li span a:hover {
  color: #313131;
  background-color: #eaeaea;
}







.obal_screen span.last_update,
.obal_screen .log_back {

display: block;
float: left;



border: 4px solid #52616f;

  background-color: #354048;



margin: 5px 0 0 5px;


  padding: 6px 10px 4px;







  color: #fff;
  font-weight: bold;
  



}



.obal_screen .log_back {
margin: 5px;
  text-transform: uppercase;
  text-decoration: none;

}


.obal_screen .log_back:hover {
  color: #313131;
  background-color: #eaeaea;
}






.obal_screen pre {

display: block;


clear: left;


white-space: pre-wrap;


margin: 5px;




border: 4px solid #52616f;


  
  font-weight: bold;
  



  padding: 5px 10px;




  color: #313131;
  background-color: #eaeaea;






font-family: Consolas, monospace;

line-height: 16px;



}



.obal_screen form {

float: left;

clear: left;

margin: 0 5px;



  padding: 5px 10px;


border: 4px solid #52616f;


  color: #313131;
  background-color: #eaeaea;







}



.obal_screen form label {

display: block;

float: left;

clear: both;





margin: 5px 0;




}

.obal_screen form label span {

display: block;






}

.obal_screen form label input[type="text"] {


display: block;

width: 400px;


border: 4px solid #52616f;

  background-color: #354048;






  padding: 3px;







  color: #fff;
  font-weight: bold;
  

  font: 12px "Trebuchet MS", Verdana, Arial, "Arial CE", Helvetica, Tahoma, sans-serif;



}




.obal_screen form label input[type="submit"] {


display: block;


  padding: 3px 7px;
  
border: 4px solid #52616f;

  background-color: #354048;


  color: #fff;
  font-weight: bold;
  

  font: 12px "Trebuchet MS", Verdana, Arial, "Arial CE", Helvetica, Tahoma, sans-serif;





}

.obal_screen form label input[type="submit"]:hover {


  color: #313131;
  background-color: #eaeaea;
  cursor: pointer;



}





/*




.obal_screen .log_back {

display: block;
float: left;



border: 4px solid #52616f;

  background-color: #354048;



margin: 5px 0 0 5px;


  padding: 6px 10px 4px;







  color: #fff;
  font-weight: bold;
  



}



.obal_screen .log_back {
margin: 5px;
  text-transform: uppercase;
  text-decoration: none;

}


.obal_screen .log_back:hover {
  color: #313131;
  background-color: #eaeaea;
}


          <form action="" method="post">
  <fieldset>
    <label>
      <span>Message:</span>
      <input type="text" name="message" />
    </label>
    <label>
      <input type="submit" name="send" value="Send message" />
    </label>
  </fieldset>
</form>





.obal_screen table.seznam_screen td {
  width: 200px;

border: 4px solid #52616f;

  background-color: #354048;





  border-right: 4px solid #52616f;
  border-top: 4px solid #52616f;

  
  

  
  
}




.obal_screen table.seznam_screen td a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  
  
}

.obal_screen table.seznam_screen td a:hover {
  color: #313131;
  background-color: #eaeaea;
}




*/
























/*
11161b

*/

/*
#obal_layout {
  width: 100%;
  min-width: 960px;
  height: auto;
  min-height: 100%;
  overflow: hidden;
}

#obal_layout #obal_obsah {
  width: 960px;
  margin: 0 auto 70px;
}

#obal_obsah #zahlavi {
  height: 76px;
  overflow: hidden;
}

#obal_obsah #zahlavi h1 {
  width: 221px;
  height: 59px;
  float: right;
  padding: 8px 10px 0 0;
}

#obal_obsah #zahlavi h1 a {
  display: block;
  height: 59px;
  color: #fff;
  font-size: 16px;
  text-indent: -99999px;
  background: url(../obr/logo.png) no-repeat;
}

#obal_obsah #zahlavi ul {
  float: left;
  padding: 22px 0 0 10px;
  overflow: hidden;
}

#obal_obsah #zahlavi ul li {
  padding: 0 12px 0 10px;
  float: left;
  background: url(../obr/navigace_oddelovac.png) no-repeat right center;
}

#obal_obsah #zahlavi ul li.posledni {
  padding-right: 10px;
  background: none;
}

#obal_obsah #zahlavi ul li a {
  display: block;
  position: relative;
  text-decoration: none;
}

#obal_obsah #zahlavi ul li a strong {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #dbe5ec;
  font-weight: 500;
  text-transform: uppercase;
}

#obal_obsah #zahlavi ul li a span {
  position: absolute;
  top: -999px;
  left: -999px;
}

#obal_obsah #zahlavi ul li a em {
  display: block;
  font-size: 11px;
  line-height: 17px;
  color: #a7a7a7;
  font-weight: 600;
  font-style: italic;
}

#obal_obsah #zahlavi ul li a:hover strong {
  color: #fff;
}

#obal_obsah #zahlavi ul li a:hover em {
  color: #c2c2c2;
}

#obal_obsah #zahlavi ul li a.aktivni strong {
  color: #59c1d6;
}

#obal_obsah #zahlavi ul li a.aktivni em {
  color: #fff;
}







#obal_obsah #obal_reference,
#obal_obsah #obal_o_nas,
#obal_obsah #obal_kontakt,
#obal_obsah #obal_blog,
#obal_obsah #obal_vyvoj {
  position: relative;
}








#obal_obsah #obal_pozadi {
  width: 1120px;
  position: absolute;
  top: 0;
  left: -80px;
  z-index: 100;
}

#obal_obsah .kod_pozadi {
  display: block;
  width: 185px;
  height: 184px;
  position: absolute;
  z-index: 50;
}

#obal_obsah .h0-699 #obal_pozadi {
  height: 374px;
  background: url(../obr/h0-699.png) no-repeat;
}

#obal_obsah .h700-829 #obal_pozadi {
  height: 624px;
  background: url(../obr/h700-829.png) no-repeat;
}

#obal_obsah .h830-1209 #obal_pozadi {
  height: 754px;
  background: url(../obr/h830-1209.png) no-repeat;
}

#obal_obsah .h1210-1649 #obal_pozadi {
  height: 1134px;
  background: url(../obr/h1210-1649.png) no-repeat;
}

#obal_obsah .h1650-n #obal_pozadi {
  height: 1574px;
  background: url(../obr/h1650-n.png) no-repeat;
}

#obal_obsah .h0-699 .kod_1,
#obal_obsah .h700-829 .kod_1,
#obal_obsah .h830-1209 .kod_1,
#obal_obsah .h1210-1649 .kod_1,
#obal_obsah .h1650-n .kod_1 {
  top: 25px;
}

#obal_obsah .h0-699 .kod_2,
#obal_obsah .h700-829 .kod_2,
#obal_obsah .h830-1209 .kod_2,
#obal_obsah .h1210-1649 .kod_2,
#obal_obsah .h1650-n .kod_2 {
  top: 190px;
}

#obal_obsah .h700-829 .kod_3,
#obal_obsah .h830-1209 .kod_3,
#obal_obsah .h1210-1649 .kod_3,
#obal_obsah .h1650-n .kod_3 {
  top: 440px;
}

#obal_obsah .h830-1209 .kod_4,
#obal_obsah .h1210-1649 .kod_4,
#obal_obsah .h1650-n .kod_4 {
  top: 570px;
}

#obal_obsah .h1210-1649 .kod_5,
#obal_obsah .h1650-n .kod_5 {
  top: 942px;
  right: -72px;
}

#obal_obsah .h1650-n .kod_6 {
  top: 1382px;
}

#obal_obsah .h1650-n .kod_7 {
  top: 859px;
}

#obal_obsah .h0-699 .kod_2,
#obal_obsah .h700-829 .kod_2,
#obal_obsah .h830-1209 .kod_2,
#obal_obsah .h1210-1649 .kod_2,
#obal_obsah .h1650-n .kod_2,
#obal_obsah .h700-829 .kod_3,
#obal_obsah .h830-1209 .kod_3,
#obal_obsah .h1210-1649 .kod_3,
#obal_obsah .h1650-n .kod_3 {
  right: -80px;
}

#obal_obsah .h0-699 .kod_1,
#obal_obsah .h700-829 .kod_1,
#obal_obsah .h830-1209 .kod_1,
#obal_obsah .h1210-1649 .kod_1,
#obal_obsah .h1650-n .kod_1,
#obal_obsah .h830-1209 .kod_4,
#obal_obsah .h1210-1649 .kod_4,
#obal_obsah .h1650-n .kod_4,
#obal_obsah .h1650-n .kod_6,
#obal_obsah .h1650-n .kod_7 {
  left: -80px;
}

#obal_obsah .h0-699 .kod_3,
#obal_obsah .h0-699 .kod_4,
#obal_obsah .h0-699 .kod_5,
#obal_obsah .h0-699 .kod_6,
#obal_obsah .h0-699 .kod_7,
#obal_obsah .h700-829 .kod_4,
#obal_obsah .h700-829 .kod_5,
#obal_obsah .h700-829 .kod_6,
#obal_obsah .h700-829 .kod_7,
#obal_obsah .h830-1209 .kod_5,
#obal_obsah .h830-1209 .kod_6,
#obal_obsah .h830-1209 .kod_7,
#obal_obsah .h1210-1649 .kod_6,
#obal_obsah .h1210-1649 .kod_7 {
  display: none;
}




#obal_reference #obsah_reference,
#obal_o_nas #obsah_o_nas,
#obal_kontakt #obsah_kontakt,
#obal_blog #obsah_blog,
#obal_vyvoj #obsah_vyvoj {
  width: 662px;
  margin: 0 auto;
  position: relative;
  z-index: 200;
}








#obsah_reference {
  font: 14px Tahoma, Helvetica, Arial, "Arial CE", Verdana, "Trebuchet MS", sans-serif;
  color: #fff;
}

#obsah_reference .polozka,
#obsah_reference #strankovani {
  padding-top: 70px;
  overflow: hidden;
}

#obsah_reference .polozka .obal_slide {
  width: 662px;
  height: 190px;
  position: relative;
  background: url(../obr/podklad_reference.png) no-repeat;
}

#obsah_reference .polozka .obal_slide .slide {
  width: 651px;
  height: 178px;
  position: absolute;
  top: 6px;
  left: 5px;
  overflow: hidden;
}

#obsah_reference .polozka .obal_slide .slide a,
#obsah_reference .polozka .obal_slide .slide a img {
  display: block;
}

#obsah_reference .polozka .obal_slide .prev_slide,
#obsah_reference .polozka .obal_slide .next_slide {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 80px;
  z-index: 300;
  text-indent: -99999px;
  background: url(../obr/sipky_slide.png) no-repeat;
  display: none;
}

#obsah_reference .polozka .obal_slide:hover .prev_slide,
#obsah_reference .polozka .obal_slide:hover .next_slide {
  display: block;
}

#obsah_reference .polozka .obal_slide .prev_slide {
  left: 9px;
  background-position: left top;
}

#obsah_reference .polozka .obal_slide .prev_slide:hover {
  background-position: left bottom;
}

#obsah_reference .polozka .obal_slide .next_slide {
  right: 10px;
  background-position: right top;
}

#obsah_reference .polozka .obal_slide .next_slide:hover {
  background-position: right bottom;
}

#obsah_reference .polozka .nazev_reference {
  height: 31px;
  margin-top: 7px;
  margin-left: 3px;
  padding-right: 2px;
  float: left;
  background: url(../obr/podklad_nazev_modry.png) no-repeat right center;
}

#obsah_reference .polozka .nazev_reference h2 {
  height: 31px;
  margin-left: -2px;
  padding-right: 8px;
  padding-left: 12px;
  font-size: 15px;
  color: #fff;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
  background: url(../obr/podklad_nazev_modry.png) no-repeat left center;
}

#obsah_reference .polozka .nazev_reference h2 a {
  color: #dbe5ec;
  text-transform: none;
  text-decoration: none;
}

#obsah_reference .polozka .nazev_reference h2 a:hover,
#obsah_reference .polozka .nazev_reference h2 strong {
  color: #fff;
}

#obsah_reference .polozka .nazev_reference h2 strong {
  text-transform: none;
}

#obsah_reference .polozka .ikony_slide {
  display: block;
  max-width: 210px;
  margin-top: 7px;
  float: right;
  overflow: hidden;
}

#obsah_reference .polozka .ikony_slide a {
  display: block;
  width: 16px;
  height: 17px;
  margin: 0 5px 5px 0;
  float: left;
  text-indent: -99999px;
  background: url(../obr/ikona_reference.png) no-repeat center top;
}

#obsah_reference .polozka .ikony_slide a:hover,
#obsah_reference .polozka .ikony_slide a.activeSlide {
  background-position: center bottom;
}

#obsah_reference #strankovani #urceni_strany {
  display: block;
  float: right;
  overflow: hidden;
}

#obsah_reference #strankovani #urceni_strany a,
#obsah_reference #strankovani #urceni_strany span {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 1px 1px 0;
  float: left;
  font-size: 13px;
  color: #353941;
  line-height: 27px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  background: url(../obr/podklad_strankovani.png) no-repeat 0 0;
}

#obsah_reference #strankovani #urceni_strany a {
  background-position: center top;
}

#obsah_reference #strankovani #urceni_strany a:hover,
#obsah_reference #strankovani #urceni_strany span {
  background-position: 0 -28px;
}

#obsah_reference #strankovani #urceni_strany a.sipka_predchozi,
#obsah_reference #strankovani #urceni_strany a.sipka_nasledujici {
  text-indent: -99999px;
}

#obsah_reference #strankovani #urceni_strany a.sipka_predchozi {
  background-position: 0 -56px;
}

#obsah_reference #strankovani #urceni_strany a.sipka_predchozi:hover {
  background-position: 0 -84px;
}

#obsah_reference #strankovani #urceni_strany a.sipka_nasledujici {
  background-position: 0 -112px;
}

#obsah_reference #strankovani #urceni_strany a.sipka_nasledujici:hover {
  background-position: 0 -140px;
}






#obsah_o_nas {
  padding-top: 70px;
  overflow: hidden;
}

#obsah_o_nas #nazev_sekce {
  height: 31px;
  margin-left: 2px;
  padding-right: 2px;
  float: left;
  background: url(../obr/podklad_nazev_modry.png) no-repeat right center;
}

#obsah_o_nas #nazev_sekce h2 {
  height: 31px;
  margin-left: -2px;
  padding-right: 8px;
  padding-left: 12px;
  font-size: 15px;
  color: #fff;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
  background: url(../obr/podklad_nazev_modry.png) no-repeat left center;
}

#obsah_o_nas h3 {
  float: left;
  margin-left: 10px;
  font-size: 15px;
  color: #36a5bb;
  line-height: 29px;
  font-weight: 400;
}

#obsah_o_nas p {
  padding: 20px 10px 0 0;
  line-height: 20px;
  clear: both;
}






#obsah_kontakt {
  padding-top: 70px;
  overflow: hidden;
}

#obsah_kontakt #nazev_sekce {
  height: 31px;
  margin-left: 2px;
  padding-right: 2px;
  float: left;
  background: url(../obr/podklad_nazev_modry.png) no-repeat right center;
}

#obsah_kontakt #nazev_sekce h2 {
  height: 31px;
  margin-left: -2px;
  padding-right: 8px;
  padding-left: 12px;
  font-size: 15px;
  color: #fff;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
  background: url(../obr/podklad_nazev_modry.png) no-repeat left center;
}

#obsah_kontakt h3 {
  float: left;
  margin-left: 10px;
  font-size: 15px;
  color: #36a5bb;
  line-height: 29px;
  font-weight: 400;
}

#obsah_kontakt form {
  padding-top: 25px;
  padding-bottom: 20px;
  clear: both;
}

#obsah_kontakt form label {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
}

#obsah_kontakt form label span {
  display: block;
}

#obsah_kontakt form label span.nazev_obal {
  height: 23px;
  margin-bottom: 2px;
  margin-left: 4px;
  padding-right: 4px;
  float: left;
  background: url(../obr/podklad_nazev_ruzovy_maly.png) no-repeat right center;
}

#obsah_kontakt form label span.nazev_obal span {
  height: 23px;
  margin-left: -4px;
  padding-right: 5px;
  padding-left: 9px;
  color: #fff;
  line-height: 23px;
  background: url(../obr/podklad_nazev_ruzovy_maly.png) no-repeat left center;
}

#obsah_kontakt form label span#captcha_znak {
  margin: 0 4px;
  float: left;
  font-size: 24px;
  line-height: 31px;
  color: #e22c5f;
}

#obsah_kontakt form label img {
  display: block;
  margin-bottom: 1px;
  clear: both;
}

#obsah_kontakt form label input {
  display: block;
  width: 205px;
  padding: 9px 10px 8px;
  clear: both;
  font: 12px "Trebuchet MS", Verdana, Arial, "Arial CE", Helvetica, Tahoma, sans-serif;

  color: #808487;
  border: none;
  background: url(../obr/input_text.png) no-repeat;
}

#obsah_kontakt form label#input_captcha input {
  width: 42px;
  clear: none;
  text-align: center;
  background: url(../obr/input_text_captcha.png) no-repeat;
}

#obsah_kontakt form label textarea {
  display: block;
  width: 642px;
  height: 116px;
  padding: 10px;
  clear: both;
  font: 12px "Trebuchet MS", Verdana, Arial, "Arial CE", Helvetica, Tahoma, sans-serif;

  color: #808487;
  border: none;
  background: url(../obr/input_textarea.png) no-repeat;
}

#obsah_kontakt form label#input_submit input {
  width: 101px;
  height: 33px;
  padding: 0;
  border: none;
  cursor: pointer;
  background: url(../obr/input_submit.png) no-repeat;
}

#obsah_kontakt #kontaktni_info {
  position: absolute;
  top: 126px;
  right: 0;
}

#obsah_kontakt #kontaktni_info p {
  margin-bottom: 5px;
  clear: both;
  text-align: center;
}

#obsah_kontakt #kontaktni_info p#podklad_nadpis {
  height: 23px;
  margin-left: 4px;
  padding-right: 4px;
  float: left;
  background: url(../obr/podklad_nazev_ruzovy_maly.png) no-repeat right center;
}

#obsah_kontakt #kontaktni_info p#podklad_nadpis span {
  display: block;
  height: 23px;
  margin-left: -4px;
  padding-right: 5px;
  padding-left: 9px;
  color: #fff;
  line-height: 23px;
  background: url(../obr/podklad_nazev_ruzovy_maly.png) no-repeat left center;
}

#obsah_kontakt #kontaktni_info p#podklad_nadpis span em {
  font-family: Verdana, "Trebuchet MS", Arial, "Arial CE", Helvetica, Tahoma, sans-serif;
  font-size: 11px;
  font-style: normal;
}

#obsah_kontakt h4 {
  height: 31px;
  margin-top: 25px;
  margin-left: 4px;
  padding-right: 4px;
  float: left;
  clear: both;
  background: url(../obr/podklad_nazev_ruzovy.png) no-repeat right center;
}

#obsah_kontakt h4 span {
  display: block;
  height: 31px;
  margin-left: -4px;
  padding-right: 8px;
  padding-left: 12px;
  font-size: 15px;
  color: #fff;
  line-height: 29px;
  font-weight: 400;
  background: url(../obr/podklad_nazev_ruzovy.png) no-repeat left center;
}

#obsah_kontakt h5 {
  height: 31px;
  margin-top: 15px;
  margin-left: 12px;
  padding-right: 2px;
  float: left;
  clear: both;
  background: url(../obr/podklad_nazev_modry.png) no-repeat right center;
}

#obsah_kontakt h5#h5nm {
  margin-top: 25px;
  margin-left: 2px;
}

#obsah_kontakt h5 span {
  display: block;
  height: 31px;
  margin-left: -2px;
  padding-right: 8px;
  padding-left: 12px;
  font-size: 15px;
  color: #fff;
  line-height: 29px;
  font-weight: 400;
  background: url(../obr/podklad_nazev_modry.png) no-repeat left center;
}




 */




/* Fugess (Martin) */
