body {
  background: #193e54 url(../../../../obr/admin/theme/somewhere_deep/body_repeat.png) repeat-x fixed center top;
  color: #7c7c7c;
}

#body_zaklad {
  background: url(../../../../obr/admin/theme/somewhere_deep/body.jpg) no-repeat center top;
}

#zahlavi {
  background: url(../../../../obr/admin/theme/somewhere_deep/zahlavi_repeat.png) repeat-x center top;
}

#obal_zahlavi h1 span {
  background: url(../../../../obr/admin/theme/somewhere_deep/logo.png) no-repeat;
}

#obal_zahlavi h2 {
  background: url(../../../../obr/admin/theme/somewhere_deep/h2_repeat.png) repeat-x;
}

#obal_zahlavi h2 #blok_nazev_webu,
#obal_zahlavi h2 #blok_prihlasen_jako {
  background: url(../../../../obr/admin/theme/somewhere_deep/panel_administrace_prihlasen.png) no-repeat;
}

#obal_zahlavi h2 #blok_nazev_webu {
  background-position: 0 0;
}

#obal_zahlavi h2 #blok_nazev_webu:hover,
#obal_zahlavi h2 #blok_nazev_webu.hover {
  background-position: 0 -80px;
}

#obal_zahlavi h2 #blok_prihlasen_jako {
  background-position: 0 -160px;
}

#obal_zahlavi h2 #blok_prihlasen_jako:hover,
#obal_zahlavi h2 #blok_prihlasen_jako.hover {
  background-position: 0 -240px;
}

#obal_zahlavi h2 #blok_nazev_webu #nadpis_nazev_webu,
#obal_zahlavi h2 #blok_prihlasen_jako #nadpis_prihlasen_jako {
  color: #727679;
}

#obal_zahlavi h2 #blok_nazev_webu #nazev_webu {
  color: #2daae1;
}

#obal_zahlavi h2 #blok_prihlasen_jako #prihlasen_jako {
  color: #ffe063;
}

#obal_layout #navigace {
  background-color: #22282d;
}

#navigace #navigace_zahlavi {
  background: url(../../../../obr/admin/theme/somewhere_deep/navigace_zahlavi.png) no-repeat;
}

#aktualni_cas_navigace #aktualni_cas_nadpis,
#aktualni_datum_navigace #aktualni_datum_nadpis {
  color: #7e8c98;
}

#aktualni_cas_navigace #aktualni_cas_hodnota,
#aktualni_datum_navigace #aktualni_datum_hodnota {
  color: #c3ced8;
}

#navigace_zahlavi #odkaz_created_by span {
  background: url(../../../../obr/admin/theme/somewhere_deep/odkaz_created_by.png) no-repeat left top;
}

#navigace_zahlavi #odkaz_created_by span:hover,
#navigace_zahlavi #odkaz_created_by span.hover {
  background-position: left bottom;
}

#navigace_zahlavi #vizualni_vzhled_navigace {
  color: #7e8c98;
}

#vyber_tematu #aktualni_tema {
  background: url(../../../../obr/admin/theme/somewhere_deep/aktualni_tema.png) no-repeat left top;
}

#vyber_tematu #aktualni_tema:hover,
#vyber_tematu #aktualni_tema.hover {
  background-position: left bottom;
}

#vyber_tematu .ui-state-active {
  background-position: left bottom !important;
}

#vyber_tematu #aktualni_tema em {
  color: #c3ced8;
}

#seznam_temat #seznam_temat_repeat {
  background: url(../../../../obr/admin/theme/somewhere_deep/vyber_tematu_repeat.png) repeat-y;
}

#seznam_temat #seznam_temat_pattern {
  background: url(../../../../obr/admin/theme/somewhere_deep/vyber_tematu_pattern.png) repeat;
}

#seznam_temat #seznam_temat_top {
  background: url(../../../../obr/admin/theme/somewhere_deep/vyber_tematu_top.png) no-repeat;
}

#seznam_temat a {
  color: #545c62;
  background: url(../../../../obr/admin/theme/somewhere_deep/vyber_tematu_oddelovac.png) no-repeat center top;
}

#seznam_temat a:hover,
#seznam_temat a#aktivni_vyber_tematu {
  color: #41b7eb;
  text-shadow: 0px 0px 3px rgba(65,183,235,1);
}

#seznam_temat a#aktivni_vyber_tematu {
  background: none;
}

#seznam_temat #seznam_temat_bottom {
  background: url(../../../../obr/admin/theme/somewhere_deep/vyber_tematu_bottom.png) no-repeat;
}

#navigace_zahlavi #nastaveno_zvolene_tema {
  background: url(../../../../obr/admin/theme/somewhere_deep/navigace_zahlavi.png) no-repeat 0 -49px;
}

#nastaveno_zvolene_tema #nastaveno_zvolene_tema_nadpis {
  color: #7e8c98;
}

#nastaveno_zvolene_tema #nastaveno_zvolene_tema_nazev {
  color: #c3ced8;
}

#logout_prejit_na_web #odkaz_odhlasit_se,
#logout_prejit_na_web #odkaz_prejit_na_web {
  background: url(../../../../obr/admin/theme/somewhere_deep/logout_prejit_na_web.png) no-repeat;
}

#logout_prejit_na_web #odkaz_odhlasit_se {
  background-position: left top;
}

#logout_prejit_na_web #odkaz_prejit_na_web {
  background-position: right top;
}

#logout_prejit_na_web #odkaz_odhlasit_se:hover,
#logout_prejit_na_web #odkaz_odhlasit_se.hover {
  background-position: left bottom;
}

#logout_prejit_na_web #odkaz_prejit_na_web:hover,
#logout_prejit_na_web #odkaz_prejit_na_web.hover {
  background-position: right bottom;
}

#navigace ul li.nadpis_oddilu {
  text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/navigace_nadpis_oddilu.png) repeat-y;
}

#navigace ul li.navigace_polozka {
  background-color: #303c43;
  border-bottom-color: #637b86;
}

#navigace ul li.aktivni .navigace_aktivni_repeat {
  background: url(../../../../obr/admin/theme/somewhere_deep/navigace_aktivni_repeat.png) repeat-y;
}

#navigace ul li.aktivni .navigace_aktivni_top {
  background: url(../../../../obr/admin/theme/somewhere_deep/navigace_aktivni_top.png) no-repeat;
}

#navigace ul li.aktivni .navigace_aktivni_bottom {
  background: url(../../../../obr/admin/theme/somewhere_deep/navigace_aktivni_bottom.png) no-repeat;
}

#navigace ul li.navigace_polozka a {
  color: #cad8df;
}

#navigace ul li.aktivni a {
  color: #fefefe;
}

#navigace ul li.aktivni a,
#navigace ul li.navigace_polozka a:hover {
  text-shadow: 0px 0px 3px rgba(20,179,255,0.5);
}

#navigace #made_by_gfdesign {
  background: url(../../../../obr/admin/theme/somewhere_deep/made_by_gfdesign.png) no-repeat;
}

#obal_layout #obsah {
  border-top-color: #cfd1c4;
  border-bottom-color: #cfd1c4;
  background: #fff url(../../../../obr/admin/theme/somewhere_deep/obsah_repeat.png) repeat-y;
}

#obsah .informace-true,
#obsah .informace-false {
  background: url(../../../../obr/admin/theme/somewhere_deep/informacni_ikony.png) no-repeat;
}

#obsah .informace-true {
  background-position: 0 0;
}

#obsah .informace-false {
  background-position: -24px 0;
}

/*
varianty odkazu jako nazev nadpisu

nadpis-2
odkaz-10

nadpis-3
odkaz-11

nadpis-4
odkaz-12

nadpis-5
odkaz-13

nadpis-6
odkaz-14
*/

#obsah .nadpis-sekce {
  color: #23292e;
}

#obsah .pod-nadpis-sekce {
  color: #616a72;
}

#obsah .nadpis-1 {
  color: #34bcea;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_1.png) repeat;
}

#obsah .nadpis-2 {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_2.png) repeat;
}

#obsah .nadpis-3 {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_3.png) repeat;
}

#obsah .nadpis-4 {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_4.png) repeat;
}

#obsah .nadpis-5 {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_5.png) repeat;
}

#obsah .nadpis-6 {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_6.png) repeat;
}

/*
varianty pro vypisy typu lichy sudy s odkazy

polozka-1-lichy
polozka-1-sudy
odkaz-3

polozka-2-lichy
polozka-2-sudy
odkaz-7

polozka-3-lichy
polozka-3-sudy
odkaz-8

polozka-4-lichy
polozka-4-sudy
odkaz-9
*/

#obsah .polozka-1-lichy,
#obsah .polozka-1-sudy {
  color: #394551;
}

#obsah .polozka-1-lichy {
  background-color: #e7f3ff;
}

#obsah .polozka-1-sudy {
  background-color: #c5e7ff;
}

#obsah .polozka-1-lichy:hover,
#obsah .polozka-1-sudy:hover {
  background-color: #aadcff;
}

#obsah .polozka-2-lichy,
#obsah .polozka-2-sudy {
  color: #394551;
}

#obsah .polozka-2-lichy {
  background-color: #ecffda;
}

#obsah .polozka-2-sudy {
  background-color: #d7ffae;
}

#obsah .polozka-2-lichy:hover,
#obsah .polozka-2-sudy:hover {
  background-color: #c1ff82;
}

#obsah .polozka-3-lichy,
#obsah .polozka-3-sudy {
  color: #394551;
}

#obsah .polozka-3-lichy {
  background-color: #fff7de;
}

#obsah .polozka-3-sudy {
  background-color: #ffedb6;
}

#obsah .polozka-3-lichy:hover,
#obsah .polozka-3-sudy:hover {
  background-color: #ffe288;
}

#obsah .polozka-4-lichy,
#obsah .polozka-4-sudy {
  color: #394551;
}

#obsah .polozka-4-lichy {
  background-color: #f2f2f2;
}

#obsah .polozka-4-sudy {
  background-color: #e4e4e4;
}

#obsah .polozka-4-lichy:hover,
#obsah .polozka-4-sudy:hover {
  background-color: #d6d6d6;
}

/*
varianty pro odkazy typu upravit smazat v nadpisech

nadpis-2
odkaz-4

nadpis-3
odkaz-15

nadpis-4
odkaz-16

nadpis-5
odkaz-17

nadpis-6
odkaz-18
*/

#obsah .odkaz-1 {
  color: #fff;
  background-color: #23292e;
}

#obsah .odkaz-1:hover {
  color: #34bcea;
}

#obsah .odkaz-2 {
  color: #397b91;
}

#obsah .odkaz-2:hover {
  color: #1cc6ff;
}

#obsah .odkaz-3 {
  color: #2f7175;
}

#obsah .odkaz-3:hover {
  color: #22282d;
}

#obsah .odkaz-4 {
  color: #98a5b2;
}

#obsah .odkaz-4:hover {
  color: #34bcea;
}

#obsah .odkaz-5 {
  color: #34bcea;
  background-color: #23292e;
}

#obsah .odkaz-5:hover {
  color: #fff;
}

#obsah .odkaz-6 {
  color: #7c7c7c;
  background-color: #23292e;
}

#obsah .odkaz-6:hover {
  color: #34bcea;
}

#obsah .odkaz-7 {
  color: #698541;
}

#obsah .odkaz-7:hover {
  color: #7aaa01;
}

#obsah .odkaz-8 {
  color: #856e41;
}

#obsah .odkaz-8:hover {
  color: #aa8001;
}

#obsah .odkaz-9 {
  color: #418185;
}

#obsah .odkaz-9:hover {
  color: #09b3be;
}

#obsah .odkaz-10 {
  color: #80ddda;
}

#obsah .odkaz-10:hover {
  color: #34bcea;
}

#obsah .odkaz-11 {
  color: #c7ff8e;
}

#obsah .odkaz-11:hover {
  color: #b2de3b;
}

#obsah .odkaz-12 {
  color: #ffdb8e;
}

#obsah .odkaz-12:hover {
  color: #ffb535;
}

#obsah .odkaz-13 {
  color: #c7fffa;
}

#obsah .odkaz-13:hover {
  color: #79fff7;
}

#obsah .odkaz-14 {
  color: #bdd8f0;
}

#obsah .odkaz-14:hover {
  color: #92ccfe;
}

#obsah .odkaz-15 {
  color: #a2b298;
}

#obsah .odkaz-15:hover {
  color: #b2de3b;
}

#obsah .odkaz-16 {
  color: #b2aa98;
}

#obsah .odkaz-16:hover {
  color: #ffb535;
}

#obsah .odkaz-17 {
  color: #9c9c9c;
}

#obsah .odkaz-17:hover {
  color: #79fff7;
}

#obsah .odkaz-18 {
  color: #99bcc8;
}

#obsah .odkaz-18:hover {
  color: #78c0fe;
}

#obsah .odkaz-19 {
  color: #f0e165;
}

#obsah .odkaz-19:hover {
  color: #34bcea;
}

#obsah .odkaz-20 {
  color: #99ea5e;
}

#obsah .odkaz-20:hover {
  color: #34bcea;
}

#obsah .barva-1 {
  color: #fff;
}

#obsah .barva-2 {
  color: #000;
}

#obsah .barva-3 {
  color: #666e79;
}

#obsah .barva-4 {
  color: #394551;
}

#obsah .barva-5 {
  color: #5d656f;
}

#obsah .barva-6 {
  color: #397b91;
}

#obsah .barva-7 {
  color: #34bcea;
}

#obsah .barva-8 {
  color: #575555;
}

#obsah .barva-9 {
  color: #7d7c7c;
}

#obsah .barva-10 {
  color: #fff;
  background-color: #23292e;
}

#obsah .barva-11 {
  color: #f0e165;
  background-color: #23292e;
}

#obsah .barva-12 {
  color: #99ea5e;
  background-color: #23292e;
}

#obsah .barva-13 {
  color: #8e9a9e;
  background-color: #d2dee8;
}

#obsah .barva-14 {
  color: #92ccfe;
}

#obsah .novinka-sipka {
  background: url(../../../../obr/admin/theme/somewhere_deep/novinka_sipka.png) no-repeat;
}

.coda-nav ul {
  background-color: #23292e;
}

.coda-nav ul li a {
  color: #7c7c7c;
}

.coda-nav ul li a:hover,
.coda-nav ul li a.current {
  color: #34bcea;
}

#obsah .tlacitko-1 .tlacitko-pattern, #obsah .tlacitko-2 .tlacitko-pattern, #obsah .tlacitko-3 .tlacitko-pattern, #obsah .tlacitko-4 .tlacitko-pattern, #obsah .tlacitko-5 .tlacitko-pattern, #obsah .tlacitko-6 .tlacitko-pattern, #obsah .tlacitko-7 .tlacitko-pattern {
  background: url(../../../../obr/admin/theme/somewhere_deep/tlacitka_pattern.png) repeat-x;
}

#obsah .tlacitko-1 {
  border-color: #fa9b9b;
  background-color: #fcc4c4;
}

#obsah .tlacitko-1:hover {
  border-color: #faab9b;
  background-color: #fccdc4;
}

#obsah .tlacitko-1 .tlacitko-pattern {
  background-position: 0 0;
}

#obsah .tlacitko-1:hover .tlacitko-pattern {
  background-position: 0 -36px;
}

#obsah .tlacitko-2 {
  border-color: #70edf8;
  background-color: #c4eefc;
}

#obsah .tlacitko-2:hover {
  border-color: #70d5f8;
  background-color: #c4e4fc;
}

#obsah .tlacitko-2 .tlacitko-pattern {
  background-position: 0 -72px;
}

#obsah .tlacitko-2:hover .tlacitko-pattern {
  background-position: 0 -108px;
}

#obsah .tlacitko-3 {
  border-color: #b0f870;
  background-color: #defcc4;
}

#obsah .tlacitko-3:hover {
  border-color: #99f870;
  background-color: #d4fcc4;
}

#obsah .tlacitko-3 .tlacitko-pattern {
  background-position: 0 -144px;
}

#obsah .tlacitko-3:hover .tlacitko-pattern {
  background-position: 0 -180px;
}

#obsah .tlacitko-4 {
  border-color: #facc9b;
  background-color: #fce1c4;
}

#obsah .tlacitko-4:hover {
  border-color: #fadc9b;
  background-color: #fceac4;
}

#obsah .tlacitko-4 .tlacitko-pattern {
  background-position: 0 -216px;
}

#obsah .tlacitko-4:hover .tlacitko-pattern {
  background-position: 0 -252px;
}

#obsah .tlacitko-5 {
  border-color: #f8e570;
  background-color: #fafcc4;
}

#obsah .tlacitko-5:hover {
  border-color: #f4f870;
  background-color: #f0fcc4;
}

#obsah .tlacitko-5 .tlacitko-pattern {
  background-position: 0 -288px;
}

#obsah .tlacitko-5:hover .tlacitko-pattern {
  background-position: 0 -324px;
}

#obsah .tlacitko-6 {
  border-color: #f870bb;
  background-color: #fcc4e3;
}

#obsah .tlacitko-6:hover {
  border-color: #f870a4;
  background-color: #fcc4d9;
}

#obsah .tlacitko-6 .tlacitko-pattern {
  background-position: 0 -360px;
}

#obsah .tlacitko-6:hover .tlacitko-pattern {
  background-position: 0 -396px;
}

#obsah .tlacitko-7 {
  border-color: #b670f8;
  background-color: #e1c4fc;
}

#obsah .tlacitko-7:hover {
  border-color: #cc70f8;
  background-color: #eac4fc;
}

#obsah .tlacitko-7 .tlacitko-pattern {
  background-position: 0 -432px;
}

#obsah .tlacitko-7:hover .tlacitko-pattern {
  background-position: 0 -468px;
}

#obsah .tlacitko-8 {
  background: url(../../../../obr/admin/theme/somewhere_deep/tlacitko_8_pattern.png) repeat-x;
}

#obsah .tlacitko-8 .tlacitko-left,
#obsah .tlacitko-8 .tlacitko-right {
  background: url(../../../../obr/admin/theme/somewhere_deep/tlacitko_8_left_right.png) no-repeat right top;
}

#obsah .tlacitko-8 .tlacitko-left {
  background-position: left top;
}

#obsah .tlacitko-8 .tlacitko-right {
  background-position: right top;
}

#obsah .formular label .nazev-elementu,
#obsah .formular .f-wysiwyg .nazev-elementu {
  color: #7c7c7c;
}

#obsah .formular label .popis-elementu,
#obsah .formular .f-wysiwyg .popis-elementu {
  color: #95a5ac;
}

#obsah .formular .f-text input {
  color: #7c7c7c;
  background-color: #f1f8fb;
  border-top-color: #e8eef1;
  border-left-color: #e8eef1;
  outline-color: #cfd8e0;
}

#obsah .formular .f-textarea textarea {
  color: #7c7c7c;
  background-color: #f1f8fb;
  border-top-color: #e8eef1;
  border-left-color: #e8eef1;
  outline-color: #cfd8e0;
}

#obsah .formular .f-select select,
#obsah .formular .f-select-optgroup select {
  color: #7c7c7c;
  background-color: #f1f8fb;
  border-top-color: #e8eef1;
  border-left-color: #e8eef1;
  outline-color: #cfd8e0;
}

#obsah .formular .f-select select option {
  background-color: #fff;
}

#obsah .formular .f-select-optgroup select option {
  background-color: #fff;
}

#obsah .formular .f-select-optgroup select optgroup {
  background-color: #fff;
  border-bottom-color: #cfd8e0;
}

#obsah .formular .f-povinny input,
#obsah .formular .f-povinny textarea,
#obsah .formular .f-povinny select {
  background-color: #fbf1f1;
  border-color: #f1e8e8;
}

#obsah .formular .f-povinny .popis-elementu .f-povinny-popis,
#obsah .formular .f-wysiwyg-povinny .popis-elementu .f-povinny-popis {
  color: #f09494;
}

#obsah .formular .f-checkbox .popis-elementu {
  color: #95a5ac;
}

#obsah .formular .f-radiobutton .popis-elementu {
  color: #95a5ac;
}

#obsah .formular .f-submit {
  border-color: #70edf8;
  background-color: #c4eefc;
}

#obsah .formular .f-submit:hover {
  border-color: #70d5f8;
  background-color: #c4e4fc;
}

#obsah .formular .f-submit .f-submit-pattern {
  background: url(../../../../obr/admin/theme/somewhere_deep/tlacitka_pattern.png) repeat-x 0 -72px;
}

#obsah .formular .f-submit:hover .f-submit-pattern {
  background-position: 0 -108px;
}

#obsah .formular .f-submit input {
  color: #fff;
}

#obsah .formular .f-obsah .polozka-obsah {
  color: #7c7c7c;
}

#obsah .formular .f-obsah .db_SQLite {
  background: url(../../../../obr/admin/sqlite.png) no-repeat;
}

#obsah .formular .f-obsah .db_MySQLi {
  background: url(../../../../obr/admin/mysqli.png) no-repeat;
}

#status_drag,
.status_drag {
  color: #34bcea;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_1.png) repeat;
  border-color: #34bcea;
}

#preview {
  color: #34bcea;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_1.png) repeat;
}

#obsah .formular .polozka_aktualizace .vsechny_casti_modulu p {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_2.png) repeat;
}

#obsah .formular .polozka_aktualizace .vsechny_casti_modulu p.nazev_casti_modulu_zahlavi,
#obsah .formular .polozka_aktualizace .vsechny_casti_modulu p.datum_zde_depozit_zahlavi,
#obsah .formular .polozka_aktualizace .vsechny_casti_modulu p.velikost_zde_depozit_zahlavi,
#obsah .formular .polozka_aktualizace .vsechny_casti_modulu p.stav_aktualizace_casti_zahlavi {
  color: #fff;
}

#obsah .formular .polozka_aktualizace .vsechny_casti_modulu p.stav_aktualizace_casti span.aktualni_verze,
#obsah .formular .polozka_aktualizace .vsechny_casti_modulu p.stav_aktualizace_casti span.neaktualni_verze,
#obsah .formular .polozka_aktualizace .vsechny_casti_modulu p.stav_aktualizace_casti span.vystraha_verze {
  background: url(../../../../obr/admin/subpolozka_aktualizace.png) no-repeat;
}

#obsah .formular .polozka_aktualizace .vsechny_casti_modulu p.stav_aktualizace_casti span.aktualni_verze {
  background-position: 0 0;
}

#obsah .formular .polozka_aktualizace .vsechny_casti_modulu p.stav_aktualizace_casti span.neaktualni_verze {
  background-position: -24px 0;
}

#obsah .formular .polozka_aktualizace .vsechny_casti_modulu p.stav_aktualizace_casti span.vystraha_verze {
  background-position: -72px 0;
}

.obal_funkce_update #aktualizace_info_box p span {
  color: #000;
}

.obal_funkce_update #aktualizace_info_box .progressbar .percentcheckwidth {
  border-color: #d2d5d7;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_progressbar.png) repeat left center;
}

.obal_funkce_update #aktualizace_info_box .progressbar .percentchecknumber {
  color: #3e4a53;
}

.obal_funkce_update .polozka_aktualizace,
.obal_funkce_update .polozka_aktualizace_zahlavi {
  color: #34bcea;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_1.png) repeat;
}

.obal_funkce_update .polozka_aktualizace_zahlavi {
  border-color: #fff;
}

.obal_funkce_update .polozka_aktualizace_zahlavi p {
  color: #fff;
}

.obal_funkce_update .polozka_aktualizace p.zkontrolovat_vse a {
  color: #fff;
}

.obal_funkce_update .polozka_aktualizace p.zkontrolovat_vse a:hover {
  color: #34bcea;
}

.obal_funkce_update .polozka_aktualizace p.stav_aktualizace span.aktualni_verze,
.obal_funkce_update .polozka_aktualizace p.stav_aktualizace span.neaktualni_verze,
.obal_funkce_update .polozka_aktualizace p.stav_aktualizace span.vystraha_verze,
.obal_funkce_update .polozka_aktualizace p.stav_aktualizace a.stahnout_modul {
  background: url(../../../../obr/admin/aktualizace.png) no-repeat;
}

.obal_funkce_update .polozka_aktualizace p.stav_aktualizace span.aktualni_verze {
  background-position: 0 0;
}

.obal_funkce_update .polozka_aktualizace p.stav_aktualizace span.neaktualni_verze {
  background-position: -40px 0;
}

.obal_funkce_update .polozka_aktualizace p.stav_aktualizace span.vystraha_verze {
  background-position: -200px 0;
}

.obal_funkce_update .polozka_aktualizace p.stav_aktualizace a.stahnout_modul {
  background-position: -80px 0;
}

.obal_funkce_update .polozka_aktualizace .vsechny_casti_modulu a.vsechny_casti_modulu_close {
  background: #3e4a53 url(../../../../obr/admin/close.png) no-repeat center center;
  border-color: #34bcea;
}

.obal_funkce_update .polozka_aktualizace .vsechny_casti_modulu p {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_2.png) repeat;
}

.obal_funkce_update .polozka_aktualizace .vsechny_casti_modulu p.nazev_casti_modulu_zahlavi,
.obal_funkce_update .polozka_aktualizace .vsechny_casti_modulu p.datum_zde_depozit_zahlavi,
.obal_funkce_update .polozka_aktualizace .vsechny_casti_modulu p.velikost_zde_depozit_zahlavi,
.obal_funkce_update .polozka_aktualizace .vsechny_casti_modulu p.stav_aktualizace_casti_zahlavi {
  color: #34bcea;
}

.obal_funkce_update .polozka_aktualizace .vsechny_casti_modulu p.stav_aktualizace_casti span.aktualni_verze,
.obal_funkce_update .polozka_aktualizace .vsechny_casti_modulu p.stav_aktualizace_casti span.neaktualni_verze,
.obal_funkce_update .polozka_aktualizace .vsechny_casti_modulu p.stav_aktualizace_casti span.vystraha_verze {
  background: url(../../../../obr/admin/subpolozka_aktualizace.png) no-repeat;
}

.obal_funkce_update .polozka_aktualizace .vsechny_casti_modulu p.stav_aktualizace_casti span.aktualni_verze {
  background-position: 0 0;
}

.obal_funkce_update .polozka_aktualizace .vsechny_casti_modulu p.stav_aktualizace_casti span.neaktualni_verze {
  background-position: -24px 0;
}

.obal_funkce_update .polozka_aktualizace .vsechny_casti_modulu p.stav_aktualizace_casti span.vystraha_verze {
  background-position: -72px 0;
}

#obsah .debug-1 { border-color: #ff0000; }
#obsah .debug-2 { border-color: #000; }
#obsah .debug-3 { border-color: #00ff0c; }
#obsah .debug-4 { border-color: #0000ff; }
#obsah .debug-5 { border-color: #ffba00; }
#obsah .debug-6 { border-color: #ff00d2; }
#obsah .debug-7 { border-color: #00d8ff; }
#obsah .debug-8 { border-color: #484848; }
#obsah .debug-9 { border-color: #0600ff; }
#obsah .debug-10 { border-color: #85056e; }

.jquery-theme-checkbox img {
  background: url(../../../../obr/admin/theme/somewhere_deep/theme-checkbox.png) no-repeat 0 0;
}

.jquery-theme-checkbox-hover img {
  background-position: 0px -19px;
}

.jquery-theme-checkbox-checked img {
  background-position: 0px -38px;
}

.jquery-theme-checkbox-checked .jquery-theme-checkbox-hover img {
  background-position: 0px -57px;
}

.jquery-theme-checkbox-disabled img {
  background-position: -19px 0;
}

.jquery-theme-checkbox-checked .jquery-theme-checkbox-disabled img {
  background-position: -19px -38px;
}

.jquery-theme-radiobutton img {
  background: url(../../../../obr/admin/theme/somewhere_deep/theme-radiobutton.png) no-repeat 0 0;
}

.jquery-theme-radiobutton-hover img {
  background-position: 0px -19px;
}

.jquery-theme-radiobutton-checked img {
  background-position: 0px -38px;
}

.jquery-theme-radiobutton-checked .jquery-theme-radiobutton-hover img {
  background-position: 0px -57px;
}

.jquery-theme-radiobutton-disabled img {
  background-position: -19px 0;
}

.jquery-theme-radiobutton-checked .jquery-theme-radiobutton-disabled img {
  background-position: -19px -38px;
}

.sd_container {
  background: url(../../../../obr/admin/theme/somewhere_deep/poprve_v_systemu_gf_podklad.png) no-repeat center center;
}

.sd_content h5 {
  color: #4c4c4c;
}

.sd_content p {
  color: #7c7c7c;
}

.sd_content #poprve-v-systemu-gf-top {
  background: url(../../../../obr/admin/theme/somewhere_deep/poprve_v_systemu_gf_top.png) no-repeat;
}

.sd_content #poprve-v-systemu-gf-close {
  background: url(../../../../obr/admin/theme/somewhere_deep/poprve_v_systemu_gf_close.png) no-repeat left top;
}

.sd_content #poprve-v-systemu-gf-close:hover {
  background-position: left bottom;
}

.sd_content #poprve-v-systemu-gf-author {
  background: url(../../../../obr/admin/theme/somewhere_deep/goodflowdesign_logo.png) no-repeat left top;
}

.sd_content #poprve-v-systemu-gf-author:hover {
  background-position: left bottom;
}

.sd_overlay {
  background-color: #22282d;
}

.ui-widget-overlay {
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_1.png) repeat;
  opacity: 0.5;
}

.ui-dialog {
  border-color: #394551;
}

.ui-dialog .ui-dialog-titlebar {
  color: #34bcea;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_1.png) repeat 0 0;
}

.ui-dialog .ui-dialog-content {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_2.png) repeat 0 0;
}

.ui-dialog .ui-dialog-buttonpane {
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_2.png) repeat 0 0;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
  color: #22282d;
  background: url(../../../../obr/admin/theme/somewhere_deep/tlacitka_pattern.png) repeat-x 0 -180px;
  border-color: #99f870;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button:hover {
  background-position: 0 -144px;
  border-color: #b0f870;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button + .ui-button {
  background-position: 0 0;
  border-color: #fa9b9b;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button + .ui-button:hover {
  background-position: 0 -36px;
  border-color: #faab9b;
}

.ui-datepicker {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_2.png) repeat;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  color: #34bcea;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_1.png) repeat;
}

.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_6.png) repeat;
}

.ui-datepicker .ui-datepicker-title select {
  color: #7c7c7c;
  background-color: #f1f8fb;
  border-top-color: #e8eef1;
  border-left-color: #e8eef1;
  outline-color: #cfd8e0;
}

.ui-datepicker .ui-datepicker-title select option {
  background-color: #fff;
}

.ui-datepicker th span {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_5.png) repeat;
}

.ui-datepicker td a {
  color: #34bcea;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_1.png) repeat;
}

.ui-datepicker td a:hover,
.ui-datepicker td.ui-datepicker-current-day a {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_6.png) repeat;
}

div.AnyTime-win {
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_2.png) repeat;
}

.AnyTime-pkr .AnyTime-cloak {
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_1.png) repeat;
  opacity: 0.5;
}

.AnyTime-pkr .AnyTime-hdr {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_1.png) repeat;
}

.AnyTime-pkr .AnyTime-x-btn {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_6.png) repeat;
}

.AnyTime-pkr .AnyTime-x-btn:hover {
  color: #34bcea;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_2.png) repeat;
}

.AnyTime-pkr .AnyTime-btn {
  color: #34bcea;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_1.png) repeat;
}

.AnyTime-pkr .AnyTime-lbl {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_1.png) repeat;
}

.AnyTime-pkr th.AnyTime-dow {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_5.png) repeat;
}

.AnyTime-pkr .AnyTime-btn:hover,
.AnyTime-pkr .AnyTime-cur-btn,
.AnyTime-pkr .AnyTime-out-btn,
.AnyTime-pkr .AnyTime-focus-btn {
  color: #fff;
  background: url(../../../../obr/admin/theme/somewhere_deep/pattern_nadpis_6.png) repeat;
}

#obsah .neaktualni,
#obsah .aktualni {
  background: url(../../../../obr/admin/theme/somewhere_deep/kontrola_aktualnost.png) no-repeat;
}

#obsah .neaktualni {
  background-position: right;
}

#obsah .aktualni {
  background-position: left;
}

#obsah .obal-nadpisy-sekce {
  border-top-color: #d3d4d5;
  border-bottom-color: #d3d4d5;
}

#obsah .obal-definicni-vycty dl dt {
  color: #575555;
}

#obsah .obal-definicni-vycty dl dd {
  color: #7d7c7c;
}

.central_tip_error .central_tip_pattern,
.central_tip_specheader .central_tip_pattern {
  background: url(../../../../obr/admin/central_tip_error_pattern.png) repeat-y !important;
}

.central_tip_success .central_tip_pattern {
  background: url(../../../../obr/admin/central_tip_success_pattern.png) repeat-y !important;
}

.central_tip_info .central_tip_pattern {
  background: url(../../../../obr/admin/central_tip_info_pattern.png) repeat-y !important;
}

.central_tip_warning .central_tip_pattern {
  background: url(../../../../obr/admin/central_tip_warning_pattern.png) repeat-y !important;
}

.central_tip_error .central_tip_top,
.central_tip_specheader .central_tip_top,
.central_tip_success .central_tip_top,
.central_tip_info .central_tip_top,
.central_tip_warning .central_tip_top,
.central_tip_error .central_tip_bottom,
.central_tip_specheader .central_tip_bottom,
.central_tip_success .central_tip_bottom,
.central_tip_info .central_tip_bottom,
.central_tip_warning .central_tip_bottom {
  background: url(../../../../obr/admin/central_tip.png) no-repeat !important;
}

.central_tip_error .central_tip_top,
.central_tip_specheader .central_tip_top {
  background-position: 0 0 !important;
}

.central_tip_error .central_tip_bottom,
.central_tip_specheader .central_tip_bottom {
  background-position: 0 -10px !important;
}

.central_tip_success .central_tip_top {
  background-position: 0 -20px !important;
}

.central_tip_success .central_tip_bottom {
  background-position: 0 -30px !important;
}

.central_tip_info .central_tip_top {
  background-position: 0 -40px !important;
}

.central_tip_info .central_tip_bottom {
  background-position: 0 -50px !important;
}

.central_tip_warning .central_tip_top {
  background-position: 0 -60px !important;
}

.central_tip_warning .central_tip_bottom {
  background-position: 0 -70px !important;
}

.central_tip_error h3,
.central_tip_error h4,
.central_tip_specheader h3,
.central_tip_specheader h4 {
  color: #cf3d3d !important;
}

.central_tip_success h3,
.central_tip_success h4 {
  color: #70e35d !important;
}

.central_tip_info h3,
.central_tip_info h4 {
  color: #3bcde3 !important;
}

.central_tip_warning h3,
.central_tip_warning h4 {
  color: #e3b23b !important;
}

.central_tip_error p,
.central_tip_specheader p,
.central_tip_success p,
.central_tip_info p,
.central_tip_warning p {
  color: #856d6d !important;
}

.central_tip_error p,
.central_tip_specheader p {
  border-top-color: #f2c9c9 !important;
  border-bottom-color: #f2c9c9 !important;
}

.central_tip_success p {
  border-top-color: #e5d6cb !important;
  border-bottom-color: #e5d6cb !important;
}

.central_tip_info p {
  border-top-color: #e5d1d6 !important;
  border-bottom-color: #e5d1d6 !important;
}

.central_tip_warning p {
  border-top-color: #f5d6c7 !important;
  border-bottom-color: #f5d6c7 !important;
}

.central_tip_error p strong,
.central_tip_specheader p strong,
.central_tip_success p strong,
.central_tip_info p strong,
.central_tip_warning p strong {
  color: #624949 !important;
}

#zapati #body_zapati {
  background-color: #fdfeff;
  opacity: 0.2;
}

#zapati p {
  color: #c9e1ec;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
}

/* Fugess (Martin) */
