body {
background: #FFFFFF;
scrollbar-face-color: #FFFFFF;
scrollbar-arrow-color: #cccccc;
scrollbar-highlight-color: #cccccc;
scrollbar-3dlight-color: #cccccc;
scrollbar-shadow-color: #cccccc;
scrollbar-darkshadow-color: #cccccc;
scrollbar-track-color: #FFFFFF;
}
#nvp1,table,center {
font-family: Trebuchet MS, sans-serif, verdana;
font-size: 12px;
font-weight: 700;
color: #000000;
}
#nvp2 {
font-size: 14px;
}
#nvp3 {
font-size: 20px;
}
#odk {
color: #000000;
}