body 			{margin: 0px; padding: 0px;}
td			{font-family: Tahoma, Verdana, "Arial CE", Helvetica, sans-serif;font-size: x-small;}
.hornilinka 		{font-size: xx-small; color: #FFFFFF; font-weight: bold;}
.hornilinka a		{color: #FFFFFF; text-decoration: none;}
.hornilinka a:hover	{color: #000000;}
.hornimenu 		{font-size: xx-small; font-weight: bold; text-transform: lowercase; color: #819CB4;}
.hornimenu a		{color: #819CB4; text-decoration: none;}
.hornimenu a:hover	{color: #666666;}
.patka	 		{font-size: xx-small; color: #000000;}
.patka a		{color: #819CB4; text-decoration: none;}
.patka a:hover		{color: #666666;}
.vrchnibackground	{background-image: url("/image/index_03.gif");}
.vrchnipravybackground	{background-image: url("/image/index_04.gif");}
.menuleft		{background-image: url(image/menuleft.gif);}
.menuright		{background-image: url(image/menuright.gif);}
.backsoftware 		{background-image: url(image/software_menu.gif);}
.backtechnologie 	{background-image: url(image/technologie_menu.gif);}
.backdesign 		{background-image: url(image/design_menu.gif);}
.backsluzby 		{background-image: url(image/sluzby_menu.gif);}
.backdefault 		{background-image: url(image/default_menu.gif);}
.software a		{color: #00B000;}
.software a:hover	{color: #666666;}
.design a		{color: #00257E;}
.design a:hover		{color: #666666;}
.technologie a		{color: #993366;}
.technologie a:hover	{color: #666666;}
.sluzby a		{color: #F09100;}
.sluzby a:hover		{color: #666666;}
.menu			{font-size: xx-small;}
.menu a			{color: #000000;}
.softwaremenu a:hover	{color: #009900;}
.technologiemenu a:hover{color: #993366;}
.designmenu a:hover	{color: #0000FF;}
.sluzbymenu a:hover	{color: #FF6600;}
.defaultmenu a:hover	{color: #333333;}
.softwaremenu a		{color: #333333;}
.technologiemenu a	{color: #333333;}
.designmenu a		{color: #333333;}
.sluzbymenu a		{color: #333333;}
.defaultmenu a		{color: #236091;}
.male 			{font-size: xx-small;}
.input 			{margin: 0px; width: 60px;}
.anketa a 		{text-decoration: none;}
.anketa a:hover		{text-decoration: underline;}
.prechod   		{background-image: url(image/prechod1.gif)}
.designnadpis a		{color: #000000; text-decoration: none;}
.designnadpis a:hover	{color: #00257E;}
.clanek a 		{font-weight: bold;}.border1 {
	border: 1px solid #000000;
}
.okraje {
	margin: 0px;
	border: none;
}
