/* AREA */
.etarget_240x400 .etarget
{
width: 240px;
height: 400px;
_width: 240px;
_height: 400px;
background-repeat:no-repeat;
background-image:url('./images/whiteh.png') ;
background-position: 100% 0%;
padding: 0px 0px 0px 0px;
border-style: solid;
border-width:0;
overflow:hidden;
font-size:13px;
line-height:15px !important;
}
div.etarget_240x400 .etarget div
{
font-family:verdana,arial,tahoma,helvetica,sans-serif;
font-size:13px;
line-height:15px;
text-align:justified;
}
.etarget_240x400 .etarget .block
{
height: 75px;
width: 230px;
_height: 75px;
_width: 230px;
margin: 1px 5px 2px 5px;
padding: 0px;
float:left;
overflow:hidden;
}
.etarget_240x400 .etarget a.txtRed
{
margin:0px 0px;
display:block;
}
.etarget_240x400 .etarget .title {
margin:0px !important;
padding:0px !important;

/*background:red;*/
}
.etarget_240x400 .etarget .description {
margin:1px !important;
padding:0px !important;

}
.etarget_240x400 .etarget .description a {
text-decoration: none;
display: block;
}
.etarget_240x400 .etarget .url {
margin:1px !important;
padding:0px !important;
}
.etarget_240x400 .etarget div.sprmfd8r9w0e {
text-decoration: none;
display: block;
font-size:5px;
height: 15px;
_height: 15px;
width: 240px;
_width: 240px;
margin: 0px;
padding: 0px;
border-style: solid;
border-width:0px;
float:left;
}
.etarget_240x400 .etarget a.sprmfd8r9w0e {
text-decoration: none;
display: block;
font-size:5px;
line-height: 5px;
height: 10px;
width: 100px;
margin: 0px;
/*background-color: black;*/
float:right;
}
.etarget_240x400 .etarget div.textpromo
{
text-decoration: none;
text-align: right;
display: block;
font-size:5px;
height: 0px;
width: 240px;
_width: 236px;
margin: 5px 0px 0px 0px;
padding: 0px;
border-style: solid;
border-width:0px;
float:left;
}

.etarget_240x400 .etarget div.textpromo a.txtRed {
text-decoration: none;
display: inline;
font-size:8px;
height: 10px;
margin: 0px 5px 0px 0px!important;
_margin: 0px 1px 0px 0px!important;
}
.etarget_240x400 .etarget .block .logo {
float:left;
}
a.etargetselflink
{
display:block;
float:left;
position:absolute;
left: 140px;
top: 0px;
z-index:2;
height: 10px;
width: 100px;
margin: 0px 0px 0px 0px;
padding: 0px;
overflow:hidden;
cursor:pointer;
}
/* TITULOK */
.etarget_240x400 .etarget .title a.txtRed
{
font-size: 12px !important;
line-height:14px !important;
letter-spacing: -0.008em;
text-align:left;
white-space: nowrap;
/*word-spacing: -0.5px;*/
}
/* POPIS */
.etarget_240x400 .etarget .description a.txtBlack
{
font-size: 11px !important;
line-height:14px !important;
letter-spacing: -0.008em;
text-align:left;
white-space: normal;
/*word-spacing: -0.5px;*/
}
/* URL */
.etarget_240x400 .etarget .url a.txtRed
{
font-size: 10px !important;
line-height:14px !important;
letter-spacing: -0.008em;
text-align:left;
white-space: nowrap;
/*word-spacing: -0.5px;*/
}
