.closebutton {
    /* NOTE! This URL is relative to the HTML page, not the CSS */
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='obr/highslide/close.png');
	background: none;
	cursor: hand;
}