/* CSS Document */

* {
  position: static;
  float: none;
  color: black;
}

h1, h2, h3, p, span {
  text-align: left;
}

#pozdr, #lista_zahlavi, #blok_1, #lista_zapati, #zapati {
  display: none;
}

