#blok_1 ul li {
  background-position: left 1px;
}

#lista_zapati #zmeja_jmena legend {
  right: 7px;
  position: relative;
}

#lista_zapati #zmeja_jmena #pozd {
  margin-bottom: 0;
}

#blok_1 ul ol {
  bottom: 14px;
  left: 80px;
}

#blok_1 ul ol#doprava {
  bottom: 24px;
  left: 250px;
}

#blok_1 ul ol#poradani_akci {
  bottom: 24px;
  left: 300px;
}

#blok_2_mapa ul ol {
  padding-left: 0;
}

