body {
	margin: 2em 5em 1em 1em;
	padding: 1em;
	border: 2px solid #aaa;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
}

h1 {
	margin: 0.5em 1em 1em 0.5em;
	padding: 0;
	font-size: 2em;
	text-align: left;
	border-bottom: 1px solid #99f;
}

a {
	text-decoration: none;
	color: #55f;
}

a:hover {
	text-decoration: underline;
}

.kontakt {
	padding: 0;
	margin: 0 0 5em 1em;
	height: 3em;
}

.menu {
	margin: 1em; 
	padding: 0;
	width: 16em;
	position: absolute;
	top: 3em;
	right: 2em;
	background-color: #eef;
	border: 1px solid #bbf;
}

.menu h2 {
	margin: 0;
	padding: 0.2em;
	background-color: #bbf;
	font-size: 1.2em;
}

.menu ul li {
	list-style-type: circle;
}

hr {
	text-align: center;
	margin: 0px auto;
	width: 80%;
	height: 1px;
	border-width: 0;
	background-color: #bbf;
	color: #bbf;
}

.contentbox {
	margin: 0 2em 0 0;
	padding: 0;
}

.aktualita {
	margin: 0; padding: 0;
	border: 1px solid #bbf;
	margin-bottom: 1em;
}

.aktualita h3 {
	margin: 0;
	padding: 0;
	font-size: 100%; 
	background-color: #eef;
	color: black;
}

.aktualita h3 strong {
	color: red;
}

.aktualita h3 em {
	padding: 0 1em;
	margin-right: 1em;
	background-color: #99f;
	font-weight: bold;
	font-style: normal;
	font-size: 1.2em;
	color: white;
}

.aktualita p {
	padding: 0;
	margin: 5px;
}

.prednaska {
	margin: 0 0 2em 0; padding: 0;
	border: 1px solid #bbf;
}

.prednaska h3 {
	font-size: 100%;
	margin: 0;
	padding: 0; 
	background-color: #eef;
	font-size: 1.2em;
}

.prednaska h3 em {
	padding: 0 1em;
	background-color: #99f;
	color: #fff;
	font-weight: bold;
	font-style: normal;
}

.prednaska p {
	padding: 0;
	margin: 5px;
}

.prednaska a {
	margin: 0 0.2em;
	background: #eef;
}

.prednaska a:hover {
	text-decoration: underline;
}