#testovaci_png {
  width: 128px;
  height: 128px;
  background: url(../obr/blockdevice.png) no-repeat;
  behavior: url("pngbehavior.htc");
}

img {
  width: 128px;
  height: 128px;
  border: none;
  behavior: url("pngbehavior.htc");
}



