body {
  background: #fff url(../../obr/rc/body_rc.png) repeat-x center top;
  font: 11px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #727272;
}

#obal_layout,
#obal_layout #zahlavi,
#obal_layout #obal_sekce {
  width: 850px;
}

#obal_layout {
  margin: 0 auto;
  position: relative;
}

#obal_layout #obal_sekce {
  height: 410px;
  position: relative;
  margin: 0 auto 30px;
  padding-bottom: 120px;
  background: url(../../obr/rc/obsah_rc.png) no-repeat 0 131px;
}

/* log ad jquery */
#obal_sekce #obal_log_ad,
#obal_log_ad #log_ad,
#obal_log_ad #log_ad form {
  width: 339px;
  height: 137px;
}

#obal_sekce #obal_log_ad {
  position: absolute;
  bottom: 0;
  left: 0;
}

#obal_log_ad #odkaz_ad {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 70px;
  top: -220px;
  cursor: default;
}

#obal_log_ad #log_ad {
  display: none;
  position: relative;
  z-index: 1000;
  background: url(../../obr/admin/gfa_log_ad_obal_inside.png) no-repeat;
}

#obal_log_ad #log_ad #ad_prejit_odkaz {
  display: block;
  width: 38px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../obr/admin/gfa_ad_prejit_odkaz.png) no-repeat left top;
}

#obal_log_ad #log_ad #ad_prejit_odkaz:hover {
  background-position: left bottom;
}

#obal_log_ad #log_ad form {
  height: 79px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#obal_log_ad #log_ad form label {
  display: block;
  width: 201px;
  height: 25px;
  position: absolute;
  left: 59px;
}

#obal_log_ad #log_ad form label#log_ad_user {
  top: 10px;
}

#obal_log_ad #log_ad form label#log_ad_pass {
  top: 44px;
}

#obal_log_ad #log_ad form label input {
  display: block;
  width: 191px;
  height: 21px;
  padding: 2px 5px;
  background: none;
  border: none;
  font: 12px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #ced7de;
}

input:-webkit-autofill {
  color: #393e42 !important;
}

#obal_log_ad #log_ad form #log_ad_tl {
  display: block;
  width: 60px;
  height: 59px;
  position: absolute;
  top: 10px;
  left: 269px;
  background: url(../../obr/admin/gfa_log_ad_tl.png) no-repeat left top;
  border: none;
  cursor: pointer;
}

#obal_log_ad #log_ad form #log_ad_tl:hover,
#obal_log_ad #log_ad form #log_ad_tl:focus {
  background-position: left bottom;
}/* /log ad jquery */

/* Fugess (Martin) */
