/* HEADER */

 .header
   { font-family: "Arial CE","Helvetica CE",Arial,Helvetica; font-size: 10pt; text-decoration: none;
     color: #FFFFFF; background-color: transparent }

 .header A:link
   { font-weight: bold; text-decoration: none; color: #FFFFFF; background-color: transparent }
 .header A:visited
   { font-weight: bold; text-decoration: none; color: #FFFFFF; background-color: transparent }
 .header A:hover
   { font-weight: bold; text-decoration: underline; color: #FFFFFF; background-color: transparent }


/* FOOTER */

 .footer
   { font-family: "Arial CE","Helvetica CE",Arial,Helvetica; font-size: 8pt; text-decoration: none;
     color: #FFFFFF; background-color: transparent; line-height: 1em }


/* LEFT MENU */

 .leftmenu_sec { font-family: "Times New Roman"; font-size: 10pt; color: #FFC800 }

 .leftmenu
   { font-family: "Arial CE","Helvetica CE",Arial,Helvetica; font-size: 10pt; color: #FFFFFF }
 .leftmenu A:link
   { font-size: 9pt; color: #FFFFFF; text-decoration: none }
 .leftmenu A:visited
   { font-size: 9pt; color: #FFFFFF; text-decoration: none }
 .leftmenu A:hover
   { font-size: 9pt; color: #FFFF00; text-decoration: underline }
      

 .anketa
   { font-family: "Arial CE",Arial; font-size: 8.6pt; color: #FFFFFF }
 .anketa A:link
   { font-family: "Times New Roman"; font-size: 10pt; color: #FFFFFF; text-decoration: none }
 .anketa A:visited
   { font-family: "Times New Roman"; font-size: 10pt; color: #FFFFFF; text-decoration: none }
 .anketa A:hover
   { font-family: "Times New Roman"; font-size: 10pt; color: #FFFF00; text-decoration: underline }



.EMA-Input { border-right: silver 1px solid; border-top: silver 1px solid;
             padding-left: 3px; font-size: 8pt; border-left: silver 1px solid;
             width: 130px; border-bottom: silver 1px solid;
             font-family: "Arial CE","Helvetica CE",Arial,Helvetica }

.GB-Input { border-right: silver 1px solid; border-top: silver 1px solid;
             padding-left: 3px; font-size: 8pt; border-left: silver 1px solid;
             border-bottom: silver 1px solid; font-family: "Arial CE","Helvetica CE",Arial,Helvetica }


/* BODY */

BODY
  { margin-top: 10px; background-color: #000000; color: #FFFFFF;
    scrollbar-arrow-color: #FFC800; scrollbar-base-color: #2F306F;
    scrollbar-face-color: #2F306F; scrollbar-shadow-color: #1F1F47 }


 .mainfont
   { font-family: Arial; line-height: 1.25em; font-size: 10pt; color: #FFFFFF; text-decoration: none }
 .mainfont A:hover
   { text-decoration: underline }

 A:link
   { color: #FFFFFF; text-decoration: underline }
 A:visited
   { color: #FFFFFF; text-decoration: underline }
 A:hover
   { color: #FFFF99; text-decoration: underline }


/* NAVIGACE */

 .navmenu
   { font-family: "Arial CE","Helvetica CE",Arial,Helvetica; color: #FFFFFF;
     line-height: 1.4em; font-size: 10pt; text-decoration: none }

 .navmenu A:link
   { color: #FFFFFF; font-weight: bold; text-decoration: none }
 .navmenu A:visited
   { color: #FFFFFF; font-weight: bold; text-decoration: none }
 .navmenu A:hover
   { color: #90EE90; font-weight: bold; text-decoration: none }

 .navmenu_small
   { font-family: "Arial CE","Helvetica CE",Arial,Helvetica;
     font-size: 9pt; color: #FFFFFF; text-decoration: none }


/* TABULKY */

 .table
   { font-family: Arial; font-size: 9pt; color: #000000 }
 .table A:link
   { color: blue; text-decoration: none }
 .table A:visited
   { color: blue; text-decoration: none }
 .table A:hover
   { color: blue; text-decoration: underline }


 .gbheader
   { font-family: "Arial CE",Arial; font-size: 9pt; color: #FFFFFF }

 .gbtable
   { font-family: Arial; font-size: 9pt; color: #000000 }
 .gbtable A:link
   { color: blue; text-decoration: none }
 .gbtable A:visited
   { color: blue; text-decoration: none }
 .gbtable A:hover
   { color: blue; text-decoration: underline }


/* GALERIE */

 .fotodesc
   { font-family: "Arial CE","Helvetica CE",Arial,Helvetica; font-size: 8pt; text-decoration: none;
     color: #000000; background-color: transparent; line-height: 1em }
