body
{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background: #93a2b4;
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 10pt;
}

#page_shadow 
{
    width: 100%;
    background-image: Url('images/bg.jpg');
    background-repeat: repeat-y;
    background-position: top center;
}

#page 
{
    margin: 0 auto;
    width: 940px;
    background: #93a2b4 Url('images/bg_in.jpg');
    
}

#top_bnr
{
    margin: 0 auto;
    width: 941px;
	height: 168px;
	background: #000000 Url('images/top_bnr.jpg');
}

#top_bnr #ln1 
{
    color: White;
    float: right;
    text-align: right;
    margin-right: 20px;
    position: relative;
    top: 15px;
}

#ln2 
{
    color: White;
    position: absolute;
    right: 0px;
    top: 40px;
    margin: 0px;
}

#left_menu 
{
    float:left;
    width: 210px;
    background: Url('images/bg_side.jpg') repeat-y;
    font-weight: bold;
}

#left_menu .in 
{
    margin: 0px 0px 2px 0px;
    min-height: 598px;
    background: Url('images/left_full.jpg') no-repeat;
}

#left_menu .in ul
{
	margin: 0px;
    padding: 0px;
}

#left_menu .in li
{
    padding: 2px 2px 2px 15px;
    margin: 0px;
    list-style: none;
    font-size: 10pt;
}

#left_menu .in ul li:hover
{
    background: url('images/left_item_hover.gif');
}
#left_menu .in ul li:hover a
{
    color: #172740;
}
#left_menu .in ul li:hover a:hover
{
	color: #374790;
	background: #a6b2c1;
}
#left_menu .in ul ul li:hover 
{
    background: #7c8ea4;
}

#announcement 
{
	 background: #d8e0ff; 
	 padding: 10px;
	 margin-bottom: 15px;
}
#announcement h3
{
	margin: 0px;
}
#announcement p
{
	font-size: 9pt;
	margin: 4px 0px;
}

#main_menu
{
	position: relative;
	top: 115px;
	left: 10px;
	width: 200px;
	text-align: center;
	font-size: 12pt;
	color: #98a0ac;
	font-family: Segoe UI, Calibri, Trebuchet MS, Geneva CE, lucida, sans-serif;
}
#main_menu a
{
	color: #98a0ac;
	font-weight: bold;
}
#main_menu a:hover
{
	color: #c5ddff;
	font-weight: bold;
}

#content
{
    float: right;
    width: 675px;
    min-width: 695px;
    margin-left:10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.cleaner 
{
    height: 10px;
    width: 940px;
    clear: both;
    background: #93a2b4 Url('images/bg_in.jpg');
}

#page_shadow2
{
    width: 100%;
    background-image: Url('images/bot_bnr.jpg');
    background-repeat: repeat-y;
    background-position: top center;
}

#page2 
{
    margin: 0 auto;
    height: 53px;
    width: 940px;
    text-align: center;
	font-size: 8pt;
	font-family: Segoe UI, Calibri, Trebuchet MS, Geneva CE, lucida, sans-serif;
	background: #93a2b4 Url('images/bot_bnr_in.jpg') no-repeat top left;
}

#Article table
{
	border: solid 1px #808080;
	border-collapse: collapse;
}
#Article td
{
	padding: 3px 5px;
	background-color: #b3c2d4;
}
#Article th
{
	padding: 3px 5px;
	background-color: #a3b2c4;
}

a 
{
    color: #9fc4f7;
    text-decoration: none;
}

a:hover
{
    color: #c5ddff;
}

#content a, #page2 a 
{
    color: #4f6a8e;
    text-decoration: none;
}

#content a:hover
{
    color: #6280aa;
}

.captcha_bg 
{
    width: 100%; text-align:center;
}

.form_profile
{
    border: none;
    background-color: #b4c2ed;
    width: 550px;
    margin: 0 auto;
    text-align: center;
}  

.form_register 
{
    border: none;
    background-color: #b4c2ed;
    width: 400px;
    margin: 0 auto;
}  
  
.form_login
{
    border: none;
    background-color: #b4c2ed;
    width: 380px;
    margin: 0 auto;
    text-align: center;
}  
.form_login_in
{
    width: 380px;
    text-align: center;
}  

.form
{
    border: none;
    background-color: #b4c2ed;
    margin: 0 auto;
}
.form_center
{
    border: none;
    background-color: #b4c2ed;
    margin: 0 auto;
    text-align: center;
} 

.form_large
{
    border: none;
    background-color: #b4c2ed;
    margin: 0 auto;
    width: 90%;
}

.form_rating 
{
    border: none;
    background-color: #b4c2ed;
    text-align: center;
    width: 125px;
}
.form_contact
{
	border: none;
    background-color: #b4c2ed;
    text-align: center;
    width: 320px;
}
.error {
	font-weight: bold;
	color: red;
	text-align: center;
}

p {
	font-family: Segoe UI, Calibri, Trebuchet MS, Geneva CE, lucida, sans-serif;
	text-align: justify;
	text-indent: 1em;
}

h1,.h1 {
	font: bold 20pt Trebutchet,Trebutchet MS,Avant Garde,Century Gothic,Avant Garde Gothic,sans-serif;
	color: #3a4050;
	text-align: center;
}
h2,.h2 {
	font: bold 14pt Trebutchet,Trebutchet MS,Avant Garde,Century Gothic,Avant Garde Gothic,sans-serif;
	color: #3a4050;
	text-align: center;
}
h3,table caption,.h3 {
	font: bold 12pt Trebutchet,Trebutchet MS,Avant Garde,Century Gothic,Avant Garde Gothic,sans-serif;
	color: #3a4050;
	text-align: center;
}
h4 {
	font: bold 11pt Trebutchet,Trebutchet MS,Avant Garde,Century Gothic,Avant Garde Gothic,sans-serif;
	color: #3a4050;
	text-align: left;
	margin: 0px;
}


table.grid {
	border: solid 1px #808080;
	width: 98%; 
	border-collapse: collapse;
}
tr.r0 {
	background-color: #a3b2c4;
}
tr.r1 {
	background-color: #b3c2d4;
}
tr.selected {
	background-color: #c3d2e4;	
}
.gridHeader th {
	color: White;
	background-color: #516276;
	padding: 5px;
}
#content .gridHeader a {
	color: White;
	text-decoration: underline;
}
#content .gridHeader a:hover {
	color: White;
	text-decoration: underline;
}

div.forumPost 
{
	margin-bottom: 5px;
	clear: both;
	width: auto; 
	border: solid 1px #808080;
}
div.forumPost h1
{
	margin: 0px;
	padding: 5px;
	font-size: medium;
	font-weight: bold;
}

table.grid td {
	padding: 4px;
}
td.middleCell {
	padding-top: 0px;
	border-bottom: solid 1px #808080;
	text-align: right;
	font-size: 7pt;
}

table.grid td a small
{
    color: Black;
}

a img {
	border: none;
	vertical-align: middle;
}

.topIcons { vertical-align: middle; }

.Security_Ban { background-color: #c1c4d1; }

.Security_BanActive { background-color: #dc758d; }

.Security_Sel { background-color: #e5ea89; }

.Security_Online { background-color: #e2e6f5; }

.pager span
{
	border: solid 1px #b0b0b0;
	font-size: 8.5pt; 
	font-weight: bold;
	padding: 2px;
}
.pager .button 
{
	background: #e0e0e0;
	cursor: pointer; cursor: hand;
}
.pager .button:hover 
{
	background: #b0c0ff;
	color: #0000a0;
}
.pager .title
{
	background: #d0d0d0;
}
.pager .active
{
	background: #b0c0ff; 
	cursor: pointer; cursor: hand;
}

.loginpic 
{
 vertical-align: middle;
}

.center
{
	text-align: center;
}

a 
{
    color: #9fc4f7;
    text-decoration: none;
}

.description 
{
    text-align: center;
    font-style: italic;   
}


pre {
	font: normal 8pt consolas,courier new,monospace;
	color: black;
	background: #e8f0ff;
	border: dashed 1px #80a0ff;
	width: 90%;
	padding-bottom: 20px;
	overflow: scroll;
	white-space: pre;
}

pre .keyword {
	color: Blue;
}
pre .str {
	color: Maroon;
}
pre .comment {
	color: Green;
}

.reportspamform
{
    margin: 5px 10px 5px 10px;
}
.info_panel 
{
    width: 550px;
    margin: 0 auto;
    height: 180px;
    overflow: scroll;
    background-color: #c1cef8;  
}
.info_panel_in
{
    margin: 10px 10px 10px 10px;
}

.info_panel pre
{
   overflow: visible; 
    
}
.photo
{
    border: dashed 1px #80a0ff;
    width: 70px; height: 80px;
    text-align: center;
}
.photo .infoRolesAdmin
{
	background-image: url('images/admin.gif');
	position:relative;
	left: 25px;
	top: 62px;
	text-align: right;
	width: 16px;
	height: 16px;
}
.photo .infoRolesAuthor
{
	background-image: url('images/author.gif');
	position:relative;
	left: 7px;
	top: 46px;
	text-align: right;
	width: 16px;
	height: 16px;
}
.photo .infoRolesAuthor2
{
	background-image: url('images/author.gif');
	position:relative;
	left: 25px;
	top: 62px;
	text-align: right;
	width: 16px;
	height: 16px;
}

.deleted
{
	color: Maroon;
}

.gray
{
	color: Gray;
}

.accordionContent
{
	font-size: 8pt;
	clear: right; 
	padding: 5px;
	margin-bottom: 10px;
}
.accordionContent div
{
	padding: 4px 0px;
}
.accordionContent h3
{
	padding: 0px;
	margin: 0px 0px 4px 0px;
}

h1.floating 
{
	text-align: left;
	position: relative;
	top: -35px;
	color: #98a0ac;
	margin: 0px 0px -25px 0px;
}
h1.title
{
	text-align: left;
	font-size: 18pt;
	background-color: #a1aed8;
	padding: 3px;
	border-bottom: solid 1px #707a95;
	margin-top: 40px;
}

.expandHeader 
{
	color: #303a55;
	background: #b1bee8;
	cursor: hand; cursor: pointer;
	padding: 5px;
	width: 150px;
}
.expandHeader:hover
{
	color: #303a55;
	background: #a1aed8;
	cursor: hand; cursor: pointer;
	padding: 5px;
	width: 150px;
}
.expandPanel
{
	background: #b1bee8;
	color: #303a55;
	padding: 0px 0px;
	width: 150px;
}

.expandPanel li
{
	list-style-type: none;
	margin: 5px 0px; padding: 0px;
}
.expandPanel ul
{
	margin: 5px; padding: 0px;
}

strong.title
{
	font-size: 10pt;
	text-decoration: underline;
}
p.article
{
	padding: 3px;
}

img.code_language 
{
	clear: both;
	float: right;
}

.similarTopics 
{
	width: 250px; 
	float: right;
}
.similarTopics ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}
.similarTopics li
{
	list-style-type: square;
}

div.popup 
{
	width: 427px;	
	background: #d8e8ff url("images/shadowbox_bottom.png") no-repeat scroll bottom center;
	font-size: 90%;
}

div.popup div.inner 
{
	margin: 5px 10px 10px 5px;
}

small
{
	font-size: 8pt;
}

p.small 
{
	font-size: 8pt;
	font-family: Verdana, Tahoma, sans-serif;
	text-align: left;
	text-indent: 0px;
}