body, p, a, h1, h2, h3, h4, ul, li, ol, form, fieldset, legend, label, input, select, option, textarea, dl, dt, dd, pre {
  margin: 0;
  padding: 0;
}

a, object {
  outline: none;
}

img, fieldset {
  border: none;
}

body {
  font: 14px Verdana, Arial, "Arial CE", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #000;
}

form {
  width: 400px;
  margin: 30px auto;
}

form fieldset label,
form fieldset label span,
form fieldset label input,
form fieldset #odeslat {
  display: block;
}

form fieldset label input,
form fieldset #odeslat {
  height: 30px;
  background-color: #fff;
  border: 1px dotted #000;
}

form fieldset label span,
form fieldset label input {
  float: left;
}

form fieldset label {
  margin-bottom: 3px;
  overflow: hidden;
}

form fieldset label span {
  width: 195px;
  line-height: 30px;
  margin-right: 3px;
  text-align: right;
}

form fieldset label input {
  width: 194px;
  padding: 0 3px;
}

form fieldset #odeslat {
  width: 100px;
  margin: 10px 0 0 198px;
  cursor: pointer;
}

form fieldset #odeslat:hover,
form fieldset #odeslat:focus {
  text-decoration: underline;
}

#vypis {
  width: 300px;
  margin: 0 auto 100px;
  text-align: center;
}

/* Fugess (Martin) */
