* {
  color: #42629f;
}

#obal {
  height: 700px;
}

#zahlavi #vlajky {
  top: 130px;
}

#zahlavi #vlajky p a img {
  border-color: #42629f;
}

#menu_prazdno p.partneri a {
  border: 1px solid;
}

#menu_prazdno p.partneri a:hover {
  border: 1px solid white;
}

#obsah {
  overflow: hidden;
}

/*---------------- AZ System s.r.o. (Fugess) 2008 ----------------*/
