#levy-stin, #pravy-stin, #horni-lista, #logo, #pngnadpis, #menu, #center-rozek, #menu-right, #right, #bottom-no, #bottom, .komentare {display: none;}
#center, #topdown {width: 98%; margin-left: -20px; color: black;}
#center p {text-align: left;}