/* galerie bez sekci (skupinova galerie bez sekci) */
/* vypis galerie bez sekci */
.galerie_bez_sekci p.odkaz_pridat {
  padding: 0 10px;
  overflow: hidden;
}

.galerie_bez_sekci p.odkaz_pridat a,
.galerie_bez_sekci p.odkaz_pridat .odkaz_vpravo {
  display: block;
  margin-bottom: 10px;
  float: left;
}

.galerie_bez_sekci p.odkaz_pridat .odkaz_vpravo {
  float: right;
}

.galerie_bez_sekci p.odkaz_pridat .odkaz_vpravo a {
  display: inline;
  margin-bottom: 0;
  float: none;
}

.galerie_bez_sekci p.odkaz_pridat_skupinu {
  margin: 20px 0 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid;
}

.galerie_bez_sekci p.odkaz_pridat_skupinu span {
  display: block;
  overflow: hidden;
  margin-bottom: 3px;
  padding-bottom: 3px;
  border-bottom: 1px dotted;
}

.galerie_bez_sekci p.odkaz_pridat_skupinu span a {
  display: block;
  float: left;
  text-decoration: none;
}

.galerie_bez_sekci p.odkaz_pridat_skupinu span a strong {
  font-weight: normal;
  text-decoration: underline;
}

.galerie_bez_sekci p.odkaz_pridat_skupinu span em {
  display: block;
  margin-top: 3px;
  float: right;
  font-size: 11px;
  font-style: normal;
}

.galerie_bez_sekci ul {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid;
}

.galerie_bez_sekci ul li.adresa_skupiny {
  overflow: hidden;
  margin-bottom: 3px;
  padding: 3px 10px;
  border-bottom: 1px dotted;
  font-size: 11px;
}

.galerie_bez_sekci ul li.adresa_skupiny em {
  float: right;
  font-style: normal;
}

.galerie_bez_sekci ul li.poradi_odkazy_obrazku {
  overflow: hidden;
  padding: 0 10px;
  font-size: 11px;
}

.galerie_bez_sekci ul li.poradi_odkazy_obrazku span {
  display: block;
}

.galerie_bez_sekci ul li.poradi_odkazy_obrazku span.zarovnani_vlevo {
  float: left;
}

.galerie_bez_sekci ul li.poradi_odkazy_obrazku span.zarovnani_vpravo {
  float: right;
}

.galerie_bez_sekci ul li.obrazek_nahled {
  overflow: hidden;
  padding: 20px 10px 10px 20px;
}

.galerie_bez_sekci ul li.obrazek_nahled a {
  display: block;
  float: left;
}

.galerie_bez_sekci ul li.obrazek_nahled a img {
  display: block;
}/* /vypis galerie bez sekci */

/* pridat, upravit obrazek, nastaveni galerie */
.nastaveni_galerie_bez_sekci .backlink_galerie {
  margin-left: 10px;
}

.pridat_upravit_obrazek_galerie_bez_sekci .backlink_galerie {
  margin-bottom: 30px;
}

.nastaveni_galerie_bez_sekci form label {
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
}

.nastaveni_galerie_bez_sekci form label span,
.nastaveni_galerie_bez_sekci form label input {
  display: block;
  float: left;
}

.nastaveni_galerie_bez_sekci form label span {
  display: block;
  width: 270px;
  margin-right: 10px;
  padding-top: 4px;
  text-align: right;
  cursor: pointer;
}

.nastaveni_galerie_bez_sekci form label span.galerie_dodatek {
  width: auto;
  margin: 2px 0 3px 280px;
  padding-top: 0;
  float: left;
  clear: both;
  font-size: 11px;
  text-align: left;
  cursor: default;
}

.nastaveni_galerie_bez_sekci form label.nadpis_sekce_galerie span {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}

.nastaveni_galerie_bez_sekci form label.input_text input {
  width: 200px;
  float: left;
  border: 1px dotted;
  padding: 3px;
  color: #7a7a7a;
}

.nastaveni_galerie_bez_sekci form label.popis_obrazku input {
  width: 360px;
}

.nastaveni_galerie_bez_sekci form label.input_text input:focus {
  color: #000;
  background-color: #ececec;
}

.nastaveni_galerie_bez_sekci form label.input_radio input {
  margin-top: 6px;
  cursor: pointer;
}

.nastaveni_galerie_bez_sekci form label.neaktivni_polozka {
  display: none;
}

.pridat_upravit_obrazek_galerie_bez_sekci form label.input_file a {
  display: block;
  margin: 8px 0 3px 280px;
  float: left;
}

.pridat_upravit_obrazek_galerie_bez_sekci form label.input_file a img {
  display: block;
  width: auto;
  max-width: 300px;
}

.nastaveni_galerie_bez_sekci form label.submit input {
  margin: 20px 0 20px 280px;
  padding: 3px;
  border: 1px dotted;
  cursor: pointer;
  color: #7a7a7a;
}

.nastaveni_galerie_bez_sekci form label.submit input:focus,
.nastaveni_galerie_bez_sekci form label.submit input:hover {
  text-decoration: underline;
  color: #000;
}/* /pridat, upravit obrazek, nastaveni galerie */

/* razeni drag and drop */
.razeni_galerie_bez_sekci .odkaz_vpravo {
  margin: 0 10px 30px 0;
  text-align: right;
}

.zacatek_skupiny,
.konec_skupiny {
  clear: both;
}

.zacatek_skupiny {
  margin-bottom: 3px;
  padding: 0 10px 3px 0;
  border-bottom: 1px dotted;
  text-align: right;
}

.konec_skupiny {
  margin-bottom: 30px;
  padding-bottom: 3px;
}

#obal_razeni ul {
  overflow: hidden;
}

#obal_razeni ul li img {
  display: block;
  cursor: move;
}

#obal_razeni ul li.obrazek_razeni {
  float: left;
  position: relative;
  margin: 10px;
}

#obal_razeni ul li.obrazek_razeni span {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 3px;
  background-color: #fff;
  border: 1px dotted;
}

#status_drag {
  display: none;
  padding: 10px;
  background-color: #fff;
  border: 1px dotted;
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 1000;
}/* /razeni drag and drop */
/* /galerie bez sekci (skupinova galerie bez sekci) */

/* Fugess (Martin) */
