/* CSS Document */

input.submit
{
  background-color:#FFFF66;
  color:#ff0000;
}

input.sumenu
{
  background-color:#3366CC;
  color:#FFFFFF;
  width:165px;
  height:25px;
}

input.delete
{
  background-color:#FFFF66;
  color:#ff0000;
}

body
{
  background-color:#FFFF66;
}

div.menu
{
  position:absolute;
  top:100px;
  left:10px;
}

div.head
{
  position:absolute;
  top:10px;
  left:10px;
  height:90px;
  width:700px;
}

div.telo
{
  position:absolute;
  top:100px;
  left:200px;
}

/*td
{
  border:none;
  padding:0px;
  height:5px;
  vertical-align:top;
}

tr
{
  border:none;
  padding:0px;
  height:5px;
  vertical-align:top;
}*/