#obal_layout {
  _height: 100%;
}

#obal_layout #zahlavi #menu_zahlavi_nad div {
  margin-right: 20px;
}

#obal_layout #obal_obsah {
  _height: 300px;
}

#obal_layout #obal_obsah #hlavni_obsah {
  width: 570px;
  margin-right: 0;
  margin-bottom: 2px;
}

#obal_layout #obal_obsah #hlavni_obsah #centralni_form fieldset dl #centralni_dd_jmeno input,
#obal_layout #obal_obsah #hlavni_obsah #centralni_form fieldset dl #centralni_dd_prijmeni input,
#obal_layout #obal_obsah #hlavni_obsah #centralni_form fieldset dl #centralni_dd_email input,
#obal_layout #obal_obsah #hlavni_obsah #centralni_form fieldset dl #centralni_dd_telefon input,
#obal_layout #obal_obsah #hlavni_obsah #centralni_form fieldset dl #centralni_dd_predmet input,
#obal_layout #obal_obsah #hlavni_obsah #centralni_form fieldset dl #centralni_dd_odeslat input {
  background-position: right;
}

#obal_layout #obal_obsah #hlavni_obsah #centralni_form fieldset dl dd textarea {
  background-position: right bottom;
}

#obal_layout #obal_obsah #hlavni_obsah #centralni_form fieldset dl #centralni_dd_odeslat input {
  margin-left: 100px;
}

#obal_layout #obal_obsah #hlavni_obsah a.galerie_v_sekcich_prvni {
  margin-left: 30px;
}

/* Fugess (Martin) */
