body {
  background-color: #fff;
  font: 12px "Trebuchet MS", Verdana, Tahoma, Arial, "Arial CE", sans-serif;
  color: #000;
}

#obal_layout,
#obal_layout #zahlavi,
#obal_layout #obal_obsah,
#obal_layout #zapati {
  width: 900px;
}

#obal_layout {
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

/* zahlavi */
#obal_layout #zahlavi {
  height: 170px;
  padding-top: 10px;
}

#obal_layout #zahlavi h1 {
  width: 479px;
  height: 119px;
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 100;
  background: url(../obr/depozit_nadpis.png) no-repeat;
}/* /zahlavi */

#obal_layout #obal_obsah {
  min-height: 400px;
  padding-bottom: 40px;
  position: relative;
}








#obal_obsah textarea {
  width: 800px;
  height: 300px;
}













/* zapati */
#obal_layout #zapati {
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../obr/zapati_depozit.png) no-repeat;
}

#obal_layout #zapati p {
  margin-top: 10px;
  text-align: center;
}

#obal_layout #zapati p a {
  color: #000;
  text-decoration: none;
}

#obal_layout #zapati p a:hover {
  text-decoration: underline;
}/* /zapati */

/* Fugess (Martin) */
