html, body {
  height: 100%;
}

body, p, a, h1, h2, h3, h4, ul, li, ol, form, fieldset, legend, label, input, select, option, textarea, dl, dt, dd {
  margin: 0;
  padding: 0;
}

a, object {
  outline: none;
}

/* Fugess (Martin) */
