/* administrace databazi */
/* vypis databazi */
#administrace_databazi h3 {
  margin-bottom: 20px;
}

#administrace_databazi ul {
  width: 640px;
  height: 20px;
  margin: 0 auto 6px;
  padding-bottom: 6px;
  border-bottom: 1px dotted;
  overflow: hidden;
}

#administrace_databazi ul li {
  height: 20px;
  float: left;
  text-align: center;
}

#administrace_databazi ul li a {
  display: block;
}

#administrace_databazi ul li.nazev_databaze {
  width: 248px; /* rezerva 2px */
}

#administrace_databazi ul li.typ_db {
  width: 70px;
}

#administrace_databazi ul li.typ_db_sqlite {
  background: url(../../obr/admin/sqlite.png) no-repeat center;
}

#administrace_databazi ul li.typ_db_mysqli {
  background: url(../../obr/admin/mysqli.png) no-repeat center;
}

#administrace_databazi ul li.velikost_databaze {
  width: 120px;
}

#administrace_databazi ul li.datum_databaze {
  width: 200px;
}/* /vypis databazi */

/* vypis obsahu databaze */
.obsah #administrace_databazi_vypis {
  position: relative;
}

#administrace_databazi_vypis h3 {
  margin-bottom: 50px;
}

#administrace_databazi_vypis .odkaz_zpatky {
  width: 100%;
  padding-bottom: 21px;
  position: absolute;
  top: 30px;
  left: 0;
  border-bottom: 1px dotted;
}

#administrace_databazi_vypis .odkaz_zpatky a {
  margin-left: 10px;
}

#administrace_databazi_vypis .seznam_tabulek {
  margin-bottom: 6px;
  padding-bottom: 6px;
  border-bottom: 1px dotted;
}

#administrace_databazi_vypis .seznam_tabulek a {
  margin-left: 20px;
}

#administrace_databazi_vypis .odkazy_import_export {
  position: absolute;
  top: 30px;
  right: 10px;
}/* /vypis obsahu databaze */

/* vypis obsahu tabulky */
.obsah #administrace_databazi_vypis_tabulky:after { /* pojistka */
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#administrace_databazi_vypis_tabulky .odkaz_zpatky {
  margin: 2px 0 0 10px;
  float: left;
}

#administrace_databazi_vypis_tabulky .odkaz_zpatky_vpravo {
  margin-right: 10px;
  float: right;
}

#administrace_databazi_vypis_tabulky table {
  margin: 30px 0 10px;
  border: 1px dotted;
  background-color: #fff;
  border-collapse: collapse;
}

#administrace_databazi_vypis_tabulky table.prazdna_tabulka {
  width: 100%;
}

#administrace_databazi_vypis_tabulky table th,
#administrace_databazi_vypis_tabulky table td {
  border: 1px dotted;
  padding: 3px;
}

#administrace_databazi_vypis_tabulky table td {
  text-align: center;
}

#administrace_databazi_vypis_tabulky form {
  margin: 50px auto 10px;
}

#administrace_databazi_vypis_tabulky form textarea {
  display: block;
  width: 630px;
  height: 800px;
  padding: 10px;
  font-size: 12px;
  background-color: #f9f9f9;
  border: 1px dotted;
}

#administrace_databazi_vypis_tabulky form input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px dotted;
  cursor: pointer;
}

#administrace_databazi_vypis_tabulky form input:focus,
#administrace_databazi_vypis_tabulky form input:hover {
  text-decoration: underline;
}/* /vypis obsahu tabulky */
/* /administrace databazi */

/* Fugess (Martin) */
