#game {
margin:0 auto;
}

#game #platno {
	height: 500px;
	width: 400px;
	background: red;
	position:relative;
}

#game #platno #hrac {
	height: 50px;
	width: 50px;
	background: lime;
	position:absolute;
	top:50px;
	left:50px;
}
