/* AREA */
.etarget_468x60 .etarget
{
width: 468px;
height: 60px;
_width: 468px;
_height: 60px;
background-repeat:no-repeat;
background-image:url('./images/whitev.png') ;
background-position: 0% 0%;
padding: 0px 0px 0px 0px;
border-style: solid;
border-width:0;
overflow:hidden;
font-size:13px;
line-height:17px !important;
}
div.etarget_468x60 .etarget div
{
font-family:verdana,arial,tahoma,helvetica,sans-serif;
font-size:13px;
line-height:17px;
text-align:justified;
}
.etarget_468x60 .etarget .block
{
height: 58px;
width: 223px;
_height: 58px;
_width: 223px;
margin: 1px 1px 1px 3px;
padding: 0px;
float:left;
overflow:hidden;
}
.etarget_468x60 .etarget a.txtRed
{
margin:0px 0px;
display:block;
}
.etarget_468x60 .etarget .title {
margin:0px !important;
padding:0px !important;
/*background:red;*/
}
.etarget_468x60 .etarget .description {
margin:1px !important;
padding:0px !important;
}
.etarget_468x60 .etarget .description a {
text-decoration: none;
display: block;
}
.etarget_468x60 .etarget .url {
margin:1px !important;
padding:0px !important;
}
.etarget_468x60 .etarget div.sprmfd8r9w0e {
text-decoration: none;
display: block;
font-size:5px;
height: 468px;
_height: 468px;
width: 13px;
_width: 13px;
margin: 0px;
padding: 0px;
border-style: solid;
border-width:0px;
float:left;
}
.etarget_468x60 .etarget a.sprmfd8r9w0e {
text-decoration: none;
display: block;
font-size:5px;
line-height: 5px;
height: 60px;
width: 10px;
margin: 0px;
/*background-color: black;*/
float:right;
}
.etarget_468x60 .etarget div.textpromo
{
text-decoration: none;
text-align: right;
display: block;
font-size:5px;
height: 0px;
width: 13px;
_width: 9px;
margin: 5px 0px 0px 0px;
padding: 0px;
border-style: solid;
border-width:0px;
float:left;
}

.etarget_468x60 .etarget div.textpromo a.txtRed {
text-decoration: none;
display: inline;
font-size:8px;
height: 10px;
margin: 0px 5px 0px 0px!important;
_margin: 0px 1px 0px 0px!important;
}
.etarget_468x60 .etarget .block .logo {
float:left;
}
a.etargetselflink
{
display:block;
float:left;
position:absolute;
left: 0px;
top: 0px;
z-index:2;
height: 60px;
width: 10px;
margin: 0px 0px 0px 0px;
padding: 0px;
overflow:hidden;
cursor:pointer;
}
/* TITULOK */
.etarget_468x60 .etarget .title a.txtRed
{
font-size: 11px !important;
line-height: 14px !important;
letter-spacing: -0.01em;
text-align:left;
white-space: nowrap;
/*word-spacing: -0.5px;*/
}
/* POPIS */
.etarget_468x60 .etarget .description a.txtBlack
{
font-size: 10px !important;
line-height: 14px !important;
letter-spacing: -0.01em;
text-align:left;
white-space: normal;
/*word-spacing: -0.5px;*/
}
/* URL */
.etarget_468x60 .etarget .url a.txtRed
{
font-size: 9px !important;
line-height: 11px !important;
letter-spacing: -0.01em;
text-align:left;
white-space: nowrap;
/*word-spacing: -0.5px;*/
}
