body {
  background: #000 url(../obr/page_bg.png) repeat center top;
  font: 13px/22px "Lucida Grande", Arial, "Arial CE", Verdana, Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  color: #fff;
}

#obal_layout {
  background: url(../obr/bodytop_line.png) repeat-x center top;
}

h1 {
  margin: 0 50px;
  padding: 20px 0 10px;
}

h1 a {
  font: italic 48px Georgia,"Times New Roman",Times,serif;
  letter-spacing: -3px;
  text-decoration: none;
  color: #e7edf0;
}

#obal {
  margin: 0 40px;
  overflow: hidden;
}

#menu {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 6px;
  background: url(../obr/gallery_transparent_bg.png) 0 0 repeat-x;
}

#menu p {
  height: 22px;
  float: left;
  margin: 0 2px 4px;
  font: 13px/22px "Lucida Grande";
  white-space: nowrap;
}

#menu p a {
  display: block;
  height: 22px;
  padding: 0 6px;
  color: #0bcbf6;
  background: url(../obr/li_bg_new.png) 0 0 repeat;
  text-decoration: none;
}

#menu p a:hover {
  color: #fff;
  background-position: 0 -200px;
}

#menu p span {
  display: block;
  height: 22px;
  padding: 0 6px;
  color: #fff;
  background: url(../obr/li_bg_new.png) 0 -200px repeat;
  text-decoration: none;
  cursor: default;
}

#vypis {
  margin-bottom: 10px;
  padding: 0 10px 10px;
  overflow: hidden;
  background: url(../obr/gallery_transparent_bg.png) repeat;
}

#vypis .obal_vypis {
  width: 140px;
  float: left;
  margin: 10px 10px 0 0;
}

#vypis p.obrazek {
  height: 162px;
  overflow: hidden;
  background: url(../obr/gallery_transparent_bg.png) repeat;
}

#vypis p.obrazek a {
  display: block;
  width: 140px;
  height: 140px;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

#vypis p a span.popis {
  display: block;
  width: 140px;
  padding: 0 6px;
  position: absolute;
  bottom: -22px;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  font: 13px/22px "Lucida Grande";
  text-transform: lowercase;
  color: #cacaca;
  background: url(../obr/gallery_transparent_bg.png) repeat;
}

#vypis p a:hover span.popis {
  color: #fff;
}

/* Fugess (Martin) */
