/*---------------- Centrální nastavení ----------------*/
body {
  background-image: url(../obr/pozadi_fd_black.png);
  background-color: #000000;
}
/*-----------------------------------------------------*/

/*------------- Obal s elementy v nìm -----------------*/
#obal {
  background-image: url(../obr/pozadi_obal_fd_black.png);
}
/*-----------------------------------------------------*/

/*---------------- Elementy bez obalu -----------------*/
#zahlavi {
  background-image: url(../obr/zahlavi_fd_black.png);
}

#zapati {
  background-image: url(../obr/zapati_fd_black.png);
}
/*-----------------------------------------------------*/

/* Fugess (Martin) */
