/*---------------- Centrální nastavení ----------------*/
body {
  background-image: url(../obr/pozadi_fd_green.png);
  background-color: #538513;
}
/*-----------------------------------------------------*/

/*------------- Obal s elementy v nìm -----------------*/
#obal {
  background-image: url(../obr/pozadi_obal_fd_green.png);
}
/*-----------------------------------------------------*/

/*---------------- Elementy bez obalu -----------------*/
#zahlavi {
  background-image: url(../obr/zahlavi_fd_green.png);
}

#zapati {
  background-image: url(../obr/zapati_fd_green.png);
}
/*-----------------------------------------------------*/

/* Fugess (Martin) */
