/*---------------- Centrální nastavení ----------------*/
body {
  background: url(../obr/pozadi_index_fd.png) repeat 0 0;
}

* {
  color: black; /* centrální nastavení barvy jen v indexu */
}
/*-----------------------------------------------------*/

/*---------------- Elementy bez obalu -----------------*/
#logoindex, #textpodlogem {
  width: 500px;
  padding: 0;
  text-align: center;
}

#logoindex {
  height: 200px;
  margin: 30px auto 10px;
  background: url(../obr/logo_index_fd.png) no-repeat;
}

#textpodlogem {
  margin: 0 auto;
  font-size: 12px;
}

#vyberbarvu {
  width: 746px;
  height: 58px;
  margin: 10px auto 0;
  text-align: left;
}

#vyberbarvu p {
  float: left;
}

#vyberbarvu p a img {
  border: 1px dotted black;
}

#vyberbarvu p a:hover img {
  border-color: white;
}

#netagent {
  width: 1px;
  height: 1px;
  margin: 10px auto;
  padding: 0;
  text-align: center;
}
/*-----------------------------------------------------*/

/* Fugess (Martin) */
