@import url("styles_IE6_all_colors.css");

/*---------- Definování ostatních selektorù -----------*/
body {
  background-color: #6a0116;
}
/*-----------------------------------------------------*/

/*---------------- Elementy bez obalu -----------------*/
#zahlavi {
  background: url(../obr/zahlavi_fd_red_ie6.png);
}

#zapati {
  background: url(../obr/zapati_fd_red_ie6.png);
}
/*-----------------------------------------------------*/

/* Fugess (Martin) */
