/*---------------- Elementy bez obalu -----------------*/
#logoindex {
  margin-top: 54px; /* posunuti bloku s pozadim kvuli netransparentnimu png */
  background: url(../obr/logo_index_ie6.png) no-repeat; /* netransparentni png */
}

#vyberbarvu {
  width: 760px;
  height: 60px;
}

#vyberbarvu p {
  margin-right: 1px;
}

#vyberbarvu p a img {
  border-style: solid;
}

#vyberbarvu p a:hover img {
  border-style: solid;
}

#vyberbarvu p a:hover {
  border: none;
}
/*-----------------------------------------------------*/

/* Fugess (Martin) */
