/*---------- Definování ostatních selektorù -----------*/
#obal {
  height: auto;
}

#obsah p em.html, #obsah p em.css, #obsah p em.w3c, #obsah p em.xhtml {
  border-bottom-style: solid;
}
/*-----------------------------------------------------*/

/*-------- Definování elementù levého sloupce ---------*/
#levysloupec div p a:hover {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

#levysloupec #barvatext1, #levysloupec #barvatext2 { 
  font-size: 11px;
}

#levysloupec p a img {
  border: 1px solid black;
}

#levysloupec p a:hover img {
  border-color: white;
  border-style: solid;
}

#levysloupec p a:hover {
  border: none;
}
/*-----------------------------------------------------*/

/*------------ Definování elementù v patì -------------*/
#zapati #valid p a img {
  height: 31px;
  width: 88px;
}
/*-----------------------------------------------------*/

/* Fugess (Martin) */
