/* */
/* Interval article specific document rules (media print). */
/* */


/* */
/* From html4.css */

h1, h2, h3, h4, h5, h6 {page-break-after: avoid; page-break-inside: avoid}
blockquote, pre {page-break-inside: avoid}
ul, ol, dl {page-break-before: avoid}


/* */
/* Basic page structure... */

.noprint {display: none}
.long-text-replaced {border-bottom: 1px dotted #000000}

body {background-color: #FFFFFF; color: #000000; text-align: center}
body, tr, th, td {font-family: serif; font-size: 13pt}

a:link, a:visited {background-color: transparent; color: #000000}
a:active, a:link:hover {background-color: transparent; color: #000000}

#interval-logo a {background-color: transparent; color: #000000; text-decoration: none}

#page-header {width: 100%; border: 0}
#page-topmenu {display: none}
#page-body {background-color: transparent; width: 100%; border: 0; color: #000000}
#page-left {width: 100%; float: none; overflow: visible}
#page-right {display: none}
#page-foot {background-color: #FFFFFF; border: 0; width: 100%; color: #000000}
#page-foot-menu {display: none}
#page-foot-zoner {background-color: #000000; color: #FFFFFF}
#page-foot-zoner a:link, #page-foot-zoner a:link:active, #page-foot-zoner a:link:visited, #page-foot-zoner a:link:hover {background-color: #000000; color: #FFFFFF; text-decoration: none}

#advertising-leader-board {display: none}
#advertising-page-header {display: none}
#advertising-page-bottom {display: none}


/* */
/* Catalogues... */

.topbox-projects-head h2 a.cathegory14 {background-color: transparent; color: #000000}
.topbox-projects-head h2 a.cathegory15 {background-color: transparent; color: #000000}
.topbox-projects-head h2 a.cathegory16 {background-color: transparent; color: #000000}
.topbox-projects-head h2 a.cathegory17 {background-color: transparent; color: #000000}
.topbox-projects-head h2 a.cathegory18 {background-color: transparent; color: #000000}
.topbox-projects-head h2 a.cathegory100 {background-color: transparent; color: #000000}

.cathegory a.cathegory14 {background-color: transparent; color: #000000}
.cathegory a.cathegory15 {background-color: transparent; color: #000000}
.cathegory a.cathegory16 {background-color: transparent; color: #000000}
.cathegory a.cathegory17 {background-color: transparent; color: #000000}
.cathegory a.cathegory18 {background-color: transparent; color: #000000}
.cathegory a.cathegory100 {background-color: transparent; color: #000000}

.today {background-color: transparent; color: #000000}
.yesterday {background-color: transparent; color: #000000}


/* */
/* Articles... */

#article {margin: auto}
#article acronym {border-bottom-color: #000000}
#article div.sample {background-color: transparent; border-color: #000000; color: #000000}
#article h2 {background-color: transparent; color: #000000}
#article h3 {background-color: transparent; color: #000000}
#article h4 {background-color: transparent; color: #000000}
#article kbd.mouse {border-color: #000000}
#article samp {background-color: transparent; border-color: #000000; color: #000000}
#article div.refer {border-top-color: #000000}

#article-foot {display: none}
#article-operation {display: none}

#article-discussion-index {border-top-color: #000000}
#article-discussion-index form input.submit {display: none}
#article-discussion-index table {background-color: transparent; border-color: #000000; color: #000000}
#article-discussion-index th {background-color: transparent; border-bottom-color: #000000; color: #000000}
#article-discussion-index td {background-color: transparent; color: #000000}
#article-discussion-index td.checkbox {display: none}
#article-discussion-index td.sender {border-left-color: #000000}
#article-discussion-index td.subject {border-left-color: #000000}
#article-discussion-index td#foot {display: none}
#article-discussion-index th a, #article-discussion-index th a:visited {background-color: transparent; color: #000000}
#article-discussion-input-box {display: none}
#article-discussion-error {display: none}
#article-discussion-formatting {display: none}
#article-discussion-notice {display: none}
#article-discussion-stories {background-color: transparent; border-color: #000000; color: #000000}
#article-discussion-stories div.story {border-top-color: #000000}
#article-discussion-stories div.story-head {background-color: transparent; color: #000000}
#article-discussion-stories div.story-answer {display: none}


/* */
/* Special pages (class interval-homepage)... */

/* Special pages - page redakce.asp */
#article .redaction-position {background-color: #FFFFFF; color: #000000}
#article .redaction-position h3 {background-color: #FFFFFF; color: #000000}