BODY {
	SCROLLBAR-FACE-COLOR: #9c1816; FONT-SIZE: 11px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #9c1816; CURSOR: default; SCROLLBAR-SHADOW-COLOR: #731312; COLOR: black; SCROLLBAR-3DLIGHT-COLOR: #e38584; SCROLLBAR-ARROW-COLOR: white; SCROLLBAR-TRACK-COLOR: #6a7374; FONT-FAMILY: Verdana; SCROLLBAR-DARKSHADOW-COLOR: black; BACKGROUND-COLOR: #6a7374
}
A {
	COLOR: #0000c1; TEXT-DECORATION: underline; x-color: #9B0200; x-text-decoration: none; x-font-size: 11px
}
A:hover {
	COLOR: red; x-color: black
}
TABLE {
	FONT-SIZE: 11px; CURSOR: default; COLOR: black
}
.nadpis {
	FONT-WEIGHT: bold
}
.tab {
	FONT-SIZE: 10px; CURSOR: default
}
A.tab {
	FONT-WEIGHT: normal; FONT-SIZE: 10px
}
.tab-nadpis {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; CURSOR: default
}
A.menu {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: black; TEXT-DECORATION: none
}
A.menu2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: black; TEXT-DECORATION: none
}
A.menu:hover {
	COLOR: #9b0200
}
A.menu2:hover {
	COLOR: #9b0200
}
.ndp {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #55002b; FONT-FAMILY: "Arial"
}
.ndp2 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; CURSOR: default; COLOR: #eeeeee; FONT-FAMILY: "Verdana"
}
H1 {
	FONT-SIZE: 10pt; COLOR: #0033cc; FONT-FAMILY: Tahoma, Verdana
}
H2 {
	FONT-SIZE: 10pt; COLOR: #0033cc; FONT-FAMILY: Tahoma, Verdana
}
H3 {
	FONT-SIZE: 10pt; COLOR: #0033cc; FONT-FAMILY: Tahoma, Verdana
}
H4 {
	FONT-SIZE: 10pt; COLOR: #0033cc; FONT-FAMILY: Tahoma, Verdana
}
.hnad {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #0033cc; FONT-FAMILY: Tahoma, Verdana
}
INPUT {
	FONT-SIZE: 11px; BORDER-LEFT-COLOR: white; BORDER-BOTTOM-COLOR: white; COLOR: black; BORDER-TOP-COLOR: white; FONT-FAMILY: Verdana; BACKGROUND-COLOR: white; BORDER-RIGHT-COLOR: white
}
TEXTAREA {
	FONT-SIZE: 11px; BORDER-LEFT-COLOR: white; BORDER-BOTTOM-COLOR: white; COLOR: black; BORDER-TOP-COLOR: white; FONT-FAMILY: Verdana; BACKGROUND-COLOR: white; BORDER-RIGHT-COLOR: white
}
.ftable {
	BORDER-RIGHT: #6c6c6c 1px solid; BORDER-TOP: #6c6c6c 1px solid; BORDER-LEFT: #6c6c6c 1px solid; BORDER-BOTTOM: #6c6c6c 1px solid; BACKGROUND-COLOR: #dddddd
}
.ftable2 {
	BORDER-RIGHT: #6c6c6c 1px solid; BORDER-TOP: #6c6c6c 1px solid; BORDER-LEFT: #6c6c6c 1px solid; BORDER-BOTTOM: #6c6c6c 1px solid; BACKGROUND-COLOR: #eeeeee
}
.ftitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: "Verdana"; TEXT-ALIGN: center
}
.fsubmit {
	FONT-WEIGHT: bold
}
.fname {
	
}
.fvalue {
	text-alignment: left; horizontal-align: left
}
.chkb {
	BACKGROUND-COLOR: #dddddd
}
.sc {
	BORDER-RIGHT: #808080 1px dotted; PADDING-RIGHT: 4px; BORDER-TOP: #808080 1px dotted; PADDING-LEFT: 4px; FONT-SIZE: 8pt; PADDING-BOTTOM: 4px; BORDER-LEFT: #808080 1px dotted; PADDING-TOP: 4px; BORDER-BOTTOM: #808080 1px dotted; FONT-FAMILY: Tahoma, Arial; BACKGROUND-COLOR: #f0f0f0
}
.kod {
	BORDER-RIGHT: #808080 1px dotted; PADDING-RIGHT: 4px; BORDER-TOP: #808080 1px dotted; PADDING-LEFT: 4px; FONT-SIZE: 8pt; PADDING-BOTTOM: 4px; BORDER-LEFT: #808080 1px dotted; PADDING-TOP: 4px; BORDER-BOTTOM: #808080 1px dotted; FONT-FAMILY: Tahoma, Arial; BACKGROUND-COLOR: #f0f0f0
}
.kod2 {
	BORDER-RIGHT: #808080 1px dotted; PADDING-RIGHT: 4px; BORDER-TOP: #808080 1px dotted; PADDING-LEFT: 4px; FONT-SIZE: 8pt; PADDING-BOTTOM: 4px; BORDER-LEFT: #808080 1px dotted; PADDING-TOP: 4px; BORDER-BOTTOM: #808080 1px dotted; FONT-FAMILY: Tahoma, Arial; BACKGROUND-COLOR: #fbfbfb
}
.artsrch {
	BACKGROUND-COLOR: #aaaaaa
}
.nadpis1 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #9b0200; FONT-FAMILY: "Arial"
}
.nadpis2 {
	FONT-WEIGHT: bold
}
.popis {
	COLOR: #555555
}
INPUT.button {
	FONT-SIZE: 10px; BORDER-LEFT-COLOR: #9c1816; BORDER-BOTTOM-COLOR: #9c1816; COLOR: white; BORDER-TOP-COLOR: #9c1816; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #9c1816; BORDER-RIGHT-COLOR: #9c1816
}
FORM {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.mline {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Tahoma, Arial, Verdana; BACKGROUND-COLOR: #000000
}
.mitem {
	CURSOR: hand
}
.mtable {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 8pt; VISIBILITY: hidden; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Tahoma, Arial, Verdana; POSITION: absolute; BACKGROUND-COLOR: #eeeeee
}
.mtitem {
	CURSOR: hand
}
