INPUT.red {
	FONT-WEIGHT: bold; COLOR: #ffff00; BACKGROUND-COLOR: #ff0000
}
tiny INPUT.red {
	FONT-WEIGHT: bold; COLOR: #ffff00; BACKGROUND-COLOR: #ff0000
}
INPUT.blue {
	FONT-WEIGHT: bold; COLOR: #ffff00; BACKGROUND-COLOR: #0000ff
}
tiny INPUT.blue {
	FONT-WEIGHT: bold; COLOR: #ffff00; BACKGROUND-COLOR: #0000ff
}
INPUT.green {
	FONT-WEIGHT: bold; COLOR: #200020; BACKGROUND-COLOR: #80ff80
}
tiny INPUT.green {
	FONT-WEIGHT: bold; COLOR: #200020; BACKGROUND-COLOR: #80ff80
}
INPUT.yellow {
	FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: #ffff00
}
tiny INPUT.yellow {
	FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: #ffff00
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
