.tiny {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none
}
A.tiny:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline
}
A.tiny:active {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline
}
A.tiny:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline
}
A.tiny:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline
}
FONT {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana,Helvetica
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana,Helvetica
}
BODY {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana,Helvetica
}
P {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana,Helvetica
}
DIV {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana,Helvetica
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana,Helvetica
}
TEXTAREA {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana,Helvetica
}
FORM {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana,Helvetica
}
A:link {
	FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline
}
A:active {
	FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none
}
.content {
	FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica
}
.storytitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #363636; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none
}
.storycat {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline
}
.boxtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #363636; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none
}
.boxcontent {
	FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica
}
.option {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none
}
.footmsg {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #cccccc; FONT-FAMILY: Tahoma, Verdana, Helvetica; TEXT-DECORATION: none
}
.footmsg_l {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #cccccc; FONT-FAMILY: Tahoma, Verdana, Helvetica; TEXT-DECORATION: underline
}
.box {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana,Helvetica; BACKGROUND-COLOR: #ffffff
}
ACRONYM {
	MARGIN: 0px; CURSOR: help; BORDER-BOTTOM: black 1px dotted
}
.jedisoftCmd {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #000000; COLOR: #00ff00; FONT-FAMILY: Sans Serif
}
.titleCmd {
	BACKGROUND: #d3d3d3; COLOR: #000000
}
.jedisoftCmd A:visited {
	COLOR: #00ff00; FONT-FAMILY: Sans Serif; TEXT-DECORATION: none
}
.jedisoftCmd A:link {
	COLOR: #00ff00; FONT-FAMILY: Sans Serif; TEXT-DECORATION: none
}
.jedisoftCmd A:active {
	COLOR: #ffff00; TEXT-DECORATION: none
}
.jedisoftCmd A:hover {
	COLOR: #ffff00; TEXT-DECORATION: none
}
.titleCmd A:visited {
	COLOR: #000000; FONT-FAMILY: Sans Serif; TEXT-DECORATION: none
}
.titleCmd A:link {
	COLOR: #000000; FONT-FAMILY: Sans Serif; TEXT-DECORATION: none
}
.titleCmd A:active {
	COLOR: #808080; FONT-FAMILY: Sans Serif; TEXT-DECORATION: none
}
.titleCmd A:hover {
	COLOR: #808080; FONT-FAMILY: Sans Serif; TEXT-DECORATION: none
}
.menuCmd TD {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Sans Serif
}
.menuCmd A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: Sans Serif
}
.menuCmd A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: Sans Serif
}
.menuCmd A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #808080; FONT-FAMILY: Sans Serif
}
.menuCmd A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #808080; FONT-FAMILY: Sans Serif
}
