form fieldset #heslo {
  float: none;
}

#nastaveni_prav_admin form fieldset ul li {
  margin-bottom: -5px;
}

#nastaveni_prav_admin form fieldset ul li dl {
  padding-top: 0;
}

#nastaveni_prav_admin form fieldset ul li dl dt {
  padding-top: 1px;
}

#nastaveni_prav_admin form fieldset ul li dl dd {
  padding-top: 2px;
  padding-bottom: 0px;
}

#nastaveni_prav_admin form fieldset dl dd a,
#nastaveni_prav_admin form fieldset dl dt a {
  top: 2px;
}

#nastaveni_prav_admin form fieldset dl dt a {
  left: -12px;
}

#nastaveni_prav_admin form fieldset li.posledni_polozka_prava {
  margin-bottom: 0px;
}

.prava_zvlast_menu div p a {
  background: url(../obr/upravit_ikona_mala.png) no-repeat left center !important;
}

.menu_admin_centralni_background div p a,
.menu_partneri_centralni_background div p a,
.menu_zakaznici_centralni_background div p a,
.menu_zamestnanec_centralni_background div p a {
  background: url(../obr/transparent_ie7.png);
}

