#uvod_menu_czech,
#uvod_menu_deutsch {
  top: 30px;
  cursor: default;
  padding-bottom: 30px;
}

#uvod_menu_deutsch p a span {
  cursor: pointer;
}

#jazyk #nastaveni_jazyka form {
  position: relative;
}

#jazyk #nastaveni_jazyka form fieldset {
  position: absolute;
  top: -28px;
  left: 26px;
}

