body {
  color: #000;
  position: relative;
  font: normal 12px "Trebuchet MS", Verdana, Arial, "Arial CE", sans-serif;
}

/* logo */
#logo_uvod {
  width: 318px;
  height: 302px;
  margin: 30px auto;
  background: url(../obr/tsqm_menu_logo.png) no-repeat;
}/* /logo */

/* logovaci formular */
#logo_uvod h1 {
  display: none;
}

form {
  width: 300px;
  margin: 10px auto;
}

form fieldset {
  border: none;
}

form fieldset h2 {
  margin: 3px 55px 6px 0;
  font-weight: normal;
  font-size: 14px;
  text-align: right;
  text-decoration: underline;
}

form fieldset label {
  width: 60px;
  margin: 1px 3px 0 30px;
  text-align: right;
  float: left;
}

form fieldset input {
  margin-bottom: 3px;
}

form fieldset #login,
form fieldset #heslo {
  float: left;
}

form fieldset #prihlasit {
  margin-left: 92px;
}/* /logovaci formular */

/* nacitaci bloky */
.preload {
  background: url(../obr/nacitani.gif) no-repeat;
}

.preload_2 {
  background: url(../obr/error.png) no-repeat;
}

.log_flex {
  width: 48px;
  height: 48px;
  margin: 30px auto;
  background: url(../obr/nacitani.gif) no-repeat;
}

.log_flex p {
  display: none;
}

.log_flex p a {
  color: #3c3b38;
  font-weight: bold;
}

.log_flex p a:hover {
  color: #51839C;
}

.log_err {
  width: 350px;
  margin: 30px auto;
  overflow: hidden;
}

.log_err span {
  width: 64px;
  height: 64px;
  display: block;
  background: url(../obr/error.png) no-repeat;
}

.log_err span.levy {
  float: left;
}

.log_err span.pravy {
  float: right;
}

.log_err p {
  text-align: center;
}

.log_err p.prvni {
  margin-top: 6px;
}

.log_err p a {
  color: #3c3b38;
  font-weight: bold;
}

.log_err p a:hover {
  color: #51839C;
}/* /nacitaci bloky */

/* Fugess (Martin) */

