BODY {
	MARGIN: 0px
}
#tblEshops .invisible {
	DISPLAY: none
}
#tblEshops .td2 A {
	BORDER-RIGHT: activeborder 1px solid; FONT-WEIGHT: normal! important; FONT-SIZE: 13px; BORDER-LEFT: activeborder 1px solid; COLOR: black; FONT-FAMILY: Arial, Verdana, 'Microsoft Sans Serif'; TEXT-DECORATION: none
}
#tblEshops .td2 A:visited {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Arial, Verdana, 'Microsoft Sans Serif'; TEXT-DECORATION: none
}
#tblEshops .td2 A:hover {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 13px; PADDING-BOTTOM: 1px; BORDER-LEFT: #ffffff 1px solid; COLOR: red; PADDING-TOP: 2px; BORDER-BOTTOM: #808080 1px solid; FONT-FAMILY: Arial, Verdana, 'Microsoft Sans Serif'; TEXT-DECORATION: none
}
#tblEshops .td1 {
	BORDER-TOP: white 1px solid; FONT-SIZE: 13px; BORDER-LEFT: white 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #817f80 1px solid; FONT-FAMILY: Arial, Verdana, 'Microsoft Sans Serif'; TEXT-ALIGN: center
}
#tblEshops .td2 {
	BORDER-TOP: white 1px solid; FONT-SIZE: 13px; PADDING-TOP: 4px; BORDER-BOTTOM: #817f80 1px solid; FONT-FAMILY: Arial, Verdana, 'Microsoft Sans Serif'; TEXT-ALIGN: center
}
#tblEshops .td3 {
	BORDER-RIGHT: #817f80 1px solid; BORDER-TOP: white 1px solid; FONT-SIZE: 13px; PADDING-TOP: 4px; BORDER-BOTTOM: #817f80 1px solid; FONT-FAMILY: Arial, Verdana, 'Microsoft Sans Serif'; TEXT-ALIGN: center
}
.tblMain {
	BACKGROUND-COLOR: activeborder
}
