h1 {
  color: black;
  text-align: center;
  text-decoration: underline overline;
  letter-spacing: 15px;
  text-transform: uppercase;
}

p {
  color: white;
  background-color: silver;
  padding: 10px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

