BODY {
	MARGIN: 0px
}
FORM {
	MARGIN: 0px
}
P {
	MARGIN: 0.1em 0px 0.5em
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1.3em 0px 0.3em; PADDING-TOP: 0.8em
}
H3 {
	MARGIN: 1em 0px 0.2em
}
P {
	LINE-HEIGHT: 1.3
}
LI {
	LINE-HEIGHT: 1.3
}
DL {
	LINE-HEIGHT: 1.3
}
MENU {
	LINE-HEIGHT: 1.3
}
TD {
	LINE-HEIGHT: 1.3
}
TH {
	LINE-HEIGHT: 1.3
}
UL {
	LINE-HEIGHT: 1.3
}
OL {
	LINE-HEIGHT: 1.3
}
UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0.8em
}
OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0.8em
}
#text {
	MARGIN: 150px 3% 0px; WIDTH: 68.5%
}
#gototop {
	MARGIN: 1em 3% 0px; WIDTH: 68.5%
}
#wherenext {
	MARGIN: 1em 3% 0px; WIDTH: 68.5%
}
#navigace {
	LEFT: 73%; WIDTH: 25%; POSITION: absolute; TOP: 150px
}
#hlavicka {
	LEFT: 0px; OVERFLOW: hidden; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100px
}
#logo {
	Z-INDEX: 10; LEFT: 0px; POSITION: absolute; TOP: 2px
}
#slogan {
	LEFT: 127px; POSITION: absolute; TOP: 10px
}
#ouska {
	LEFT: 146px; POSITION: absolute; TOP: 52px
}
#prouzek {
	Z-INDEX: 5; LEFT: 0px; WIDTH: 100%; TEXT-INDENT: 126px; POSITION: absolute; TOP: 74px
}
#hledani {
	RIGHT: 4px; POSITION: absolute; TOP: 4px
}
#gototop {
	TEXT-ALIGN: right
}
#prevnextbottom {
	Z-INDEX: 8; LEFT: 73%; WIDTH: 25%; POSITION: absolute
}
#prevnexttop {
	Z-INDEX: 8; LEFT: 73%; WIDTH: 25%; POSITION: absolute
}
#prevnexttop {
	TOP: 97px
}
.panel {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; WORD-SPACING: 0.6em; LINE-HEIGHT: 1.3; FONT-FAMILY: sans-serif; TEXT-ALIGN: right
}
.panel A:link {
	BORDER-RIGHT: silver 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: silver 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: silver 1px solid; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: #eed; TEXT-DECORATION: none
}
.panel A:visited {
	BORDER-RIGHT: silver 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: silver 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: silver 1px solid; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: #eed; TEXT-DECORATION: none
}
#hrasek {
	MARGIN-LEFT: 0px; WIDTH: 90%; POSITION: absolute; TOP: 107px
}
BODY {
	COLOR: black; BACKGROUND-COLOR: white
}
H1 {
	COLOR: #009933; TEXT-ALIGN: center
}
H2 {
	BORDER-TOP: #336 1px solid; FONT-SIZE: 130%
}
.podtitul {
	MARGIN-TOP: -0.3em; FONT-WEIGHT: bold; FONT-SIZE: 110%; TEXT-ALIGN: center; TEXT-DECORATION: overline
}
.nadtitul {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; TEXT-ALIGN: center
}
.zalozka {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.komix {
	OVERFLOW: auto; WIDTH: 100%; TEXT-ALIGN: center
}
DT {
	FONT-WEIGHT: bold
}
.col2 {
	FLOAT: left; WIDTH: 49.5%
}
.sirsi {
	WIDTH: 137%
}
.sirsi {
	
}
.oriznout {
	OVERFLOW: auto; WIDTH: 100%
}
.rozcestnik A {
	FONT-WEIGHT: bold
}
.rozcestnik .podruzne A {
	FONT-WEIGHT: normal
}
.rozcestnik H2 {
	MARGIN-TOP: 2em
}
.hp P {
	MARGIN: 1.2em 0px; TEXT-ALIGN: center
}
.hp UL {
	MARGIN: 1.2em 0px; TEXT-ALIGN: center
}
.hp A {
	FONT-WEIGHT: bold
}
.hp LI {
	LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.mezitext {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 1em; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #ddd
}
.about {
	CURSOR: help; BORDER-BOTTOM: gray 1px dashed
}
.clanky INS {
	TEXT-DECORATION: none
}
.clanky BLOCKQUOTE {
	FONT-STYLE: italic
}
#hrasek {
	FONT-SIZE: 10px; FONT-FAMILY: MS Sans Serif, Geneva, sans-serif
}
CODE {
	FONT-WEIGHT: 600; FONT-SIZE: 70%; COLOR: #494949; FONT-FAMILY: MS Sans Serif, Geneva, sans-serif
}
PRE {
	FONT-WEIGHT: 600; FONT-SIZE: 70%; COLOR: #494949; FONT-FAMILY: MS Sans Serif, Geneva, sans-serif
}
P CODE {
	FONT-WEIGHT: 600; FONT-SIZE: 70%; COLOR: #494949; FONT-FAMILY: MS Sans Serif, Geneva, sans-serif
}
.code {
	FONT-WEIGHT: 600; FONT-SIZE: 70%; COLOR: #494949; FONT-FAMILY: MS Sans Serif, Geneva, sans-serif
}
.wrongcode {
	FONT-WEIGHT: 600; FONT-SIZE: 70%; COLOR: #494949; FONT-FAMILY: MS Sans Serif, Geneva, sans-serif
}
.code CODE {
	FONT-SIZE: 141%
}
P.code {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 0.7em; MARGIN: 1em auto; PADDING-TOP: 0.7em
}
.wrongcode {
	TEXT-DECORATION: line-through
}
.priklad {
	FONT-STYLE: italic
}
.priklad CODE {
	FONT-STYLE: normal
}
.ok {
	BACKGROUND-COLOR: #f0fff0
}
.bacha {
	BACKGROUND-COLOR: #fffacd
}
.zle {
	BACKGROUND-COLOR: #ffdab9
}
.vubec {
	BACKGROUND-COLOR: #ffe4e1
}
P.code {
	BACKGROUND-COLOR: #f6f9f6
}
.js P.code {
	BACKGROUND-COLOR: #f8f6f6
}
.css P.code {
	BACKGROUND-COLOR: #f8f8f6
}
.html P.code {
	BACKGROUND-COLOR: #f7f7f7
}
.ost P.code {
	BACKGROUND-COLOR: #f6f6fa
}
.angl {
	
}
.viz {
	MARGIN-TOP: 2em; DISPLAY: list-item; MARGIN-LEFT: 20px
}
.najpw {
	MARGIN-TOP: 2em; DISPLAY: list-item; MARGIN-LEFT: 20px
}
.center {
	TEXT-ALIGN: center
}
.underline {
	TEXT-DECORATION: underline
}
.jakoodkaz {
	CURSOR: pointer
}
.floatright {
	FLOAT: right
}
A:link {
	COLOR: #33f
}
A:visited {
	COLOR: #23a
}
A:hover {
	COLOR: #f33
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H1 {
	COLOR: #009933
}
H2 {
	COLOR: #006600
}
BODY.zak H2 A:link {
	COLOR: #006600
}
BODY.zak H2 A:visited {
	COLOR: #006600
}
BODY.zak H2 A:hover {
	COLOR: red
}
BODY.html H1 {
	COLOR: #666
}
BODY.html H2 {
	COLOR: #444
}
BODY.css H1 {
	COLOR: #a8761b
}
BODY.css H2 {
	COLOR: #98561b
}
BODY.js H1 {
	COLOR: #bb3399
}
BODY.js H2 {
	COLOR: #880066
}
BODY.ost H1 {
	COLOR: #4069da
}
BODY.ost H2 {
	COLOR: darkblue
}
#text TABLE {
	MARGIN-BOTTOM: 1em; BORDER-COLLAPSE: collapse
}
#text TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#text TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.html #text TH {
	BACKGROUND-COLOR: #aaaaaa
}
.html #text CAPTION {
	FONT-WEIGHT: bold; COLOR: #666666
}
.html TD {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid
}
.html TABLE {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid
}
.js TABLE {
	BORDER-RIGHT: #883366 1px solid; BORDER-TOP: #883366 1px solid; BORDER-LEFT: #883366 1px solid; BORDER-BOTTOM: #883366 1px solid
}
.js TH {
	BACKGROUND-COLOR: #bb6699
}
.js TD {
	BORDER-LEFT-COLOR: #bb6699; BORDER-BOTTOM-COLOR: #bb6699; BORDER-TOP-COLOR: #bb6699; BORDER-RIGHT-COLOR: #bb6699
}
.css TD {
	BORDER-RIGHT: #ca9820 1px solid; BORDER-TOP: #ca9820 1px solid; BORDER-LEFT: #ca9820 1px solid; BORDER-BOTTOM: #ca9820 1px solid
}
.css TABLE {
	BORDER-RIGHT: #ca9820 1px solid; BORDER-TOP: #ca9820 1px solid; BORDER-LEFT: #ca9820 1px solid; BORDER-BOTTOM: #ca9820 1px solid
}
.css TH {
	COLOR: black; BACKGROUND-COLOR: #e0b850
}
.css CAPTION {
	FONT-WEIGHT: bold; COLOR: #996600
}
.zak TH {
	BACKGROUND-COLOR: #e8f5ec
}
.clanky TH {
	BACKGROUND-COLOR: #e8f5ec
}
.zak TD {
	BORDER-LEFT-COLOR: #aaa; BORDER-BOTTOM-COLOR: #aaa; BORDER-TOP-COLOR: #aaa; BORDER-RIGHT-COLOR: #aaa
}
.clanky TD {
	BORDER-LEFT-COLOR: #aaa; BORDER-BOTTOM-COLOR: #aaa; BORDER-TOP-COLOR: #aaa; BORDER-RIGHT-COLOR: #aaa
}
.zak CAPTION {
	COLOR: #060
}
.clanky CAPTION {
	COLOR: #060
}
.ost TH {
	BACKGROUND-COLOR: #aac8ee
}
.ost TD {
	BORDER-LEFT-COLOR: #cce; BORDER-BOTTOM-COLOR: #cce; BORDER-TOP-COLOR: #cce; BORDER-RIGHT-COLOR: #cce
}
.ost CAPTION {
	COLOR: darkblue
}
#hlavicka {
	FONT-SIZE: 11px; COLOR: #efefde; FONT-FAMILY: MS Sans Serif, Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #336
}
#hlavicka P {
	MARGIN: 0px
}
#hledani INPUT {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#hledani INPUT.submit {
	HEIGHT: 18px
}
#ouska {
	FONT-SIZE: 12px; LINE-HEIGHT: 26px; LETTER-SPACING: 1px
}
#ouska A {
	BORDER-RIGHT: #eed 4px outset; PADDING-RIGHT: 5px; BORDER-TOP: #eed 4px outset; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: #eed 4px outset; COLOR: black; PADDING-TOP: 3px; BORDER-BOTTOM: #eed 4px outset; BACKGROUND-COLOR: #eed; TEXT-DECORATION: none; moz-border-radius-topleft: 4px; moz-border-radius-topright: 4px
}
#prouzek {
	FONT-SIZE: 12px; OVERFLOW: hidden; LINE-HEIGHT: 20px; LETTER-SPACING: 1px; HEIGHT: 31px
}
#prouzek A {
	BORDER-RIGHT: 2px solid; PADDING-RIGHT: 7px; BORDER-TOP: 2px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 3px; BORDER-LEFT: 2px solid; COLOR: black; PADDING-TOP: 3px; BORDER-BOTTOM: 2px solid; POSITION: relative; TOP: 8px; TEXT-DECORATION: none; moz-border-radius-topleft: 3px; moz-border-radius-topright: 3px
}
#navigace {
	PADDING-RIGHT: 0%; PADDING-LEFT: 1.5%; FONT-SIZE: 90%; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #e8e8fd 1px solid; PADDING-TOP: 0.5em
}
#navigace H3 {
	BORDER-TOP: silver 1px solid; FONT-SIZE: 111%; TEXT-INDENT: 0em; PADDING-TOP: 0.1em; BACKGROUND-COLOR: #f3f3f6
}
#navigace H2 {
	BORDER-TOP: silver 1px solid; FONT-SIZE: 111%; TEXT-INDENT: 0em; PADDING-TOP: 0.1em; BACKGROUND-COLOR: #f3f3f6
}
#navigace UL {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0em
}
#navigace LI {
	MARGIN: 0.2em 0px; LIST-STYLE-TYPE: none
}
#navigace LI:first-letter {
	TEXT-TRANSFORM: capitalize
}
.patka-global {
	PADDING-RIGHT: 1em; BORDER-TOP: silver 1px solid; MARGIN-TOP: 2em; PADDING-LEFT: 1em; FONT-SIZE: 80%; PADDING-BOTTOM: 0em; COLOR: gray; PADDING-TOP: 0.3em; TEXT-ALIGN: center
}
.patka-global A:link {
	COLOR: gray
}
.patka-global A:visited {
	COLOR: gray
}
#prouzek {
	BACKGROUND-COLOR: #4a6
}
#ouska A {
	BORDER-LEFT-COLOR: #eed; BORDER-BOTTOM-COLOR: #eed; BORDER-TOP-COLOR: #eed; BACKGROUND-COLOR: #eeeedd; BORDER-RIGHT-COLOR: #eed
}
.zak #prouzek {
	BACKGROUND-COLOR: #4a6
}
.zak #ouska A.zak {
	BORDER-LEFT-COLOR: #4a6; BORDER-BOTTOM-COLOR: #4a6; BORDER-TOP-COLOR: #4a6; BACKGROUND-COLOR: #4a6; BORDER-RIGHT-COLOR: #4a6
}
#ouska A.zak:hover {
	BORDER-LEFT-COLOR: #4a6; BORDER-BOTTOM-COLOR: #4a6; BORDER-TOP-COLOR: #4a6; BACKGROUND-COLOR: #4a6; BORDER-RIGHT-COLOR: #4a6
}
.zak #prouzek A {
	BORDER-LEFT-COLOR: #4a6; BORDER-BOTTOM-COLOR: #4a6; BORDER-TOP-COLOR: #4a6; BORDER-RIGHT-COLOR: #4a6
}
.html #prouzek {
	BACKGROUND-COLOR: #999
}
.html #ouska A.html {
	BORDER-LEFT-COLOR: #999; BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BACKGROUND-COLOR: #999; BORDER-RIGHT-COLOR: #999
}
#ouska A.html:hover {
	BORDER-LEFT-COLOR: #999; BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BACKGROUND-COLOR: #999; BORDER-RIGHT-COLOR: #999
}
.html #prouzek A {
	BORDER-LEFT-COLOR: #999; BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BORDER-RIGHT-COLOR: #999
}
.css #prouzek {
	BACKGROUND-COLOR: #dab050
}
.css #ouska A.css {
	BORDER-LEFT-COLOR: #dab050; BORDER-BOTTOM-COLOR: #dab050; BORDER-TOP-COLOR: #dab050; BACKGROUND-COLOR: #dab050; BORDER-RIGHT-COLOR: #dab050
}
#ouska A.css:hover {
	BORDER-LEFT-COLOR: #dab050; BORDER-BOTTOM-COLOR: #dab050; BORDER-TOP-COLOR: #dab050; BACKGROUND-COLOR: #dab050; BORDER-RIGHT-COLOR: #dab050
}
.css #prouzek A {
	BORDER-LEFT-COLOR: #dab050; BORDER-BOTTOM-COLOR: #dab050; BORDER-TOP-COLOR: #dab050; BORDER-RIGHT-COLOR: #dab050
}
.js #prouzek {
	BACKGROUND-COLOR: #b69
}
.js #ouska A.js {
	BORDER-LEFT-COLOR: #b69; BORDER-BOTTOM-COLOR: #b69; BORDER-TOP-COLOR: #b69; BACKGROUND-COLOR: #b69; BORDER-RIGHT-COLOR: #b69
}
#ouska A.js:hover {
	BORDER-LEFT-COLOR: #b69; BORDER-BOTTOM-COLOR: #b69; BORDER-TOP-COLOR: #b69; BACKGROUND-COLOR: #b69; BORDER-RIGHT-COLOR: #b69
}
.js #prouzek A {
	BORDER-LEFT-COLOR: #b69; BORDER-BOTTOM-COLOR: #b69; BORDER-TOP-COLOR: #b69; BORDER-RIGHT-COLOR: #b69
}
.ost #prouzek {
	BACKGROUND-COLOR: #6ad
}
.ost #ouska A.ost {
	BORDER-LEFT-COLOR: #6ad; BORDER-BOTTOM-COLOR: #6ad; BORDER-TOP-COLOR: #6ad; BACKGROUND-COLOR: #6ad; BORDER-RIGHT-COLOR: #6ad
}
#ouska A.ost:hover {
	BORDER-LEFT-COLOR: #6ad; BORDER-BOTTOM-COLOR: #6ad; BORDER-TOP-COLOR: #6ad; BACKGROUND-COLOR: #6ad; BORDER-RIGHT-COLOR: #6ad
}
.ost #prouzek A {
	BORDER-LEFT-COLOR: #6ad; BORDER-BOTTOM-COLOR: #6ad; BORDER-TOP-COLOR: #6ad; BORDER-RIGHT-COLOR: #6ad
}
.clanky #prouzek {
	BACKGROUND-COLOR: #8a9
}
.clanky #ouska A.clanky {
	BORDER-LEFT-COLOR: #8a9; BORDER-BOTTOM-COLOR: #8a9; BORDER-TOP-COLOR: #8a9; BACKGROUND-COLOR: #8a9; BORDER-RIGHT-COLOR: #8a9
}
#ouska A.clanky:hover {
	BORDER-LEFT-COLOR: #8a9; BORDER-BOTTOM-COLOR: #8a9; BORDER-TOP-COLOR: #8a9; BACKGROUND-COLOR: #8a9; BORDER-RIGHT-COLOR: #8a9
}
.clanky #prouzek A {
	BORDER-LEFT-COLOR: #8a9; BORDER-BOTTOM-COLOR: #8a9; BORDER-TOP-COLOR: #8a9; BORDER-RIGHT-COLOR: #8a9
}
#prouzek A#sel {
	BORDER-LEFT-COLOR: white; BORDER-BOTTOM-COLOR: white; BORDER-TOP-STYLE: outset; BORDER-TOP-COLOR: white; BORDER-RIGHT-STYLE: outset; BORDER-LEFT-STYLE: outset; BACKGROUND-COLOR: white; BORDER-RIGHT-COLOR: white; BORDER-BOTTOM-STYLE: outset
}
#prouzek A:hover {
	COLOR: #eed
}
#prouzek A#sel:hover {
	COLOR: black
}

@media Print    
{
#text {
	MARGIN: 0em; WIDTH: 99%
}
H1 {
	MARGIN-TOP: 58px
}
#navigace {
	PADDING-RIGHT: 0em; BORDER-TOP: silver 2px dotted; PADDING-LEFT: 0em; PADDING-BOTTOM: 0em; WIDTH: 99%; PADDING-TOP: 0em; BORDER-LEFT-STYLE: none; POSITION: static
}
#navigace LI {
	DISPLAY: inline
}
#navigace H3 {
	MARGIN-TOP: 0.2em; BORDER-TOP-STYLE: none
}
.sirsi {
	WIDTH: 99%
}
#hlavicka {
	VISIBILITY: hidden
}
#logo {
	VISIBILITY: visible
}
#slogan {
	VISIBILITY: visible
}
#prevnextbottom {
	DISPLAY: none
}
#prevnexttop {
	DISPLAY: none
}
H2 {
	
}
H3 {
	
}
    }
#navigace .ad {
	OVERFLOW: hidden; WIDTH: 100%; TEXT-OVERFLOW: ellipsis
}
#navigace .ad H3 {
	MARGIN-TOP: 2em
}
.ad H3 A:visited {
	COLOR: gray
}
.ad H3 A:link {
	COLOR: gray
}
.ad P {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0.8em; PADDING-LEFT: 0px; FONT-SIZE: 85%; PADDING-BOTTOM: 1em; LINE-HEIGHT: 1.5; PADDING-TOP: 1em; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffe
}
.ad P A {
	FONT-WEIGHT: bold; FONT-SIZE: 110%
}
.ad .visibleurl {
	FONT-SIZE: 80%; COLOR: navy
}
#text .ad H3 {
	BORDER-TOP: silver 1px dotted; MARGIN-TOP: 5em; FONT-SIZE: 70%
}
