BODY {
	SCROLLBAR-FACE-COLOR: white; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(/images/4-2.gif); MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: white; SCROLLBAR-SHADOW-COLOR: white; SCROLLBAR-3DLIGHT-COLOR: white; SCROLLBAR-ARROW-COLOR: #9b0200; SCROLLBAR-TRACK-COLOR: white; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: "Verdana"; SCROLLBAR-DARKSHADOW-COLOR: black; BACKGROUND-COLOR: white
}
A {
	FONT-SIZE: 10px; COLOR: #9b0200; TEXT-DECORATION: none
}
A:hover {
	COLOR: black
}
TABLE {
	FONT-SIZE: 10px; CURSOR: default; COLOR: black
}
FONT.nadpis {
	FONT-WEIGHT: bold
}
