body {
  font: 14px "Trebuchet MS", Verdana, Tahoma, Arial, "Arial CE", sans-serif;
  color: #fff;
  background-color: #5d5d5d;
}

h1 {
  padding: 10px;
  text-align: center;
  font: 17px Verdana, Tahoma, "Trebuchet MS", sans-serif;
  border-bottom: 1px dotted #000;
}

.polozka_obrazek {
  margin: 10px 10px 0;
  float: left;
  position: relative;
}

.polozka_obrazek a {
  outline: none;
}

.polozka_obrazek a img {
  width: 240px;
  height: 180px;
  border: 1px solid #000;
}

/* Fugess (Martin) */
